{% load classification_tags %}
{% load js_tags %}
{% load static %}

{% for ccg in clinical_contexts %}
    {% if ccg.latest_report and ccg.latest_report.resolution != 'C' %}
        <div class="my-1 alert alert-danger">
            <a href="{% url 'discordance_report' ccg.latest_report.id %}">{% if not ccg.is_default %}<span class="font-weight-bold">{{ ccg.name }}</span> {% endif %}Status : {{ ccg.latest_report.resolution_text }} (Click for Discordance Report)</a>
        </div>
    {% else %}
        {% with discordance_level=ccg.calculate_discordance_level %}
        <div class="my-1 alert alert-{{ discordance_level.bs_status }}">
            {% if not ccg.is_default %}<span class="font-weight-bold">{{ ccg.name }}</span> {% endif %}Status :
            <span>{{ discordance_level.label }}</span></div>
        {% endwith %}
    {% endif %}
{% endfor %}
{% if diff_latest or diff_all %}
    <div class="btn-toolbar mb-4">
    {% if diff_latest %}
        <a class="btn btn-outline-primary" href="{% url 'classification_diff' %}?cids={{ diff_latest }}">Diff Latest</a>
    {% endif %}
    {% if diff_all %}
        <a class="btn btn-outline-primary" href="{% url 'classification_diff' %}?cids={{ diff_all }}">Diff All</a>
    {% endif %}
    {% comment %}<a class="btn btn-outline-secondary" href="#">TODO Download CSV</a>{% endcomment %}
    </div>
{% endif %}
{% if classification_groups %}
<table class="table sticky-header" id="{{ table_id }}" width="100%">
    <thead>
        <tr>
            <th>Lab</th>
            <th>HGVS <span class="text-secondary">{{ genome_build }}</span></th>
            <th class="text-center">Clinical Significance</th>
            <th>Conditions</th>
            <th>{% if show_allele_origin %}Origin, {% endif %}Zygosities</th>
            <th>ACMG <span class="text-secondary">Latest</span></th>
            <th>Curated <span class="text-secondary">Latest</span></th>
            <th>Allele</th>
            <th>Gene Symbol</th>
            <th>Records</th>
        </tr>
    </thead>
    <tbody>
        {% for group in classification_groups %}
            {% classification_group_row group=group %}
        {% endfor %}
    </tbody>
</table>
<script>$(document).ready(() => {
    $('#{{ table_id }}').DataTable({
        order: [[ 1, "desc" ]],
        pageLength: 50,
        responsive: {
            details: {
                // type: 'column',
                // target: 'td.dt-preview',
                // renderer: TableFormat.detailRenderer
                type: 'column',
                target: 'tr',
                renderer: TableFormat.detailRendererHtml
            }
        },
        columns: [
            {'className': 'dt-id toggle-link'}, // ID
            {}, // HGVS
            {}, // Clinical Sig
            {}, // Conditions
            {}, // Zygosities
            {}, // ACMG
            {}, // last record
            {'className': 'none'}, // allele
            {'className': 'none'}, // gene link
            {'className': 'none'}, // record sub-table
        ]
    });
})
</script>
{% else %}
    <div class="no-value mb-4 text-center">No records</div>
{% endif %}
