{% load classification_tags %}
{% load js_tags %}
{% for classification_card_data in classification_cards %}
    {% classification_card classification_card_data %}
{% endfor %}

<table class="table mt-4">
    <thead>
        <tr>
            <th>Grouping</th>
            <th class="text-center">Clinical Significance</th>
            <th>Conditions</th>
            <th>Zygosities</th>
            <th>ACMG</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        {% for card in classification_cards %}
            <tr>
                <td>
                    {% if card.clinical_grouping != "default" %}
                        <span class="font-weight-bold text-secondary text-uppercase">{{ card.clinical_grouping }} </span>
                    {% endif %}
                    {{ card.organization }}<br/>
                    {{ card.transcript }}
                    {% if card.count > 1 %}<br/>{{ card.count }} records{% endif %}
                </td>
                <td class="cs-{{ card.clinical_significance|lower }} text-center">
                    {% if card.clinical_significance %}
                        {{ card.clinical_significance | ekey:"clinical_significance" }}
                    {% else %}
                        Unclassified
                    {% endif %}
                </td>
                <td style="max-width:200px;">
                    {% for condition in card.conditions %}
                        <div class="mt-1">{% condition condition %}</div>
                    {% endfor %}
                </td>
                <td>
                    {% if card.zygosities %}
                        {{ card.zygosities | ekey:"zygosity" }}
                    {% endif %}
                </td>
                <td>
                    <div class="mt-2">
                        {% for acmg in card.acmg_criteria %}
                            {% if not forloop.first %}, {% endif %}<span class="text-monospace text-secondary">{{ acmg }}</span>
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <a  href="{% url 'view_classification' card.most_recent.classification.id %}">
                        {% if card.most_recent.curated_date %}Last curated {% timestamp card.most_recent.curated_date time_ago=True %}{% else %}Most recent{% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>