{% load js_tags %}
{% load user_tags %}
<style>
    .change + .large-change, .large-change + .mini-change {
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px dashed #cccccc;
    }
    .large-change .key-change {
        display: inline-block;
        margin-bottom: 8px;
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-color: #cccccc;
    }
</style>
<table id="classification-activity" class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Record</th>
            <th>Who</th>
            <th>Change</th>
        </tr>
    </thead>
    <tbody>
    {% for change_group in changes %}
        <tr>

            <td class="timestamp">{% timestamp timestamp=change_group.date time_ago=True %}</td>
            <td class="id">
                {% ifchanged change_group.record_id %}
                    {% if change_group.classification %}
                <a class="hover-link" href="{% url 'view_classification' change_group.classification.id %}">{{ change_group.classification.friendly_label }}</a>
                    {% if change_group.is_creation %}(new){% endif %}
                    {% elif change_group.allele %}
                    <a class="hover-link" href="{% url 'view_allele' change_group.allele.id %}">Allele {{ change_group.allele.id }}</a>
                    {% endif %}
                {% endifchanged %}
            </td>
            <td class="user">
                {% ifchanged change_group.record_id change_group.source change_group.user change_group.flag %}
                    {% if change_group.flag %}
                    <div class="submission-source flag flag-{{ change_group.flag.flag_type.id }}" title="{{ change_group.source_label }} ({{ change_group.flag.id }})"></div>
                    {% else %}
                    <div class="submission-source {{ change_group.source }}" title="{{ change_group.source_label }}"></div>
                    {% endif %}
                {% user change_group.user show_avatar=True display='inline' %}
                {% endifchanged %}
            </td>
            <td>
                {% for data_change in change_group.changes %}
                    <div class="change {% if data_change.is_large and not change_group.ignore_before %}large-change{% else %}mini-change{% endif %}">
                        <span class="key-change"><span class="key">{{ data_change.key }}</span>.{{ data_change.attribute }}:</span>
                        {% if not change_group.ignore_before %}
                            {% if data_change.is_large %}<br/>{% else %}&#160;{% endif %}
                            {{ data_change.before | format_value }}
                            {% if data_change.is_large %}<br/><i class="fas fa-arrow-down text-secondary my-2"></i><br/>
                            {% else %}<i class="fas fa-arrow-right text-secondary mx-2"></i>{% endif %}
                        {% else %}
                            <span class="change-arrow"><i class="fas fa-arrow-right mx-2 text-secondary"></i></span>
                        {% endif %}
                        {% if data_change.resolution %}<span class="resolution">{{ data_change.resolution.label }}</span> {{ data_change.after }}
                        {% else %}{{ data_change.after | format_value }}{% endif %}
                    </div>
                {%  endfor %}
            </td>
        </tr>
    {%  endfor %}
    </tbody>
</table>