{% load classification_tags %}
{% load static %}
{% load js_tags %}
{% spaceless %}
<tr>
    {% if can_write %}
    <td class="id">
    {% else %}
    <td class="id id-readonly">
    {% endif %}
        <a class="hover-link" href='{% url 'view_classification' vc.pk %}'>
        <img src="{% static icon %}" />
        <span>{{ vc.lab.name }} / {{ vc.lab_record_id }}</span></a>
        {% if vc.evidence.specimen_id.value and show_specimen_id %}<div class="search-result"><span>Specimen ID : {{ vc.evidence.specimen_id.value }}</span></div>{% endif %}
    </td>
    <td class="gene_symbol">{{ gene_symbol | default_if_none:""}}</td>
    <td class="hgvs">
        {% hgvs hgvs=best_hgvs show_variant_link=show_variant_link %}
        {% if p_hgvs %}
            <span class="d-block mt-1 text-secondary">{{ p_hgvs }}</span>
        {% endif %}
    </td>
    {% if show_clinical_context %}
    <td class="cc ccs-editing" style="display:none">
    {% if vc.clinical_context %}
    <input name='cc_{{ vc.pk }}' class='ccs-editing select-focus' value="{{vc.clinical_context.name}}" />
    {% else %}
    <span class="no-value box">none</span>
    {% endif %}
    {% endif %}
    <td class="cs">{% clinical_significance evidence.clinical_significance.value %}
    {% if show_allele_origin %}<td class="allele_origin">{{ evidence.allele_origin.value | ekey:'allele_origin' }}</td>{% endif %}
    <td class="condition">
        {% if condition_obj %}
            {% condition condition_obj %}
        {% else %}
            {% if evidence.condition.value %}
            {{ evidence.condition.value | limit_length }}
            {% else %}
            <span class="no-value">-</span>
            {% endif %}
        {% endif %}
    <td class="date">
    {% if curated %}
    {{ curated | date:'Y-m-d' }}
    {% else %}
    <span class="no-value">-</span>
    {% endif %}
    <td data-flags="{{ vc.flag_collection_id }}">...
</tr>
{% endspaceless %}