{% load classification_tags %}
{% load static %}
{% load ui_utils %}
<div class="ccs-editing" style="display:none">
    {% load ui_help %}
    {% page_help 'classification/clinical_groupings_help' 'Clinical Grouping' show_title=False%}
</div>

{% if show_clinical_context %}
    <form method="POST" action="{% url 'clinical_context' %}">
    {% csrf_token %}
    {% if variant %}
        <input type="hidden" name="variant" value="{{ variant.id }}">
    {% elif allele %}
        <input type="hidden" name="allele" value="{{ allele.id }}">
    {% endif %}
    {% for ccg in records %}
        <div class="mt-4">
        {% if ccg.cc %}
            <h4>Clinical Grouping :
                {% if user.is_superuser %}
                    <a class="hover-link clinical-context" href="{% url 'clinical_context' ccg.cc.id %}">{{ ccg.cc.name }}</a>
                {% else %}
                    <span class="clinical-context">{{ ccg.cc.name }}</span>
                {% endif %}
            </h4>
            {% labelled label="Clinical Grouping Status" row_css="mt-3" %}
                {% if ccg.cc.status == 'D' %}
                    <b>DISCORDANT</b>
                {% else %}
                    {{ ccg.cc.get_status_display }}
                {% endif %}
            {% endlabelled %}

            {% if ccg.latest_report and discordance_enabled %}
                {% labelled label="Latest Discordance Report" %}
                    {% if not ccg.latest_report.resolution %}
                        <img src="{% static 'icons/flags/discordance.svg' %}" width="16px" height="16px" style="margin-right:10px;"/>
                    {% endif %}
                    <a href="{% url 'discordance_report' ccg.latest_report.id %}" class="hover-link">{{ ccg.latest_report.resolution_text }}</a>
                {% endlabelled %}
            {% endif %}
            {% if ccg.has_multiple %}
                {% labelled label="Show Diffs" %}
                    <a href="{% url 'classification_diff' %}?clinical_context={{ccg.cc.id}}" class="hover-link">Click Here</a>
                {% endlabelled %}
            {% endif %}
        {% else %}
            <h4>Unshared</h4>
        {% endif %}
        <table class='classification-table table'>
            <thead>
            <tr>
                <th>ID</th>
                <th>Gene Symbol</th>
                <th>HGVS ({{genome_build}})</th>
                <th class="ccs-editing" style="display:none">Clinical<br/>Groupings</th>
                <th>Clinical<br/>Significance</th>
                {% if show_allele_origin %}<th>Allele<br/>Origin</th>{% endif %}
                <th>Condition</th>
                <th>Curated Date</th>
                <th>Flags</th>
            </thead>
            <tbody>
                {% for vcm in ccg.vcms %}
                    {% classification_row vcm genome_build=genome_build show_variant_link=show_variant_link show_clinical_context=show_clinical_context %}
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% endfor %}
    
    <script>
    function startEditing() {
        $('.ccs-readonly').hide();
        $('.ccs-editing').show();
        $('.select-focus').unbind('click').bind('click', (x) => {x.target.select()});
    }
    function cancelClinicalContexts() {
        $('.ccs-readonly').show();
        $('.ccs-editing').hide();
    }
    {% if edit_clinical_groupings %}
    $(document).ready(() => {
        startEditing();
    });
    {% endif %}
    </script>
    <div class="btn-toolbar">
        <a class="btn btn-outline-secondary ccs-readonly" href="#" onclick="startEditing(); return false;">Change Clinical Groupings</a>
        <input type="submit" class="btn btn-outline-primary ccs-editing" style="display:none" value="Submit Clinical Groupings" />
        <a class="btn btn-outline-secondary ccs-editing" style="display:none" href="#" onclick="cancelClinicalContexts(); return false;">Cancel</a>
    </div>
    </form>
{% else %}
    <table class='classification-table table'>
        <thead>
        <tr>
            <th>ID</th>
            <th>Gene Symbol</th>
            <th>HGVS ({{genome_build}})</th>
            <th>Clinical<br/>Significance</th>
            {% if show_allele_origin %}<th>Allele<br/>Origin</th>{% endif %}
            <th>Condition</th>
            <th>Curated Date</th>
            <th>Flags</th>
        </thead>
        <tbody>
        {% for ccg in records %}
            {% for vcm in ccg.vcms %}
                {% classification_row vcm genome_build=genome_build show_variant_link=show_variant_link show_clinical_context=show_clinical_context %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}