{% load classification_tags %}
{% load js_tags %}
{% load static %}

{% for ccg in clinical_contexts %}
    {% with discordance_status=ccg.calculate_discordance_status %}
    {% if ccg.latest_report and ccg.latest_report.resolution != 'C' %}
        <div class="my-1 alert alert-danger">
            <a href="{% url 'discordance_report' ccg.latest_report.id %}">{% if not ccg.is_default %}<span class="font-weight-bold">{{ ccg.name }}</span> {% endif %}
                Status :
                {% if discordance_status.lab_count == 1 %}Single Lab, {% endif %}
                {{ ccg.latest_report.resolution_text }} (Click for Discordance Report)</a>
        </div>
    {% else %}
        <div class="my-1 alert alert-{{ discordance_status.level.bs_status }}">
            {% if not ccg.is_default %}<span class="font-weight-bold">{{ ccg.name }}</span> {% endif %}Status :

            {% if discordance_status.lab_count == 1 %}Single Lab, {% endif %}
            <span>{{ discordance_status.level.label }}</span>
        </div>
    {% endif %}
    {% endwith %}
{% endfor %}
{% if diff_latest or diff_all %}
    <div data-toolbar="#{{ table_id }}" class="link-toolbar">
        {% if diff_latest %}
            <a class="hover-link" href="{% url 'classification_diff' %}?cids={{ diff_latest }}">Diff Latest</a>
        {% endif %}
        {% if diff_all %}
            <a class="hover-link" href="{% url 'classification_diff' %}?cids={{ diff_all }}">Diff All</a>
        {% endif %}
        {% comment %}<a class="btn btn-outline-secondary" href="#">TODO Download CSV</a>{% endcomment %}
    </div>
{% endif %}
{% if classification_groups %}
<div class="mt-4"></div>
<table class="table sticky-header w-100" id="{{ table_id }}">
    <thead>
        <tr>
            <th>Lab</th>
            <th>HGVS <span class="text-secondary">{{ genome_build }}</span></th>
            <th class="text-center">Clinical Significance</th>
            <th>Condition</th>
            <th>{% if show_allele_origin %}Origin, {% endif %}Zygosities</th>
            <th><span class="text-secondary">Latest</span><br/>ACMG</th>
            <th><span class="text-secondary">Latest</span><br/>Curated</th>
            <th>Sort Column (hidden)</th>
            <th><span class="text-secondary">Latest</span> Imported as</th>
            <th>Allele</th>
            <th>Gene Symbol</th>
            <th>Records</th>
        </tr>
    </thead>
    <tbody>
        {% for group in classification_groups %}
            {% classification_group_row group=group %}
        {% endfor %}
    </tbody>
</table>
<script>$(document).ready(() => {
    var tableDom = $('#{{ table_id }}')
    var table = tableDom.DataTable({
        order: [1, "asc"],
        dom: '<"top"><"toolbar"<"custom">f>rt<"bottom"<"showing"il>p><"clear">',
        "orderFixed": {
            post: [7, "desc"]
        },
        pagingType: "input",
        classes: {
            'sPageButton': 'btn btn-outline-primary btn-rnd-rect',
            'sPageButtonDisabled': 'disabled'
        },
        pageLength: 50,
        responsive: {
            details: {
                // type: 'column',
                // target: 'td.dt-preview',
                // renderer: TableFormat.detailRenderer
                type: 'column',
                target: 'tr',
                renderer: TableFormat.detailRendererHtml
            }
        },
        columns: [
            {className: 'dt-id toggle-link'}, // ID
            {}, // HGVS
            {}, // Clinical Sig
            {}, // Conditions
            {}, // Zygosities
            {}, // ACMG
            {}, // last record
            {visible: false}, // sorting column
            {className: 'none'}, // imported c.hgvs
            {className: 'none'}, // allele
            {className: 'none'}, // gene link
            {className: 'none'}, // record sub-table
        ]
    });
    table.on('responsive-display', (e, datatable, row, showHide, update) => {
        window.setTimeout(() => {
            Flags.instance.init({userId: '{{user.id}}', forceRender: true, filter:'.child', flagGroup:'classifications'});
        },1);
    });
    $(`[data-toolbar="#{{table_id}}"]`).detach().appendTo(tableDom.closest('.dataTables_wrapper').find('.toolbar .custom'));
})
</script>
{% else %}
    <div class="no-value mb-4 text-center">No records</div>
{% endif %}
