{% load classification_tags %}
{% load static %}
{% load ui_utils %}
{% load js_tags %}
{% if vcm and vcm.classification.id %}
    {% if mode == "compact" %}
        <a class="hover-link" href="{% url 'view_classification' vcm.classification.id %}">{{ vcm.classification.lab }} / {{ vcm.cr_lab_id }}</a>
    {% else %}
        <span class="share-level-{{ vcm.share_level_enum.name }} sig-level-{{ vcm.evidence.clinical_significance.value}}">

            {% clinical_significance vcm %}

            {% if vcm.classification.allele_origin_bucket != "G" %}
                {% clinical_significance vcm "somatic:clinical_significance" show_if_none=True %}
            {% else %}
                {% clinical_significance vcm "somatic:clinical_significance" show_if_none=False %}
            {% endif %}
            {% if record_count and record_count != 1 %}
                x {{ record_count }}
            {% endif %}

            <a class="hover-link" href="{% url 'view_classification' vcm.classification.id %}">&nbsp;
                <img src="{% static vcm.share_level_enum.icon %}" width="12px" height="12px" style="margin-right:4px;" />
                <span {% if vcm.vc.withdrawn %}style="text-decoration: line-through"{% endif %}>
                    {% if show_lab %}{{vcm.classification.lab.name}} / {% endif %}{{vcm.cr_lab_id }}
                </span>
            </a>
            {% if show_condition %}
                - <span style="opacity:0.75">{% condition vcm.classification.condition_resolution_obj limit=50 no_condition_message=True %}</span>
            {% endif %}
            : {% timestamp vcm.curated_date time_ago=True %}
    {% endif %}
    {% if show_flags %}<div class="flags d-inline-block" style="margin-left:12px; position: relative; bottom: -4px;" data-flags="{{ vcm.classification.flag_collection_id }}">...</div>{% endif %}
</span>
{% else %}
    <span class="share-level-LAB"><span class="cs">DELETED</span> Unknown</span>
{% endif %}