{% load classification_tags %}
{% load ui_utils %}

<div {% if not shared %}style="opacity:0.6"{% endif %}>
    {% for lab_summ in lab_classification_summaries %}
        <div class="w-100 row mt-2">
            <div class="col-7 py-2 text-right" style="align-self:center">
                {% lab lab_summ.lab your_lab=lab_summ.is_internal %}
                {% if lab_summ.count > 1 %}<span class="d-inline-block mx-1 text-muted">x</span>{{ lab_summ.count }}{% endif %}
                {% if lab_summ.embedded %}
                    <div class="mt-1">{% embed lab_summ.embedded mode="inline" read_only=read_only %}</div>
                {% endif %}
            </div>
            <div class="col-5 w-100 d-flex">
                {% if lab_summ.clinical_significance_from or lab_summ.clinical_significance_to %}
                    <div title="Classification" class="flex-grow-1 d-inline-block py-2 c-pill cs cs-{{ lab_summ.clinical_significance_to }}" style="flex-basis: 0">
                        {% if lab_summ.changed %}
                            <del>{{ lab_summ.clinical_significance_from|ekey:'clinical_significance' }}</del> <i class="fas fa-arrow-right mx-2 text-secondary"></i>
                            <span style="font-weight:600">{{ lab_summ.clinical_significance_to|ekey:'clinical_significance' }}</span>
                            {% if lab_summ.pending %}<div title="This is an agreed upon pending change" class="flag flag-classification_pending_changes hover-detail ml-1" style="position:relative; top: 5px; margin-top: -5px"></div>{% endif %}
                        {% else %}
                            <span style="font-weight:600">{{ lab_summ.clinical_significance_from|ekey:'clinical_significance' }}</span>
                        {% endif %}
                        {% if include_acmg %}
                            {% if lab_summ.acmg_summary %}{{ lab_summ.acmg_summary }}{% else %}No Criteria Provided{% endif %}
                        {% endif %}
                    </div>
                    {% if lab_summ.somatic_clinical_significance %}
                        <span>&nbsp;</span>
                    {% endif %}
                {% endif %}
                {% if lab_summ.somatic_clinical_significance or lab_summ.allele_origin_bucket == "S" %}
                    <div title="Somatic Clinical Significance" class="flex-grow-1 d-inline-block py-2 c-pill scs scs-{{ lab_summ.somatic_clinical_significance }}" style="flex-basis: 0">
                        {% if not lab_summ.somatic_clinical_significance %}<span class="no-value">No Data</span>
                        {% else %}{{ lab_summ.somatic_clinical_significance|ekey:'somatic:clinical_significance' }}
                        {% endif %}
                        {% if lab_summ.amp_level %}<span class="amp-level">{{ lab_summ.amp_level }}</span>{% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>