{% load classification_tags %}
{% load static %}
{% load js_tags %}
{% spaceless %}
<tr class="{% if action_log.no_longer_considered %}excluded{% endif %}">
    <td class="id id-readonly">
        <a class="hover-link" href='{% url 'view_classification' vc.pk %}'>
        <img src="{% static icon %}" class="share-icon" />
        <span>{{ vc.lab.name }} / {{ vc.lab_record_id }}</span></a></td>
    <td class="hgvs variant-coordinate">
        {% if best_hgvs %}
        {{ best_hgvs }}
        {% endif %}
    <td class="condition">
        {% if closing.evidence.condition.value %}
        {{ closing.evidence.condition.value }}
        {% else %}
        <span class="no-value">not-set</span>
        {% endif %}
    <td class="cs">
        {% if starting_curated %}
        <div class="date">{{ starting_curated }}</div>
        {% else %}
        <div class="no-value">No curated date provided</div>
        {% endif %}
        {% clinical_significance starting.evidence.clinical_significance.value %}
    <td class="cs">
        {% if closing_curated %}
        <div class="date">{{ closing_curated }}</div>
        {% else %}
        <div class="no-value">No curated date provided</div>
        {% endif %}
        {% clinical_significance closing.evidence.clinical_significance.value %}
    <td class="reasons">
        {% for dated_action in action_log.actions %}
            <div class="action {% if dated_action.action.no_longer_considered %}important{% endif %}">
                <span class="code">{{ dated_action.action.code }}</span> {{ dated_action.action.short_description }}
                {% if dated_action.date %}<br/>{% timestamp dated_action.date %}{% endif %}
            </div>
        {% endfor %}
    {% if show_flags %}
    <td class="flags" data-flags="{{ vc.flag_collection_safe.id }}">{{ vc.flag_collection_safe.id }}
    {% endif %}
</tr>
{% endspaceless %}