{% load classification_tags %}
{% load js_tags %}
<div class="col-12 col-lg-4 col-md-6">
    <div class="card mt-4">
        <div class="card-header cs-{{ card.clinical_significance.lower }}">
            <div>
                {% if card.clinical_grouping != "default" %}
                    <span class="font-weight-bold text-secondary text-uppercase">{{ card.clinical_grouping }} </span>
                {% endif %}
                {{ card.organization }}
                {% if card.count > 1 %}
                    <span class="badge badge-light text-monospace float-right">x{{ card.count }}</span>
                {% endif %}
            </div>
            <div>{{ card.transcript }}</div>
            <div class="text-center mt-1">
                {% if card.clinical_significance %}
                    {{ card.clinical_significance | ekey:"clinical_significance" }}
                {% else %}
                    Unclassified
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <div>
                {% for condition in card.conditions %}
                    <div class="mt-1">{% condition condition %}</div>
                {% endfor %}
            </div>
            <div class="mt-2">
                {% for acmg in card.acmg_criteria %}
                    {% if not forloop.first %}, {% endif %}<span class="text-monospace text-secondary">{{ acmg }}</span>
                {% endfor %}
            </div>
            {% if card.zygosities %}
                <div class="mt-2">
                    {{ card.zygosities | ekey:"zygosity" }}
                </div>
            {% endif %}
        </div>
        <a class="card-footer" href="{% url 'view_classification' card.most_recent.classification.id %}">
            {% if card.most_recent.curated_date %}Last curated {% timestamp card.most_recent.curated_date time_ago=True %}{% else %}Most recent{% endif %}
        </a>
    </div>
</div>