{% load classification_tags %}
{% load js_tags %}
<tr class="{{ row_class }}" style="{% if group.clinical_grouping == "not-shared" %}opacity:0.5;{% endif %}{% if group.is_withdrawn %}text-decoration:line-through;{% endif %}cursor:pointer">
    <td style="width:150px;" data-order="{% if group.clinical_grouping == "not-shared" %}AA{% endif %}{{ group.lab }}">
        {% if group.clinical_grouping != "default" %}
            <span class="font-weight-bold text-secondary text-uppercase">{{ group.clinical_grouping }} </span>
        {% endif %}
        &#32;<span class="font-weight-bold">{{ group.lab }}</span>
        {% if show_username %}
            {% for user in group.users %}
                <div class="text-secondary mt-1">{{ user.username }}</div>
            {% endfor %}
        {% endif %}
        {% if group.count > 1 %}<div class="font-weight-bold font-size-small mt-1">{{ group.count }} records</div>{% endif %}
    </td>
    <td data-order="{{ group.c_hgvs.sort_str }}">
        {% for c_hgvs in group.c_hgvses %}
            <div class="mb-1" style="font-size:11px">{% c_hgvs c_hgvs %}</div>
        {% endfor %}
        {% for p_hgvs in group.p_hgvses %}
            <div class="mt-1 text-secondary text-monospace"  style="font-size:11px">{{ p_hgvs.p_dot }}</div>
        {% endfor %}
        {% if group.flag_types %}
            <div class="flags mt-1" title="This row may not appear in downloads due to outstanding variant matching issues" data-toggle="tooltip">
            {% for flag in group.flag_types %}
                <div class="flag flag-little flag-{{ flag.0 }} res-{{ flag.1 }}"></div>
            {% endfor %}
            </div>
        {% endif %}
    </td>
    <td style="width:100px;" class="cs-{{ group.clinical_significance|lower }} text-center" data-order="{{ group.clinical_significance_score }}">
        {% if group.clinical_significance %}
            {{ group.clinical_significance | ekey:"clinical_significance" }}
        {% else %}
            Unclassified
        {% endif %}
        {% if group.is_discordant %}<div title="This row is in discordance with other rows for the same allele" data-toggle="tooltip" class="flag flag-clinical_context_discordance hover-detail" style="position:relative;top:5px;left:6px"></div>{% endif %}
    </td>
    <td style="width:186px;">
        {% for condition in group.conditions %}
            <div class="mb-1">{% condition condition %}</div>
            {% empty %}
            <div class="no-value">-</div>
        {% endfor %}
    </td>
    <td style="width:100px;">
        {% if show_allele_origin %}
            <div class="mb-1">{{ group.allele_origins | ekey:"allele_origin" }}</div>
        {% endif %}
        {% if group.zygosities %}
            {{ group.zygosities | ekey:"zygosity" }}
        {% else %}
            <div class="no-value">-</div>
        {% endif %}
    </td>
    <td  style="width:155px;">
        {% for acmg in group.acmg_criteria %}{% if not forloop.first %}, {% endif %}<span class="text-monospace text-secondary">{{ acmg }}</span>{% empty %}
            <div class="d-inline-block no-value">-</div>
        {% endfor %}
        {% if not group.acmg_criteria.uniform %}&nbsp;<i class="fas fa-exchange-alt text-danger hover-detail" title="ACMG values differ between records within this row<br/>Only showing latest" data-toggle="tooltip"></i>{% endif %}
    </td>
    {% with curated_date=group.most_recent_curated %}
    <td style="width:100px" data-order="{{ group.date_sort_order_str }}">
        <a  href="{% url 'view_classification' group.most_recent.classification.id %}">
            {% if curated_date.name %}{{ curated_date.name }}<br/>{% endif %}{% timestamp curated_date.date.timestamp time_ago=True %}
        </a><br/>
    </td>
    <td data-order="{{ group.date_sort_order_str }}"></td>{% comment %}hidden column just used for sorting{% endcomment %}
    {% endwith %}
    {% if not sub_index %}
        <td>{% comment %}Latest Imported as{% endcomment %}
            <label style="display: inline-block; min-width:140px; text-align: right">Imported {{ group.most_recent | get_item:'genome_build' | default_if_none:'(No genome build provided)' }}</label>&nbsp; {% c_hgvs group.most_recent.c_parts %}<br/>
            <label style="display: inline-block; min-width:140px; text-align: right">Resolved GRCh37</label>&nbsp; {% c_hgvs group.most_recent.classification.chgvs_grch37 %}<br/>
            <label style="display: inline-block; min-width:140px; text-align: right">Resolved GRCh38</label>&nbsp; {% c_hgvs group.most_recent.classification.chgvs_grch38 %}
        </td>
        <td>
            {% if group.allele %}<a class="hover-link" href="{% url 'view_allele' group.allele.id %}">{{ group.allele }}</a>{% else %}<span class="no-value">-</span>{% endif %}
        </td>
        <td>
            {% if group.gene_symbol %}<a class="hover-link" href="{% url 'view_gene_symbol' group.gene_symbol %}" style="letter-spacing: 0.5px">{{ group.gene_symbol }}</a>{% else %}<span class="no-value">-</span>{% endif %}
        </td>
        <td>
            {% for record in group.modifications %}
                <div class="mt-2 d-flex" style="align-items:center;position:relative;top:5px">
                    <a class="hover-link" href="{% url 'view_classification' record.classification_id %}">{{ record.classification.lab_record_id }}</a>
                    <div class="flags d-inline-block" style="margin-left:12px" data-flags="{{ record.classification.flag_collection_id }}">...</div>
                </div>
            {% endfor %}
            {% if group.excluded_record_count %}
                <div class="mt-2 text-secondary">Note: multiple records for the same patient were submitted. Only showing the most recent record per patient.</div>
            {% endif %}
            {% if group.count > 1 %}
                <div class="mt-3"><a class="hover-link" href="{% url 'classification_diff' %}?cids={{ group.diff_ids }}">Compare {{ group.count }} Records</a></div>
            {% endif %}&nbsp;
        </td>
    {% endif %}
</tr>
{% comment %}
{% if group.count > 1 %}
    {% for sub_group in group.sub_groups %}
        {% classification_group_row group=sub_group sub_row=group.group_id sub_index=forloop.counter %}
    {% endfor %}
{% endif %}
{% endcomment %}
