{% load classification_tags %}
<div class="condition-match list-group-item"
    {% if condition_match.mode_of_inheritance is not None and not condition_match.mode_of_inheritance and not condition_match.classification %}style="display:none"{% endif %}
    >
    <div class="row condition-match-row" style="align-items:center"
        data-mode-of-inheritance="{% if condition_match.mode_of_inheritance is not None %}{{ condition_match.mode_of_inheritance | ekey:"mode_of_inheritance" }}{% else %}N/A{% endif %}"
        data-gene-symbol="{{ condition_match.gene_symbol | default_if_none:'' }}"
        data-label="{{ condition_match.name }}"
        {% if condition_match.parent_id %}data-parent-id="{{ condition_match.parent_id }}"{% endif %}
        id="condition-match-{{ condition_match.id }}"
        data-id="{{ condition_match.id }}">

        <div class="col-3">
            {% if condition_match.classification %}
                <div style="margin-left:48px">
                    <div style="font-size: smaller">{% classification_quick condition_match.classification %}</div>
                </div>
            {% elif condition_match.mode_of_inheritance is not None %}
                <span style="margin-left:32px" title="Default for condition text, gene & this mode of inheritance" data-toggle="tooltip" class="hover-detail"><label>Mode of Inheritance</label> : {{ condition_match.mode_of_inheritance | ekey:"mode_of_inheritance" }}</span>
            {% elif condition_match.gene_symbol %}
                <div style="margin-left:16px" title="Default for condition text & this gene" data-toggle="tooltip" class="hover-detail">
                    <label>Gene Symbol</label> : {{ condition_match.gene_symbol }}<br/>
                    {% if condition_match.classification_count > 2 %}
                    <a data-toggle="collapse" class="toggle-link" href="#condition-children-{{ condition_match.id }}">Show {{ condition_match.classification_count }} Classifications</a>
                    {% endif %}
                </div>
            {% else %}
                <span title="Default for condition text" data-toggle="tooltip" class="hover-detail">{{ condition_match.condition_text.normalized_text }}</span>
            {% endif %}
        </div>
        <div class="col-4">
            <div class="condition-match-values">
            </div>
        </div>
        <div class="col-4">
            <div class="condition-match-suggestion">
            </div>
        </div>
        <div class="col-1 text-right">
            <button class="btn btn-outline-primary btn-rnd-rect mondo-picker">
            <i class="fas fa-edit"></i>
            </button>
        </div>
    </div>
</div>
{% if condition_match.is_gene_level and condition_match.classification_count > 2 %}
    <div class="collapse" id="condition-children-{{ condition_match.id }}">
        {% for child in condition_match.children %}
            {% condition_match child indent=indent %}
        {% endfor %}
    </div>
{% else %}
    {% for child in condition_match.children %}
        {% condition_match child indent=indent %}
    {% endfor %}
{% endif %}