{% load classification_tags %}
<div class="condition-match list-group-item"
    {% if condition_match.mode_of_inheritance is not None and not condition_match.mode_of_inheritance and not condition_match.classification %}style="display:none"{% endif %}
    >
    <div class="row d-flex" style="align-items:center">
        <div class="col-6">
            {% if condition_match.classification %}
                <div style="margin-left:48px">
                    <div style="font-size: smaller">{% classification_quick condition_match.classification %}</div>
                </div>
            {% elif condition_match.mode_of_inheritance is not None %}
                <span style="margin-left:32px" title="Default for condition text, gene & this mode of inheritance" data-toggle="tooltip" class="hover-detail"><label>Mode of Inheritance</label> : {{ condition_match.mode_of_inheritance | ekey:"mode_of_inheritance" }}</span>
            {% elif condition_match.gene_symbol %}
                <span style="margin-left:16px" title="Default for condition text & this gene" data-toggle="tooltip" class="hover-detail"><label>Gene Symbol</label> : {{ condition_match.gene_symbol }}</span>
            {% else %}
                <span title="Default for condition text" data-toggle="tooltip" class="hover-detail"><label>Default</label></span>
            {% endif %}
        </div>
        <div class="col-6 d-flex">
            <div class="input-group">
                <input class="form-control condition-match-input"
                       id="condition-match-{{ condition_match.id }}"
                       data-id="{{ condition_match.id }}"
                       data-parent-id="{{ condition_match.parent_id }}"
                       name="condition-match-{{ condition_match.id }}"
                       value="{{ condition_match.condition_matching_str }}" />
                <span class="input-group-append">
                    <button style="padding-left:16px" class="btn btn-outline-primary mondo-picker"
                            data-mode-of-inheritance="{% if condition_match.mode_of_inheritance is not None %}{{ condition_match.mode_of_inheritance | ekey:"mode_of_inheritance" }}{% else %}N/A{% endif %}"
                            data-gene-symbol="{{ condition_match.gene_symbol | default_if_none:'' }}"
                            data-label="{{ condition_match.leaf }}"
                            data-id="{{ condition_match.id }}">
                        <i class="fas fa-edit"></i></button></span>
            </div>
        </div>
    </div>
</div>
{% for child in condition_match.children %}
    {% condition_match child indent=indent %}
{% endfor %}