{% load classification_tags %}
{% load ui_utils %}
{% if single_not_met %}
        <div class="no-value text-center">-</div>
{% else %}
    <div class="crit-values">
        {% for strength in strengths %}
            {% if strength.strength_direction == 'N' %}
                    <div style="font-size:8pt" class="crit-value crit-strength-0 crit-direction-N">
                        <div class="flex-grow-1"></div>
                        <div class="no-value">-</div>
                        <div class="flex-grow-1"></div>
                    </div>
            {% else %}
                <div class="crit-value crit-strength-{{ strength.acmg_point|abs }} crit-direction-{{ strength.strength_direction }}">
                    <div class="flex-grow-1"></div>
                    <div>{{ strength.short }}</div>
                    <div class="flex-grow-1"></div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}