{% load js_tags %}
{% load classification_tags %}
<tr class="discordance-row" {% if filter %}data-labs="{% if summary.is_internal %}internal{% else %}{{ summary.all_actively_involved_labs_ids }}{% endif %}{% endif %}">
    <td class="text-center">
        {% if is_selected %}<i class="fas fa-hand-point-right"></i>{% timestamp old_report.report_started_date %}DR_{{ summary.discordance_report.id }}
        {% else %}<a href="{% url 'discordance_report' summary.discordance_report.id %}" class="hover-link">DR_{{ summary.discordance_report.id }}</a>
        {% endif %}
    </td>
    <td>{% timestamp summary.discordance_report.created %}</td>
    <td>{% for c_hgvs_val in summary.c_hgvses %}
        <div>{% c_hgvs c_hgvs_val %}</div>
        {% endfor %}

    </td>
    <td style="width:40%">
        <div class="font-weight-bold mb-1 text-center" style="padding-left:40px">
            {% if summary.discordance_report.resolution %}
                {% if summary.discordance_report.resolution == "C" %}
                    <span class="text-success">{{ summary.discordance_report.get_resolution_display }}</span>
                {% else %}
                    <span class="text-danger">{{ summary.discordance_report.get_resolution_display }}</span>
                {% endif %}
            {% elif summary.is_pending_concordance %}
                <span class="text-success">Pending Concordance</span>
            {% else %}
                <span class="no-value">Active Discordance</span>
            {% endif %}
        </div>
        {% classification_lab_summaries summary.lab_significances %}
    </td>
</tr>