{% load ui_utils %}
{% if show_link %}<a class="hover-link" href="{{ overlap.get_absolute_url }}">{% endif %}
{% if warning_message %}
    {{ severity | severity_icon:warning_message }}
    <span style="opacity:0.5">
{% endif %}
{% if overlap.overlap_status.is_attention %}
    <span class="{% if not show_link %}text-danger{% endif %}">
    {% if show_medical_significant_icon %} <i class="fa-solid fa-kit-medical" title="Medically Significant"></i> Discordance{% else %}{{ overlap.overlap_status_label }}{% endif %}
    </span>
{% else %}<span class="text-success">{{ overlap.overlap_status_label }}</span>{% endif %}
{% if warning_message %}
    </span>
{% endif %}
{% if show_link %}</a>{% endif %}
{% if overlap.overlap_override_status %}
    <div class="my-1">{% if overlap.overlap_override_status.is_auto %}Auto-{% endif %}Reviewed as : <b>{{ overlap.get_overlap_override_status_display }}</b></div>
{% endif %}