{% load ui_utils %}
{% load js_tags %}
{% load user_tags %}
<div class="card">
    <div class="card-header">Review {% admin_link review %}</div>
    <div class="card-body">
        {% if show_source_object %}
            {% labelled label="Review Of" %}{% preview review.reviewing.source_object %}{% endlabelled %}
        {% endif %}
        {% labelled label="On The Topic Of" %}{{ review.topic.name }}{% endlabelled %}
        {% labelled label="On The Date" %}{{ review.review_date }}{% endlabelled %}

        {% labelled label="Methods of Review" %}
            {% for item in review.review_method %}
                {% if not forloop.first %}<br/>{% endif %}
                {{ item }}
            {% endfor %}
        {% endlabelled %}

        {% labelled label="Who was Involved" %}
            {% for item in review.participants %}
                {% if not forloop.first %}<br/>{% endif %}
                {{ item }}
            {% endfor %}
        {% endlabelled %}
        {% labelled label="Reviewing Labs" %}
            {% for lab in review.reviewing_labs.all %}
                {% if not forloop.first %}<br/>{% endif %}
                {{ lab }}
            {% endfor %}
        {% endlabelled %}
        {% labelled label="Review Last Edited By" %}
            {% user review.user show_group=True size="tiny" %} @ {% timestamp review.modified %}
        {% endlabelled %}
        {% labelled label="Details" %}
            {% for answer in review.answers %}
                <hr class="dashed" />
                <div>
                    <label>{{ answer.question.label }} : <span class="font-weight-bold {% if answer.resolution.value == "Y" %}text-success{% else %}text-danger{% endif %}">{{ answer.resolution.label }}</span></label>
                    <div class="text-secondary">{{ answer.details | enrich }}</div>
                </div>
            {% endfor %}
        {% endlabelled %}
        {% if show_outcome %}
            <hr class="dashed" />
            {{ review.post_review_data_formatted }}
        {% endif %}
    </div>
</div>