{% load ui_utils %}
{% load js_tags %}
{% load user_tags %}
<div class="card">
    <div class="card-header">Discussion {% admin_link review %}</div>
    <div class="card-body">
        {% if show_source_object %}
            {% labelled label="Discussion Of" %}{% preview review.reviewing.source_object %}{% endlabelled %}
        {% endif %}
        {% labelled label="On The Topic Of" %}{{ review.topic.name }}{% endlabelled %}
        {% labelled label="On The Date" %}{{ review.review_date }}{% endlabelled %}

        {% labelled label="Methods of Discussion" %}
            {% for item in review.review_method %}
                {% if not forloop.first %}<br/>{% endif %}
                {{ item }}
            {% endfor %}
        {% endlabelled %}

        {% labelled label="Who was Involved" %}
            {% for item in review.participants %}
                {% if not forloop.first %}<br/>{% endif %}
                {{ item }}
            {% endfor %}
        {% endlabelled %}
        {% labelled label="Discussing Labs" %}
            {% for lab in review.reviewing_labs.all %}
                {% if not forloop.first %}<br/>{% endif %}
                {{ lab }}
            {% endfor %}
        {% endlabelled %}
        {% labelled label="Discussion Last Edited By" %}
            {% user review.user show_group=True size="tiny" %} @ {% timestamp review.modified %}
        {% endlabelled %}
        {% labelled label="Details" %}
            {% for answer in review.answers %}
                <hr class="dashed" />
                <div>
                    <label>{{ answer.question.label }} : <span class="font-weight-bold {% if answer.resolution.value == "Y" %}text-success{% else %}text-danger{% endif %}">{{ answer.resolution.label }}</span></label>
                    <div class="text-secondary">{{ answer.details | enrich }}</div>
                </div>
            {% endfor %}
        {% endlabelled %}
        {% if show_outcome %}
            <hr class="dashed" />
            {{ review.post_review_data_formatted }}
        {% endif %}
    </div>
    {% if edit %}
        <div class="card-footer">
            {% comment %}FIXME this hardcodes discordance reviews into the otherwise object agnostic review page{% endcomment %}
            <a href="{% url 'discordance_report_review' discordance_report_id=review.reviewing.source_object.pk %}" class="btn btn-primary">
                {% if review.post_review_data.outcome == "postpone" %}Continue{% else %}Edit{% endif %}
                {{ review.topic.name }} Discussion
            </a>
        </div>
    {% endif %}
</div>