{% extends "base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
    <style>
        iframe {
            width: 100%;
        }

        .submenu {
            border: 1px solid #dddddd;
            background: #e9e9e9;
            color: #333333;
            font-weight: bold;
        }

        .submenu ul {
            padding: 0px 10px 0px 10px;
        }

        .submenu li {
            padding: 1px 0px 1px 0px;
            list-style-type: none;
        }
    </style>
    <script src="/static/help/help_menu.js"></script>
    <script src="{% static 'js/variantgrid/external_help.js' %}"></script>
{% endblock %}
{% block content %}
{{ block.super }}
<div id='page-container' class='display-flex'>
	<div class="submenu flex-none">
        <ul id='help-side-menu'>
            <li><a target="_blank" href="{{ help_url }}">Help</a>
        </ul>
    </div>
    <div id="container_table_content" class='flex-grow'>
		<div id="static-content">
	
		<iframe id='static-iframe' onload="this.height=this.contentDocument.body.scrollHeight +'px';">
		</iframe>
		</div>
	</div>
</div>
{% endblock %}