{% extends "uicore/page/base.html" %}
{% load js_tags %}
{% load crispy_forms_tags %}
{% load ui_menu_bars %}
{% block title %}Keycloak Admin{% endblock %}

{% block submenu %}{% menu_bar_settings %}{% endblock submenu %}
{% block content %}
<div class="container">
    <h4>Keycloak Admin</h4>

    <div class="card">
        <div class="card-header">Create User</div>
        <div class="card-body">
            <form method="post">
                {% crispy form %}
            </form>
        </div>
    </div>
    {% if response %}
        <div class="response">{{ response }}</div>
    {% endif %}
</div>
{% endblock content %}