{% extends "base.html" %}
{% load i18n %}
{% block title %}Maps{% endblock %}
{% block head %}
{{ block.super }}
<script>
	var mapIds = ["Locations-Map", "Families_Map"]

	// Leaflet sizes a map to its container, so a map drawn in a hidden pane needs re-measuring
	$(document).ready(function() {
		const links = $("#tabs .nav-link");
		links.on('shown.bs.tab', function() {
			const mapName = mapIds[links.index(this)];
			const map = (window.leafletMaps || {})[mapName];
			if (map) {
				map.invalidateSize();
			}
		});
	});

</script>
<style>

#runx1-lab-locations {
  width: 100%;
  height: 100%;
  padding: 60px;

}

.leaflet-container {  /* map thumbnail */
    width:  1000px;
    height: 600px;
}

</style>
{% endblock %}

{% block content %}

{% load lab_location_tags %}


<div id='runx1-lab-locations'>
  <div id='tabs'>
      <ul id='tab_selected' class="nav nav-tabs mb-4" role="tablist">
        <li class="nav-item"><a class="nav-link show active" href='#Map1' data-toggle="tab" role="tab">Labs</a></li>
        <li class="nav-item"><a class="nav-link" href='#Map2' data-toggle="tab" role="tab">Families</a></li>
      </ul>
    <div class="tab-content">
      <div class="tab-pane show active" role="tabpanel" id='Map1'>{% lab_locations samples_only=False involved_only=True zoom_level=2 %}</div>
      <div class="tab-pane" role="tabpanel" id='Map2'>{% lab_families samples_only=False involved_only=False zoom_level=2 %}</div>
    </div>
  </div>
</div>



{% endblock %}
