{% load ontology_tags %}
<table class="table" id="{{ table_id }}">
    <thead>
        <tr>
            <th style="width:25%">Gene Symbol</th>
            <th>
                <div style="margin-left: 6px">Via Relationships<br/>
                <i class="fa-solid fa-circle" style="font-size:8pt; color:#bbb"></i> = {{ reference_term }}<br/>
                <i class="fa-solid fa-dna" style="font-size:8pt; color:#bbb"></i> = Gene Symbol
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for snake_row in snakes %}
            {% ontology_snake_row snake_row.snake reference_term=reference_term row_span=snake_row.row_span weak=snake_row.weak %}
        {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>
<hr/>