{% if term.is_obsolete %}<span><i class="fas fa-exclamation-triangle text-warning hover-detail" title="{{ term.warning_text }}"></i></span> {% endif %}
{% if show_link %}
<a href="{{ term.get_absolute_url }}">
    {% if is_gene %}<span class="text-monospace hover-link">{{ term.name }}</span>&nbsp;
    {% else %}<span class="text-monospace">{{ term.id }}</span>{% if term.name %}&nbsp;<span class="hover-link">{{ term.name }}</span>{% endif %}{% endif %}
</a>
{% else %}
    {% if is_gene %}<span class="text-monospace">{{ term.name }}</span>&nbsp;
    {% else %}<span class="text-monospace">{{ term.id }}</span>{% if term.name %} {{ term.name }}{% endif %}{% endif %}
{% endif %}