{% load ontology_tags %}
<table class="table dataTable sticky-header" id="{{ table_id }}">
    <thead>
        <tr>
            <th style="width:30%">{% if is_gene %}Ontology Term{% else %}Gene Symbol{% endif %}</th>
            <th>
                <div style="margin-left: 6px" class="text-muted">
                    <div {% if not is_gene %}data-group-id="{{ reference_term.id }}"{% endif %}><i class="fa-solid fa-circle main-icon mr-1" style="font-size:8pt; color:#bbb"></i> {% if is_gene %}<em>Ontology Term</em>{% else %}{{ reference_term.id }}{% endif %}</div>
                    <div class="my-1"><i class="fa-solid fa-arrow-down text-muted mr-1"></i> Via Relationships<br/></div>
                    <div {% if is_gene %}data-group-id="{{ reference_term.id }}"{% endif %}><i class="fa-solid fa-dna main-icon mr-1" style="font-size:8pt; color:#bbb"></i> {% if is_gene %}{{ reference_term.name }}{% else %}<em>Gene Symbol</em>{% endif %}</div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for snake_row in snakes %}
            {% ontology_snake_row snake_row.snake reference_term=reference_term row_span=snake_row.row_span weak=snake_row.weak is_gene=is_gene %}
        {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>