<div class="row">
<div class="col-6 text-right">
{%  if link %}
    <a class="hover-link clinical-context font-weight-bold" href="{% url 'clinical_context' cc.id %}">{{ cc }}</a>&#160;
{% else %}
    <span class="clinical-context font-weight-bold">{{ cc }}</span>&#160;
{% endif %}
</div>
<div class="col-6 text-left">
{% if cc.latest_report %}
    {% if cc.latest_report.resolution == 'D' %}
        <b><a class='hover-link' href="{% url 'discordance_report' cc.latest_report.pk %}">{{ cc.latest_report.resolution_text }}</a></b>
    {% else %}
    <a class='hover-link' href="{% url 'discordance_report' cc.latest_report.pk %}">{{ cc.latest_report.resolution_text }}</a>
    {% endif %}
{% elif cc.status == 'D' %}
    <b>&nbsp;- DISCORDANT</b>
{% elif cc.relevant_classification_count == 0 %}
    No relevant classifications
    {% elif cc.relevant_classification_count == 1 %}
    Single relevant classification
    {% else %}
    Concordant
{% endif %}
</div>
</div>