{% load crispy_forms_tags %}
{% load ui_help %}
{% load ui_utils %}
<div id="sample-files">
    <script type="text/javascript">
        var targetParent = $("#sample-files").parent();

        $(document).ready(function() {
            let options = {
                target: targetParent,
            };
            $('form#sample-files-form').ajaxForm(options);
        }
    </script>
    <div class="container">
        <form id="sample-files-form" method="post" action="{% url 'sample_files_tab' sample.pk %}">
            {% csrf_token %}
            {% crispy sample_files_formset form_helper.horizontal %}
            <table>
            {% if has_write_permission %}
            <td><button id='save-button' class="btn btn-primary">Save</button></td>
            <td><button id="reset-button" type='reset' class="btn btn-secondary">Reset</button></td>
            {% else %}
                You can view but not modify this sample.
            {% endif %}
            </tr>
            </table>
        </form>
    </div>
</div>