{% load static %}
{% load js_tags %}
{% load tag_config_tags %}
{% render_tag_styles_and_formatter %}
<style>
    {% render_node_count_styles %}

    #sample-variants-downloads {
        display: none;
        margin-bottom: 5px;
        border-radius: 4px;
    }
</style>
<script type="text/javascript" src="{% static 'js/analysis_updates.js' %}"></script>
<div id='sample-variants-container'>
    {% include "uicore/messages/messages.html" %}

    {% if analysis %}
        <script type="application/json" id="sample-variants-tab-tags-data">{"variant_tags": {% render_variant_tags_dict analysis %}, "analysis_samples": {% render_analysis_samples_dict analysis %}, "variant_tag_order": {% render_variant_tag_order %}}</script>
        {% json_data "sample-variants-tab-data" sample_id=sample.pk analysis_id=analysis.pk analysis_version=analysis.version %}
        <script src="{% static 'js/snpdb/sample_variants_tab.js' %}"></script>
        <h3>Analysis: {{ analysis }}</h3>
        {{ output_node_form.as_p }}

        <div id="sample-variants-downloads"></div>
        <div id="sample-variants-grid">
            <div id='node-data-grid' class='node-data'></div>
        </div>
    {% endif %}

</div>
