{% load static %}
{% load vcf_grid_filter_tags %}
{% load jqgrid_tags %}
<script>
$(document).ready(function() {
	$('#id_sample').change(function() {
		let sampleId = $(this).val();
		if (sampleId) {
			window.location = Urls.view_sample(sampleId);
		}
	});
});

</script>

<div>
<form id="sample-form" action="" method="post">
    {% csrf_token %}
    <div class="horizontal-fields">
        <p>
            <label>Jump to Sample</label>
            <span>{{ form.sample }} {{ form.media }}</span>
        </p>
    </div>
    {% vcf_grid_filter 'samples' variants_type=True %}
</form>

{% user_data_grid_filter 'samples' 'Samples' %}
{% jqgrid 'samples_grid' 'samples' search=False delete=True download_grid_json_as_csv=True template_name='snpdb/grids/samples_grid.html' init_func='vcfInitFunc' %}
</div>
