{% load datatable_tags %}
{% load vcf_grid_filter_tags %}
<script>
$(document).ready(function() {
	$('#id_sample').change(function() {
		let sampleId = $(this).val();
		if (sampleId) {
			window.location = Urls.view_sample(sampleId);
		}
	});
});
</script>

<div>
<form id="sample-form">
    {% csrf_token %}
    <div class="horizontal-fields">
        <p>
            <label>Jump to Sample</label>
            <span>{{ form.sample }} {{ form.media }}</span>
        </p>
    </div>
    {% vcf_grid_filter 'samples-datatable' variants_type=True %}
</form>

{% datatable_user_data_filter 'samples-datatable' 'Samples' %}
<table id="samples-datatable" class="sticky-header"
       data-datatable-url="{% url 'samples_list_datatable' %}"
       data-datatable-data="vcfGridDatatableFilter"></table>
</div>
