{% load static %}
<script type="text/javascript" src="{% static 'js/analysis_updates.js' %}"></script>
<div id='sample-variants-container'>
    {% include "messages/messages.html" %}

    {% if analysis %}
        <script>
        function gridLoadError() {
            console.log("gridLoadError");
        }

        function on_error_function() {
            console.log("on_error_function");
        }

        function showNodeGrid(nodeStatus) {
            let analysisId = {{ analysis.id }};
            let analysisVersion = {{ analysis.version }};
            let nodeId = nodeStatus.id;
            let version = nodeStatus.version;

            let grid_url = Urls.node_grid_config(analysisId, analysisVersion, nodeId, version, "default");
            let unique_code = "sample-variants-grid";  // ok to be constant on this page
            function noOp() {};
            setupGrid(grid_url, analysisId, nodeId, version, unique_code, noOp, gridLoadError, on_error_function);
        }

        $(document).ready(function() {
            let messagePoller = new AnalysisMessagePoller(Urls.nodes_status({{ analysis.pk }}));
            let gridContainer = $("#node-data-grid");

            $("#id_node").change(function() {
                let nodeId = $(this).val();
                gridContainer.empty();
                if (nodeId) {
                    $("<table/>").attr({
                        id: 'grid-' + nodeId,
                        class: 'grid'
                    }).text("loading...").appendTo(gridContainer);
                    $("<div/>").attr({id: 'pager-' + nodeId}).appendTo(gridContainer);
                    messagePoller.observe_node(nodeId, "ready", showNodeGrid);
                }
            });
            messagePoller.update_loop();
        });
        </script>
        <h3>Analysis: {{ analysis }}</h3>
        {{ output_node_form.as_p }}

        <div id="sample-variants-grid">
            <div id='node-data-grid' class='node-data'></div>
        </div>
    {% endif %}

</div>
