{% load datatable_tags %}
{% load vcf_grid_filter_tags %}
<script>
$(document).ready(function() {
    $('#id_vcf').change(function() {
        let vcfId = $(this).val();
        if (vcfId) {
            window.location = Urls.view_vcf(vcfId);
        }
    });
});
</script>

<form id="vcf-form">
    {% csrf_token %}
    <div class="horizontal-fields">
        <p>
            <label>Jump to VCF</label>
            <span>{{ form.vcf }} {{ form.media }}</span>
        </p>
    </div>
    {% vcf_grid_filter 'vcfs-datatable' %}
</form>


<div>
{% datatable_group_data_filter 'vcfs-datatable' 'VCFs' %}
<table id="vcfs-datatable" class="sticky-header"
       data-datatable-url="{% url 'vcfs_datatable' %}"
       data-datatable-data="vcfGridDatatableFilter"></table>
</div>
