{% extends menu_data_base %}
{% load static %}
{% load help_tags %}
{% load crispy_forms_tags %}

{% block title %}{{ gic.name }}{% endblock %}
{% block head %}
	<script src="{% static 'js/cached_generated_files.js' %}"></script>
{% endblock %}

{% block jsdocumentready %}

    $("#genomic-intervals-tabs").tabs();

{% endblock %}

{% block submenu_page_content %}
	<div id="genomic_intervals">
		<h3>Genomic Intervals: {{ gic.name }}</h3>

        <div id="genomic-intervals-tabs">
            <ul>
                <li><a href="#details">Details</a></li>
                <li><a href="{% url 'genomic_intervals_graphs_tab' gic.pk %}">Graphs</a></li>
                {% if has_write_permission %}
                <li><a href="{% url 'group_permissions' 'snpdb.models.GenomicIntervalsCollection' gic.pk %}">Sharing / Permissions</a></li>
                {% endif %}
            </ul>
            <div id="details">
                {% page_help user 'data/view_genomic_intervals_help' 'Genomic Intervals Help' %}

                <form method="post" id='genomic-intervals-collection-form'>
                    {% csrf_token %}

                    {% crispy form form_helper.horizontal %}
                    {% if has_write_permission %}
                        <button id='save-genomic-intervals-collection' class="btn btn-primary">save</button>
                    {% else %}
                        You can view but not modify this data.
                    {% endif %}
            		{% include "messages/messages.html" %}
                </form>
            </div>
        </div>
	</div>
{% endblock %}
