{% extends "uicore/page/base.html" %}
{% load static %}
{% load js_tags %}
{% load crispy_forms_field %}
{% load ui_utils %}
{% block title %}Manual Variant Entry{% endblock %}
{% block head %}
    <style>
    .glowing {
            animation: glow 1s infinite alternate;
    }
    @keyframes glow {
          from {
            box-shadow: 0 0 5px -5px #ccf;
          }
          to {
            box-shadow: 0 0 5px 5px #ccf;
          }
    }
    </style>
    {% json_data "watch-manual-variant-entry-data" mvec_id=mvec.pk initial_json=initial_json %}
    <script src="{% static 'js/snpdb/watch_manual_variant_entry.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <h3>Checking Status of New Variant</h3>
        <div>
            {% labelled label="Coordinate" %}
                <div>{{ mvec.first_entry.entry_text }} ({{ mvec.genome_build }})</div>
            {% endlabelled %}
            {% labelled label="Status" %}
                <div>
                    <i id="glowing-cloud" class="fas fa-cloud glowing"></i>
                    <span id="variant-status"></span>
                </div>
            {% endlabelled %}
            {% labelled label="Created" %}
                <div id="created-date"></div>
            {% endlabelled %}
            <div id="polling-spinner"></div>
        </div>
    </div>
{% endblock %}
