{% load clinvar_tags %}
{% load ontology_tags %}
{% load ui_utils %}
{% load js_tags %}
{% load english_tags %}
<h4>ClinVar Records</h4>
{% if clinvar %}
    {{ clinvar.get_clinvar_review_status_display }} <span class="text-muted">|</span> {{ clinvar.clinical_significance | code_to_english }} <span class="text-muted">|</span> as of version {% timestamp annotation_version.clinvar_version.annotation_date time_ago=True %}
   <span class="text-muted">|</span> <a href="https://www.ncbi.nlm.nih.gov/clinvar/variation/{{ clinvar.clinvar_variation_id }}">View on ClinVar</a>
    <br/>
    {% if auto_load %}
        <div data-toggle="ajax" href="{% url "view_clinvar_detail" clinvar.clinvar_variation_id %}">
            Loading...
        </div>
    {% else %}
        <div data-toggle="ajax-collapse" href="{% url 'view_clinvar_detail' clinvar.clinvar_variation_id %}" title="Individual ClinVar Records"></div>
    {% endif %}
{% else %}
    No ClinVar entry <span class="text-muted">(as of version: {{ annotation_version.clinvar_version.annotation_date.date  }})</span> <a href="https://www.ncbi.nlm.nih.gov/clinvar/?term={{ g_hgvs }}">Search ClinVar</a>
{% endif %}
{% comment %}
<div class="card">
    <div class="card-header">ClinVar (<a title="ClinVar Variation ID" class='hover-link' target='_blank' href='https://www.ncbi.nlm.nih.gov/clinvar/variation/{{ clinvar.clinvar_variation_id }}'>{{ clinvar.clinvar_variation_id }}</a>)</div>
    <div class="card-body">
        {% if clinvar %}
            {% labelled label="Highest Pathogenicity" %}{{ clinvar.highest_pathogenicity }}{% endlabelled %}
            {% labelled label="Clinical Significance" %}{{ clinvar.clinical_significance | code_to_english }}{% endlabelled %}
            {% if clinvar.conflicting_clinical_significance %}
                {% labelled label="Conflicting Clinical Significance" %}{{ clinvar.conflicting_clinical_significance }}{% endlabelled %}
            {% endif %}
            {% labelled label="Preferred Disease Name" %}{{ clinvar.clinvar_preferred_disease_name | code_to_english }}{% endlabelled %}
            {% labelled label="Disease Database Name" %}
                {% for term in clinvar.clinvar_disease_database_terms %}
                    {% ontology_term term show_link=True %}<br/>
                {% endfor %}
            {% endlabelled %}
            {% labelled label="Review Status" %}
                <a class='hover-link' target="_blank" href="https://www.ncbi.nlm.nih.gov/clinvar/docs/review_status/">
                {% clinvar_stars clinvar.stars %} {{ clinvar.get_clinvar_review_status_display }}
                </a>
            {% endlabelled %}
            {% labelled label="Clinical Sources" %}
                {% for term in clinvar.clinvar_clinical_sources_list %}
                    {{ term | code_to_english }}<br/>
                {% endfor %}
            {% endlabelled %}
            {% labelled label="Origin" %}{{ clinvar.get_origin_display }}{% endlabelled %}
            {% if clinvar_suspect_reason_code %}
                {% labelled label="Suspect Reason Code" %}{{ clinvar.get_suspect_reason_code_display }}{% endlabelled %}
            {% endif %}
            {% labelled label="Drug Response" %}{{ clinvar.drug_response }}{% endlabelled %}
            {% labelled label="Citations" %}
                {% if num_clinvar_citations %}<a class='toggle-link' data-toggle="collapse" href='#clinvar-citation-div'>Show {{ num_clinvar_citations }} Literature Citations</a>
                {% else %}<span class="no-value">No Citations.</span>
                {% endif %}
            {% endlabelled %}
            {% labelled label="RCV Data" %}
                {% modal label="API Response" admin_only=True %}
                    {% code_xml clinvar.fetch_rcv_data css_class="modal-body" %}
                {% endmodal %}
            {% endlabelled %}
            <div id="clinvar-citation-div" class="collapse">
                {% for citation_id in clinvar_citations %}
                <div data-citation-id="{{ citation_id | code_to_english }}"></div>
                {% endfor %}
            </div>
        {% else %}
            No ClinVar entry (version: {{ annotation_version.clinvar_version.annotation_date.date  }})
            <a href="https://www.ncbi.nlm.nih.gov/clinvar/?term={{ g_hgvs }}">Search ClinVar</a>
        {% endif %}
    </div>
</div>
{% endcomment %}