{% load clinvar_tags %}
{% load ontology_tags %}
{% load ui_utils %}
{% load js_tags %}
{% load english_tags %}

<div id="expert-panels" class="mt-4">
    <h4>{% if expert_panel_only %}Expert Panels{% else %}ClinVar Records{% endif %}</h4>

    {% with clinvar=data.clinvar %}
        {% if clinvar %}
            <a class="hover-link external-link" href="https://www.ncbi.nlm.nih.gov/clinvar/variation/{{ clinvar.clinvar_variation_id }}">View on ClinVar</a>
            {% if expert_panel_only %}
                {% comment %}if we're only interested in showing expert panel data{% endcomment %}
                {% if data.is_expert_panel_or_greater %}
                    <div class="mt-2">
                        <div data-toggle="ajax" href="{% url "view_clinvar_records_detail" clinvar.clinvar_variation_id min_stars %}">
                            Loading...
                        </div>
                    </div>
                {% else %}
                    <span class="text-muted">|</span> <span class="no-value">No expert panel available as of ClinVar Export {% timestamp data.annotation_version.clinvar_version.annotation_date time_ago=True %}</span>
                {% endif %}
            {% else %}
                {% comment %}Showing summary data as well as all records as they're fetchd live from ClinVar{% endcomment %}
                {% comment %}Do we need to restore more data that was in ClinVar tag before? e.g. drug_response {% endcomment %}
                <span class="text-muted">|</span> Summary Data as of {% timestamp data.annotation_version.clinvar_version.annotation_date time_ago=True %}
                {% admin_link clinvar %}
                <div class="mt-4">
                    {% labelled label="Origin(s)" %}{{ clinvar.get_allele_origins_display }}{% endlabelled %}
                    {% if clinvar.germline_disease_database_terms %}
                        {% labelled label="Germline Summary" %}
                            <div class="mb-1">{% clinvar_stars clinvar.germline_stars %}{{ clinvar.get_clinvar_review_status_display }} <span class="text-muted">|</span> <b>{{ clinvar.clinical_significance | default_if_none:"No Data" | code_to_english}}</b></div>
                            {% for term in clinvar.clinvar_disease_database_terms %}{% if not forloop.first %}<span class="text-muted">|</span>{% endif %} {% ontology_term term %} {% endfor %}{% endlabelled %}
                    {% endif %}
                    {% if clinvar.somatic_disease_database_terms %}
                        {% labelled label="Somatic Summary" %}
                            <div>{% clinvar_stars clinvar.somatic_stars %}{{ clinvar.get_somatic_review_status_display }} <span class="text-muted">|</span> <b>{{ clinvar.somatic_clinical_significance | default_if_none:"No Data" | code_to_english }}</b></div>
                            {% for term in clinvar.somatic_disease_database_terms %}{% if not forloop.first %}<span class="text-muted">|</span>{% endif %} {% ontology_term term %} {% endfor %}
                        {% endlabelled %}
                    {% endif %}
                    {% if clinvar.oncogenic_disease_database_terms %}
                        {% labelled label="Oncogenic Summary" %}
                            <div>{% clinvar_stars clinvar.oncogenic_stars %}{{ clinvar.get_oncogenic_review_status_display }} <span class="text-muted">|</span> <b>{{ clinvar.oncogenic_classification | default_if_none:"No Data" | code_to_english }}</b></div>
                            {% for term in clinvar.oncogenic_disease_database_terms %}{% if not forloop.first %}<span class="text-muted">|</span>{% endif %} {% ontology_term term %} {% endfor %}
                        {% endlabelled %}
                    {% endif %}
                    {% labelled label="Clinical Sources" %}{% for source in clinvar.clinical_sources_list %}{% if not forloop.first %}<span class="text-muted">|</span>{% endif %} {{ source | code_to_english }} {% endfor %}{% endlabelled %}
                </div>
                <div class="mt-2">
                    <div data-toggle="ajax-collapse" href="{% url 'view_clinvar_records_detail' clinvar.clinvar_variation_id min_stars %}" title="Individual ClinVar Records"></div>
                </div>
                {% with citation_ids=clinvar.citation_ids %}
                    <div class="mt-2">
                        {% if citation_ids %}
                            <a class="toggle-link" data-toggle="collapse" href="#clinvar-citations">Toggle {% count citation_ids singular='Citation' plural='Citations' %} from ClinVar</a>
                            <div id="clinvar-citations" class="collapse mt-2">
                                {% for citation_id in citation_ids %}
                                    <div data-citation-id="{{ citation_id }}"></div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="no-value">No citations from ClinVar found</div>
                        {% endif %}
                    </div>
                {% endwith %}
            {% endif %}
        {% else %}
            No ClinVar entry <span class="text-muted">(as of version: {{ data.annotation_version.clinvar_version.annotation_date.date  }})</span> <a class="hover-link" href="https://www.ncbi.nlm.nih.gov/clinvar/?term={{ data.g_hgvs }}">Search ClinVar</a>
        {% endif %}
    {% endwith %}
</div>
