{% if gene_disease_relations %}
{% load static %}
<div class='gene-disease card mt-4'>
    <div class="card-header">
        Gene / Disease associations
    </div>
    <div class="card-body card-body-list">
        <div>
            <ul class='list-group'>
                {% for gdr in gene_disease_relations %}
                    <li class="list-group-item">
                        <a href="{{ gdr.source_term.url }}" title="{{ gdr.source_term.definition }}">{{ gdr.source_term }}</a>
                        <ul class='list-group'>
                            {% for src in gdr.extra.sources %}
                                <li class="list-group-item">
                                    {% if src.public_report_url %}
                                        <a href="{{ src.public_report_url }}">
                                            <b>{{ src.mode_of_inheritance }}</b> ({{ src.gencc_classification }}) by {{ src.submitter }} on {{ src.evaluated_date }}
                                        </a>
                                    {% else %}
                                        <b>{{ src.mode_of_inheritance }}</b> ({{ src.gencc_classification }}) by {{ src.submitter }} on {{ src.evaluated_date }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
