{% if gene_symbol.genediseasevalidity_set.exists %}
{% load static %}
<div class='gene-disease card'>
    <div class="card-header">
        Gene / Disease associations
    </div>
    <div class="card-body card-body-list">
        <div>
            <ul class='list-group'>
                {% for dvg in gene_symbol.genediseasevalidity_set.all %}
                    <a href='{{ dvg.disease_validity.validity_summary_url }}' class="list-group-item list-group-action">
                        <b>{{ dvg.disease_validity.ontology_term.name }}</b> {% if dvg.disease_validity.ontology_term.definition %}({{ dvg.disease_validity.ontology_term.definition }}){% endif %} - {{ dvg.disease_validity.get_classification_display }}. ({{ dvg.disease_validity.sop }}, {{ dvg.disease_validity.date }})
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
