
.company-sa_pathology-icon {
    background-image: url(/static/images/companies/sa_pathology.png);
    width: 120px;
    height: 40px;
    background-size: 120px 40px;
}

.column-icon.company-sa_pathology-icon {
    width: 80px;
    height: 28px;
    background-size: 80px 28px;
}

.company-invitae-icon {
    background-image: url(/static/images/companies/invitae-logo-share.png);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.company-fulgent-icon {
    background-image: url(/static/images/companies/fulgent.jpg);
    width: 104px;
    height: 40px;
    background-size: 104px 40px;
}