{% extends menu_genes_base %}
{% load static %}
{% load help_tags %}
{% load genome_build_tags %}

{% block title %}Genes{% endblock title %}
{% block submenu_page_content %}
<style>
    .horizontal-fields {
        margin: 6px 0 6px 0;
    }
</style>
<script>
    let gridExtraFilters = {};

    // The page level filters (release, and the OMIM terms shortcuts) - the CSV download picks these
    // up too, as it goes out with the table's own ajax params
    function genesDatatableFilter(data) {
        Object.assign(data, gridExtraFilters);
        data['gene_annotation_release_id'] = $("#id_release").val();
    }

    function filterGrid(extra_filters) {
        gridExtraFilters = extra_filters || {};
        $("#gene-annotation-versions-grid").DataTable().ajax.reload();
    }

    $(document).ready(function() {
        $("#id_release").change(function() {
            filterGrid();
        });

        $('#id_gene_symbol').change(function() {
            let geneSymbol = $("#id_gene_symbol").val();
            window.location = Urls.view_gene_symbol(geneSymbol);
        });
    });
</script>

    {% page_help user 'annotation/gene_annotations_help' ' ' %}
    {% genome_build_url_arg genome_build 'genome_build_genes' %}

    <div>
        <h3>Gene Annotations</h3>

        <form>
            <div class="horizontal-fields">
                <label>Jump to gene symbol</label>
                <span>{{ gene_symbol_form.gene_symbol }} {{ gene_symbol_form.media }} </span>
            </div>
            <div class="horizontal-fields">
                <label>Gene Annotation Release</label><span>{{ gene_annotation_release_form.release }} {{ gene_annotation_release_form.media }}</span>
            </div>
        </form>


        <div class="horizontal-fields">
            <img src="{% static 'icons/filter.svg' %}" width="20px" height="20px" title="Filter options to the right" />
            <a class="hover-link" href="javascript:filterGrid()">All</a>
            <a class="hover-link" href="javascript:filterGrid({'column' : 'gene_version__gene__geneannotation__omim_terms', 'is_null' : 'false'})">OMIM Terms</a>
            <a class="hover-link" href="javascript:filterGrid({'column' : 'gene_version__gene__geneannotation__omim_terms', 'is_null' : 'true'})">No OMIM Terms</a>
        </div>
        <div id='gene-annotation-versions'>
        <table id="gene-annotation-versions-grid" class="sticky-header"
               data-datatable-url="{% url 'genes_datatable' genome_build_name=genome_build.name %}"
               data-datatable-data="genesDatatableFilter"></table>
        </div>

    </div>

{% endblock submenu_page_content %}