{% extends menu_genes_base %}
{% load static %}

{% block title %}Genes{% endblock title %}
{% block submenu_page_content %}
<style>
    .horizontal-fields {
        margin: 6px 0 6px 0;
    }
</style>
<script>
    let searchVisible = false;
    let gridExtraFilters = {};
    
    function showSearch() {
        searchVisible = true;
        $("#searchmodfbox_gene-annotation-versions-grid").show();
    }

    function getExtraFilters() {
        let extraFilters = '';
        if (gridExtraFilters) {
            extraFilters = JSON.stringify(gridExtraFilters);
        }
        return extraFilters;
    }

    function filterGrid(extra_filters) {
        gridExtraFilters = extra_filters || {};

        let versionId = $("#id_version").val();
        gridExtraFilters['version'] = versionId;    

        var grid = $("#gene-annotation-versions-grid");
        grid.trigger("reloadGrid");
    }

    function getExportUrl(exportUrl) {
        console.log("getExportUrl:" + getExportUrl);
    
        let extraFilters = getExtraFilters();
        if (extraFilters) {
            exportUrl += '?extra_filters=' + extraFilters;
        }
        return exportUrl;
    }
    

    function genes_grid_complete() {
        let grid = $("#gene-annotation-versions-grid");
        grid[0].p.postData["extra_filters"] = getExtraFilters;

        let searchToolBox = $("#searchmodfbox_gene-annotation-versions-grid");
        searchToolBox.width(650); // make space for data entry
        if (!searchVisible) {
            searchToolBox.hide();
        }
    }

    $(document).ready(function() {
        $("#id_version").change(function() {
            filterGrid();
        });

        $('#id_gene').change(function() {
            let geneId = $("#id_gene").val();
            window.location = Urls.view_gene(geneId);
        });
    });
</script>

    {% load help_tags %}
    {% page_help user 'annotation/gene_annotations_help' ' ' %}
    {% load genome_build_tags %}
    {% genome_build_url_arg user 'genome_build_genes' genome_build %}

    <div>
        <h3>Gene Annotations</h3>

        <form>
            <div class="horizontal-fields">
                <label>Jump to gene</label>
                <span>{{ gene_form.gene }} {{ gene_form.media }} </span>
            </div>
        </form>

        <div class="horizontal-fields">
            <label>Version</label><span>{{ version_form.version }}</span>
        </div>

        <div class="horizontal-fields">
            <img src="{% static 'icons/filter.svg' %}" width="20px" height="20px" title="Filter options to the right" />
            <a class="hover-link" href="javascript:filterGrid()">All</a>
            <a class="hover-link" href="javascript:showSearch()">Search</a>
            <a class="hover-link" href="javascript:filterGrid({'column' : 'omim_phenotypes', 'is_null' : false})">OMIM</a>
            <a class="hover-link" href="javascript:filterGrid({'column' : 'omim_phenotypes', 'is_null' : true})">No OMIM</a>
        </div>
        <div id='gene-annotation-versions'>
        {% load jqgrid_tags %}
        {% jqgrid 'genes_grid' 'gene-annotation-versions' genome_build_name=genome_build.name search=True delete=False grid_complete='genes_grid_complete' modify_export_url='getExportUrl' %}
        </div>

    </div>

{% endblock submenu_page_content %}