{% extends menu_genes_base %}
{% load static %}
{% load help_tags %}
{% load genome_build_tags %}

{% block title %}Genes{% endblock title %}
{% block submenu_page_content %}
<style>
    .horizontal-fields {
        margin: 6px 0 6px 0;
    }
</style>
<script>
    let searchVisible = false;
    let gridExtraFilters = {};
    
    function showSearch() {
        searchVisible = true;
        $("#searchmodfbox_gene-annotation-versions-grid").show();
    }

    function getExtraFilters() {
        let extraFilters = '';
        if (gridExtraFilters) {
            extraFilters = JSON.stringify(gridExtraFilters);
        }
        return extraFilters;
    }

    function filterGrid(extra_filters) {
        gridExtraFilters = extra_filters || {};
        gridExtraFilters['gene_annotation_release_id'] = $("#id_release").val();

        let grid = $("#gene-annotation-versions-grid");
        grid.trigger("reloadGrid");
    }

    function getExportUrl(exportUrl) {
        console.log("getExportUrl:" + getExportUrl);
    
        let extraFilters = getExtraFilters();
        if (extraFilters) {
            exportUrl += '?extra_filters=' + extraFilters;
        }
        return exportUrl;
    }
    

    function genes_grid_complete() {
        let grid = $("#gene-annotation-versions-grid");
        grid[0].p.postData["extra_filters"] = getExtraFilters;

        let searchToolBox = $("#searchmodfbox_gene-annotation-versions-grid");
        searchToolBox.width(650); // make space for data entry
        if (!searchVisible) {
            searchToolBox.hide();
        }
    }

    function geneSymbolLink(v) {
        let url = Urls.view_gene_symbol(v);
        return `<a href='${url}'>${v}</a>`;
    }

    $(document).ready(function() {
        $("#id_release").change(function() {
            filterGrid();
        });

        $('#id_gene_symbol').change(function() {
            let geneSymbol = $("#id_gene_symbol").val();
            window.location = Urls.view_gene_symbol(geneSymbol);
        });

        jQuery.extend($.fn.fmatter , {
            'geneSymbolLink' : geneSymbolLink,
        });


    });
</script>

    {% page_help user 'annotation/gene_annotations_help' ' ' %}
    {% genome_build_url_arg genome_build 'genome_build_genes' %}

    <div>
        <h3>Gene Annotations</h3>

        <form>
            <div class="horizontal-fields">
                <label>Jump to gene symbol</label>
                <span>{{ gene_symbol_form.gene_symbol }} {{ gene_symbol_form.media }} </span>
            </div>
            <div class="horizontal-fields">
                <label>Gene Annotation Release</label><span>{{ gene_annotation_release_form.release }} {{ gene_annotation_release_form.media }}</span>
            </div>
        </form>


        <div class="horizontal-fields">
            <img src="{% static 'icons/filter.svg' %}" width="20px" height="20px" title="Filter options to the right" />
            <a class="hover-link" href="javascript:filterGrid()">All</a>
            <a class="hover-link" href="javascript:showSearch()">Search</a>
            <a class="hover-link" href="javascript:filterGrid({'column' : 'gene_version__gene__geneannotation__omim_terms', 'is_null' : false})">OMIM Terms</a>
            <a class="hover-link" href="javascript:filterGrid({'column' : 'gene_version__gene__geneannotation__omim_terms', 'is_null' : true})">No OMIM Terms</a>
        </div>
        <div id='gene-annotation-versions'>
        {% load jqgrid_tags %}
        {% jqgrid 'genes_grid' 'gene-annotation-versions' genome_build_name=genome_build.name search=True delete=False grid_complete='genes_grid_complete' modify_export_url='getExportUrl' %}
        </div>

    </div>

{% endblock submenu_page_content %}