{% extends menu_genes_base %}
{% load static %}
{% block title %}Gene Lists{% endblock title %}

{% block submenu_page_content %}
    <script>
        function showForm() {
            let box = $("#show-form-container");
            box.empty();
            $("div#new-gene-list-form-container").slideDown('slow');
        }

        $(document).ready(function() {
            $('#id_gene_list').change(function() {
                let geneListId = $("#id_gene_list").val();
                window.location = Urls.view_gene_list(geneListId);
            });

            let options = {
                target: '#new-gene-list-form-container',
                success: function(data) {
                    let geneListId = data['gene_list_id'];
                    window.location = Urls.view_gene_list(geneListId);
                },
            };
            $('form#new-gene-list-form').ajaxForm(options);

            {% if not form.errors %}
                $("div#new-gene-list-form-container").hide();
            {% endif %}
        });
    </script>

    {% load help_tags %}
    {% page_help page_id='gene_lists/gene_lists_help' title='Gene Lists' %}

    <div class="horizontal-fields">
        <p>
            <label>Jump to gene list</label>
            <span>{{ gene_list_form.gene_list }} {{ gene_list_form.media }}</span>
        </p>
    </div>

    <div id="show-form-container">
        <a class='hover-link' id="show-form-link" href="javascript:showForm()">New GeneList</a>
    </div>
    <div id="new-gene-list-form-container">
      <form id="new-gene-list-form" method="post" action="{% url 'create_custom_gene_list' %}">
        {% csrf_token %}
          <fieldset class="form-fields small">
              <legend>Create</legend>
              {{ create_gene_list_form.as_p }}
              {% include "messages/messages.html" %}
              <button id='submit-button' class="btn btn-primary">Create GeneList</button>
          </fieldset>
      </form>
    </div>

    <table id="gene-lists-datatable" class="sticky-header" data-datatable-responsive="true" data-datatable-url="{% url 'gene_lists_datatable' %}"></table>

{% endblock submenu_page_content %}


