{% load tz %}
{% load jqgrid_tags %}
<style>
    .active-sample-gene-list {
        background-image: url(/static/icons/check-mark-green.svg);
    }
</style>

<p>If you have more than one sample gene list, you must manually set one as active.
    The active one is automatically used in analyses templates and gene list nodes.
    Hidden sample gene lists do not appear in gene list node auto-completes.
</p>

{% for sample_gene_list in sample.samplegenelist_set.all %}
    <h3>
        {% if sample_gene_list == sample.activesamplegenelist.sample_gene_list %}
            Active Gene List:
        {% endif %}
        {{ sample_gene_list.modified | localtime }}
    </h3>

    <div class="sample-gene-list-toolbar">
    {% if sample_gene_list == sample.activesamplegenelist.sample_gene_list %}
        <div class="icon48 active-sample-gene-list"></div>
    {% else %}
        <button class="btn btn-outline-primary">Make active</button>
    {% endif %}
    {% if sample_gene_list.visible %}
        <button class="btn btn-outline-primary">Hide</button>
    {% else %}
        <button class="btn btn-outline-primary">Un-Hide</button>
    {% endif %}
    </div>

    {% jqgrid 'gene_list_genes_grid' sample_gene_list.gene_list.pk search=False download_grid_json_as_csv=True gene_list_id=sample_gene_list.gene_list.pk %}
{% endfor %}