{% extends "uicore/page/base.html" %}
{% load crispy_forms_field %}
{% load ui_help %}
{% load ui_utils %}
{% load ui_tabs_builder %}
{% load ui_menu_bars %}
{% load static %}
{% load tz %}
{% load js_tags %}
{% load jqgrid_tags %}
{% load user_tag_color_tags %}
{% load wiki_tags %}
{% load datatable_tags %}
{% load gene_disease_tags %}
{% load gnomad_gene_constraint_tags %}
{% load panel_app_tags %}
{% block title %}{{ gene_symbol }}{% endblock title %}
{% block submenu %}{% menu_bar_data %}{% endblock %}

{% block head %}
    {% render_tag_styles_and_formatter %}
    <link rel="stylesheet" href="{% static 'css/graphs.css' %}" />
    <script type="text/javascript" src="{% static 'js/lib/plotly-latest.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/grid.js' %}"></script>
    <script src="{% static 'js/generated_graphs.js' %}"></script>
    <style>
        #hotspot-graph, #hotspot-graph img {
            width: 100%;
            height: 480px;
            text-align: center;
        }

        #transcripts {
            margin-left: 10px;
        }

        .transcript-version {
            padding-left: 5px;
        }

        .filter-message {
            margin-right: 10px;
        }
        .gene-icon {
            float: none;
        }
        {% render_node_count_colors_css %}
    </style>
    <script>
        window.ANALYSIS_SETTINGS = {
            show_igv_links : false,
            open_variant_details_in_new_window: true,
        };

        let gridFilterVisible = false;
        let geneClassificationsGridParams = {};
        let geneVariantsGridParams = {};

        function load_classifications_hotspot_graph(geneSymbol) {
            let url = Urls.classifications_gene_symbol_hotspot_graph("{{ genome_build.pk }}", geneSymbol);
            $('#classifications-hotspot-graph-container').load(url, function() {
                $(".hotspot-graph", this).attr("hotspot_graph_click_func", "viewGeneClassificationsHotspotGraphClickFunc");
            });
        }

        function load_hotspot_graph(geneSymbol) {
            let url = Urls.gene_symbol_hotspot_graph("{{ genome_build.pk }}", geneSymbol);
            $('#hotspot-graph-container').load(url, function() {
                $(".hotspot-graph", this).attr("hotspot_graph_click_func", "viewGeneHotspotGraphClickFunc");
            });
        }

        function showFilter() {
            gridFilterVisible = true; // so it won't hide on reload.
            $("#show-filter-link").hide();
            var filterBox = $("#searchmodfbox_gene-variants-grid");
            filterBox.slideDown();
        }

        $(window).bind('resize', function() {
            let maxWidth = 1450;
            let space = $(window).width() - 160;
            let desiredWidth = Math.min(maxWidth, space);
            let grid = $("#gene-classifications-grid");
            if (grid && grid.length) {
                grid.setGridWidth(desiredWidth);
            }
        });

        function showTranscripts() {
            $("#show-transcripts-link").hide();
            $("#transcripts").slideDown();
        }

        function viewGeneHotspotGraphClickFunc(transcript_version_id, text, protein_position) {
            $("#gene-variants-grid-filtering-message").empty().html("Filtering to " + text).parent().show();
            geneVariantsGridParams["protein_position"] = protein_position;
            geneVariantsGridParams["protein_position_transcript_version_id"] = transcript_version_id;
            $("#gene-variants-grid").trigger("reloadGrid");
        }

        function viewGeneClassificationsHotspotGraphClickFunc(transcript_version_id, text, protein_position) {
            $("#gene-classifications-grid-filtering-message").empty().html("Filtering to " + text).parent().show();
            geneClassificationsGridParams["protein_position"] = protein_position;
            geneClassificationsGridParams["protein_position_transcript_version_id"] = transcript_version_id;
            {% if not classifications_new_grouping %}
            $('#vc-datatable').DataTable().ajax.reload();
            {% endif %}
        }

        $(document).ready(() => {
            let tableDom = $('#vc-datatable');
            if (tableDom.length) {
                EKeys.load().then(() => {
                    {% if not classifications_new_grouping %}
                        {% datatable_definition table_config=datatable_config table_id='vc-datatable' url='classification_datatables' data='classificationFilter' hide_filter_count=True %};
                        let vcDatatable = $('#vc-datatable');
                        vcDatatable.on('draw.dt', () => {
                            Flags.instance.init({userId: '{{user.id}}'});
                        });
                    {% endif %}
                });
            }

            {% if show_classifications_hotspot_graph %}
                load_classifications_hotspot_graph("{{ gene_symbol }}");
            {% endif %}
            {% if show_hotspot_graph %}
                load_hotspot_graph("{{ gene_symbol }}");
            {% endif %}

            {% if has_gene_coverage and url_name_visible.gene_symbol_coverage_collection_graphs %}
                var gcContainer = $("#qc-gene-coverage-graph-container");
                var loading_icon = $('<div>').attr({class : 'loading', style: 'margin-right:10px;'});
                gcContainer.html(loading_icon);
                gcContainer.load("{% url 'gene_symbol_coverage_collection_graphs' genome_build.name gene_symbol.pk %}");
            {% endif %}

            // copy gene info into summary
            var geneInfo = $(".gene-info-container");
            geneInfo.clone().appendTo($("#summary-gene-icons-container"));
            fixLinks();
        });
    </script>
{% endblock head %}
{% block content %}
	<div class="container">
        {% load genome_build_tags %}
        {% genome_build_url_arg genome_build 'view_gene_symbol_genome_build' gene_symbol=gene_symbol %}

        <h3>Gene Symbol : {{ gene_symbol }}</h3>
        {% if show_annotation %}
            {% page_help_embedded page_id='genes/view_gene_symbol_help' title='View Gene Symbol' %}
                <p>Columns in the grid are from your <a href="/snpdb/settings">User Settings</a>,
                    minus the gene level annotation (this appears in the <a data-toggle="collapse" href="#full-gene-info">full summary...</a>)
                <p>The 2nd column: 'Sample Count' shows the number of samples which have this variant. A hotspot graph shows variants from this gene if any appear in samples.
            {% end_page_help_embedded %}
        {% endif %}

        <div class="card mb-4">
            <div class="card-header">Gene Symbol {{  gene_symbol }} could refer to:</div>
            <div class="card-body card-body-list">
                <ul class="list-group">
                {% if consortium_genes_and_aliases %}
                    {% for annotation_consortium, genes_and_aliases in consortium_genes_and_aliases.items %}
                        {% for gene_id, aliases in genes_and_aliases.items %}
                            <li class="list-group-item">
                                {% if aliases %}
                                      {{ annotation_consortium }} Gene : <a class="hover-link text-monospace" href="{% url 'view_gene' gene_id %}">{{ gene_id }}</a>
                                         ( <a href="{{ gene_external_urls|get_item:gene_id }}" target="_blank">{{ annotation_consortium }}</a>)
                                         (aka: {% for alias in aliases %}<a class="comma-sep" href="{% url 'view_gene_symbol' alias %}">{{ alias }}</a>{% endfor %})
                                      </a>
                                {% else %}
                                    <a href="{% url 'view_gene' gene_id %}">
                                        {{ annotation_consortium }} Gene : <span class="text-monospace">{{ gene_id }}</span>
                                    </a>
                                    ( <a href="{{ gene_external_urls|get_item:gene_id }}" target="_blank">{{ annotation_consortium }}</a>)
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% for alias_summary in gene_symbol.alias_meta.aliases_out %}
                    {% if alias_summary.different_genes %}
                            <a href="{% url 'view_gene_symbol' alias_summary.other_symbol %}" class="list-group-item list-group-item-action"
                               data-toggle="popover" title="Different Gene IDs" data-placement="left"
                               data-content="These symbols have different Gene IDs associated with them.<br/>{{ gene_symbol }} should not be considered an alias for {{ alias_summary.other_symbol }} in all situations."
                            >
                            <i class="fas fa-exclamation-triangle text-warning"></i>
                            Aliased Gene Symbol : <span class="text-monospace">{{ alias_summary.other_symbol }}</span> - {{ gene_symbol }} can be an alias for {{ alias_summary.other_symbol }} ({{ alias_summary.source }})
                        </a>
                    {% else %}
                        <a href="{% url 'view_gene_symbol' alias_summary.other_symbol %}" class="list-group-item list-group-item-action">
                            <i class="fas fa-arrow-circle-right"></i>
                            Aliased Gene Symbol : <span class="text-monospace">{{ alias_summary.other_symbol }}</span> - {{ gene_symbol }} is an alias for {{ alias_summary.other_symbol }} ({{ alias_summary.source }})
                        </a>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>

        {% if gene_symbol.alias_meta.aliases_in %}
            <div class="card">
                <div class="card-header">Aliases of {{ gene_symbol }}</div>
                <div class="card-body card-body-list">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light text-monospace">
                            {% for alias_summary in gene_symbol.alias_meta.aliases_in %}
                                {% if not forloop.first %}<span>,&nbsp;</span>{% endif %}
                                {% if alias_summary.other_symbol_in_database %}
                                    {% if alias_summary.different_genes %}
                                        <span data-toggle="popover" title="Different Gene IDs" data-placement="bottom"
                                        data-content="These symbols have different Gene IDs associated with them.<br/>{{ alias_summary.other_symbol }} should not be considered an alias for {{ gene_symbol }} in all situations.">
                                            <i class="fas fa-exclamation-triangle text-warning"></i>
                                            <a href="{% url 'view_gene_symbol' alias_summary.other_symbol %}" data-toggle="tooltip" title="{{ alias_summary.source }}">{{ alias_summary.other_symbol }}</a>
                                        </span>
                                    {% else %}
                                    <a href="{% url 'view_gene_symbol' alias_summary.other_symbol %}" data-toggle="tooltip" title="{{ alias_summary.source }}">{{ alias_summary.other_symbol }}</a>
                                    {% endif %}
                                {% else %}
                                    <span class="hover-detail" data-toggle="tooltip" title="{{ alias_summary.source }}">{{ alias_summary.other_symbol }}</span>
                                {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if show_annotation %}
            {% if gene_summary %}
                <div class="card">
                    <div class="card-header">Summary</div>
                    <div class="card-body">
                        {{ gene_summary }}
                    </div>
                </div>
            {% endif %}

            {% if hgnc %}
                <div class="card">
                    <div class="card-header">HGNC</div>
                    <div class="card-body">
                        {% labelled label="Approved Name" %}{{ hgnc.approved_name }}{% endlabelled %}
                        {% labelled label="HGNC ID" %}<a href="{{ hgnc.url }}">HGNC:{{ hgnc.pk }}</a> ({{ hgnc.get_status_display }}){% endlabelled %}
                        {% labelled label="Location" %}{{ hgnc.location }}{% endlabelled %}
                        {% labelled label="Gene Groups" %}
                            {{ hgnc.gene_groups }}
                            {% if hgnc.gene_group_id_list %}
                                ({% for gene_group_id in hgnc.gene_group_id_list %}<a href="https://www.genenames.org/data/genegroup/#!/group/{{ gene_group_id }}">{{ gene_group_id }}</a>{% endfor %})
                            {% endif %}
                        {% endlabelled %}

                        <a data-toggle="collapse" href="#more-hgnc">More HGNC...</a>
                        <div id="more-hgnc" class="collapse">
                            {% if hgnc.ccds_list %}
                                {% labelled label="CCDS" %}
                                    {% for ccds_id in hgnc.ccds_list %}
                                        <a href="https://www.ncbi.nlm.nih.gov/projects/CCDS/CcdsBrowse.cgi?REQUEST=ALLFIELDS&DATA={{ ccds_id }}">{{ ccds_id }}</a>
                                    {% endfor %}
                                {% endlabelled %}
                            {% endif %}
                            {% if hgnc.mgd_list %}
                                {% labelled label="Mouse" %}
                                    {% for mgd_id in hgnc.mgd_list %}
                                        <a href="http://www.informatics.jax.org/marker/{{ mgd_id }}">{{ mgd_id }}</a>
                                    {% endfor %}
                                {% endlabelled %}
                            {% endif %}
                            {% if hgnc.rgd_list %}
                                {% labelled label="Rat" %}
                                    {% for rgd_id in hgnc.rgd_list %}
                                        <a href="http://rgd.mcw.edu/rgdweb/report/gene/main.html?id={{ rgd_id }}">{{ rgd_id }}</a>
                                    {% endfor %}
                                {% endlabelled %}
                            {% endif %}
                            {% if hgnc.ucsc_list %}
                                {% labelled label="UCSC" %}
                                    {% for ucsc_id in hgnc.ucsc_list %}
                                        <a href="http://genome.cse.ucsc.edu/cgi-bin/hgGene?org=Human&hgg_chrom=none&hgg_type=knownGene&hgg_gene={{ ucsc_id }}">{{ ucsc_id }}</a>
                                    {% endfor %}
                                {% endlabelled %}
                            {% endif %}

                            {% labelled label="Retrieved from HGNC" %}
                                {{ hgnc.hgnc_import.modified | localtime }} ({{ hgnc.hgnc_import.modified | timesince }} ago)
                            {% endlabelled %}
                        </div>
                    </div>
                </div>

                {% if hgnc.uniprot_list %}
                    <div class="card">
                        <div class="card-header">UniProt</div>
                        <div class="card-body">
                            {% labelled label="UniProt IDs" %}
                                {% for uniprot_id in hgnc.uniprot_list %}
                                    <a href="https://www.uniprot.org/uniprot/{{ uniprot_id }}" target="_blank">{{ uniprot_id }}</a>
                                {% endfor %}
                            {% endlabelled %}
                            <a data-toggle="collapse" href="#more-uniprot">More UniProt...</a>
                            <div id="more-uniprot" class="collapse">
                            {% for uniprot in hgnc.uniprot_list %}
                                <h4>{{ accession }}</h4>
                                {% labelled label="Function" %}{{ uniprot.function }}{% endlabelled %}
                                {% labelled label="Pathway" %}{{ uniprot.pathway }}{% endlabelled %}
                                {% labelled label="Pathway Interaction DB" %}{{ uniprot.pathway_interaction_db }}{% endlabelled %}
                                {% labelled label="Reactome" %}{{ uniprot.reactome }}{% endlabelled %}
                                {% labelled label="Tissue Specificity" %}{{ uniprot.tissue_specificity }}{% endlabelled %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% gene_disease gene_symbol %}

            {% gnomad_gene_constraint gene_symbol %}

            {% for server in panel_app_servers %}
                {% panel_app_gene_evidence server gene_symbol %}
            {% endfor %}

            {% if omim_and_hpo_for_gene %}
                <h4>OMIM and Human Phenotype Ontology</h4>

                <table class="table">
                    <thead>
                    <tr><th>OMIM</th><th>Name</th><th>HPOs</th>
                    </thead>
                    <tbody>
                    {% for omim, hpo_list in omim_and_hpo_for_gene %}
                        <tr><td><a class="hover-link" href="{{ omim.url }}">{{ omim.id }}</a>
                            <td>{{ omim.name }}
                            <td>
                            {% if hpo_list %}
                                {% for hpo in hpo_list %}
                                    <a class="hover-link" href="{{ hpo.url }}">{{ hpo.id }} {{ hpo.name }}</a>&#160;
                                {% endfor %}
                            {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if citations %}
                {% load citation_tags %}
                {% retrieve_cached_citations citations %}
            {% endif %}
        {% endif %}

        {% if show_wiki %}
            <h4>Wiki</h4>

            {% wiki_editor gene_symbol.genesymbolwiki class_name='genes.models.GeneSymbolWiki' unique_keyword='gene_symbol_id' unique_value=gene_symbol.pk %}
        {% endif %}
    </div>
    <div class="{% if classifications_new_grouping %}container{% else %}container-table{% endif %} mt-4">
        <h4>Variant Classifications</h4>
        <p>Filtering on gene symbols : <span class="text-monospace">{% for symbol in gene_symbol.alias_meta.alias_symbol_strs %}{% if not forloop.first %}, {% endif %}{{ symbol }}{% endfor %}</span> and associated alleles and transcripts.</p>

        <script>
        function classificationFilter(data, type) {
            data.gene_symbol = "{{ gene_symbol }}";
            Object.assign(data, geneClassificationsGridParams);
        }

        function clearGeneClassificationsGrid() {
            geneClassificationsGridParams = {};
            {% if not classifications_new_grouping %}$('#vc-datatable').DataTable().ajax.reload();{% endif %}
            $("#gene-classifications-grid-filtering-message").empty().parent().hide();
        }

        </script>

        {% if show_classifications_hotspot_graph %}
            <div id='classifications-hotspot-graph-container'></div>
        {% endif %}

        {% if classifications_new_grouping %}
            <div data-toggle="ajax" href="{% url 'view_gene_symbol_classifications' gene_symbol.symbol genome_build.name %}">Loading...</div>
        {% endif %}

        <span class="hidden">
            <span class="filter-message" id="gene-classifications-grid-filtering-message"></span>
            <a class='hover-link' href="javascript:clearGeneClassificationsGrid()">Show all...</a>
        </span>
        {% if not classifications_new_grouping %}
            {% datatable datatable_config 'vc-datatable' class_name='classification-table' %}
        {% endif %}
    </div>
    <div class="container">
        {% if show_annotation %}
            <h3>Variants</h3>

            {% if show_hotspot_graph %}
                <div id='hotspot-graph-container'></div>
            {% endif %}

            {% if has_variants %}
                <a class='hover-link' id='show-filter-link' href="javascript:showFilter()">Filter grid...</a>
                <span class="hidden">
                    <span class="filter-message" id="gene-variants-grid-filtering-message"></span>
                    <a class='hover-link' href="javascript:clearGeneVariantsGrid()">Show all...</a>
                </span>
        		<table id="grid"></table>
        		<div id="pager"></div>
                <script>
                    function geneVariantsGridComplete() {
                        const searchToolBox = $("#searchmodfbox_gene-variants-grid");
                        searchToolBox.width(650); // make space for data entry
                        if (!gridFilterVisible) {
                            searchToolBox.hide();
                        }
                    }

                    function getGeneVariantsGridExtraFilters() {
                        return JSON.stringify(geneVariantsGridParams);
                    }

                    function clearGeneVariantsGrid() {
                        geneVariantsGridParams = {};
                        $("#gene-variants-grid").trigger("reloadGrid");
                        $("#gene-variants-grid-filtering-message").empty().parent().hide();
                    }

                    function geneVariantsGridInitFunc(grid, pagerId) {
                        grid[0].p.postData["extra_filters"] = getGeneVariantsGridExtraFilters;
                    }

                    function tagClick(tagId) {
                        geneVariantsGridParams = {"tag" : tagId};
                        $("#gene-variants-grid").trigger("reloadGrid");
                    }
                </script>
                {% tag_counts_filter genome_build=genome_build gene_symbol=gene_symbol click_func='tagClick' show_all_func='clearGeneVariantsGrid' %}
                {% jqgrid 'gene_symbol_variants_grid' 'gene-variants' template_name='jqgrid/variant_details_link_grid.html' delete=False download_grid_json_as_csv=True gene_symbol=gene_symbol.pk genome_build_name=genome_build.name init_func='geneVariantsGridInitFunc' grid_complete='geneVariantsGridComplete' %}
            {% else %}
                There are no variants for this gene.
            {% endif %}
        {% endif %}

        {% if gene_in_gene_lists %}
            <h3>Gene Lists containing {{ gene_symbol }}</h3>
            {% jqgrid 'gene_lists_for_gene_symbol_grid' category.name search=False delete=False gene_symbol=gene_symbol.pk %}
        {% endif %}

        <div id='qc-gene-coverage-graph-container'></div>
	</div>

{% endblock content %}