# NCBI Perl script
scripts/remap_api.pl linguist-vendored
# VEP plugin
annotation/annotation_data/generate_annotation/Grantham.pm linguist-vendored

# Javascript libraries
variantgrid/static_files/**/js/lib/** linguist-vendored
