*.py[cod]
*.o
vcf_reader
*~
data/*
/.settings/
### Django ###
__pycache__/
media_root/*

LabNameLocations.csv
/jshintrc
dump.rdb
watcherTasks.xml
/sapath
lint.txt
/.idea/csv-plugin.xml
/bin/
/pyvenv.cfg
/variantgrid/static_files/default_static/django_js_reverse/reverse.js
**/.sass-cache/
/source_id_migration.log
csv-editor.xml

#ignore developers env settings
/variantgrid/settings/env_developers/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
cover/