beautifulsoup4
bgzip
Bio
celery
ConfigArgParse
coreapi
cyvcf2>=0.30.14
Django
django_admin_json_editor
django_autocomplete_light==3.9.0rc5
django-cache-memoize
django-compressor
django-dag
django-datetime-utc
django_debug_toolbar
django_extensions
django-geojson
django_glrm
django_guardian
django_htmlmin
django-leaflet
django_model_utils
django-redis-cache
django-registration-redux
djangorestframework
django_starfield
django_termsandconditions
git+https://github.com/davmlaw/django-json-widget#egg=django_json_widget
git+https://github.com/davmlaw/django-avatar#egg=django-avatar
git+https://github.com/SmileyChris/easy-thumbnails.git@92060b9fd7b617cab1ac88d149dc5021d43b35c3#egg=easy-thumbnails
git+https://github.com/azavea/django-amazon-ses@a9dd749575cfaa6e1fc7c289b535cba9798b8018#egg=django-amazon-ses
git+https://github.com/jazzband/django-downloadview#egg=django_downloadview
git+https://github.com/davmlaw/django-jfu#egg=django-jfu
git+https://github.com/ierror/django-js-reverse#egg=django-js-reverse
git+https://github.com/davmlaw/django-messages/#egg=django-messages
git+https://github.com/davmlaw/django-recaptcha#egg=django-recaptcha
git+https://github.com/SACGF/hgvs#egg=pyhgvs
HTSeq
ijson
kombu
lazy
lxml
Markdown
matplotlib
mozilla_django_oidc
nameparser
networkx
nltk
numpy
oauthlib
pandas
pronto
psycopg2
PyPDF2
pysam
python_dateutil
python_Levenshtein
pytz
PyVCF
redis
reportlab
requests
requests_oauthlib
rollbar
scipy
sqlparse
toposort
Unidecode
# below are only required for environments directly integrating with s3
# separate to django-amazon-ses
boto3
django-storages
django-crispy-forms
django-threadlocals
