beautifulsoup4
bgzip
Bio
celery
ConfigArgParse
coreapi
cyvcf2
Django
django_admin_json_editor
django_autocomplete_light
django-avatar
django-compressor
django_debug_toolbar
django_downloadview
django_extensions
django-geojson
django_glrm
django_guardian
django_htmlmin
django-js-reverse
django-leaflet
django_model_utils
django-redis-cache
django-registration-redux
djangorestframework
django_starfield
django_termsandconditions
easy_thumbnails
git+https://github.com/azavea/django-amazon-ses@a9dd749575cfaa6e1fc7c289b535cba9798b8018#egg=django-amazon-ses
git+https://github.com/davmlaw/django-dag#egg=django-dag
git+https://github.com/davmlaw/django-datetime-utc#egg=django-datetime-utc
git+https://github.com/davmlaw/django-jfu#egg=django-jfu
git+https://github.com/davmlaw/django-messages/#egg=django-messages
git+https://github.com/SACGF/hgvs#egg=pyhgvs
HTSeq
ijson
kombu
lazy
lxml
Markdown
matplotlib
mozilla_django_oidc
nameparser
networkx
nltk
numpy
oauthlib
pandas
pronto
psycopg2
PyPDF2
pysam
python_dateutil
python_Levenshtein
pytz
PyVCF
redis
reportlab
requests
requests_oauthlib
rollbar
scipy
sqlparse
toposort
Unidecode
boto3
django-storages
django-crispy-forms
