stream-zip
more-itertools
beautifulsoup4
bgzip
Bio
cdot
celery
ConfigArgParse
coreapi
cyvcf2>=0.30.14
Django
django-amazon-ses
django_autocomplete_light
django-avatar
django_cache_memoize
django-compressor
django_crispy_forms
django_dag
django_datetime_utc
django_debug_toolbar
django_downloadview
django-extensions
django-geojson
django_glrm
django-guardian
django_htmlmin
django-leaflet
django_model_utils
django-postgres-extra
django_recaptcha
django-registration-redux
django-rest-framework
django_termsandconditions
easy_thumbnails
fontawesomefree==5.15.4
git+https://github.com/davmlaw/django-json-widget#egg=django_json_widget
git+https://github.com/davmlaw/django-jfu#egg=django-jfu
git+https://github.com/davmlaw/django-messages/#egg=django-messages
git+https://github.com/davmlaw/django-starfield#egg=django_starfield
git+https://github.com/davmlaw/django-js-reverse#egg=django-js-reverse
git+https://github.com/SACGF/hgvs#egg=pyhgvs
HTSeq
ijson
kombu
lazy
Markdown
matplotlib
more_itertools
mozilla_django_oidc
nameparser
networkx
nltk
numpy
oauthlib
pandas
pronto>=2.4.7
psycopg2
PyPDF2
pysam
python_dateutil
python_Levenshtein
pyvcf3
redis
reportlab
requests
requests_oauthlib
rollbar
scipy
sqlparse
toposort
Unidecode
# below are only required for environments directly integrating with s3
# separate to django-amazon-ses
boto3
django-storages
django_threadlocals