.bg-theme {
  background-color: rgb(5, 79, 148) !important;
}
.bg-theme {
    color: white !important;
    & * {
      color: #ddd !important;
      border-color: #ccc !important;
    }
    .fas {
      color: #ccc !important;
    }
    input {
        color: #444 !important;
    }
}
nav.navbar a.nav-link {
    color: #ddd !important;
    &:hover {
        color: #fff !important;
    }
    &.active {
        color: #eee !important;
    }
}
.nav-side-bar a.nav-link {
    color: #444 !important;
    &:hover {
        color: #000 !important;
    }
    &.active {
        color: #222 !important;
    }
}

.navbar-brand {
    background-image: url("/static/images/AGHA WHITE REVERSED LOGO 3L stacked-01.png");
}

// used by 50x.html
#site-name::after {
    content: "Shariant"
}