.bg-theme {
  background-color: rgb(27, 117, 188) !important;
}
.bg-theme {
    color: white !important;
    & * {
      color: #ddd !important;
      border-color: #ccc !important;
    }
    .fas {
      color: #ccc !important;
    }
    input {
        color: #444 !important;
    }
}
.login-bg-theme {
    background-color: rgb(27, 117, 188);
    color: #ddd;
    .jumbotron {
        color: #444;
        font-size: 16px;
        background-color: #f2f2f2
    }
}

nav.navbar a.nav-link {
    color: #ddd !important;
    &:hover {
        color: #fff !important;
    }
    &.active {
        color: #eee !important;
    }
}
.nav-side-bar a.nav-link {
    color: #444 !important;
    &:hover {
        color: #000 !important;
    }
    &.active {
        color: #222 !important;
    }
}

.navbar-brand {
    background-position-x: 28px;
    background-image: url("/static/images/Australian Genomics logo_white transp.png");
    margin-right: 0;
}

// used by 50x.html
#site-name::after {
    content: "Shariant"
}