.bg-theme {
  background-color: rgb(27, 117, 188) !important;
}
.bg-theme {
    color: white !important;
    & * {
      color: #ddd !important;
      border-color: #ccc !important;
    }
    .fas {
      color: #ccc !important;
    }
    input {
        color: #444 !important;
    }
}
body.login-bg-theme {
    overflow-y: initial;
}
.login-bg-theme {
    background-color: #DEF4FD;
    .main-container {
        margin-top: calc(70px + 10vh);
        margin-bottom: 70px;
    }
    .header, .footer {
        background-color: rgb(27, 117, 188);
        min-height: 60px;
    }
    .footer {
        border-top: 1px solid white;
        a.external-link {
            font-weight: 500;
            color: #bbbbff;
        }
    }
    color: #ddd;
    .jumbo-box {
        color: #444;
        font-size: 16px;
        background-color: #DEF4FD;
    }
}

@media screen and (min-width: 0) and (max-width: 991px) {
    .login-bg-theme .main-container {
        margin-top: 70px;
    }
    .login-bg-theme .poster {
        text-align: center;
    }
}

nav.navbar a.nav-link {
    color: #ddd !important;
    &:hover {
        color: #fff !important;
    }
    &.active {
        color: #eee !important;
    }
}
.nav-side-bar a.nav-link {
    color: #444 !important;
    &:hover {
        color: #000 !important;
    }
    &.active {
        color: #222 !important;
    }
}

.navbar-brand {
    background-position-x: 28px;
    background-image: url("/static/images/Australian Genomics logo_white transp.png");
    margin-right: 0;
}

// used by 50x.html
#site-name::after {
    content: "Shariant"
}