{% extends "jqgrid/jqgrid.html" %}
{% load settings_tags %}

{% block formatter %}
    'detailsLink' : detailsLink,
    'tagsFormatter' : tagsFormatter,
    'tagsGlobalFormatter' : tagsGlobalFormatter,
    'clinvarLink' : clinvarLink,
    'cosmicLink' : cosmicLink,
    'omimLink' : omimLink,
    'formatClinGenAlleleId': formatClinGenAlleleId,
    'formatDBSNP': formatDBSNP,
    'formatOntologyTerms': formatOntologyTerms,
    'formatPubMed': formatPubMed,
    'geneSymbolLink' : geneSymbolLink,
    'geneSymbolNewWindowLink' : geneSymbolNewWindowLink,
    'gnomadFilteredFormatter' : gnomadFilteredFormatter,
    'unitAsPercentFormatter' : unitAsPercentFormatter,
    'geneSymbolNewWindowLink' : geneSymbolNewWindowLink,
    'formatVariantTagFirstColumn': formatVariantTagFirstColumn,
{% endblock %}