{% extends 'admin/change_form.html' %}
{% load static %}
{% block object-tools %}
    <style>
        .admin-action-form button {
            display: inline-block;
            padding: 6px 16px;
            background: #888;
            color: white;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.5px;
            border-radius: 12px;
            border: none;
            text-transform: uppercase;
        }
        .admin-action-form button:hover {
            cursor: pointer;
            background: #777;
        }
        .admin-action-form + .admin-action-form {
            margin-top: 12px;
        }
    </style>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% if actions %}
        <div>
            {% for action in actions %}
                <form action="../single_action/" method="POST" class="admin-action-form">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{{ action.id }}" />
                    <button type="submit">{{ action.label }}</button>
                </form>
            {% endfor %}
        </div>
    {% endif %}
    <br />
    {{ block.super }}
{% endblock %}