[Unit]
Description=VG Scheduling Single worker
After=network.target

[Service]
Type=forking
User=variantgrid
ExecStartPre=/bin/mkdir -p /var/log/variantgrid
Restart=always
EnvironmentFile=/opt/variantgrid/config/celery/celeryd_scheduling_single_worker.env
WorkingDirectory=/opt/variantgrid
ExecStart=/bin/sh -c '${CELERY_BIN} multi start ${CELERYD_NODES} \
  -A ${CELERY_APP} --pidfile=${CELERYD_PID_FILE} \
  --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} ${CELERYD_OPTS}'
ExecStop=/bin/sh -c '${CELERY_BIN} multi stopwait ${CELERYD_NODES} \
  --pidfile=${CELERYD_PID_FILE}'
ExecReload=/bin/sh -c '${CELERY_BIN} multi restart ${CELERYD_NODES} \
  -A ${CELERY_APP} --pidfile=${CELERYD_PID_FILE} \
  --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} ${CELERYD_OPTS}'
RuntimeDirectory=celeryd_scheduling_single_worker
RuntimeDirectoryMode=0750

[Install]
WantedBy=multi-user.target


