{% extends menu_classifications_base %}
{% load static %}
{% load variant_transcript_select_tags %}
{% load ui_help %}
{% load ui_utils %}
{% load js_tags %}
{% load classification_tags %}

{% block title %}Variant Classification{% endblock %}
{% block head %}
<style type="text/css">
    .pill {
        display: inline-block;
        padding: 2px 6px 2px 6px;
        border-radius: 4px;
        border: 1px solid lightgrey;
        margin-right: 6px;
        min-width: 150px;
        text-align: center;
        opacity: 0.8;
    }
    .pair img {
        margin-top: -6px;
    }
    .pill-copy-from-latest {
        background-color: #ccffcc;
    }
    .pill-sample, .pill-speciman {
        background-color: #eeeeff;
    }
</style>
<script>
    function transcriptFunc(transcriptId, data) {
        var TRANSCRIPTS_TYPES = ["refseq_transcript_accession", "ensembl_transcript_accession"];
        for (var i=0 ; i < TRANSCRIPTS_TYPES.length ; ++i) {
            var transcriptType = TRANSCRIPTS_TYPES[i];
            var inputSelector = "input[name=" + transcriptType + "]";
            var selector = $(inputSelector, ".classification-form");
            var transcriptId = "";
            if (data) {
                transcriptId = data[transcriptType] || "";
            }
            selector.val(transcriptId);
        }
        refreshAutoPopulate();
    }

    function allowNoSample() {
        clearAutocompleteChoice("#id_sample");
        $("span#zygosity").empty();
        $("#no-sample-link").hide();
        $("#no-sample-text").show();
        $("button#create-variant-classification").button('enable');
    }

    pendingRefreshAutoPopulate = false;
    currentlyRefreshingAutoPopulate = false;

    function refreshAutoPopulate() {
        if (currentlyRefreshingAutoPopulate) {
            pendingRefreshAutoPopulate = true;
        }

        let url = "{% url 'variant_classification_auto_populate_api' %}";
        let patchDom = $('#auto-populate').LoadingOverlay('show');

        let data = {
            'variant_id': $('#variant_id').val(),
            'sample_id': $('#sample_id').val(),
            'genome_build_name': $('#genome_build_name').val(),
            'refseq_transcript_accession': $('#refseq_transcript_accession').val(),
            'ensembl_transcript_accession': $('#ensembl_transcript_accession').val(),
            'copy_from_vcm_id': $('#copy_from_vcm_id').is(':checked') ? 'true' : null
        };
        if ($('#copy_from_vcm_id').is(':checked')) {
            data.copy_from_vcm_id = $('#copy_from_vcm_id').val();
        }
        $.ajax({
            type: "GET",
            url: url,
            data: data,
            success: function(data) {
                currentlyRefreshingAutoPopulate = false;
                if (pendingRefreshAutoPopulate) {
                    refreshAutoPopulate();
                } else {
                    values = data.data;
                    console.log(values);
                    EKeys.load().then(eKeys => {
                        let patchDom = $('#auto-populate').LoadingOverlay('hide').empty();
                        console.log(patchDom);
                        for (let entry of values) {
                            let {key, blob, source} = entry;
                            let eKey = eKeys.key(key);
                            let {value, note} = blob;
                            let sourcePill = $('<span>', {class:`pill pill-${source.replace(/ /g,'-')}`, text:source});
                            if (value) {
                                $('<div>', {class:'form-group row mb-4 mb-md-3', html: [
                                    $('<div>', {class:'col-12 col-md-3 text-md-right align-self-center', html:
                                        $('<label>', {text: eKey.label})
                                    }),
                                    $('<div>', {class: 'col-12 col-md-9', html: [
                                        sourcePill,
                                        eKey.formatValue( value, $('<span>') )
                                    ]})
                                ]}).appendTo(patchDom);
                                sourcePill = null;
                            }
                            if (note) {
                                $('<div>', {class:'form-group row mb-4 mb-md-3', html: [
                                    $('<div>', {class:'col-12 col-md-3 text-md-right align-self-center', html:
                                        $('<label>', {text: eKey.label + ' note'})
                                    }),
                                    $('<div>', {class: 'col-12 col-md-9', html: [
                                        sourcePill,
                                        $('<span>', {text: note})
                                    ]})
                                ]}).appendTo(patchDom);
                            }
                        }
                    });
                }
            },
            error: function(data) {
                currentlyRefreshingAutoPopulate = false;
                console.log(data);
            }
        });
    }

    $(document).ready(() => {
        const VARIANT_ID = {{ variant.pk }};
        var createClassificationButton = $("button#create-variant-classification");
        createClassificationButton.button();

        function restrictSamples() {
        {% if initially_require_sample %}
            createClassificationButton.button('disable');
            $("#no-sample-link").show();
        {% endif %}
        }

        restrictSamples();

        var sampleForm = $("#{{ variant_sample_autocomplete_form.sample.auto_id }}");
        sampleForm.change(function() {
            restrictSamples();
            var sampleId = $(this).val();

            $("input[name=sample_id]", ".classification-form").val(sampleId);
            var zygositySpan = $("span#zygosity");
            zygositySpan.empty()

            if (!sampleId) return;

            $.ajax({
                type: "GET",
                url: Urls.variant_zygosity_for_sample(sampleId, VARIANT_ID),
                success: function(data) {
                    MISSING = '.';
                    var zygosity_html;
                    if (data.zygosity == MISSING) {
                        zygosity_html = "This sample does not contain the variant.";
                    } else {
                        zygosity_html = "<b>Zygosity:</b>" + data.zygosity;
                        createClassificationButton.button('enable');
                    }
                    zygositySpan.html(zygosity_html);
                },
                error: function(data) {
                    zygositySpan.html("Error retrieving zygosity!");
                },
            });
        });
        $('.auto-pop-field').change(function() {
            refreshAutoPopulate();
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="chunk borderless">
    <h3>Create Classification for {{ variant }}</h3>

    <a class="hover-link my-2" href="{% url 'view_variant' variant.pk %}">Back to variant page for {{ variant }}.</a>
    {% page_help 'variantclassification/create_classification_for_variant_help' 'Transcript Choice' %}

    <form action="{% url 'create_variant_classification' %}" class="classification-form" method="POST">
        {% csrf_token %}
        <input type='hidden' class='auto-pop-field' id='variant_id' name="variant_id" value="{{ variant.pk }}" />
        <input type='hidden' class='auto-pop-field' id='genome_build_name' name="genome_build_name" value="{{ variant.genome_build.pk }}" />
        <input type='hidden' class='auto-pop-field' id='refseq_transcript_accession' name="refseq_transcript_accession" />
        <input type='hidden' class='auto-pop-field' id='ensembl_transcript_accession' name="ensembl_transcript_accession" />
        <input type='hidden' class='auto-pop-field' id='sample_id' name="sample_id" />

        <div class="card">

            <div class="card-header">Choose Transcript</div>
            <div class="card-body">
                <div class='value select-transcript-container'>
                {% variant_transcript_select transcript_select_jquery='#select-transcript-container' vts=vts transcript_func='transcriptFunc' empty_transcript_option="None/other transcript (set in classification form)" %}
                </div>

                {% labelled label="Sample" %}
                    <div class='value'>
                    {{ variant_sample_autocomplete_form.sample }} <span id='zygosity'></span>
                    {{ variant_sample_autocomplete_form.media }}
                    <div id='no-sample-link' class='hidden'>
                        <a href="javascript:allowNoSample()">My sample isn't here</a>
                    </div>
                    <div id='no-sample-text' class='hidden'>
                        <p>Please find or upload the sample if you have it, as it allows us to link classifications together, and auto-fill fields.
                        <p>Please remember to set the SampleID field in the classification form manually.
                    </div>
                    </div>
                {% endlabelled %}

                {% labelled label="For lab" %}
                    {% if lab %}{{ lab.name }}{% endif %}
                    {% if lab_error %}
                    <div class='alert alert-danger'>{{ lab_error }}<br/><a href="{% url 'view_user_settings' %}">Please review your default lab here.</a></div>
                    {% endif %}
                {% endlabelled %}
                {% if lab_error %}
                    <br/>
                    <div>Please fix all errors before creating a classification.</div>
                {% endif %}

                {% if consensus.is_valid %}
                    {% labelled label="Latest classification for allele" %}
                        {% classification_quick consensus.vcm %}
                    {% endlabelled %}
                    {% labelled label="" value_css="form-check" %}
                        <label data-toggle="tooltip" id="copy_consensus_label" class="help-label form-check-label" title="Copies certain values from the latest classifications for the allele.<br/>All summary statements and applied ACMG criteria are retained, but should be carefully reviewed before use in new classification.">
                            <input class='auto-pop-field mr-2' type="checkbox" name="copy_from_vcm_id" id="copy_from_vcm_id" value="{{ consensus.vcm.id }}" checked />
                        Copy values from latest classification
                        </label>
                    {% endlabelled %}
                {% endif %}
            </div>
        </div>

        {% page_help page_id='variantclassification/auto_populate_help' title='Auto-populated Data' %}

         <p>
            Based on your selection above, the Variant Classification form will be auto-populated with the contents below.<br/>
            Please review and then click "Create Classification".
         </p>
         <div class="card">
             <div class="card-header">Auto Populate Data</div>
             <div class="card-body" id="auto-populate">
                 <label>Loading</label>
                 <span>...</span>
             </div>
        </div>

        {% if not lab_error %}
            <button class="btn btn-primary mt-2" id='create-variant-classification'>Create Classification</button>
        {% endif %}
    </form>
</div>
{% endblock %}