{# Analysis can be turned off in that case URLs won't resolve so just skip #}
{% if url_name_visible.analysis and url_name_visible.trio_wizard %}
    {% load static %}
    {% if sample_count >= 3 %}
    <style>
    #create-trio-button {
        float: left;
    }
    
    .trio-button-component {
        float: left;
    }
    </style>
    <script>
    function getTrioUrl(requireChecked) {
       var sampleIdList = [];
        $(".sample-select").each(function() {
            if (!requireChecked || $(this).is(":checked")) {
                var sampleId = $(this).attr("sample_id");
                sampleIdList.push(sampleId);
            }
        });

        let COHORT_ID = {{ cohort.pk }};
        return Urls.trio_wizard(COHORT_ID, sampleIdList[0], sampleIdList[1], sampleIdList[2]);
    }
    
    function trioClick() {
        window.location = getTrioUrl(true);
    }
    
    function setupTrioButton() {
        var numSelectedSamples = $("input.sample-select:checked").length;
        $("#num-selected-samples").html(numSelectedSamples);
        
        var buttonEnabled = numSelectedSamples == 3;
        $("#create-trio-button").button( "option", "disabled", !buttonEnabled );
    }
    
    function initTrio() {
        $("#create-trio-button").button({disabled: true}).click(trioClick);
        $(".sample-select").change(setupTrioButton);
        setupTrioButton();
    }
    
    $(document).ready(function() {
    {% if sample_count == 3 %}
        var allSamplesUrl = getTrioUrl(false);
        $("#create-trio-button").click(function() {
            window.location = allSamplesUrl;
        });
    {% else %}
        initTrio();
    
    {% endif %}    
        
    });
    </script>
    <button id='create-trio-button' class="btn btn-outline-primary">
      <img id="trio-icon" class="trio-button-component" src="{% static 'images/node_icons/trio.png' %}" width="28" height="28" />
      <div class='trio-button-component'> Perform trio analysis using template</div>
    </button>
    {% if sample_count > 3 %}
        <span>&gt;3 samples to choose from - select exactly 3 using checkboxes on the left to create Trio. <span id='num-selected-samples'></span> samples selected. </span>
    {% endif %}
    <div class='clear'></div>
    {% endif %}
{% endif %}



