{%  if other_genome_builds_exist %}
<div id="genome-build-toggle">
    <script>
    $(document).ready(function() {
       $("input[type=radio]", "#genome-build-toggle").click(function() {
           let genomeBuildName = $(this).attr("genome_build");
           console.log(genomeBuildName);
           window.location = Urls.{{ url_name }}(genomeBuildName);
       });
    });
    </script>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {% for gb in builds_with_annotation %}
            {% if gb == genome_build %}
                <label class="btn btn-outline-secondary active"><input type="radio" genome_build="{{ gb.name }}" checked="checked">{{ gb.name }}</label>
            {% else %}
                <label class="btn btn-outline-secondary"><input type="radio" genome_build="{{ gb.name }}">{{ gb.name }}</label>
            {% endif %}
        {% endfor %}
    </div>
</div>
{%  endif %}
