{%  if other_genome_builds_exist %}
    <style>
    ul.horizontal {
        list-style-type: none;
    }

    ul.horizontal li {
        margin: 5px;
        float: left;
    }

    .genome-build-{{  genome_build.name }} {
        font-weight: bold;
    }
    </style>
    <div>
    <ul class="horizontal">
        <li><b>GenomeBuild:</b></li>
    {% for gb in builds_with_annotation %}
        <li class="genome-build-{{ gb.name }}">
            <a href="{% url url_name gb.name %}">{{ gb }}</a>
        </li>
    {%  endfor %}
    </ul>
    <div class="clear"></div>
</div>
{%  endif %}
