{% load ui_utils %}
{% if data.has_multi_labs %}
    {% labelled label="For Lab" %}
        <div class="form">
            <select id="lab-picker" class="chosen-select">
                {% if data.multi_select %}<option value="0">All {% if data.has_external %}Internal{% endif %} Assigned Labs</option>{% endif %}
                {% for org_group in data.org_lab_groups %}
                    <optgroup label="{% if org_group.external %}EXTERNAL {% endif %}{{ org_group.org }}">
                        {% if org_group.is_multi_lab and data.multi_select %}
                            <option value="org-{{ org_group.org.pk }}" {% if org_group.org == data.selected_org %}selected{% endif %}>
                                - All ({{ org_group.labs|length }}) {{ org_group.org }} Labs -
                            </option>
                        {% endif %}
                        {% for lab in org_group.labs %}
                            <option value="{{ lab.pk }}" {% if lab == data.selected_lab %}selected{% endif %}>
                                {{ lab.name }}
                            </option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        <script>
            $('#lab-picker').chosen({width:'400px'}).change((change) => {
                let val = $(change.target).val();
                let url = Urls.{{ data.view_name | safe }}(val);
                window.open(url, '_self');
            });
        </script>
    {% endlabelled %}
{% endif %}