{% load js_tags %}
{% load static %}
<style>
#version-comparison {
    width: 100%;
}

#select-messages {
    display: none;
}

.legend-color-box {
    float: left;
    width: 20px;
    height: 20px;
}

.legend-text {
    float : left;
    font-weight: bold;
    margin-right: 20px;
}

</style>
{% json_data "model-fields-version-diff-data" model_dicts_by_version=model_dicts_by_version versions=versions %}
<script src="{% static 'js/snpdb/model_fields_version_diff.js' %}"></script>

<div>
    <div class='legend-color-box addition'></div> <div class="legend-text"> Addition.</div>
    <div class='legend-color-box deletion'></div> <div class="legend-text"> Deletion.</div>
    <div class='legend-color-box modification'></div> <div class="legend-text"> Modification.</div>
    <div class='clear'></div>
</div>


<table id='version-comparison'>
    <tr><td><th id='a-version-header'>
            <th id='b-version-header'>
</table>
<div id="select-messages">
</div>
