{% extends "snpdb/tags/related_data.html" %}
{% load model_tags %}
{% load ui_utils %}
{% block related_data %}
{{ block.super }}

    {% if sub_cohorts %}
        <h3>Sub cohorts</h3>
        {% for sub_cohort in sub_cohorts %}
            <div>
                {% preview_icon sub_cohort %}
                <a href="{{ sub_cohort.get_absolute_url }}">{{ sub_cohort }}</a>
            </div>
        {% endfor %}
    {% endif %}

    {% if trios %}
    <div id='related-trios'>
        <h3>Trios</h3>
        {% for trio in trios %}
            <div>
                {% preview_icon trio %}
                <a href="{% url 'view_trio' trio.pk %}">{{ trio }}</a> - {% trio_short_description trio %}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if pedigrees %}
    <div id='related-pedigrees'>
        <h3>Pedigrees</h3>
        {% for pedigree in pedigrees %}
            <div>
                {% preview_icon pedigree %}
                <a href="{% url 'view_pedigree' pedigree.pk %}">{{ pedigree }}</a>
            </div>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
