{% load ui_help %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load js_tags %}

{% if override_source %}
    {% page_help_embedded page_id='settings/user_settings_help' title='Settings' help_url='https://variantgrid.readthedocs.io/en/latest/settings/user_settings.html#user-settings' %}
        {% if form.fields.columns %}
            <p>
                <b>Columns, Node Counts and Sample Label template:</b>
                These are used to set initial analysis settings when created - they can be changed in the analysis and do not affect existing analyses.
            </p>
        {% endif %}
    {% end_page_help_embedded %}
    <p class="text-info">
        Default values are searched for in the following until a value is found: Lab, Organisation then Global.<br>
        Leave "{{ override_level }} override" blank to accept the default value, or override it with your own value.
    </p>
    <div class="form-group row">
        <div class="col-3"></div>
        <div class="col-4 override-header override-value"><span class="field-label">Default Value</span></div>
        <div class="col-5 override-header"><span class="field-label">{{ override_level }} Override</span></div>
    </div>
{% endif %}

{% for field in form %}
    <div class="form-group row user-overrides" style="align-items: center">
        {{ field.errors }}
        <div class="col-12 col-md-3 text-left text-md-right mt-2 mt-md-0{% if field.help_text %} hover-detail{% endif %}"{% if field.help_text %} data-help="{{ field.help_text|safe }}"{% endif %}>
            {% comment %}Multi-widgets (eg checkbox groups) have no id to point a label at{% endcomment %}
            {% if field.id_for_label %}{{ field.label_tag }}{% else %}<span class="field-label">{{ field.label }}{{ form.label_suffix }}</span>{% endif %}
        </div>


        <div class="col-6 col-md-4">
        {% if override_source %}
            {% if override_source|get_item:field.name %}
                <div class="readonly">
                    <span class="override-source">{{ override_source|get_item:field.name }}:</span> {{ override_values|get_item:field.name|format_preference }}
                </div>
            {% else %}
                <div class="readonly">&nbsp;</div>
            {% endif %}
        {% endif %}
        </div>
        <div class="col-6 col-md-5">
            {% if field.name == 'flair' %}{% include "snpdb/tags/flair_picker.html" with field=field %}{% else %}{% crispy_field field %}{% endif %}
            {% if field.name == 'loading_animations' %}
                <a class="hover-link" href="{% url 'loading_animations' %}" target="_blank" rel="noopener">Preview loading animations</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
{{ form.media }}
