{% load js_tags %}
{% load static %}
{% load user_tags %}
<div class="d-flex">
    {% avatar2 user_details.avatar size=user_details.size %}
    <div style="line-height:1.3" class="flex-grow align-self-center">
        {% if user_details.show_email and user_details.email %}
            <a class="hover-link" href="mailto:{{user_details.email}}" title="{{ user_details.email }}">{{ user_details.preferred_label }}</a>
        {% else %}
            {{ user_details.preferred_label }}
        {% endif %}
        {% if user_details.show_group %}
            <span style="font-size:8pt" class="text-info">{{ user_details.group_str }}</span>
        {% endif %}
        {% if user_details.show_last_login %}
            <br/>
            <span class="timestamp">{% timestamp user_details.last_login time_ago=True %}</span>
            {% if user_details.email_weekly_updates %}<i class="far fa-envelope ml-1" title="Receives weekly updates" data-toggle="tooltip"></i>{% endif %}
            {% if user_details.email_discordance_updates %}<i class="far fa-bell ml-1" title="Receives discordance updates" data-toggle="tooltip"></i>{% endif %}
        {% endif %}
        {% if user_details.role == 'head' %}<i class="far fa-star ml-1" title="User is lab head" data-toggle="tooltip"></i>{% endif %}
    </div>
</div>