{% load static %}
{% load genome_build_tags %}
{% load js_tags %}
{% load ui_utils %}
<div class="vcf-grid-filter-tags vcf-grid-filter-tags-{{ table_id }}" data-table-id="{{ table_id }}">
    <style>
    .grid-filter-container {
        min-width: 700px;
    }

    #vcf-grid-filter {
        margin-left: 5px;
    }

    #id_variants_type > div {
        display: inline-block;
        margin-right: 10px;
    }

    #id_variants_type input {
        margin-right: 5px;
    }

    </style>
    {% json_data "vcf-grid-filter-tags-data-"|add:table_id variants_type_labels=variants_type_labels %}
    <script src="{% static 'js/snpdb/vcf_grid_filter_tags.js' %}"></script>
    <div class="card grid-filter-container">
        <div class="card-header">Filter Grid</div>
        <div class="card-body">
            {% labelled label="Genome Build" %}
            {% genome_build_grid_filter %}
            {% endlabelled %}
            {% labelled label="Project" %}
            {{ project_form.project }}
            {% endlabelled %}
            {% if variants_type_form %}
            {% labelled label="Variants type" %}
            {{ variants_type_form.variants_type }}
            {% endlabelled %}
            {% endif %}

            <div id='vcf-grid-filter-description'>
                Filtering to <span id='vcf-grid-filter'></span>. <a href='javascript:vcfShowAll()'>Show All</a>
            </div>
        </div>
    </div>
</div>
