{% load static %}
<p>Using {{ num_upload_pipelines }} uploads from the last {{ days }} days. </p>

<div id='total-time-graph'></div>
<div id='time-per-variant-graph'></div>
<script>
    $(document).ready(function() {
        var total_times = {{ total_times | safe  }};
        var time_per_kilo_variant = {{ time_per_kilo_variant | safe  }};

        plotPieDict('total-time-graph', "Total Time", total_times, 800, 600);
        plotBoxDict('time-per-variant-graph', "Time per 1000 variants", time_per_kilo_variant);
    });

</script>
{% comment %}
<!-- required on the including page -->
<script type="text/javascript" src="{% static 'js/lib/plotly-latest.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plotly_helper.js' %}"></script>
{% endcomment %}