{% extends "uicore/page/base.html" %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load static %}
{% load humanize %}
{% load js_tags %}
{% load model_helpers %}
{% block submenu %}
    {% menu_bar_data %}
{% endblock %}
{% block title %}View upload{% endblock %}
{% block head %}
    <script>
        function uploadStepFilter(data) {
            data.upload_pipeline = {{ upload_pipeline.pk }};
        }
    </script>
    {% if has_upload_steps and step_start_end_lines %}
        <script type="text/javascript" src="{% static 'js/lib/plotly-latest.min.js' %}"></script>
        <script>
            var COLORS = [  '#e6194b',
                            '#3cb44b',
                            '#ffe119',
                            '#0082c8',
                            '#f58231',
                            '#911eb4',
                            '#46f0f0',
                            '#f032e6',
                            '#d2f53c',
                            '#fabebe',
                            '#008080',
                            '#e6beff',
                            '#aa6e28',
                            '#800000',
                            '#aaffc3',
                            '#808000',
                            '#ffd8b1',
                            '#000080',
                            '#808080',
                            '#000000',
            ];

            function plotIntervalsGraph(selector, title, step_order, step_start_end_lines) {
                // There's no way to put shapes in the legend, so we'll make fake
                // traces, then only show the legend for them
                const data = [];
                const shapes = [];

                let color_index = 0;
                let y = 0;
                const y_step = -1;
                for (let i=0 ; i<step_order.length ; ++i) {
                    const color = COLORS[color_index];
                    ++color_index;
                    const step = step_order[i];
                    const step_lines = step_start_end_lines[step];

                    const fake_trace = {
                        x: [null],
                        y: [null],
                        mode: 'markers',
                        name: step,
                        marker: {'color': color},
                        visible: 'legendonly',
                    };
                    data.push(fake_trace);

                    const running_markers = {
                        x: [],
                        y: [],
                        type: 'scatter',
                        mode: 'markers',
                        marker: {'color': color, symbol: 'triangle-right'},
                        showlegend: false,
                    };
                    data.push(running_markers);

                    const crash_markers = {
                        x: [],
                        y: [],
                        type: 'scatter',
                        mode: 'markers',
                        marker: {'color': color, symbol: 'x'},
                        showlegend: false,
                    };
                    data.push(crash_markers);

                    for (let j=0 ; j<step_lines.length ; ++j) {
                        const step_line = step_lines[j];

                        for (let s=0 ; s<step_line.length ; s++) {
                            const start_stop = step_line[s];
                            const x_start = start_stop[0];
                            const x_end = start_stop[1];
                            const status = start_stop[2];

                            const shape = {
                                x0: x_start,
                                x1: x_end,
                                y0: y,
                                y1: y,
                                type: 'line',
                                line: {
                                    'color': color,
                                    width: 3,
                                }
                            };
                            shapes.push(shape);

                            if (status === 'P') { // processing - still running
                                running_markers.x.push(x_end);
                                running_markers.y.push(y);
                            } else if (status === 'E') { // error
                                crash_markers.x.push(x_end);
                                crash_markers.y.push(y);
                            }
                        }
                        y += y_step;
                    }
                }


                const layout = {
                    'title': title,
                    'xaxis': {
                        showgrid: false,
                        zeroline: false,
                        title: 'seconds'
                    },
                    'yaxis': {
                        showgrid: false,
                        showticklabels: false,
                        linewidth: 0,
                        zeroline: false,
                        showline: false,
                    },
                    'showlegend': true,
                    'shapes': shapes,
                };

                Plotly.newPlot(selector, data, layout);
            }

            $(document).ready(function() {
                $("button#delete-button").click(function() {
                    let delete_obj_url = "{% url 'group_permissions_object_delete' 'upload.models.models.UploadedFile' upload_pipeline.uploaded_file_id %}";
                    $.ajax({
                        type: "POST",
                        url: delete_obj_url,
                        success: function(data) {
                            window.location = "{% url 'upload' %}";
                        },
                        error: function(data) {
                            console.log("Error: ");
                            console.log(data);
                            let errorMessageUl = createMessage("error", data.responseText);
                            $("#delete-container").empty().append(errorMessageUl);
                        }
                    });

                });


                const step_order = {{ step_order | jsonify }};
                const step_start_end_lines = {{ step_start_end_lines | jsonify }};
                plotIntervalsGraph('upload-steps-graph', "Job Times", step_order, step_start_end_lines);
            });
        </script>
    {% endif %}
    <style>
        .import-message {
          white-space: pre;
        }

        #warnings-or-errors {
            height: 30px;
        }
    </style>
{% endblock %}

{% block content %}

	<div class="container">
        <h3>Upload Pipeline</h3>
        <div class="card mb-4">
            <div class="card-header">Upload Pipeline {{ upload_pipeline.pk }} {% admin_link upload_pipeline %}</div>
            <div class="card-body">
                {% labelled label="Status" %}{{ upload_pipeline.get_status_display | severity_icon }}{{ upload_pipeline.get_status_display }}{% endlabelled %}
                {% labelled label="Uploaded File" %}{{ upload_pipeline.uploaded_file }}{% endlabelled %}
                {% labelled label="File Type" %}{{ upload_pipeline.get_file_type_display }}{% endlabelled %}
                {% labelled label="Items Processed" value_css="num" %}{{ upload_pipeline.items_processed|intcomma }}{% endlabelled %}
                {% labelled label="Progress Status" %}
                    <div class="code">{{ upload_pipeline.progress_status }}</div>
                {% endlabelled %}
                {% labelled label="Progress Percentage" %}{{ upload_pipeline.progress_percent|floatformat:2 }}%{% endlabelled %}
                {% if upload_pipeline.genome_build %}
                    {% labelled label="Genome Build" %}{{ upload_pipeline.genome_build }}{% endlabelled %}
                {% endif %}
                {% if upload_pipeline.file_type == 'V' %}
		            {% if uploaded_vcf %}
                        {% labelled label="Uploaded VCF" %}{{ uploaded_vcf.pk }}{% endlabelled %}
                        {% labelled label="Path" %}{{ uploaded_vcf.uploaded_file.get_filename }}{% endlabelled %}
                        {% if uploaded_vcf.vcf_importer %}
                            {% labelled label="Importer Version" %}{{ uploaded_vcf.vcf_importer }}{% endlabelled %}
                        {% endif %}
                        {% with cgc=uploaded_vcf.vcf.cohort.cohort_genotype_collection %}
                            {% if cgc.common_collection %}
                                {% labelled label="gnomAD Common Filter" %}Rare: {{ cgc.percent_common|floatformat:2 }}% ({{ cgc.common_collection.common_filter }}){% endlabelled %}
                            {% endif %}
                        {% endwith %}
                        {% labelled label="VCF" %}
                            {% if uploaded_vcf.vcf %} <a class="hover-link" href="{% url 'view_vcf' uploaded_vcf.vcf.pk %}">{{ uploaded_vcf.vcf }}</a>{% else %}VCF is still being imported{% endif %}
                        {% endlabelled %}
                        {% if uploaded_vcf.backendvcf.sample_sheet.sequencing_run %}
                            {% labelled label="Sequencing Run" %}
                                <a class="hover-link" href="{% url 'view_sequencing_run' uploaded_vcf.backendvcf.sample_sheet.sequencing_run.pk %}">{{ uploaded_vcf.backendvcf.sample_sheet.sequencing_run }}</a> - Auto uploaded from {{ uploaded_vcf.backendvcf.vcf }}
                            {% endlabelled %}
                        {% endif %}
                    {% else %}
                        <i class="fa-solid fa-file-circle-xmark"></i> Data for this VCF has been deleted.
                    {% endif %}
                {% elif upload_pipeline.file_type == 'G' %}
                    {% if uploaded_gene_list %}
                        {% labelled label="Uploaded Gene List" %}{{ uploaded_gene_list.pk }}{% endlabelled %}
                        {% labelled label="Gene List" %}
                            {% if uploaded_gene_list.gene_list %}
                                <a class="hover-link" href="{% url 'view_gene_list' uploaded_gene_list.gene_list.pk %}">{{ uploaded_gene_list.gene_list }}</a>
                            {% else %}
                                <span>GeneList is still being imported</span>
                            {% endif %}
                        {% endlabelled %}
                    {% else %}
                        <div>
                            <i class="fa-solid fa-file-circle-xmark"></i> GeneList for this file has been deleted
                        </div>
                    {% endif %}
                {% endif %}
                {% if more_warning_or_error_details %}
                    {% labelled label="Warnings & Errors" %}{{ 'W' | severity_icon }} <a class="hover-link" href="{% url "view_upload_pipeline_warnings_and_errors" upload_pipeline.pk %}">View Warnings & Errors</a>{% endlabelled %}
                {% endif %}
            </div>
            <div class="card-footer">
                <form id="retry-upload-form" action={% url 'upload_retry_import' upload_pipeline.pk %} method="post">
                    {% csrf_token %}
                    <div class="buttons-bar">
                        {% if allow_retry_import %}
                            <button class="btn btn-primary" id='retry-import-button' type='submit'>Retry Import</button>
                        {% endif %}
                        <div class="spacer"></div>
                        <button class="btn btn-danger" id='delete-button' type='button'>Delete</button>
                        <div id="delete-container"> <!-- error messages set in JSON --> </div>
                    </div>
                </form>
            </div>
        </div>

        {% if step_total_stats %}
            <h4>Accumulative Times</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th class="step">Step Name</th>
                        <th class="num">Runs</th>
                        <th class="num">Items Processed</th>
                        <th class="num">Total Seconds</th>
                    </tr>
                </thead>
                {% for step_name, num_runs, items_processed, total_seconds in step_total_stats %}
                    <tr>
                        <td class="step">{{ step_name }}</td>
                        <td class="num"> {{ num_runs | intcomma }}</td>
                        <td class="num"> {{ items_processed | intcomma }}</td>
                        <td class="num"> {{ total_seconds | floatformat:1 }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
	</div>

	{% if has_upload_steps %}
    <div class="container-table">
        <h4>All Upload Steps</h4>
        <table id="uploadstep-datatable" data-datatable-url="{% url 'upload_step_datatables' %}"  data-datatable-data='uploadStepFilter'></table>
        <div id='upload-steps-graph'></div>
    </div>
	{% endif %}

{% endblock %}