{% extends "analysis/node_editors/grid_editor.html" %}

{% block docreadyjs %}
    var alleleFrequencyForm = $("form#allele-frequency-node-form");
    ajaxForm(alleleFrequencyForm);
	$("#slider-group-operation").hide(); // Only 1 sample so we don't use this
{% endblock docreadyjs %}

{% block content %}
<form id="allele-frequency-node-form" method="post" action="{{ request.path }}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div class="editor-row">
        <label class="editor-label" for="{{ form.sample.id_for_label }}">Sample</label>
        {{ form.sample }}
    </div>
    {% load allele_frequency_tags %}
    {% allele_frequency_controls node %}
    <div class="editor-actions">
        {% if has_write_permission %}
            <button id='allele-frequency-node-save' class="btn btn-primary">Save</button>
        {% endif %}
    </div>
    {{ form.media }}
</form>
{% endblock content %}
