{% extends "analysis/node_editors/grid_editor.html" %}

{% block docreadyjs %}
    ajaxForm($("form#all-variants-form"));

	$(".accordion", "#all-variants-form").accordion({
			heightStyle: "content",
			widthStyle: "fill",
			active: false, // collapse all
	});

{% endblock docreadyjs %}


{% block content %}
<style>
input.narrow {
	width: 80px;
}
</style>
<div>
	<form id="all-variants-form" method="post" action="{{ request.path }}">
        {% csrf_token %}
		{{ form.non_field_errors }}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
		<span class="fieldWrapper">
			{{ form.gene_symbol.errors }}
			<label for="{{ form.gene_symbol.id_for_label }}">Gene:</label>
			{{ form.gene_symbol }}
		</span>
        <div>
            <span class="fieldWrapper">
                {{ form.reference.errors }}
                <label for="{{ form.reference.id_for_label }}">Reference variants:</label>
                {{ form.reference }}
            </span>
            |
            <span class="fieldWrapper">
                {{ form.snps.errors }}
                <label for="{{ form.snps.id_for_label }}">SNPs:</label>
                {{ form.snps }}
            </span>
            |
            <span class="fieldWrapper">
                {{ form.indels.errors }}
                <label for="{{ form.indels.id_for_label }}">indels:</label>
                {{ form.indels }}
            </span>
            |
            <span class="fieldWrapper">
                {{ form.structural_variants.errors }}
                <label for="{{ form.structural_variants.id_for_label }}">Structural Variants:</label>
                {{ form.structural_variants }}
            </span>
        </div>

		<table id="zygosity-table">
			<tr>
				<th></th>
				<th>Min</th>
				<th>Max</th>
			</tr>
			<tr>
				<th>Het or Hom</th>
				<td>{{ form.min_het_or_hom_count }}</td>
				<td>{{ form.max_het_or_hom_count }} of <span class='num_samples'>{{ num_samples_for_build }}</span> samples.</td>
			</tr>
        </table>

        <table>
			<tr>
				<th></th>
				<th>Min</th>
				<th>Max</th>
			</tr>
			<tr>
				<th>Unknown</th>
				<td>{{ form.min_unk_count }}</td>
				<td>{{ form.max_unk_count }} of <span class='num_samples'>{{ num_samples_for_build }}</span> samples.</td>
			</tr>
			<tr>
				<th>Ref</th>
				<td>{{ form.min_ref_count }}</td>
				<td>{{ form.max_ref_count }} of <span class='num_samples'>{{ num_samples_for_build }}</span> samples.</td>
			</tr>
			<tr>
				<th>Het</th>
				<td>{{ form.min_het_count }}</td>
				<td>{{ form.max_het_count }} of <span class='num_samples'>{{ num_samples_for_build }}</span> samples.</td>
			</tr>
			<tr>
				<th>Hom Alt</th>
				<td>{{ form.min_hom_count }}</td>
				<td>{{ form.max_hom_count }} of <span class='num_samples'>{{ num_samples_for_build }}</span> samples.</td>
			</tr>
		</table>

        {{ form.media }}
		<div>
		  <b>Last Saved:</b> {{ node.modified }} 
        </div>
	{% if out_of_date_message %}
		<div>
		  <b>Warning:</b> This node retrieves all variants in the database - this can change! {{ out_of_date_message }} 
		</div>
	{% endif %}
    {% if has_write_permission %}
		<button id='all-variants-save' class="btn btn-primary">save</button>
    {% endif %}
	</form>
</div>
{% endblock content %}
