{% extends "analysis/node_editors/grid_editor.html" %}

{% block content %}
<script>
    function setupClinVarStars(bifSelect) {
        // StarsWidget renders the zero option itself - we only show/hide the whole thing
        let starsRow = $("#clinvar-stars-row");

        function checkClinVarStarsVisibility() {
            starsRow.toggle(bifSelect.val() == 'C');
        }

        bifSelect.change(checkClinVarStarsVisibility);
        checkClinVarStarsVisibility();
    }

    function setupCOSMICCount(bifSelect) {
        function checkCOSMICCount() {
            $("#cosmic-count-widget").toggle(bifSelect.val() === 'M');
        }

        bifSelect.change(checkCOSMICCount);
        checkCOSMICCount();
    }

    $(document).ready(function() {
        let bifForm = $("form#built-in-filter");
        let bifSelect = $("#id_built_in_filter", bifForm);
        setupClinVarStars(bifSelect);
        setupCOSMICCount(bifSelect);
        setupSlider($("#id_cosmic_count_min"), $("#cosmic-count-slider"));
        ajaxForm(bifForm);
    });
</script>
<form id="built-in-filter" method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div class="editor-row">
        <label class="editor-label" for="{{ form.built_in_filter.id_for_label }}">Filter</label>
        {{ form.built_in_filter.errors }}{{ form.built_in_filter }}
    </div>
    <div class="editor-row" id="clinvar-stars-row">
        <label class="editor-label" for="{{ form.clinvar_stars_min.id_for_label }}">Min ClinVar stars</label>
        {{ form.clinvar_stars_min.errors }}{{ form.clinvar_stars_min }}
    </div>
    <div class="editor-row" id="cosmic-count-widget">
        <span class="editor-label">COSMIC count min</span>
        <span class='slider-container'>
            <div class="display-flex">
                <input type="range" id="cosmic-count-slider" class='slider' />
                <div class='label slider-value'></div>
            </div>
            <div class='slider-labels'>
                <span class='label min-value left'></span>
                <span class='label max-value right'></span>
            </div>
        </span>
    </div>

    <div class="editor-actions">
        {% if has_write_permission %}
            <button id='built-in-filter-save' class="btn btn-primary">Save</button>
        {% endif %}
    </div>
    {{ form.media }}
</form>
{% endblock content %}
