<style>
table.zygosity-filter-table {
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.zygosity-filter-table tr.top-header th {
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
}

</style>
<script>
function checkIfAllChecked(toggle, array) {
	let numChecked = 0;
	array.each(function() { numChecked += $(this).is(":checked"); });
	const allChecked = numChecked == array.length;
	$(toggle).prop('checked', allChecked);
}


function checkZygConfigWarning() {
    const zygosityTable = $(".zygosity-filter-table");
    let samplesWithAllZyg = 0;
    let samplesWithSomeZyg = 0;
    $(".cohort-node-zygosity-filter", zygosityTable).each(function() {
        let zygFilters = $(".zygosity_ref, .zygosity_het, .zygosity_hom, .zygosity_none", this);
        let numZyg = $("input:checked", zygFilters).length;
        if (numZyg) {
            if (numZyg === 4) {
                samplesWithAllZyg += 1;
            } else {
                samplesWithSomeZyg += 1;
            }
        }
    });

    if (samplesWithAllZyg || samplesWithSomeZyg) {
        $("#zyg-config-no-samples-warning").hide();
        if (samplesWithAllZyg && !samplesWithSomeZyg) {
            $("#zyg-config-unintuitive-no-zyg-call-warning").show();
        } else {
            $("#zyg-config-unintuitive-no-zyg-call-warning").hide();
        }

        let showInGrid = $(".show_in_grid", zygosityTable);
        if (!$("input:checked", showInGrid).length) {
            $("#zyg-config-no-visible-samples-warning").show();
        } else {
            $("#zyg-config-no-visible-samples-warning").hide();
        }


    } else {
        $("#zyg-config-no-samples-warning").show();
    }
}

function checkboxSetup(addClickHandler) {
	$(".toggle-row").each(function() {
        const rowInputs = $("input[type=checkbox][class!='toggle-row']", $(this).parents("tr"));
        checkIfAllChecked(this, rowInputs);
		
		if (addClickHandler) {
			$(this).click(function() {
				rowInputs.prop('checked', $(this).is(":checked"));
			});
		}
	});

	$(".toggle-column").each(function() {
        const columnName = $(this).attr("column_name");
        const columnInputs = $("input[type=checkbox]", "td." + columnName);
        checkIfAllChecked(this, columnInputs);

		if (addClickHandler) {
			$(this).click(function() {
				columnInputs.prop('checked', $(this).is(":checked"));
			});
		}
	});
}

$(document).ready(function() {
	checkboxSetup(true);
    checkZygConfigWarning()

	$("input[type=checkbox]", "table.zygosity-filter-table").click(function() {
		checkboxSetup(false);
        checkZygConfigWarning();
	});
});
</script>

<table class='zygosity-filter-table'>
<tr class="top-header">
	<td></td>
    <th>Show In Grid</th>
	<th>Ref</th>
	<th>Het</th>
	<th>Hom</th>
	<th>No Zygosity call in sample</th>
	<td><i>Toggle Row</i></td>
{% for form in formset %}
	<tr class='cohort-node-zygosity-filter'>
	{% for field in form.hidden_fields %}
		{{ field }}
	{% endfor %}
		<th> {{ form.cohort_sample }}
        <td class="show_in_grid">   {{ form.show_in_grid }}
		<td class="zygosity_ref">	{{ form.zygosity_ref }}
		<td class="zygosity_het"> 	{{ form.zygosity_het }}
		<td class="zygosity_hom">	{{ form.zygosity_hom }}
		<td class="zygosity_none">	{{ form.zygosity_none }}
		<td><input type="checkbox" class="toggle-row"></td>
	</tr>
{% endfor %}
	<tr>
	<td><i>Toggle Column</i></td>
    <th><input type="checkbox" class="toggle-column" column_name="show_in_grid"></th>
	<th><input type="checkbox" class="toggle-column" column_name="zygosity_ref"></th>
	<th><input type="checkbox" class="toggle-column" column_name="zygosity_het"></th>
	<th><input type="checkbox" class="toggle-column" column_name="zygosity_hom"></th>
	<th><input type="checkbox" class="toggle-column" column_name="zygosity_none"></th>
	<td></td>
	</tr>
</table>

<ul class="messages">
    <li id="zyg-config-unintuitive-no-zyg-call-warning" class="warning hidden">
        Warning: You have checked all zygosity calls (including "No Zygosity call in sample")
        for all samples with any ticked.
        This will return all variants in the cohort which may be unintuitive behaviour.
    </li>
    <li id="zyg-config-no-samples-warning" class="warning hidden">
        Warning: No zygosity calls for any sample selected - no variants will be returned.
    </li>
    <li id="zyg-config-no-visible-samples-warning" class="warning hidden">
        Warning: No samples will be shown in grid.
    </li>
</ul>
