{% extends "analysis/node_editors/grid_editor.html" %}
{% load js_tags %}
{% block content %}
<style>
	.individual-conservation-scores {
	    display: none;
	}
</style>
<script>
    function showIndividualConservationScores() {
        $(".individual-conservation-scores").show();
        $("#show-individual-conservation-scores").hide();
    }

    function setSliderEnabled(sliderSelector, enabled) {
        sliderSelector.prop("disabled", !enabled);
    }

    function setupConservationNodeSlider(inputSelector, sliderSelector, enableInput) {
        setupSlider(inputSelector, sliderSelector);
        if (enableInput) {
            function setEnabledIfChecked() {
                setSliderEnabled(sliderSelector, enableInput.is(":checked"));
            }
            setEnabledIfChecked(); // initial setting
            enableInput.change(setEnabledIfChecked);
        }
    }

    function setIndividualSlidersFromMaster(masterValue) {
        if ($("#id_use_individual_sliders").is(":checked")) {
            return;
        }
        let floatVal = parseFloat(masterValue);

        {% for field_name in form.individual_conservation_score_fields %}
            var inputSelector = $("#id_{{ field_name }}");
            var sliderSelector = $("#{{ field_name }}-slider");
            var min = parseFloat(inputSelector.attr("min"));
            var max = parseFloat(inputSelector.attr("max"));
            var range = max-min;
            var newSliderValue = min + range * floatVal;
            sliderSelector.val(newSliderValue);
            inputSelector.val(newSliderValue);
            setVisibleSliderValue(inputSelector, sliderSelector, newSliderValue);
        {% endfor %}
    }

    function masterSliderChanged() {
        setIndividualSlidersFromMaster(this.value);
    }

    $(document).ready(function() {
        let conservationForm = $("form#conservation-filter");
        ajaxForm(conservationForm);

        const useIndividualSliders = $("#id_use_individual_sliders");
        let masterInput = $("#id_any_scaled_min");
        let masterSlider = $("#any_scaled_min-slider");
        setupSlider(masterInput, masterSlider);

        function setEnabledIfNotChecked() {
            setSliderEnabled(masterSlider, !useIndividualSliders.is(":checked"));
        }
        useIndividualSliders.change(setEnabledIfNotChecked);
        setEnabledIfNotChecked();
        masterSlider.on('change', masterSliderChanged);

        {% for field_name in form.individual_conservation_score_fields %}
            setupConservationNodeSlider($("#id_{{ field_name }}"), $("#{{ field_name }}-slider"), useIndividualSliders);
        {% endfor %}

        // after all setup, now set from initial master value if applicable
        setIndividualSlidersFromMaster(masterInput.val());
        if (useIndividualSliders.is(":checked")) {
            showIndividualConservationScores();
        }
    });
</script>
<form id="conservation-filter" method="post" action="{{ request.path }}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {{ form.non_field_errors }}
    <table class="editor-table">
        <tr>
            <th>{{ form.any_scaled_min.label }}</th>
            <td>
                {{ form.any_scaled_min.errors }}
                <span class='slider-container'>
                    <div class="display-flex">
                        <input type="range" id="any_scaled_min-slider" class='slider' />
                        <div class='label slider-value'></div>
                    </div>
                    <div class='slider-labels'>
                        <span class='label min-value left'></span>
                        <span class='label max-value right'></span>
                    </div>
                </span>
            </td>
        </tr>
        <tr>
            <th>{{ form.allow_null.label }}</th>
            <td>{{ form.allow_null }}</td>
        </tr>
        <tr id="show-individual-conservation-scores">
            <td colspan="2">
                <a class="hover-link" href="javascript:showIndividualConservationScores()">Show individual conservation scores</a>
            </td>
        </tr>
        <tr class="individual-conservation-scores">
            <th>{{ form.use_individual_sliders.label }}</th>
            <td>{{ form.use_individual_sliders }}</td>
        </tr>
        {% for field_name, field in form.individual_conservation_score_fields.items %}
            <tr class="individual-conservation-scores">
                <th>{{ field.label }}</th>
                <td>{{ field.errors }}
                    <span class='slider-container'>
                        <div class="display-flex">
                            <input type="range" id="{{ field_name }}-slider" class='slider' />
                            <div class='label slider-value'></div>
                        </div>
                        <div class='slider-labels'>
                            <span class='label min-value left'></span>
                            <span class='label max-value right'></span>
                        </div>
                    </span>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="editor-actions">
        {% if has_write_permission %}
            <button id='damage-save' class="btn btn-primary">Save</button>
        {% endif %}
    </div>
    {{ form.media }}
</form>
{% endblock content %}
