{% extends "analysis/node_editors/grid_editor.html" %}
{% load js_tags %}
{% block content %}
<style>
	.slider-container {
		margin-left: 10px;
		display: inline-block;
	}

	.slider {
		display: inline-block;
		width: 200px;
	}
	
	.slider label {
	    position: absolute;
	    width: 20px;
	    margin-left: -10px;
	    text-align: center;
	    margin-top: 20px;
	}

	.slider-labels {
		width: 200px;
	}

	.label {
		font-weight: bold;
	}

	.slider-value {
        min-width: 50px;
        height: 25px;
		margin-left: 15px;
	}
</style>
<script>
    var showRequiredFilter = {{ node.has_required | jsonify }};

    function toggleRequiredFilter() {
        showRequiredFilter = !showRequiredFilter;
        if (showRequiredFilter) {
            $(".filter-required").show();
        } else {
            $(".filter-required").hide();
            // clear them so they don't apply if invisible
            let frInputs = $("input", ".filter-required");
            frInputs.prop("checked", false);
        }
    }

    $(document).ready(function() {
        let damageForm = $("form#damage-filter");
        ajaxForm(damageForm);
        accordionForm(damageForm);

        setupSlider($("#id_splice_min"), $("#splice-slider"), $("input#enable-splice"));
        setupSlider($("#id_cadd_score_min"), $("#cadd-slider"), $("input#enable-cadd"));
        setupSlider($("#id_revel_score_min"), $("#revel-slider"), $("input#enable-revel"));
        setupSlider($("#id_cosmic_count_min"), $("#cosmic-count-slider"), $("input#enable-cosmic-count"));
        setupSlider($("#id_damage_predictions_min"), $("#damage-predictions-min-slider"), $("input#damage-predictions-min"));

        if (showRequiredFilter) {
            $(".filter-required").show();
        }
    });
</script>
<div>
    <div>
        Show variants meeting any of the following criteria
    </div>

	<form id="damage-filter" method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

		{{ form.non_field_errors }}
        <table>
            <tr>
                <td></td>
                <td></td>
                <th><a class="hover-link" href="javascript:toggleRequiredFilter()">Required</a></th>
                <th class="collapse filter-required">Allow Null</th>
            </tr>
            <tr>
                <th>{{ form.impact_min.label }}</th>
                <td>{{ form.impact_min.errors }} {{ form.impact_min }}</td>
                <td class="collapse filter-required">{{ form.impact_required }}</td>
                <td class="collapse filter-required"> <!-- impact_min is non-nullable --> </td>
            </tr>
            <tr>
                <th>{{ form.splice_min.label }}</th>
                <td>{{ form.splice_min.errors }}
                    <input id="enable-splice"  title="Enable Splicing slider" class="enable-slider" type="checkbox" />
                    <span class='slider-container'>
                        <div class="display-flex">
                            <div id="splice-slider" class='slider'></div>
                            <div class='label slider-value'></div>
                        </div>
                        <div class='slider-labels'>
                            <span class='label min-value left'></span>
                            <span class='label max-value right'></span>
                        </div>
                    </span>
                </td>
                <td class="collapse filter-required">{{ form.splice_required }}</td>
                <td class="collapse filter-required">{{ form.splice_allow_null }}</td>
            </tr>
            <tr>
                <th>{{ form.cadd_score_min.label }}</th>
                <td>{{ form.cadd_score_min.errors }}
                    <input id="enable-cadd" title="Enable CADD slider" class="enable-slider" type="checkbox" />
                    <span class='slider-container'>
                        <div class="display-flex">
                            <div id="cadd-slider" class='slider'></div>
                            <div class='label slider-value'></div>
                        </div>
                        <div class='slider-labels'>
                            <span class='label min-value left'></span>
                            <span class='label max-value right'></span>
                        </div>
                    </span>
                </td>
                <td class="collapse filter-required">{{ form.cadd_score_required }}</td>
                <td class="collapse filter-required">{{ form.cadd_score_allow_null }}</td>
            </tr>

            <tr>
                <th>{{ form.revel_score_min.label }}</th>
                <td>{{ form.revel_score_min.errors }}
                    <input id="enable-revel"  title="Enable Revel slider" class="enable-slider" type="checkbox" />
                    <span class='slider-container'>
                        <div class="display-flex">
                            <div id="revel-slider" class='slider'></div>
                            <div class='label slider-value'></div>
                        </div>
                        <div class='slider-labels'>
                            <span class='label min-value left'></span>
                            <span class='label max-value right'></span>
                        </div>
                    </span>
                </td>
                <td class="collapse filter-required">{{ form.revel_score_required }}</td>
                <td class="collapse filter-required">{{ form.revel_score_allow_null }}</td>
            </tr>

            <tr>
                <th>{{ form.cosmic_count_min.label }}</th>
                <td>{{ form.cosmic_count_min.errors }}
                    <input id="enable-cosmic-count"  title="Enable COSMIC count slider" class="enable-slider" type="checkbox" />
                    <span class='slider-container'>
                        <div class="display-flex">
                            <div id="cosmic-count-slider" class='slider'></div>
                            <div class='label slider-value'></div>
                        </div>
                        <div class='slider-labels'>
                            <span class='label min-value left'></span>
                            <span class='label max-value right'></span>
                        </div>
                    </span>
                </td>
                <td class="collapse filter-required">{{ form.cosmic_count_required }}</td>
                <td class="collapse filter-required"> <!-- cosmic_count is non-nullable --> </td>
            </tr>

            <tr>
                <th>{{ form.damage_predictions_min.label }}</th>
                <td>
                    {{ form.damage_predictions_min.errors }}
                    <input id="damage-predictions-min" title="Enable Damage Predictions slider" class="enable-slider" type="checkbox" />
                    <span class='slider-container'>
                        <div class="display-flex">
                            <div id="damage-predictions-min-slider" class='slider'></div>
                            <div class='label slider-value'></div>
                        </div>
                        <div class='slider-labels'>
                            <span class='label min-value left'></span>
                            <span class='label max-value right'></span>
                        </div>
                    </span>
                </td>
                <td class="collapse filter-required">{{ form.damage_predictions_required }}</td>
                <td class="collapse filter-required">{{ form.damage_predictions_allow_null }}</td>
            </tr>

            <tr>
                <th>{{ form.protein_domain.label }}</th>
                <td>{{ form.protein_domain.errors }} {{ form.protein_domain }}</td>
                <td class="collapse filter-required">{{ form.protein_domain_required }}</td>
                <td class="collapse filter-required"> <!-- protein_domain is non-nullable --> </td>
            </tr>

            <tr>
                <th>{{ form.published.label }}</th>
                <td>{{ form.published.errors }} {{ form.published }}</td>
                <td class="collapse filter-required">{{ form.published_required }}</td>
                <td class="collapse filter-required"> <!-- published is non-nullable --> </td>
            </tr>
        </table>

        {% if has_write_permission %}
    		<button id='damage-save' class="btn btn-primary">save</button>
        {% endif %}
	    {{ form.media }}
	</form>

    <div>
        Note: Damage, CADD and REVEL settings do not filter indels.
        MODERATE* does not include missense variants, so we suggest you use MODERATE* in combination with one or more
        of the REVEL, CADD or Damage Predictor options to include damaging missense variants.
        <a target="_blank" href="{{ help_url }}analysis/nodes.html#{{ node.get_node_class_label|slugify }}">
            See help for details.
        </a>
    </div>

</div>
{% endblock content %}
