{% extends "analysis/node_editors/grid_editor.html" %}

{% block docreadyjs %}

function setupSlider(inputSelector, sliderSelector) {
	let sliderMinVal = Number(inputSelector.attr("min"));
	let sliderMaxVal = Number(inputSelector.attr("max"));
	let sliderVal = inputSelector.val();
	let container = sliderSelector.parents(".slider-container");
	let sliderValue = $(".slider-value", container);
	sliderValue.html(sliderVal); // set initial

	sliderSelector.slider({
		min: sliderMinVal,
		max: sliderMaxVal,
		step: Number(inputSelector.attr("step") || 1),
		value: sliderVal,
		change: function( event, ui ) {
            inputSelector.val(ui.value);
		},
		slide: function( event, ui ) {
			sliderValue.html(ui.value);
		},
	});

	$(".min-value", container).html(sliderMinVal);
	$(".max-value", container).html(sliderMaxVal);
}

var damageForm = $("form#damage-filter");
ajaxForm(damageForm);
accordionForm(damageForm);

setupSlider($("#id_cadd_score_min"), $("#cadd-slider"));
setupSlider($("#id_revel_score_min"), $("#revel-slider"));
setupSlider($("#id_min_damage_predictions"), $("#min_damage_predictions-slider"));

{% endblock docreadyjs %}


{% block content %}
<style>
	.slider-container {
		margin-left: 10px;
		display: inline-block;
	}

	.slider {
		display: inline-block;
		width: 200px;
	}
	
	.slider label {
	    position: absolute;
	    width: 20px;
	    margin-left: -10px;
	    text-align: center;
	    margin-top: 20px;
	}

	.slider-labels {
		width: 200px;
	}

	.label {
		font-weight: bold;
	}

	.slider-value {
		margin-left: 15px;
	}

</style>
<div>
	<form id="damage-filter" method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

		{{ form.non_field_errors }}
		<div class="fieldWrapper">
			{{ form.impact_min.errors }}
			<label for="{{ form.impact_min.id_for_label }}">{{ form.impact_min.label }}:</label>
			{{ form.impact_min }}
		</div>
		<div class="fieldWrapper">
			{{ form.always_keep_splice_variants_regardless_of_impact.errors }}
			<label for="{{ form.always_keep_splice_variants_regardless_of_impact.id_for_label }}">{{ form.always_keep_splice_variants_regardless_of_impact.label }}:</label>
			{{ form.always_keep_splice_variants_regardless_of_impact }}
		</div>
		<div class="fieldWrapper">
			{{ form.cadd_score_min.errors }}
			<label for="{{ form.cadd_score_min.id_for_label }}">{{ form.cadd_score_min.label }}:</label>
			<span class='slider-container'>
				<div>
					<div id="cadd-slider" class='slider'></div>
					<span class='label slider-value'></span>
				</div>
				<div class='slider-labels'>
					<span class='label min-value left'></span>
					<span class='label max-value right'></span>
				</div>
			</span>
		</div>
		<div class="fieldWrapper">
			{{ form.revel_score_min.errors }}
			<label for="{{ form.revel_score_min.id_for_label }}">{{ form.revel_score_min.label }}:</label>
			<span class='slider-container'>
				<div>
					<div id="revel-slider" class='slider'></div>
					<span class='label slider-value'></span>
				</div>
				<div class='slider-labels'>
					<span class='label min-value left'></span>
					<span class='label max-value right'></span>
				</div>
			</span>
		</div>
		<div class="fieldWrapper">
			{{ form.allow_null.errors }}
			<label for="{{ form.allow_null.id_for_label }}">{{ form.allow_null.label }}:</label>
			{{ form.allow_null }}
		</div>

		<div id="accordion-container">
			<ul class="accordion">
                <li>
                <h3>Minimum damage predictions</h3>
                <div>
					<div class="fieldWrapper">
						{{ form.min_damage_predictions.errors }}
						<label for="{{ form.min_damage_predictions.id_for_label }}">{{ form.min_damage_predictions.label }}:</label>
						<span class='slider-container'>
							<div>
								<div id="min_damage_predictions-slider" class='slider'></div>
								<span class='label slider-value'></span>
							</div>
							<div class='slider-labels'>
								<span class='label min-value left'></span>
								<span class='label max-value right'></span>
							</div>
						</span>
					</div>
                </div>
                </li>
                <li>
                <h3>Individual damage predictions</h3>
                <div>
					<div class="fieldWrapper">
						{{ form.sift_prediction.errors }}
						<label for="{{ form.sift_prediction.id_for_label }}">{{ form.sift_prediction.label }}:</label>
						{{ form.sift_prediction }}
					</div>
					<div class="fieldWrapper">
						{{ form.polyphen2_prediction.errors }}
						<label for="{{ form.polyphen2_prediction.id_for_label }}">{{ form.polyphen2_prediction.label }}:</label>
						{{ form.polyphen2_prediction }}
					</div>
					<div class="fieldWrapper">
						{{ form.mutation_assessor_prediction.errors }}
						<label for="{{ form.mutation_assessor_prediction.id_for_label }}">{{ form.mutation_assessor_prediction.label }}:</label>
						{{ form.mutation_assessor_prediction }}
					</div>
					<div class="fieldWrapper">
						{{ form.mutation_taster_prediction.errors }}
						<label for="{{ form.mutation_taster_prediction.id_for_label }}">{{ form.mutation_taster_prediction.label }}:</label>
						{{ form.mutation_taster_prediction }}
					</div>
					<div class="fieldWrapper">
						{{ form.fathmm_prediction.errors }}
						<label for="{{ form.fathmm_prediction.id_for_label }}">{{ form.fathmm_prediction.label }}:</label>
						{{ form.fathmm_prediction }}
					</div>

                </div>
                </li>
			</ul>
		</div>
        {% if has_write_permission %}
    		<button id='damage-save' class="btn btn-primary">save</button>
        {% endif %}
		<span>Note: Damage, CADD and REVEL settings do not filter indels</span>
	    {{ form.media }}
	</form>
</div>
{% endblock content %}
