{% extends "analysis/node_editors/grid_editor.html" %}
{% block docreadyjs %}
	var unique_code = "{{ node_id }}_{{ version_id }}"; // make sure only attach editor to grid that requested 

	function connectFilterNodeEditorToGrid() {
		var grid_id = "grid-{{ node.pk }}";
		var grid = $("#" + grid_id, "#" + unique_code);
	
		if (grid && grid.length > 0) {
	        // Make search always appear
			var searchOptions = {multipleSearch:true,overlay:false,drag:false, resize:false};
	        grid.searchGrid(searchOptions);
			// find the div which contain the searching dialog
			var searchDialog = $("#searchmodfbox_"+ grid[0].id);
		    searchDialog.addClass("ui-jqgrid ui-widget ui-widget-content ui-corner-all");
		    searchDialog.css({position: 'static', width: '100%'})    
		    var gbox = $("div#FilterNode-editor");
		    searchDialog.appendTo(gbox);
			// Hide close button
			searchDialog.find(".ui-jqdialog-titlebar-close").hide();
			searchDialog.find(".ui-jqdialog-titlebar").hide();
	
			var save_filters = function(event) {
				var filters = grid.getGridParam("postData")["filters"];
                var data = 'filters=' + filters;
                $.ajax({
                    type: "POST",
                    url: "{{ request.path }}",
                    data: data,
                    success: function() {
                        reloadNodeAndData({{ node.pk }});                    
                    }
                });

				event.preventDefault();
			}

        {% if has_write_permission %}
			console.log("Has write permission");
			grid.bind('jqGridFilterSearch', save_filters);
			grid.bind('jqGridFilterReset', save_filters);
			
			var unsavedChanges = function() {
				var UNSAVED_MESSAGE = "Warning: You have unsaved changes, press 'find' to save";
				$("#filter-messages").text(UNSAVED_MESSAGE);
			};
			$("select", searchDialog).change(unsavedChanges);
            $("input[type=button]", searchDialog).click(unsavedChanges);
			$("input[type=text]", searchDialog).change(unsavedChanges);
        {% else %}
            $("input[type=button]", searchDialog).hide();
            $(".EditButton", searchDialog).hide();
        {% endif %}
		}
		hideLoadingOverlay();
	}

	registerComponent(unique_code, EDITOR, connectFilterNodeEditorToGrid);

    {% block finishedloadingeditor %}
    // empty - we'll call hideLoadingOverlay manually once we're done
    {% endblock finishedloadingeditor %}
{% endblock docreadyjs %}
{% block content %}
<div id="FilterNode-editor"></div>
<div id="filter-messages"></div>
{% endblock content %}
