{% extends "analysis/node_editors/grid_editor.html" %}
{% block docreadyjs %}
    {% block finishedloadingeditor %}
    // empty - we'll call hideLoadingOverlay manually once we're done
    {% endblock finishedloadingeditor %}
{% endblock docreadyjs %}
{% block content %}
<script>
$(document).ready(function() {
    const unique_code = "{{ node_id }}_{{ version_id }}"; // make sure only attach editor to grid that requested

	function connectFilterNodeEditorToGrid() {
        const grid_id = "grid-{{ node.pk }}";
        const grid = $("#" + grid_id, "#" + unique_code);

        if (grid && grid.length > 0) {
	        // Make search always appear
            const searchOptions = {multipleSearch: true, overlay: false, drag: false, resize: false};
            grid.searchGrid(searchOptions);
			// find the div which contain the searching dialog
            const searchDialog = $("#searchmodfbox_" + grid[0].id);
            searchDialog.addClass("ui-jqgrid ui-widget ui-widget-content ui-corner-all");
		    searchDialog.css({position: 'static', width: '100%'})
            const gbox = $("div#FilterNode-editor");
            searchDialog.appendTo(gbox);
			// Hide close button
			searchDialog.find(".ui-jqdialog-titlebar-close").hide();
			searchDialog.find(".ui-jqdialog-titlebar").hide();

            const save_filters = function (event) {
                const filters = grid.getGridParam("postData")["filters"];
                const data = 'filters=' + filters;
                $.ajax({
                    type: "POST",
                    url: "{{ request.path }}",
                    data: data,
                    success: function () {
                        reloadNodeAndData({{ node.pk }});
                    }
                });

                event.preventDefault();
            };

            {% if has_write_permission %}
			grid.bind('jqGridFilterSearch', save_filters);
			grid.bind('jqGridFilterReset', save_filters);

			const unsavedChanges = function() {
                const UNSAVED_MESSAGE = "Warning: You have unsaved changes, press 'find' to save";
                $("#filter-messages").text(UNSAVED_MESSAGE);
			};
			$("select", searchDialog).change(unsavedChanges);
            $("input[type=button]", searchDialog).click(unsavedChanges);
			$("input[type=text]", searchDialog).change(unsavedChanges);
        {% else %}
            $("input[type=button]", searchDialog).hide();
            $(".EditButton", searchDialog).hide();
        {% endif %}
		}
		hideLoadingOverlay();
	}

	registerComponent(unique_code, EDITOR, connectFilterNodeEditorToGrid);
});
</script>
<div id="FilterNode-editor"></div>
<div id="filter-messages"></div>
Note: Search is case insensitive (except "in"). Some columns contain NULL (no value) which will not match anything. You may want to use "is null" to include or "is not null" to exclude them.
{% endblock content %}
