{% extends "analysis/node_editors/grid_editor.html" %}
{% load datatable_tags %}
{% load help_tags %}

{% block docreadyjs %}
	{% if node.has_gene_coverage != None %}
		var shadowColor = "{{ node.shadow_color }}";
		var tabsToColor = ["#gene-list-tab", "#incomplete-coverage-tab"];
		for (var i=0 ; i<tabsToColor.length ; ++i) {
			$(tabsToColor[i]).children().css({"background-color" : shadowColor});
		}

	{% endif %}

{% endblock docreadyjs %}
{% block node_editor_tab_links_second %}
{% if node.status == 'R' %}
	{% if node.has_gene_coverage != None %}
	    	<li id='gene-list-tab' class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#node-genes-tab">Genes/Coverage</a></li>
	{% else %}
	    	<li id='gene-list-tab' class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#node-genes-tab">Genes</a></li>
	{% endif %}
{% endif %}
{% endblock node_editor_tab_links_second %}

{% block node_editor_tabs_second %}
    {% if node.status == 'R' %}
		<div class="tab-pane" role="tabpanel" id="node-genes-tab">
	    {% if gene_lists %}
            {% page_help page_id='genes/gene_list_gene_matching_help' title="Gene List Gene Matching" show_title=False %}

            {% if node.has_gene_coverage != None %}
            <div id="gene-tabs">
                <ul class="nav nav-tabs mb-4" role="tablist">
                    {% if incomplete_gene_coverage %}
                    <li id='incomplete-coverage-tab' class="nav-item"><a class="nav-link show active" data-toggle="tab" role="tab" href="#gene-incomplete-coverage">Incomplete Coverage</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link{% if not incomplete_gene_coverage %} show active{% endif %}" data-toggle="tab" role="tab" href="#gene-list-genes">Genes</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#gene-coverage">Coverage</a></li>
                </ul>
                <div class="tab-content">
                {% if incomplete_gene_coverage %}
                <div class="tab-pane show active" role="tabpanel" id="gene-incomplete-coverage">
                    {% for sample, cov, no_coverage_gene_names in incomplete_gene_coverage %}
                        <div class="editor-section-title">Sample: {{ sample }}</div>
                        <div class="editor-help">
                        Genes with no coverage: {{ no_coverage_gene_names }}
                        </div>
                        <table id="uncovered-genes-grid-{{ cov.pk }}" class="sticky-header" data-datatable-url="{% url 'uncovered_genes_datatable' gene_coverage_collection_id=cov.pk min_depth=sample.get_minimum_coverage_required gene_list_id_list=gene_list_id_list %}"></table>
                    {% endfor %}

                    <div class="editor-help">Minimum depth required is {{ min_coverage }}</div>
                </div>
                {% endif %}
                <div class="tab-pane{% if not incomplete_gene_coverage %} show active{% endif %}" role="tabpanel" id="gene-list-genes">
                    {%  for gene_list in gene_lists %}
                        <table id="gene-lists-genes-datatable-{{ gene_list.pk }}" class="sticky-header" data-datatable-responsive="true" data-datatable-url="{% url 'analysis_node_gene_list_genes_datatable' analysis_id=node.analysis_id node_id=node.pk version=node.version gene_list_id=gene_list.pk %}"></table>
                    {%  endfor %}
                </div>
                <div class="tab-pane" role="tabpanel" id="gene-coverage">
                    {% for sample, cov, _ in sample_coverage_and_uncovered %}
                        <div class="editor-section-title">{{ sample }}</div>
                        {% if cov %}
                        <div class="editor-help">Showing genes in gene list. <a href='{% url 'view_qc' cov.qcgenecoverage.qc.pk %}'>Full coverage</a></div>
                        <table id="gene-coverage-grid-{{ cov.pk }}" class="sticky-header" data-datatable-url="{% url 'gene_coverage_collection_gene_list_datatable' gene_coverage_collection_id=cov.pk gene_list_id_list=gene_list_id_list %}"></table>
                        {% else %}
                            <div class="editor-help">Sample has no coverage.</div>
                        {% endif %}
                    {% endfor %}
                </div>
                </div>
            </div>
            {% else %}
                {% for gene_list in gene_lists %}
                    <div class="editor-section-title">{{ gene_list }}</div>

                        {% if gene_list.url or not gene_list.category.hidden %}
                            <a href="{{ gene_list.get_absolute_url  }}" target="_blank">
                                {% if gene_list.url %}
                                    {{ gene_list.url }}
                                {% else %}
                                    view gene list
                                {% endif %}
                            </a>
                        {% endif %}

                    <table id="gene-lists-genes-datatable-{{ gene_list.pk }}" class="sticky-header" data-datatable-responsive="true" data-datatable-url="{% url 'analysis_node_gene_list_genes_datatable' analysis_id=node.analysis_id node_id=node.pk version=node.version gene_list_id=gene_list.pk %}"></table>
                {% endfor %}

                <div class="editor-help">No coverage information available.</div>
            {% endif %}
		{% else %}
			<div class="editor-help">No gene list selected</div>
		{% endif %}
		</div>
    {% endif %}
{% endblock node_editor_tabs_second %}

