{% load js_tags %}
{% load settings_tags %}
<style>
    code {
        white-space: pre-wrap;
    }
</style>
<div>
    <div><b>NodeCache:</b>
        {% if node.node_cache %}
            {{ node.node_cache }}
            {% if node.id != node.node_cache.node_id %}
                (from parent)
            {% endif %}
        {% else %}
            N/A
        {% endif %}
    </div>
    <code>{{ node_data|jsonify_pretty }}</code>
</div>

{% if node.valid %}
    <script>
    $(document).ready(function() {
        $('pre code.sql').each(function(i, block) {
            hljs.highlightBlock(block);
        });

        $('input#show-grid-columns').click(function() {
            var checked = $(this).prop('checked');
            var min_sql = $('#min-sql');
            var grid_sql = $('#grid-sql');
            if (checked) {
                min_sql.hide();
                grid_sql.show();
            } else {
                grid_sql.hide();
                min_sql.show();
            }
        });

        $("button#node-populate-clingen-alleles").click(function() {
            let btn = $(this);
            if (!btn.hasClass("disabled")) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'node_populate_clingen_alleles' node.analysis_id node.pk %}",
                    success: function(data) {
                        btn.addClass("disabled");
                    },
                });
            }
        });
    });
    </script>
    {%  if node_sql or grid_sql %}
    <span>
        Show columns <input id='show-grid-columns' type='checkbox' />
    </span>

    <div id="min-sql">
        <pre>
        <code class='sql'>
{{ node_sql }}
        </code>
        </pre>
    </div>
    <div id="grid-sql" style='display: none'>
        <pre>
        <code class='sql'>
{{ grid_sql }}
        </code>
        </pre>
    </div>
    {%  else %}
        Could not generate SQL
    {%  endif %}

    {% if user.is_superuser %}
        <button id="node-populate-clingen-alleles" class="btn btn-primary"
                title="Retrieves max {% settings_value 'CLINGEN_ALLELE_REGISTRY_MAX_MANUAL_REQUESTS' %} ClinGen Alleles">
            Populate ClinGen Alleles
        </button>
    {% endif %}
{% else %}
    The node has errors.
{% endif %}