{% extends base_template %}
{% block style %}
    {{ block.super }}

    #restrict-to-qc-gene-listmessage {
        color: #118811;
    }
    
    #view-allele-frequency-filter-link {
        margin-left: 10px;
    }
{% endblock style %}

{% block inlinejs %}
    {{ block.super }}

    function getSampleId() {
    {% if node.analysis.lock_input_sources %}
        var sampleId = "{{ sample.pk }}";
    {% else %}
        var sampleId = $("#id_sample").find(":selected").val();
    {% endif %}
        return sampleId;
    }

    function setSampleLink() {
        var sampleId = getSampleId();
        setCrossLink($("#sample-link"), Urls.view_sample, sampleId);
    }

    function getExtractionId() {
        return $("#id_extraction").find(":selected").val();
    }

    function getSampleThresholds() {
        // Only the rows the user actually overrode reach the server - the node's own values are
        // what any other sample gets
        const thresholds = {};
        $("tr.sample-threshold-row").each(function() {
            const row = $(this);
            const sampleId = row.attr("sample_id");
            const values = {};
            row.find("input.sample-threshold").each(function() {
                const field = $(this).attr("threshold_field");
                const val = $(this).val();
                values[field] = val === "" ? null : parseInt(val);
            });
            thresholds[sampleId] = values;
        });
        return thresholds;
    }

    function loadSampleGroupPreview() {
        const extractionId = getExtractionId();
        const preview = $("#sample-group-preview");
        if (!extractionId) {
            preview.html("No extraction selected");
            return;
        }
        setCrossLink($("#extraction-link"), Urls.view_extraction, extractionId);
        const url = Urls.extraction_samples(extractionId) + "?genome_build={{ node.analysis.genome_build }}";
        preview.html("Loading samples...");
        $.getJSON(url, function(data) {
            const totals = data["totals"];
            let html = "<b>" + totals["samples"] + "</b> sample(s) in <b>" + totals["vcfs"] + "</b> VCF(s)";
            if (totals["variant_count"] !== null) {
                html += " - " + totals["variant_count"] + " variants";
            }
            const list = $("<ul/>");
            $.each(data["samples"], function(i, s) {
                const count = s["variant_count"] === null ? "count not calculated" : s["variant_count"] + " variants";
                $("<li/>").text(s["sample"] + " (" + s["vcf"] + ") - " + count).appendTo(list);
            });
            $.each(data["warnings"], function(i, w) {
                $("<li/>").addClass("warning").text(w).appendTo(list);
            });
            preview.html(html).append(list);
        });
    }
{% endblock inlinejs %}

{% block docreadyjs %}
    {{ block.super }}

    var sampleForm = $("form#sample-form");
    ajaxForm(sampleForm, function() {
        $("input#id_sample_thresholds").val(JSON.stringify(getSampleThresholds()));
    });

	function resetGenotypeEditors() {
		$(".no-genotype-row").hide();
		$(".genotype-row").show();
	}

	function changeSample() {
        var sampleId = getSampleId();
        setSampleLink();
        loadSampleVCFLocusFilter(sampleId);
        resetGenotypeEditors();
	}

	function changeExtraction() {
	    loadSampleGroupPreview();
	    loadExtractionVCFLocusFilter(getExtractionId());
	}

{% if node.is_group_level %}
    loadSampleGroupPreview();
    $("select#id_extraction").change(changeExtraction);
{% else %}
	setSampleLink();
	$("select#id_sample").change(changeSample);
{% endif %}
	// Changing what the node reads changes which editors apply, so save to redraw them
	$("select#id_source_level").change(function() { sampleForm.submit(); });
	$("#slider-group-operation").hide(); // SampleNode doesnt use this
{% endblock docreadyjs %}


{% block node_editor_tab_links_second %}
    {{ block.super }}

    {% if sample.patient %}
            <li id='patient-tab' class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#node-patient">Patient</a></li>
    {% endif %}
{% endblock node_editor_tab_links_second %}

{% block node_filter_info %}
    {{ block.super }}

    {% if node.sample_gene_list and node.restrict_to_qc_gene_list %}
        <div>
        <span id='restrict-to-qc-gene-listmessage'>Sample restricted to GeneList ({{ node.sample_gene_list.gene_list }}) (see Genes tab for details)</span>
        </div>
    {% endif %}

{% endblock node_filter_info %}

{% block node_editor_tabs_second %}
    {{ block.super }}

	{% if sample.patient %}
		<div class="tab-pane" role="tabpanel" id="node-patient">
			<p>
			<b>Patient: </b>{{ sample.patient }} <a target='_blank' href="{% url 'view_patient' sample.patient.pk %}">Edit Patient</a>
			</p>
			{% if sample.patient.patientphenotype_set.all %}
				<p>
				<b>Phenotypes:</b>
				{% for pp in sample.patient.patientphenotype_set.all %}
					{{ pp.hpo }}
				{% endfor %}
				</p>
			{% endif %}
			{% if sample.patient.patientmim_set.all %}
				<p>
				<b>OMIM:</b>
				{% for mim in sample.patient.patientmim_set.all %}
					{{ mim.mim_morbid_alias.description }}
				{% endfor %}
				</p>
			{% endif %}
			</p>
		</div>
	{% endif %}
{% endblock node_editor_tabs_second %}

{% block content %}
<style>
table.zygosity-table {
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.zygosity-table tr.top-header th {
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
}

</style>

<div>
	<form id="sample-form" method="post" action="{{ request.path }}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div>
        {% if form.source_level %}
            <div>
                <b>Source:</b> {{ form.source_level }}
            </div>
        {% endif %}

        {% if node.is_group_level %}
            <div>
                <b>{{ node.get_source_level_display }}:</b>
                {% if node.analysis.lock_input_sources and node.analysis.template_type is None %}
                    {{ node.get_source_object }}
                {% else %}
                    {{ form.extraction }}
                {% endif %}
                <a class="cross-link" id="extraction-link" target='_blank'>View Extraction</a>
            </div>
            <div id='sample-group-preview'></div>
        {% else %}
        <div>
            <b>Sample:</b>

            {% if node.analysis.lock_input_sources and node.analysis.template_type is None %}
                {{ sample }}
            {% else %}
                {{ form.sample }}
            {% endif %}

            <a class="cross-link" id="sample-link" target='_blank'>View Sample</a>
        </div>
        {% endif %}

        {% if node.analysis.template_type %}
            <!-- We never set this manually, but show so it can be set as an analysis variable via template -->
            <div>
                <span id='sample-gene-list'> <b>Sample Gene List:</b> {{ form.sample_gene_list }} </span>
            </div>
            <div>
                <span id='qc-gene-list'> <b>Restrict to Sample Gene List:</b> {{ form.restrict_to_qc_gene_list }} </span>
            </div>
        {% endif %}

        <div>
            {% load vcf_locus_filter_tags %}
            {% if node.is_group_level %}
                {% vcf_locus_filter node None node.extraction %}
            {% else %}
                {% vcf_locus_filter node sample.vcf %}
            {% endif %}
        </div>
    {% if has_genotype %}
        <div class='genotype-row'>
            <b title='Allelic Depth'>AD</b>&ge;{{ form.min_ad }}
            <b title='Read Depth'>DP</b>&ge;{{ form.min_dp }}
            <b title='Genotype Quality'>GQ</b>&ge;{{ form.min_gq }}
            <b title='Phred-scaled Likelihoods for Genotypes'>PL</b>&le; {{ form.max_pl }}
        </div>
        {% if source_samples %}
        <div class='genotype-row'>
            <b>Per sample thresholds</b> - a row applies instead of the values above (sapath#301)
            <table id='sample-thresholds-table' class='left'>
                <tr><th>Sample<th>VCF<th title='Allelic Depth'>AD&ge;<th title='Read Depth'>DP&ge;
                    <th title='Genotype Quality'>GQ&ge;<th title='Phred-scaled Likelihoods for Genotypes'>PL&le;
                {% for ss in source_samples %}
                <tr class='sample-threshold-row' sample_id='{{ ss.sample.pk }}'>
                    <td>{{ ss.sample.name }}
                    <td>{{ ss.sample.vcf }}
                    <td><input class='sample-threshold narrow' threshold_field='min_ad' type='number' min='0' step='1' value='{{ ss.thresholds.min_ad }}' />
                    <td><input class='sample-threshold narrow' threshold_field='min_dp' type='number' min='0' step='1' value='{{ ss.thresholds.min_dp }}' />
                    <td><input class='sample-threshold narrow' threshold_field='min_gq' type='number' min='0' step='1' value='{{ ss.thresholds.min_gq }}' />
                    <td><input class='sample-threshold narrow' threshold_field='max_pl' type='number' min='0' step='1' value='{{ ss.thresholds.max_pl|default_if_none:"" }}' />
                {% endfor %}
            </table>
            <div class='clear'></div>
        </div>
        {% endif %}
        <div class='genotype-row'>
            <table class='zygosity-table left' style='text-align: center'>
                <tr class='top-header'>
                    <th>Ref
                    <th>Het
                    <th>Hom
                    <th>?
                <tr><td> {{ form.zygosity_ref }}
                    <td> {{ form.zygosity_het }}
                    <td> {{ form.zygosity_hom }}
                    <td> {{ form.zygosity_unk }}
            </table>
            <a id='view-allele-frequency-filter-link' class='left' href='javascript:viewAlleleFrequencyFilter()'>Allele Frequency...</a>
            <div class='clear'></div>
        </div>
        {% load allele_frequency_tags %}
        {% allele_frequency_controls node %}
    {% else %}
        <div class='no-genotype-row'>
            <b>Note:</b>VCF had no sample/genotype columns, so no sample information will appear in the grid.
        </div>
    {% endif %}
    	</div>
        {# Analysis template "add output node" checkbox #}
        {% if form.output_node  %}
            <p>{{ form.output_node.label }}{{ form.output_node }}</p>
        {% endif %}
        {% if has_write_permission %}
        	<button id='sample-save' class="btn btn-primary">save</button>
        {% endif %}
	    {{ form.media }}
	</form>
</div>
{% endblock content %}
