{% extends "analysis/node_editors/grid_editor.html" %}
{% load ui_utils %}
{% load settings_tags %}

{% block docreadyjs %}
    var tagNodeForm = $("form#tag-node-form");
    ajaxForm(tagNodeForm);
	var tagSelect = $("select#id_tag");

	// Set dropdown options to have tag colors
	$("option", tagSelect).each(function() {
		if (this.value) {
			$(this).addClass("tagged-" + this.value);
		}
	});

    // $("#node-editor-tabs").tabs({"disabled" : [1]});

{% endblock docreadyjs %}

{% block node_editor_not_visible_tab_links %}
    <li><a href="#tag-classification">Classifications</a></li>
{% endblock node_editor_not_visible_tab_links %}


{% block content %}
<div>
	<form id="tag-node-form" method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div>
    		{% if node.visible %}
    		<b>Analysis wide:</b> {{ form.analysis_wide }}
    		{% else %}
    		<b>All tags for analysis</b> 
    		{% endif %}
        </div>
		<div>
    		<b>Tag:</b> {{ form.tag }}
		</div>
        {% if has_write_permission %}
            <button id='tag-node-save' class="btn btn-primary">save</button>
        {% endif %}
        {{ form.media }}
	</form>
</div>
{% endblock content %}

{% block node_editor_not_visible_tab %}
<div id='tag-classification'>

    <p>
    Classify variants tagged with
    <span class="tagged-{% settings_value "TAG_REQUIRES_CLASSIFICATION" %}"><span class="user-tag-colored">{% settings_value "TAG_REQUIRES_CLASSIFICATION" %}</span></span>:
    </p>

    TODO: List classifications with a create classification from tag button

    {% if node.analysis.analysisclassification_set.exists %}
        Classifications exist for this analysis! TODO: display data grid
    {% endif %}

</div>
{% endblock node_editor_not_visible_tab %}
