{% extends "analysis/node_editors/grid_editor.html" %}
{% load classification_tags %}
{% load datatable_tags %}
{% load js_tags %}
{% load settings_tags %}
{% load tz %}
{% load ui_utils %}
{% block node_editor_not_visible_tab_links %}
    <li><a href="#tag-classification">Classifications</a></li>
{% endblock node_editor_not_visible_tab_links %}

{% block content %}
<style>
    .tag-top-checkboxes {
        margin-right: 10px;
    }
</style>
<script>
function classificationFilter(data, type) {
    data.analysis_id = "{{ node.analysis_id }}";
    // Object.assign(data, geneClassificationsGridParams);
}

function classifyAndCloseButton(tagId) {
    let classifyUrl = Urls.create_classification_for_variant_tag({{ node.analysis_id }}, tagId);
    window.open(classifyUrl, "_blank");
    $(`#tag-button-${tagId}`).remove();
}

function enableDisableExclude() {
    const excludeSection = $("#tagnode-exclude-section");
    const exclude = $("#id_exclude", excludeSection);
    if ($("#id_parent_input").is(":checked")) {
        exclude.prop("disabled", false);
        excludeSection.css("opacity", "100%");
    } else {
        exclude.prop("checked", false);
        exclude.prop("disabled", true);
        excludeSection.css("opacity", "50%");
    }
}


$(document).ready(function() {
    const tagNodeForm = $("form#tag-node-form");
    ajaxForm(tagNodeForm);
    const tagSelect = $("select#id_tag");

    // Set dropdown options to have tag colors
	$("option", tagSelect).each(function() {
		if (this.value) {
			$(this).addClass("tagged-" + this.value);
		}
	});

    enableDisableExclude();
	$("#id_parent_input", tagNodeForm).change(enableDisableExclude);

    {%  if not requires_classification_tags %}
        {% if not node.analysis.analysisclassification_set.exists %}
            $("#node-editor-tabs").tabs({"disabled" : [1]});
        {% endif %}
    {% endif %}

    EKeys.load().then(() => {
        {% datatable_definition table_config=datatable_config table_id='tag-datatable' url='classification_datatables' data='classificationFilter' hide_filter_count=True %};
        let vcDatatable = $('#tag-datatable');
        vcDatatable.on('draw.dt', () => {
            Flags.instance.init({userId: '{{user.id}}'});
        });
    });
});
</script>
<div>
	<form id="tag-node-form" method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% if node.visible %}
        <div>
            <span class="tag-top-checkboxes">
                <label>{{ form.parent_input.label }}:</label> {{ form.parent_input }}
            </span>
        </div>
        {% endif %}
        <div>
    		{% if node.visible %}
            <div class="display-flex">
                <label>Tags From:</label>
                {{ form.mode }}
            </div>
    		{% else %}
    		<b>All tags for analysis</b> 
    		{% endif %}
        </div>
		<div>
    		<b>Tag:</b> {{ form.tags }}
		</div>
        <div id="tagnode-exclude-section">
            <label>{{ form.exclude.label }}:</label> {{ form.exclude }}
            (Filter OUT variants with selected tags, only works with parent input)
        </div>
        {% if has_write_permission %}
            <button id='tag-node-save' class="btn btn-primary">save</button>
        {% endif %}
        {{ form.media }}
	</form>
</div>
{% endblock content %}

{% block node_editor_not_visible_tab %}
<div id='tag-classification'>

    {% if requires_classification_tags %}
        <p>
        Classify variants tagged with
        <span class="tagged-{% settings_value "TAG_REQUIRES_CLASSIFICATION" %}"><span class="user-tag-colored">{% settings_value "TAG_REQUIRES_CLASSIFICATION" %}</span></span>:
        </p>

        <table class="table">
            <tr><th>Classify</th><th>Variant</th><th>Gene</th><th>Username</th><th>Date</th>

        {% for vt in requires_classification_tags %}
            <tr>
                <td>
                    <a id="tag-button-{{ vt.pk }}" class="btn btn-primary" href="javascript:classifyAndCloseButton({{ vt.pk }})">
                        <i class="fas fa-plus-circle"></i> New Classification
                    </a>
                </td>
                <td>{{ vt.canonical_c_hgvs }}</td>
                <td>{{ vt.gene_symbol }}</td>
                <td>{{ vt.user }}</td>
                <td>{{ vt.created | localtime }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if node.analysis.analysisclassification_set.exists %}
        <h3>Classifications for this analysis</h3>
        {% datatable datatable_config 'tag-datatable' class_name='classification-table' %}
    {% endif %}

</div>
{% endblock node_editor_not_visible_tab %}
