{% load static %}
{% load model_helpers %}
{% load humanize %}
{% load ui_utils %}
<link rel="stylesheet" href="{% static 'css/graphs.css' %}" />
<link rel="stylesheet" href="{% static 'css/seqauto.css' %}" />
<script>
	var DELETE_URL = "{% url 'cached_generated_file_delete' %}";
	var BASE_QC_POLL_URL = "{% url 'sequencing_run_qc_graph' sequencing_run.pk 'QC_COMPARE_TYPE' %}";
	var BASE_QC_JSON_GRAPH_URL = "{% url 'sequencing_run_qc_json_graph' sequencing_run.pk 'QC_COMPARE_TYPE' %}";

	function loadSequencingRunQCGraph() {
	    const SEQUENCING_RUN_ID = "{{ sequencing_run.pk }}";
        const rsSelector = $("#run-stats");
		const graph_selector = $('#generated-graph-qc', rsSelector);
		const compare_against = $('#id_compare_against', rsSelector).val();
		const graph_type = $('#id_graph_type', rsSelector).val();

		clearGraph(graph_selector);
		const columnSelect = $("select#id_column", rsSelector).parent();
		if (graph_type == 'B') {
			columnSelect.hide();
			const POLL_URL = Urls.sequencing_run_qc_graph(SEQUENCING_RUN_ID, compare_against);
			poll_graph_status(graph_selector, POLL_URL, Urls.cached_generated_file_delete());
		} else if (graph_type == 'A') {
			columnSelect.show();
			const JSON_GRAPH_URL = Urls.sequencing_run_qc_json_graph(SEQUENCING_RUN_ID, compare_against);
			graph_selector.load(JSON_GRAPH_URL, function() { graph_selector.removeClass("graph-loading"); });
		}
	}

$(document).ready(function() {
	{% if show_stats %}
		loadSequencingRunQCGraph();
		
		$('#id_compare_against', "#run-stats").change(loadSequencingRunQCGraph);
		$('#id_graph_type', "#run-stats").change(loadSequencingRunQCGraph);

	{% endif %}
});
</script>
<div id="run-stats">
{% if show_stats %}
	{{ graph_form.as_p }}
	<div id='generated-graph-qc' class='generated-graph mb-4'></div>
	{% labelled label="Mean Cluster Density" %}{{ illumina_qc.mean_cluster_density|intcomma }}{% endlabelled %}
	{% labelled label="Mean PF Cluster Density" %}{{ illumina_qc.mean_pf_cluster_density|intcomma }}{% endlabelled %}
	{% labelled label="Total Clusters" %}{{ illumina_qc.total_clusters|intcomma }}{% endlabelled %}
	{% labelled label="Total PF Clusters" %}{{ illumina_qc.total_pf_clusters|intcomma }}{% endlabelled %}
	{% labelled label="Percentage of Clusters PF" %}{{ illumina_qc.percentage_of_clusters_pf|floatformat }}{% endlabelled %}
	{% labelled label="Aligned To PhiX" %}{{ illumina_qc.aligned_to_phix|floatformat }}{% endlabelled %}
	{% if read_q30s %}
		{% labelled label="R1 Q30" %}{{ read_q30s.R1|floatformat }}{% endlabelled %}
		{% labelled label="R2 Q30" %}{{ read_q30s.R2|floatformat }}{% endlabelled %}
	{% endif %}
{% else %}
	<p class="text-muted">No stats available.</p>
{% endif %}
</div>
