{% load static %}
{% load jqgrid_tags %}
{% load help_tags %}
{% load model_helpers %}
<link rel="stylesheet" href="{% static 'css/graphs.css' %}" />
<style>
#qc-exec-summary-graph {
    width: 1200px;
    height: 800px;
}


.qc-column-name {
	text-align: right;
}

/* Fix to override global_legacy.scss */
table th.num, table td.num {
    text-align: left;
}

</style>
<script src="{% static 'js/generated_graphs.js' %}"></script>
<script>
{% if qc.data_state == 'C' and exec_summary.data_state == 'C' %}
    EXEC_SUMMARY_ID = {{ exec_summary.pk }};

	function loadQCExecSummaryGraph() {
		const graph_selector = $('#qc-exec-summary-graph');
		const compare_against = $('#id_compare_against', "#exec-summary").val();
        const graph_type = $('#id_graph_type', "#exec-summary").val();

        clearGraph(graph_selector);
        const columnSelect = $("select#id_column").parent();
        if (graph_type == 'B') {
            columnSelect.hide();
            const POLL_URL = Urls.qc_exec_summary_graph(EXEC_SUMMARY_ID, compare_against);
            poll_graph_status(graph_selector, POLL_URL, Urls.cached_generated_file_delete());
        } else if (graph_type == 'A') {
            columnSelect.show();
            const JSON_GRAPH_URL = Urls.qc_exec_summary_json_graph(EXEC_SUMMARY_ID, compare_against);
            graph_selector.load(JSON_GRAPH_URL, function() { graph_selector.removeClass("graph-loading"); });
        }
	}
{% endif %}

    $(document).ready(function() {
    	{% if qc.data_state == 'C' and exec_summary %}
    	loadQCExecSummaryGraph();
    	$('#id_compare_against', "#exec-summary").change(loadQCExecSummaryGraph);
        $('#id_graph_type', "#exec-summary").change(loadQCExecSummaryGraph);

    	{% endif %}
    });
</script>

<div id="exec-summary">
    {% if qc.data_state == 'C' and exec_summary.data_state == 'C' %}
		{{ graph_form.as_p }}
		<div id='qc-exec-summary-graph' class='generated-graph'></div>

        <table class="table">
            {{ exec_summary | as_table | safe }}
        </table>
    {% else %}
        {% if exec_summary %}
            Exec summary is not ready (status={{ exec_summary.get_data_state_display }})
        {% else %}
            Exec summary not available.
        {% endif %}
	{% endif %}
				
</div>
