{% extends menu_analysis_base %}
{% load ui_utils %}
{% load crispy_forms_field %}
{% block title %}Karyomapping{% endblock title %}
{% block head %}
<script>
    $(document).ready(() => {
        $("button#new-karyomapping-analysis").click(function() {
            var trioId = $("#id_trio").val();
            var url = Urls.create_karyomapping_analysis_for_trio(trioId);
            window.location = url;
        });

        $("#karyomapping-group-data").change(function() {
            $.ajax({
                type: "POST",
                data: {grid_name: "Karomapping Analyses", filter_level: "groups", checked: $(this).is(":checked")},
                url: "{% url 'set_user_data_grid_config' %}",
                headers: {"X-CSRFToken": Cookies.get("csrftoken")},
                success: function() {
                    $("#karyomapping-analyses-datatable").DataTable().ajax.reload(null, false);
                }
            });
        });
    });
</script>
{% endblock head %}
{% block submenu_page_content %}
    <h3>Karyomapping</h3>
    <div class="container no-gutters no-padding">
        <form>
            <div class="card">
                <div class="card-header">Create</div>
                <div class="card-body">
                    {% labelled label="Trio" %}{{ trio_form.trio }} {{ trio_form.media }}{% endlabelled %}
                    <button class="btn btn-primary" id='new-karyomapping-analysis' type='button'><i class="fas fa-plus-circle"></i> Create for Trio</button>
                </div>
            </div>
        </form>
    </div>

    <div class="mt-4">
        <div class="mb-2">
            <label><input type="checkbox" id="karyomapping-group-data" {% if show_group_data %}checked{% endif %}> Show Group Data</label>
        </div>
        <table id="karyomapping-analyses-datatable" data-datatable-url="{% url 'karyomapping_analyses_datatable' %}" class="sticky-header"></table>
    </div>
{% endblock submenu_page_content %}
