{% block top %}{% endblock top %}

<style>
	{% block css %}{% endblock css %}
</style>

<script type="text/javascript">
    function on_error_function(errors) {
        hideLoadingOverlay();

        let html = "<div>Node errors:</div><ul class='messages'>";
        for (let i=0 ; i<errors.length ; ++i) {
            let errorMessage = errors[i];
            if (errorMessage.startsWith("Analysis:")) {
                errorMessage += `<div><div style="margin-right: 2px" class="left">Fix this in </div> <a href="javascript:analysisSettings()"><div class="left icon16 settings-icon"></div><div class="left">Analysis settings</div></a><div class="clear"></div></div>`;
            }
            html += "<li class='error'>" + errorMessage + "</li>";
        }
        html += "</ul>"
        $("#node-data-container").empty();
        $("#error-container").html(html).show();
    }

	function load_node_editor(node_edit_url) {
	    $("#node-editor-container").empty();
        $.ajax(node_edit_url, {
            suppressErrors: true,
            success: function(html) {
                $("#node-editor-container").html(html);
            },
            error: function(xhr, error) {
                let message = "Error Loading Node Editor. Status: " + xhr.status + ". ";
                if (xhr.status >= 500) {
                    message += "Internal server error";
                } else if (xhr.status >= 400) {
                    message += "Error retrieving data - perhaps try reloading node?";
                }
                on_error_function([message]);
            }
        });
	}
	{% block javascript %}{% endblock javascript %}
	
	$(document).ready(function() {
		$("#error-container").empty();
	    {% block docreadyjs %}{% endblock docreadyjs %}
	});
</script>

{% block content %}
{% endblock content %}
