{% extends "uicore/page/base.html" %}
{% load english_tags %}
{% load ui_utils %}
{% load ui_menu_bars %}
{% load js_tags %}
{% load humanize %}
{% block submenu %}{% menu_bar_data %}{% endblock %}
{% load ui_tabs_builder %}
{% block title %}Liftover: {{ liftover }}{% endblock title %}
{% block content %}
    <script>
    </script>

    <div class="current-record-menu-item">
        <div class="text-small text-muted">viewing</div>
        <i class="fa-solid fa-circle main-icon mr-1" style="color:#bbb; font-size:8pt"></i><label>{{ liftover }}</label>
    </div>

    <div class="container" style="position:relative">
        <div class="card">
            <div class="card-header">{{ liftover }}</div>
            <div class="card-body">
                {% labelled hint="tiny" label="Id" %}{{ liftover.pk }}{% endlabelled %}
                {% labelled hint="tiny" label="Allele Source" %}{{ liftover.get_allele_source }}{% endlabelled %}
                {% labelled hint="tiny" label="Conversion Tool" %}{{ liftover.get_conversion_tool_display }}{% endlabelled %}
                {% labelled hint="tiny" label="Source VCF" %}{{ liftover.source_vcf }}{% endlabelled %}
                {% labelled hint="tiny" label="Source Build" %}{{ liftover.source_genome_build }}{% endlabelled %}
                {% labelled hint="tiny" label="(Dest) Build" %}{{ liftover.genome_build }}{% endlabelled %}
            </div>
        </div>

        <div class="card">
            <div class="card-header">Upload Processing</div>
            <div class="card-body">
                {% with up=liftover.uploadedliftover.uploaded_file.uploadpipeline %}
                    <a href="{% url 'view_upload_pipeline' upload_pipeline_id=up.pk %}">View upload processing</a>
                    {% labelled hint="tiny" label="Status" %}{{ up.get_status_display }}{% endlabelled %}
                    {% labelled hint="tiny" label="Items processed" %}{{ up.items_processed }}{% endlabelled %}
                {% endwith %}
            </div>
        </div>

        <!-- It's also possible to display all the variants linked via allele source?? -->

    </div>


{% endblock %}