{% extends "uicore/page/base.html" %}
{% load english_tags %}
{% load ui_utils %}
{% load ui_menu_bars %}
{% load js_tags %}
{% load humanize %}
{% block submenu %}{% menu_bar_data %}{% endblock %}
{% load ui_tabs_builder %}
{% block title %}{{ liftover_run }}{% endblock title %}
{% block content %}
    <script>
        function datatableFilter(data) {
            data.liftover_run_id = {{ liftover_run.pk }};
        }
    </script>

    <div class="current-record-menu-item">
        <div class="text-small text-muted">viewing</div>
        <i class="fa-solid fa-circle main-icon mr-1" style="color:#bbb; font-size:8pt"></i><label>{{ liftover }}</label>
    </div>

    <div class="container" style="position:relative">
        <a class="link-back" href="{% url 'liftover_runs' %}">Back to liftover runs...</a>

        <div class="card">
            <div class="card-header">{{ liftover_run }}</div>
            <div class="card-body">
                {% labelled label="Id" %}{{ liftover_run.pk }}{% endlabelled %}
                {% labelled label="Run Date" %}{% timestamp liftover_run.created show_micro=True %}{% endlabelled %}
                {% labelled label="Completed Date" %}{% timestamp liftover_run.modified show_micro=True %}{% endlabelled %}
                {% labelled label="Allele Source" %}
                    {% if liftover_run.allele_source %}
                        {{ liftover_run.get_allele_source }}
                    {% endif %}
                {% endlabelled %}
                {% labelled label="Conversion Tool" %}{{ liftover_run.get_conversion_tool_display }}{% endlabelled %}
                {% labelled label="Source VCF" %}{{ liftover_run.source_vcf }}{% endlabelled %}
                {% labelled label="Source Build" %}{{ liftover_run.source_genome_build }}{% endlabelled %}
                {% labelled label="(Dest) Build" %}{{ liftover_run.genome_build }}{% endlabelled %}
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">Upload Processing</div>
            <div class="card-body">
                {% with up=liftover_run.uploadedliftover.uploaded_file.uploadpipeline %}
                    {% if up %}
                        <a href="{% url 'view_upload_pipeline' upload_pipeline_id=up.pk %}">View upload processing</a>
                        {% labelled label="Status" %}{{ up.get_status_display }}{% endlabelled %}
                        {% labelled label="Items processed" %}{{ up.items_processed }}{% endlabelled %}

                        {% with up_errors=up.get_errors  %}
                            {% if up_errors %}
                                {% for msg, _ in up_errors %}
                                    <div class="alert import-message error alert-danger" role="alert">
                                        <i class="fas fa-info-circle text-info"></i> {{ msg }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                    {% else %}
                        No associated upload pipeline
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">Allele Liftover Statuses</div>
            <div class="card-body">
                {% if status_counts %}
                    {% for status, count in status_counts.items %}
                        {% labelled label=status|add:' Count' %}{{ count }}{% endlabelled %}
                    {% endfor %}
                {% else %}
                    No linked allele liftovers
                {% endif %}
            </div>
        </div>

        {% if status_counts %}
            <!-- It's also possible to display all the variants linked via allele source?? -->
            <div class="mt-4">
                <table data-datatable-url="{% url 'allele_liftover_datatable' %}" data-datatable-data='datatableFilter' class="import-table sticky-header" responsive="true"></table>
            </div>
        {% endif %}
    </div>

{% endblock %}