.custom-age {
    display: inline-flex;
    align-items: center;
}
.custom-age-number {
    border-radius: 4px;
    border: 1px solid #dddddd;
    min-height: 16px;
    text-align: right;
    width: 60px !important;
    min-width: 60px !important;
    margin-right: 6px;
}
.custom-age-unit {
    min-width: 140px;
    width: 140px;
    width: 120px !important;
    min-width: 120px !important;
}