@charset "UTF-8";
h3:not(.popover-header), h4:not(.popover-header) {
  margin-bottom: 16px;
}

h3:not(:first-child):not(.popover-header), h4:not(:first-child):not(.popover-header) {
  margin-top: 28px;
}

.card-header h4, .card-header h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
}

.select2-selection.form-control {
  height: 33px !important;
  padding: 4px 0 0 0 !important;
  border-color: #ced4da !important;
}

.form-control .select2-selection__arrow {
  display: none;
}

label, form label {
  color: #555;
  font-weight: 500;
}

/* be able to show alerts in tables without them making the row giant */
.table .alert {
  margin-bottom: 1px;
  height: 20px;
  line-height: 16px;
  padding: 0px 15px 3px 15px;
}

.table th {
  font-weight: 500;
}

.card-header {
  background-color: #e4e4e4;
  font-weight: 500;
}
.card-header a {
  color: #444488;
}
.card-header a:hover {
  text-decoration: underline;
}

.modal-header {
  background-color: #eee;
}
.modal-header a:hover {
  text-decoration: underline !important;
}

.modal-body-scroll {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

/*
.card-body {
    background-color: #f5fff5;
    .list-group-item {
        background-color: #f5fff5;
    }
}
*/
td.dt-preview {
  font-family: monospace;
  font-size: 12px;
  overflow-x: hidden;
  color: #222288;
  cursor: pointer;
}
td.dt-preview:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: gray;
}

table.dataTable tr.odd:hover, table.dataTable tr.even:hover {
  background-color: #f8f8f8;
}
table.dataTable tr.odd:hover .toggle-link:before, table.dataTable tr.even:hover .toggle-link:before {
  opacity: 1;
}
table.dataTable .dt-detail {
  font-size: 12px;
  white-space: pre-wrap;
  color: #444444;
  font-family: monospace;
}
table.dataTable tr.child td.child {
  padding-top: 0;
  padding-bottom: 16px;
}
table.dataTable tr.child td.child fieldset.form-fields {
  padding-top: 0;
}
table.dataTable tr.child td.child fieldset.form-fields > * > label {
  width: 100px;
}
table.dataTable tr.child td.child fieldset.form-fields > * > *:nth-child(2) {
  width: calc(100% - 100px);
}

table.dataTable td.dataTables_empty {
  font-size: 16px;
  padding-top: 22px;
  padding-bottom: 12px;
  color: #BBBBBB !important;
  font-style: italic;
}
table.dataTable td.dataTables_empty:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "FontAwesome";
  content: "";
  opacity: 0.4;
  margin-right: 8px;
}

table.datatable.expandable tr.even, table.datatable.expandable tr.odd {
  cursor: pointer;
}

.dataTables_wrapper .toolbar {
  display: flex;
  align-items: baseline;
}
.dataTables_wrapper .toolbar .custom {
  flex-grow: 1;
}
.dataTables_wrapper .bottom {
  display: flex;
  align-items: center;
}
.dataTables_wrapper .bottom .showing {
  flex-grow: 1;
}

.variant-coordinate {
  word-break: break-all;
}

/*
time.ago:after {
    content: ' ago';
    font-size: smaller;
    color: #444444;
}
time.future:after {
    content: ' from now' !important;
}
 */
span.select2-container {
  min-width: 100% !important;
  width: 100% !important;
}

.no-padding {
  padding: 0 0 0 0 !important;
}

.card-body-list {
  padding: 0 0 0 0 !important;
}
.card-body-list .list-group {
  border: none;
  border-radius: 0 !important;
}
.card-body-list .list-group .list-group-item {
  border-left: none !important;
  border-right: none !important;
}
.card-body-list .list-group .list-group-item:first-child {
  border-top: none !important;
}
.card-body-list .list-group .list-group-item:last-child {
  border-bottom: none !important;
}

.ui-jqgrid > .ui-jqgrid-pager {
  height: 38px !important;
}

hr {
  width: 100%;
}

label.form-check-label, label[for] {
  cursor: pointer;
}

label {
  margin-bottom: 0;
}

table.table {
  font-size: 12px;
}

.inline-custom {
  width: 200px;
}

a.list-group-item-action {
  color: #444488 !important;
  cursor: pointer;
}

.not-met {
  color: #AAAAAA !important;
}

.override {
  cursor: help;
}
.override:after {
  content: "*";
  color: #bbbbbb;
}

.note.empty {
  opacity: 0.5;
}

.explain.empty {
  opacity: 0;
}

.note, .explain {
  cursor: pointer;
  padding-right: 4px;
}

.btn-disabled-wrapper {
  display: inline-block;
}
.btn-disabled-wrapper > * {
  width: 100%;
}

.btn-toolbar > *:not(:first-child) {
  margin-left: 10px;
}
.btn-toolbar > * {
  height: 32px;
}
.btn-toolbar > * .btn {
  height: 32px;
}

.link-toolbar > *:not(:first-child) {
  margin-left: 10px;
}
.link-toolbar > *:not(:first-child)::before {
  content: "|";
  margin-right: 10px;
  color: grey !important;
}

.btn-rnd-rect {
  width: 32px;
  height: 32px;
  border-radius: 12px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
}
.btn-rnd-rect i.fas {
  margin: 0;
}

.btn-circle {
  width: 50px;
  height: 32px;
  border-radius: 25px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}
.btn-circle i.fas {
  margin: 0;
}

.accordion > .card {
  overflow: inherit;
}

a {
  cursor: pointer;
}

.external-link::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "FontAwesome";
  content: "";
  opacity: 0.4;
  margin-left: 4px;
}

.modal-link::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "FontAwesome";
  content: "";
  opacity: 0.4;
  margin-left: 4px;
}

.mail-link::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "FontAwesome";
  content: "";
  opacity: 0.4;
  margin-left: 4px;
}

.download-link:after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "FontAwesome";
  content: "";
  opacity: 0.6;
  margin-left: 4px;
}

.toggle-link:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "FontAwesome";
  content: "";
  opacity: 0.6;
  margin-right: 4px;
  width: 12px;
}

.toggle-link[aria-expanded=true]:before, tr.parent .toggle-link:before, .toggle-link[aria-expanded=true]:before, tr.shown .toggle-link:before {
  content: "";
}

.modal-header nav .breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

table.sticky-header thead th {
  background-color: white;
  position: sticky !important;
  top: -36px;
  z-index: 1;
}

table.responsive {
  width: 100%;
}
table.responsive tr.odd, table.responsive tr.even {
  cursor: pointer;
}

.container-table {
  max-width: 1700px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a.list-group-item-action.list-group-item-light {
  color: #8888aa !important;
}

.list-group-item-action {
  cursor: pointer;
}

/* accordion styles */
.accordion .card-header {
  cursor: pointer;
  position: relative;
}
.accordion.indicator-plus .card-header:after {
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.accordion.indicator-plus .card-header.collapsed:after {
  content: "";
}
.accordion.indicator-plus-before.round-indicator .card-header:before {
  font-family: "FontAwesome";
  font-size: 12pt;
  content: "";
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  color: #88b;
}
.accordion.indicator-plus-before.round-indicator .card-header.collapsed:before {
  content: "";
  color: #88b;
}
.accordion.indicator-plus-before .card-header:before {
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.accordion.indicator-plus-before .card-header.collapsed:before {
  content: "";
}
.accordion.indicator-chevron .card-header:after {
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.accordion.indicator-chevron .card-header.collapsed:after {
  content: "";
}
.accordion.background-none [class^=card] {
  background: transparent;
}
.accordion.border-0 .card {
  border: 0;
}

/* for classifications */
.genome-build {
  font-size: 8px;
  margin-right: 4px;
}

.share-level-LAB, .share-level-INSTITUTION {
  opacity: 0.4;
}

span.cs {
  display: inline-block;
  padding: 2px 4px 2px 4px;
  border: 1px solid gray;
  border-radius: 4px;
}

.cs-b {
  background-color: #ccccff;
}

.cs-lb {
  background-color: #ddddff;
}

.cs-vus {
  background-color: #dddddd;
}

.cs-vus_a {
  background-color: #dddddd;
}

.cs-vus_b {
  background-color: #dddddd;
}

.cs-vus_c {
  background-color: #dddddd;
}

.cs-lp {
  background-color: #ffdddd;
}

.cs-p {
  background-color: #ffcccc;
}

.cs- {
  background-color: #f0f0f0;
}

.cs-card {
  text-align: center;
  padding: 0 10px 16px 10px;
  font-weight: bold;
  color: #444;
  letter-spacing: 1px;
}

/* share icons */
label .tiny-icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

/* for setting non repeating backgound image */
div.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.no-value {
  color: #BBBBBB !important;
  font-style: italic;
  border-color: #dddddd !important;
}

.loading-message {
  margin-top: 40px;
  margin-bottom: 20px;
  border-top: 60px solid transparent;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.zero-value {
  color: #AAAAAA;
}

.ajax-error {
  width: 100%;
  color: #844;
  font-weight: bold;
  text-align: center;
  animation: fadeInOpacity ease-out 1s;
}

.hidden {
  display: none;
}

.toggle-link {
  color: #88B;
  cursor: pointer;
}

.hover-detail {
  color: #446;
  text-decoration: none;
  cursor: help;
}

.hover-link, nav ol.breadcrumb .breadcrumb-item a, .modal-link, .download-link, .mail-link {
  color: #44a;
  text-decoration: none;
  cursor: pointer;
}
.hover-link:hover, nav ol.breadcrumb .breadcrumb-item a:hover, .modal-link:hover, .download-link:hover, .mail-link:hover {
  text-display: underline;
}

.card-footer .hover-link {
  color: #66a !important;
  font-weight: 500;
}

.hover-delete {
  color: #bb4444 !important;
  text-decoration: none;
  position: relative;
}
.hover-delete:hover {
  cursor: pointer;
  text-decoration: underline;
}
.hover-delete:hover::before {
  z-index: 100;
  position: absolute;
  left: -16px;
  content: "";
  font-family: "FontAwesome";
}

.readonly {
  color: #444444;
  border: 1px solid #dddddd;
  border-radius: 4px;
  min-height: 34px;
  padding-left: 8px;
  padding-top: 6px;
  background-color: #fafafa;
  cursor: not-allowed;
}
.readonly .override-source {
  text-transform: lowercase;
  font-weight: bold;
  font-family: monospace;
  font-size: small;
  color: #aaa;
}

table.as_table th {
  width: 50%;
  text-align: right;
  border: none;
}
table.as_table td {
  width: 50%;
  text-align: left !important;
  border: none;
}

.tooltip {
  pointer-events: none;
}

.hp, .hpo, .omim, .gene {
  border: 3px solid white;
  margin: 0 4px 0 4px;
  border-radius: 3px;
  padding: 0 4px 0 4px;
}

.hp, .hpo {
  background-color: #FF8C00;
  border-color: #FF8C00;
}

.omim {
  background-color: #22529e;
  border-color: #22529e;
  color: #ddd;
}

.gene {
  background-color: #99CD83;
  border-color: #99CD83;
}

.dt-status .val-R:before {
  font-family: "FontAwesome";
  margin-right: 4px;
  content: "";
  color: green;
}
.dt-status .val-P:before {
  font-family: "FontAwesome";
  color: #bbb;
  margin-right: 4px;
  content: "";
}
.dt-status .val-A:before {
  font-family: "FontAwesome";
  margin-right: 4px;
  content: "";
  color: #6a6;
}
.dt-status .val-U:before {
  font-family: "FontAwesome";
  margin-right: 4px;
  content: "";
}

.list-group-small {
  max-width: 300px;
}

.formatted-text {
  white-space: pre-wrap;
  word-break: break-word;
}

.code {
  font-family: monospace;
  color: #444;
  font-weight: 400;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 6px 6px 6px 12px;
  background-color: #eee;
}

.code.card-body {
  border: none;
  border-radius: 0;
}

.secret {
  color: #444;
  font-family: monospace;
  letter-spacing: 2px;
}

ul.compact {
  margin: 4px 0 4px 0;
  padding-left: 0;
  line-height: 0.5rem;
}
ul.compact li {
  display: block;
  position: relative;
  line-height: 1rem;
}
ul.compact li:before {
  color: #777;
  position: relative;
  padding-right: 6px;
  bottom: 2px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 0.4rem;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "";
  line-height: 0;
}

.threshold {
  display: inline-block;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  color: white !important;
}

.threshold-low {
  background-color: #2dc937;
}

.threshold-med {
  background-color: #e7b416;
}

.threshold-high {
  background-color: #C64A42;
}

.text-monospace {
  color: #444;
}

.text-small {
  font-size: 13px;
}

.fade-in-scale {
  transform-origin: top left;
  animation: fadeInScale ease-out 0.5s;
}

.fade-out-scale {
  transform-origin: top left;
  animation: fadeOutScale ease-in 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInScale {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeOutScale {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
    display: none;
  }
}
.site-message.border.severity-W {
  border: 2px solid #FEBC00 !important;
}

.site-message.border.severity-E {
  border: 2px solid #dc3545 !important;
}

#django-messages {
  animation: fadeInOpacity ease-out 1s;
}
#django-messages i {
  animation: fadeInScale ease-out 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.json {
  font-family: monospace;
  color: #444;
  font-weight: 400;
  background-color: #eee;
}
.json.code-block {
  border: 1px solid #bbb;
  padding: 8px;
  border-radius: 8px;
}
.json .js-valid {
  margin-left: 16px;
}
.json .js-valid .js-valid-body {
  display: block;
  padding: 4px;
  border: 1px dashed #888;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.json > .js-valid {
  margin: 0;
  padding: 0;
}
.json .js-block {
  display: block;
  margin-left: 24px;
}
.json .js-num {
  color: #444;
}
.json .js-bool {
  color: #444;
}
.json .js-null {
  color: #888;
  font-style: italic;
}
.json .js-qt {
  color: #494;
}
.json .js-str {
  color: #464;
}
.json .js-br {
  color: #448;
}
.json .js-pr {
  color: #44b;
}
.json .js-colon {
  color: #666;
  margin-right: 4px;
}
.json .js-comma {
  color: #888;
  display: inline-block;
}

/*# sourceMappingURL=global_bs.css.map */
