h3:not(.popover-header), h4:not(.popover-header) {
  margin-bottom: 16px;
}

h3:not(:first-child):not(.popover-header), h4:not(:first-child):not(.popover-header) {
  margin-top: 28px;
}

.card-header h4, .card-header h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
}

.select2-selection.form-control {
  height: 33px !important;
  padding: 4px 0 0 0 !important;
  border-color: #ced4da !important;
}

.form-control .select2-selection__arrow, .form-group .select2-selection__arrow {
  display: none;
}

.form-group .select2-selection__rendered {
  margin-top: -5px;
}

label, form label {
  color: #555;
  font-weight: 500;
}

/* be able to show alerts in tables without them making the row giant */
.table .alert {
  margin-bottom: 1px;
  height: 20px;
  line-height: 16px;
  padding: 0px 15px 3px 15px;
}

.dtrg-start td {
  background-color: #efefef;
}

tbody tr.dtrg-group.dtrg-start:not(:first-child) td {
  border-top: 40px solid white;
}

.table th {
  font-weight: 500;
}

.card-header {
  background-color: #e4e4e4;
  font-weight: 500;
}
.card-header a {
  color: #444488;
}
.card-header a:hover {
  text-decoration: underline;
}

.modal-header {
  background-color: #eee;
}
.modal-header a:hover {
  text-decoration: underline !important;
}

.modal-body-scroll {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

/*
.card-body {
    background-color: #f5fff5;
    .list-group-item {
        background-color: #f5fff5;
    }
}
*/
td.dt-preview {
  font-family: monospace;
  font-size: 12px;
  overflow-x: hidden;
}

table.dataTable tr.odd:hover, table.dataTable tr.even:hover {
  background-color: #f8f8f8;
}
table.dataTable tr.odd:hover .toggle-link:before, table.dataTable tr.even:hover .toggle-link:before {
  opacity: 1;
}
table.dataTable .dt-detail {
  font-size: 12px;
  white-space: pre-wrap;
  color: #444444;
  font-family: monospace;
}
table.dataTable tr.child td.child {
  padding-top: 0;
  padding-bottom: 16px;
}
table.dataTable tr.child td.child fieldset.form-fields {
  padding-top: 0;
}
table.dataTable tr.child td.child fieldset.form-fields > * > label {
  width: 100px;
}
table.dataTable tr.child td.child fieldset.form-fields > * > *:nth-child(2) {
  width: calc(100% - 100px);
}

table.dataTable td.dataTables_empty, td.table-empty {
  font-size: 16px !important;
  padding-top: 22px;
  padding-bottom: 12px;
  color: #BBBBBB !important;
  font-style: italic;
  text-align: center;
}
table.dataTable td.dataTables_empty:before, td.table-empty:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  content: "\f1b2";
  opacity: 0.4;
  margin-right: 8px;
}

table.datatable.expandable tr.even, table.datatable.expandable tr.odd {
  cursor: pointer;
}

.dataTables_wrapper .toolbar {
  display: flex;
  align-items: baseline;
}
.dataTables_wrapper .toolbar .custom {
  flex-grow: 1;
}
.dataTables_wrapper .bottom {
  display: flex;
  align-items: center;
}
.dataTables_wrapper .bottom .showing {
  flex-grow: 1;
}

.variant-coordinate {
  word-break: break-all;
}

/*
time.ago:after {
    content: ' ago';
    font-size: smaller;
    color: #444444;
}
time.future:after {
    content: ' from now' !important;
}
 */
span.select2-container {
  min-width: 100% !important;
  width: 100% !important;
}

strong {
  font-weight: 500;
}

.no-padding {
  padding: 0 0 0 0 !important;
}

.card-body-list {
  padding: 0 0 0 0 !important;
}
.card-body-list .list-group {
  border: none;
  border-radius: 0 !important;
}
.card-body-list .list-group .list-group-item {
  border-left: none !important;
  border-right: none !important;
}
.card-body-list .list-group .list-group-item:first-child {
  border-top: none !important;
}
.card-body-list .list-group .list-group-item:last-child {
  border-bottom: none !important;
}

.ui-jqgrid > .ui-jqgrid-pager {
  height: 38px !important;
}

hr {
  width: 100%;
}

label.form-check-label, label[for] {
  cursor: pointer;
}

label {
  margin-bottom: 0;
}

table.table {
  font-size: 12px;
}

.inline-custom {
  width: 200px;
}

a.list-group-item-action {
  color: #444488 !important;
  cursor: pointer;
}

.not-met {
  color: #AAAAAA !important;
}

.override {
  cursor: help;
}
.override:after {
  content: '*';
  color: #bbbbbb;
}

.note.empty {
  opacity: 0.5;
}

.explain.empty {
  opacity: 0;
}

.note, .explain {
  cursor: pointer;
  padding-right: 4px;
}

.btn-disabled-wrapper {
  display: inline-block;
}
.btn-disabled-wrapper > * {
  width: 100%;
}

.btn-toolbar > *:not(:first-child) {
  margin-left: 10px;
}
.btn-toolbar > * {
  height: 32px;
}
.btn-toolbar > * .btn {
  height: 32px;
}

.link-toolbar > *:not(:first-child) {
  margin-left: 10px;
}
.link-toolbar > *:not(:first-child)::before {
  content: '|';
  margin-right: 10px;
  color: grey !important;
}

.btn-rnd-rect {
  width: 32px;
  height: 32px;
  border-radius: 12px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
}
.btn-rnd-rect i.fas, .btn-rnd-rect svg-inline--fa {
  margin: 0;
}

.btn-circle {
  width: 50px;
  height: 32px;
  border-radius: 25px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}
.btn-circle i.fas, .btn-circle svg-inline--fa {
  margin: 0;
}

.accordion > .card {
  overflow: inherit;
}

a {
  cursor: pointer;
}

.external-link::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  content: "\f35d";
  opacity: 0.4;
  margin-left: 4px;
}

.modal-link::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  content: "\f2d0";
  opacity: 0.4;
  margin-left: 4px;
}

.mail-link::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  content: "\f2b6";
  opacity: 0.4;
  margin-left: 4px;
}

.download-link:after, .dt-button.buttons-csv span:after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  content: "\f56d";
  opacity: 0.6;
  margin-left: 4px;
}

.link-back:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  content: "\f137";
  opacity: 0.6;
  margin-right: 4px;
  width: 12px;
}

.id-link {
  min-width: 40px;
  text-align: center;
  display: inline-block;
}
.id-link:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  content: "\f15b";
  opacity: 0.6;
  margin-right: 4px;
  width: 12px;
}

.toggle-link:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  content: "\f105";
  opacity: 0.6;
  margin-right: 4px;
  width: 12px;
}

.toggle-link[aria-expanded=true]:before, tr.parent .toggle-link:before, .toggle-link[aria-expanded=true]:before, tr.shown .toggle-link:before {
  content: "\f107";
}

.modal-header nav .breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

table.sticky-header thead th {
  background-color: white;
  position: sticky !important;
  top: -36px;
  z-index: 1;
}

table.responsive {
  width: 100%;
}
table.responsive tr.odd, table.responsive tr.even {
  cursor: pointer;
}

.container-table {
  max-width: 1700px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a.list-group-item-action.list-group-item-light {
  color: #8888aa !important;
}

.list-group-item-action {
  cursor: pointer;
}

/* accordion styles */
.accordion .card-header {
  cursor: pointer;
  position: relative;
}
.accordion.indicator-plus .card-header:after {
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  content: "\f078";
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.accordion.indicator-plus .card-header.collapsed:after {
  content: "\f077";
}
.accordion.indicator-plus-before.round-indicator .card-header:before {
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  font-size: 12pt;
  content: "\f077";
  position: absolute;
  right: 1rem;
  top: .5rem;
  color: #88b;
}
.accordion.indicator-plus-before.round-indicator .card-header.collapsed:before {
  content: "\f078";
  color: #88b;
}
.accordion.indicator-plus-before .card-header:before {
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  content: "\f068";
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.accordion.indicator-plus-before .card-header.collapsed:before {
  content: "\f067";
}
.accordion.indicator-chevron .card-header:after {
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  content: "\f078";
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.accordion.indicator-chevron .card-header.collapsed:after {
  content: "\f077";
}
.accordion.background-none [class^="card"] {
  background: transparent;
}
.accordion.border-0 .card {
  border: 0;
}

/* for classifications */
.genome-build {
  font-size: 8px;
  margin-right: 4px;
}

.share-level-LAB, .share-level-INSTITUTION {
  opacity: 0.4;
}

span.cs {
  display: inline-block;
  padding: 2px 4px 2px 4px;
  border: 1px solid gray;
  border-radius: 4px;
}

.cs-b {
  background-color: #ccccff;
}

.cs-lb {
  background-color: #ddddff;
}

.cs-vus {
  background-color: #dddddd;
}

.cs-vus_a {
  background-color: #dddddd;
}

.cs-vus_b {
  background-color: #dddddd;
}

.cs-vus_c {
  background-color: #dddddd;
}

.cs-lp {
  background-color: #ffdddd;
}

.cs-p {
  background-color: #ffcccc;
}

.cs- {
  background-color: #f0f0f0;
}

.cs-pending {
  background: repeating-linear-gradient(-45deg, #ddd, #ddd 10px, #eee 10px, #eee 20px);
}

.cs-withdrawn {
  opacity: 0.5;
}

.cs-card {
  text-align: center;
  padding: 0 10px 16px 10px;
  font-weight: bold;
  color: #444;
  letter-spacing: 1px;
}

/* share icons */
label .tiny-icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

/* for setting non repeating backgound image */
div.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.no-value {
  color: #BBBBBB !important;
  font-style: italic;
  border-color: #dddddd !important;
}

.loading-message {
  margin-top: 40px;
  margin-bottom: 20px;
  border-top: 60px solid transparent;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.zero-value {
  color: #AAAAAA;
}

.ajax-error {
  width: 100%;
  color: #844;
  font-weight: bold;
  text-align: center;
  animation: fadeInOpacity ease-out 1s;
}

.hidden {
  display: none;
}

.visible-hidden {
  visibility: hidden;
}

.fa-animate-1 {
  animation-iteration-count: 1 !important;
}

.fa-animate-2 {
  animation-iteration-count: 2 !important;
}

.fa-animate-3 {
  animation-iteration-count: 3 !important;
}

.toggle-link {
  color: #88B;
  cursor: pointer;
}

.admin-link {
  padding-left: 8px;
  color: #66AA;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 8pt;
}
.admin-link:hover {
  text-display: underline;
}
.admin-link::before {
  position: relative;
  left: -4px;
  content: '\f084';
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
}

.hover-detail {
  color: #446;
  text-decoration: none;
  cursor: help;
}

.hover-link, nav ol.breadcrumb .breadcrumb-item a, .modal-link, .download-link, .mail-link {
  color: #44a;
  text-decoration: none;
  cursor: pointer;
}
.hover-link:hover, nav ol.breadcrumb .breadcrumb-item a:hover, .modal-link:hover, .download-link:hover, .mail-link:hover {
  text-display: underline;
}

.card-footer .hover-link {
  color: #66a !important;
  font-weight: 500;
}

.hover-delete {
  color: #bb4444 !important;
  text-decoration: none;
  position: relative;
}
.hover-delete:hover {
  cursor: pointer;
  text-decoration: underline;
}
.hover-delete:hover::before {
  z-index: 100;
  position: absolute;
  left: -16px;
  content: '\f056';
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
}

.readonly {
  color: #444444;
  border: 1px solid #dddddd;
  border-radius: 4px;
  min-height: 34px;
  padding-left: 8px;
  padding-top: 6px;
  background-color: #fafafa;
  cursor: not-allowed;
}
.readonly .override-source {
  text-transform: lowercase;
  font-weight: bold;
  font-family: monospace;
  font-size: small;
  color: #aaa;
}

table.as_table th {
  width: 50%;
  text-align: right;
  border: none;
}
table.as_table td {
  width: 50%;
  text-align: left !important;
  border: none;
}

.tooltip {
  pointer-events: none;
}

.hp, .hpo, .omim, .mondo .hgnc {
  border: 3px solid white;
  margin: 0 4px 0 4px;
  border-radius: 3px;
  padding: 0 4px 0 4px;
}

.hp, .hpo {
  background-color: #FF8C00;
  border-color: #FF8C00;
}

.omim {
  background-color: #22529e;
  border-color: #22529e;
  color: #ddd;
}

.mondo {
  background-color: #cce34c;
  border-color: #cce34c;
}

.hgnc {
  background-color: #99CD83;
  border-color: #99CD83;
}

.dt-status .val-R:before {
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  margin-right: 4px;
  content: "\f058";
  color: green;
}
.dt-status .val-P:before {
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  color: #bbb;
  margin-right: 4px;
  content: "\f111";
}
.dt-status .val-A:before {
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  margin-right: 4px;
  content: "\f544";
  color: #6a6;
}
.dt-status .val-U:before {
  font-family: 'Font Awesome 6 Free', 'FontAwesome';
  font-weight: 900;
  margin-right: 4px;
  content: "\f057";
}

.list-group-small {
  max-width: 300px;
}

.formatted-text {
  white-space: pre-wrap;
  word-break: break-word;
}

.code {
  font-family: monospace;
  color: #444;
  font-weight: 400;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 6px 6px 6px 12px;
  background-color: #eee;
  white-space: pre-wrap;
  display: block;
  line-height: 150%;
}

.code.card-body {
  border: none;
  border-radius: 0;
}

.secret {
  color: #444;
  font-family: monospace;
  letter-spacing: 2px;
}

ul.compact {
  margin: 4px 0 4px 0;
  padding-left: 0;
  line-height: 0.5rem;
}
ul.compact li {
  display: block;
  position: relative;
  line-height: 1rem;
}
ul.compact li:before {
  color: #777;
  position: relative;
  padding-right: 6px;
  bottom: 2px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 0.4rem;
  font-weight: 900;
  font-family: 'Font Awesome 6 Free';
  content: "\f111";
  line-height: 0;
}

.threshold {
  display: inline-block;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  color: white !important;
}

.threshold-low {
  background-color: #2dc937;
}

.threshold-med {
  background-color: #e7b416;
}

.threshold-high {
  background-color: #C64A42;
}

.text-monospace {
  color: #444;
}

.text-small {
  font-size: 13px;
}

.fade-in-scale {
  transform-origin: top left;
  animation: fadeInScale ease-out 0.5s;
}

.fade-out-scale {
  transform-origin: top left;
  animation: fadeOutScale ease-in 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInScale {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeOutScale {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
    display: none;
  }
}
.site-message.border.severity-W {
  border: 2px solid #FEBC00 !important;
}

.site-message.border.severity-E {
  border: 2px solid #dc3545 !important;
}

#django-messages {
  animation: fadeInOpacity ease-out 1s;
}
#django-messages i {
  animation: fadeInScale ease-out 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.json {
  font-family: monospace;
  color: #444;
  font-weight: 400;
  background-color: #eee;
}
.json.code-block {
  border: 1px solid #bbb;
  padding: 8px;
  border-radius: 8px;
}
.json .js-valid {
  margin-left: 16px;
}
.json .js-valid .js-valid-body {
  display: block;
  padding: 4px;
  border: 1px dashed #888;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.json > .js-valid {
  margin: 0;
  padding: 0;
}
.json .js-block {
  display: block;
  margin-left: 24px;
}
.json .js-num {
  color: #444;
}
.json .js-bool {
  color: #444;
}
.json .js-null {
  color: #888;
  font-style: italic;
}
.json .js-qt {
  color: #494;
}
.json .js-str {
  color: #464;
}
.json .js-br {
  color: #448;
}
.json .js-pr {
  color: #44b;
}
.json .js-colon {
  color: #666;
  margin-right: 4px;
}
.json .js-comma {
  color: #888;
  display: inline-block;
}
.json.compact {
  word-break: break-word;
  background-color: transparent;
}
.json.compact .js-block {
  display: inline;
  margin-left: 0px;
}
.json.compact .js-comma {
  display: inline;
}
.json.compact br {
  display: none;
}

.install-instructions {
  min-height: 16px;
  background-size: 16px 16px;
  background-position: 8px 50%;
  background-repeat: no-repeat;
  padding: 16px 16px 16px 28px;
  border-radius: 4px;
  background-color: #F0D9ED !important;
}

/*
.overlap-container {
  div:first-of-type {
    border-radius-top-left: 5px;
    border-radius-top-right: 5px;
  }
}
*/
.overlap-discordant {
  color: #b44;
  font-weight: 600;
}

.overlap-concordant_confidence {
  color: #FFA500;
  font-weight: 600;
}

.overlap-concordant_agreement, .overlap-concordant_agreement_diff_vus {
  color: #287745;
  font-weight: 600;
}

.overlap-single_submission, .overlap-no_entries {
  color: #aaa;
  font-weight: 600;
}

.overlap-pending_concordance {
  color: #66aa66;
  font-weight: 600;
}

.fa-spinner {
  animation: spin 3s steps(8) infinite;
}

.fa-hand-point-right {
  margin-right: 6px;
}

table .fa-hand-point-right {
  position: relative;
  left: -20px;
  margin: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.diff-text {
  display: inline-block;
}
.diff-text .diff-text-subtract {
  color: #aaa;
  border-radius: 2px;
  background-color: #FFEEEE;
}
.diff-text .diff-text-add {
  border-radius: 2px;
  background-color: #AAFFAA;
}

.addition {
  background-color: #e6ffe6;
}

.deletion {
  background-color: #e6e6ff;
}

.modification {
  background-color: #ffe6e6;
}

.addition.deletion {
  background-color: #ffe6e6;
}

.chosen-drop {
  z-index: 100001 !important;
}

.chosen-search {
  z-index: 1010 !important;
}

a .c-hgvs-body .c-hgvs-transcript, a .c-hgvs-body .c-hgvs-nomen {
  color: #4444bb;
}

.current-record-menu-item {
  display: none;
}

.current-record-menu-item.active {
  display: block;
  margin-left: 8px;
  margin-right: 16px;
  text-align: right;
  word-break: break-word;
}

/*
// used in combination with gloabl.js's main active item

@keyframes highlight-select {
  from {transform: scale(1) }
    to { transform:scale(1.2) }
}

.group-selected .main-icon, .group-selected.main-icon,  {
    color: #4a4 !important;
    animation: highlight-select 1s infinite alternate;
}
 */
.citation a {
  color: #222288;
  text-decoration: none;
}
.citation a:hover {
  text-decoration: underline;
}
.citation .author, .citation .authors {
  color: gray;
}
.citation .title {
  color: #444444;
  display: inline-block;
}
.citation .show-abstract-link {
  margin-top: 2px;
  display: block;
}
.citation .year {
  color: gray;
}
.citation .abstract {
  color: #444444;
  margin-bottom: 0;
}
.citation .loading {
  opacity: 1.0;
}
.citation.failed {
  background-color: #ffcccc;
}
.citation + .citation {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed lightgray;
}

.crit-value {
  text-align: center !important;
  font-weight: 500;
}

.crit-strength-N {
  background-color: #eee;
  color: #888;
}

.crit-direction-B.crit-strength-0 {
  background-color: #f8f8ff;
}
.crit-direction-B.crit-strength-1 {
  background-color: #eef;
}
.crit-direction-B.crit-strength-2 {
  background-color: #ddf;
}
.crit-direction-B.crit-strength-3 {
  background-color: #ccf;
}
.crit-direction-B.crit-strength-4 {
  background-color: #bbf;
}
.crit-direction-B.crit-strength-5 {
  background-color: #aaf;
}

.crit-direction-P.crit-strength-0 {
  background-color: #fff8f8;
}
.crit-direction-P.crit-strength-1 {
  background-color: #fee;
}
.crit-direction-P.crit-strength-2 {
  background-color: #fdd;
}
.crit-direction-P.crit-strength-3 {
  background-color: #fcc;
}
.crit-direction-P.crit-strength-4 {
  background-color: #fbb;
}
.crit-direction-P.crit-strength-5 {
  background-color: #faa;
}

div.dataTables_processing {
  border-radius: 4px;
}
div.dataTables_processing div {
  margin: 4px !important;
}
div.dataTables_processing div::before {
  content: 'Processing...';
  color: #444;
}
div.dataTables_processing div * {
  display: none;
}

div.dataTables_processing > div:last-child {
  width: auto !important;
}

/*# sourceMappingURL=global_bs.css.map */
