.mono {
  font-family: monospace;
}

.strike {
  text-decoration: line-through;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.circular-avatar {
  border-radius: 50%;
}

.profile-icon {
  width: 16px;
  height: 16px;
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.margin-r-5 {
  margin-right: 5px;
}

img.vcenter {
  vertical-align: middle;
}

.center {
  text-align: center;
}

.display-flex {
  display: flex;
}

.flex-initial {
  flex: initial;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: auto;
}

.flex-none {
  flex: none;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-no-grow {
  flex-grow: 0;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.flex-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
    Whenever possible, make links hover-link
    Shows them in link color, but doesn't messy things up
    with an underline until you hover over them
*/
a.cross-link {
  color: gray;
}

a.no-link-style {
  color: inherit;
  /* blue colors for links too */
  text-decoration: none;
  /* no underline */
}

.view-details-link {
  float: left;
  background-image: url(/static/icons/view-details-black.png);
}

.hover-link {
  color: #4444bb !important;
  text-decoration: none;
}
.hover-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

h3 .hover-link {
  color: #222266 !important;
}

.label-link {
  cursor: pointer;
}

.hover-detail {
  color: #444455;
  text-decoration: none;
  cursor: help;
}

.multi-links a {
  display: block;
}

/*
#quick-links, .quick-links {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    position: relative;
    left: -3px;
    a {
        padding: 4px;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        margin: 4px 8px 4px 0px;
        .build-indicator {
            font-size: smaller;
            color: gray;
        }
    }
}
 */
/*
    Surrounding form data with a <fieldset class="form-fields">
    is the preferred method.
    It can handle either a <p><label>xxx</label><inline-value/></p> or
    <div><label>xxx</label><block value class="value" />

    It tries to be compatible with Django form as_p
*/
form label {
  font-weight: bold;
}

input[type='checkbox'], input[type='radio'] {
  cursor: pointer;
}

.texty {
  width: calc(100% - 12px);
  font-size: 14px;
  margin-bottom: 12px;
  height: 120px;
  padding: 4px;
}

.textarea-readonly {
  white-space: pre-wrap;
}

.horizontal-fields {
  display: flex;
  align-items: center;
}
.horizontal-fields label {
  font-weight: bold;
  width: inherit;
  padding-right: 6px;
}
.horizontal-fields span.select2-container {
  min-width: 250px !important;
  width: 250px !important;
}
.horizontal-fields input[type=text], .horizontal-fields input:not([type]) {
  min-width: 243px !important;
  width: 243px !important;
  height: 22px;
  border-color: #aaaaaa !important;
}
.horizontal-fields input[type=text]::placeholder, .horizontal-fields input:not([type])::placeholder {
  color: #aaaaaa;
  font-family: "Raleway", serif;
  font-size: 14px;
  position: relative;
  top: 1px;
  left: 4px;
}
.horizontal-fields > div, .horizontal-fields > p, .horizontal-fields > input, .horizontal-fields > label:not(:first-child), .horizontal-fields > button, .horizontal-fields > a {
  margin-left: 12px;
}

.horizontal-radio li {
  display: inline-block;
}

form .form-fields + .form-fields {
  margin-top: 16px;
}

fieldset {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #dddddd;
}
fieldset ul label, fieldset .labelled label {
  font-weight: normal !important;
}
fieldset .labelled label {
  padding-left: 4px;
}
fieldset.radios {
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 16px;
}
fieldset.radios legend {
  font-weight: bold;
}
fieldset.radios > div + div {
  margin-top: 6px;
}
fieldset.radios label {
  font-weight: normal;
  margin-left: 8px;
  cursor: pointer;
}
fieldset.radios-toggle {
  border: none;
}
fieldset.radios-toggle .ui-checkboxradio-label {
  min-width: 100px;
}
fieldset.radios-toggle .ui-checkboxradio-label:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
fieldset.radios-toggle .ui-checkboxradio-label:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
fieldset.form-fields {
  min-width: 600px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
fieldset.form-fields.centered label {
  width: 50%;
}
fieldset.form-fields.left-aligned label {
  width: 220px;
}
fieldset.form-fields label .tiny-icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
fieldset.form-fields ul {
  list-style-type: none;
  position: relative;
}
fieldset.form-fields > ul {
  margin-left: 23.5%;
  top: -32px;
  position: relative;
}
fieldset.form-fields > div:not(.citations), fieldset.form-fields > p {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  align-items: center;
}
fieldset.form-fields > div:not(.citations) > label, fieldset.form-fields > p > label {
  width: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
  font-weight: bold;
  margin-right: 16px;
}
fieldset.form-fields > div:not(.citations) > *:nth-child(2), fieldset.form-fields > p > *:nth-child(2) {
  text-align: left;
  margin-left: 8px;
}
fieldset.form-fields > div:not(.citations) > *:nth-child(3).select2, fieldset.form-fields > p > *:nth-child(3).select2 {
  text-align: left;
  margin-left: 8px;
}
fieldset.form-fields > div:not(.citations) > div:nth-child(2), fieldset.form-fields > p > div:nth-child(2) {
  width: 75%;
  flex-grow: 1;
}
fieldset.form-fields > div:not(.citations) > textarea, fieldset.form-fields > p > textarea {
  min-height: 2em;
}
fieldset.form-fields > div:not(.citations) > .timestamp, fieldset.form-fields > p > .timestamp {
  word-break: break-word;
}
fieldset.form-fields > .buttons {
  border-top: 1px solid #dddddd;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  flex-grow: 1;
}
fieldset.form-fields > .buttons button, fieldset.form-fields > .buttons input {
  flex-grow: 1;
  width: 100%;
  max-width: 225px;
  margin-left: calc(25% + 17px);
  margin-right: auto;
}
fieldset.borderless {
  margin-left: inherit;
  margin-right: inherit;
  border: inherit;
  border-radius: inherit;
}
fieldset.small {
  min-width: 450px;
  max-width: 450px;
  margin-right: auto;
  margin-left: 0;
}
fieldset.small.form-fields input[type=text], fieldset.small.form-fields input[type=number], fieldset.small.form-fields input[type=email], fieldset.small.form-fields input[type=password], fieldset.small.form-fields input:not([type]) {
  min-width: 220px;
  max-width: 300px;
}
fieldset.small.form-fields select {
  min-width: 227px;
  max-width: 307px;
}
fieldset.tiny {
  min-width: 200px;
  max-width: 200px;
  margin-right: auto;
  margin-left: 0;
}
fieldset.tiny.form-fields > * > label {
  width: 120px !important;
  font-size: small;
}
fieldset.tiny.form-fields > * > *:nth-child(2) {
  margin-left: 0;
}
fieldset legend {
  font-size: 14px;
  font-weight: bold;
  color: #334466;
}

.horizontal-fields input[type='text'], .horizontal-fields input[type='password'], .horizontal-fields input[type='email'], .horizontal-fields input[type='number'], .horizontal-fields input:not([type]), .horizontal-fields textarea, fieldset.form-fields input[type='text'], fieldset.form-fields input[type='password'], fieldset.form-fields input[type='email'], fieldset.form-fields input[type='number'], fieldset.form-fields input:not([type]), fieldset.form-fields textarea {
  min-width: 300px;
  border-radius: 4px;
  border: 1px solid #dddddd;
  min-height: 20px;
  padding-left: 4px;
}
.horizontal-fields texta-area, fieldset.form-fields texta-area {
  min-width: inherit;
}
.horizontal-fields select, fieldset.form-fields select {
  min-width: 307px;
  height: 28px;
}

fieldset.form-fields legend {
  width: auto;
}

label[for] {
  cursor: pointer;
}

.labelled.inline {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.editable {
  border: 1px dashed gray;
  min-height: 20px;
  width: auto;
}

ul.messages {
  list-style-type: none;
  width: 80%;
}
ul.messages li {
  background-image: url(/static/icons/tick.png);
  background-repeat: no-repeat;
  background-position: 16px 16px;
  padding: 16px;
  padding-left: 48px;
}

li.error {
  background-image: url(/static/icons/cross.png) !important;
}

.info {
  background-color: #C9F0DD;
}

.warning {
  background-color: #FEBC00;
}

.error {
  background-color: #F0C9DD;
}

.errorlist {
  color: red;
}

.error-box {
  background-color: #F0C9DD;
  padding: 16px;
  border-radius: 8px;
}

#page-help {
  display: none;
}

.page-help.collapsed {
  width: 260px;
}
.page-help.expanded {
  width: 80%;
}
.page-help.expanded .toggle-icon {
  background-image: url(/static/icons/expanded-button.svg);
}
.page-help.expanded .page-help-menu-bar {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.page-help.expanded .page-help-menu-bar:hover {
  background-color: #ddddff;
}
.page-help .page-help-menu-bar {
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
}
.page-help .toggle-icon {
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/static/icons/collapsed-button.svg);
  display: inline-block;
  margin-right: 4px;
  opacity: 0.6;
}
.page-help .page-help-title {
  white-space: nowrap;
  font-weight: bold;
  line-height: 32px;
}
.page-help .help-footer {
  font-size: 12px;
  color: #888888;
  padding-bottom: 6px;
}
.page-help .page-help-logo {
  border: 2px solid white;
  border-radius: 8px;
  background-color: #bbbbff;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 2px;
  margin: 5px;
  width: 15px;
}
.page-help .page-help-content {
  padding: 5px 16px 5px 16px;
}

.help-label {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: gray;
}

.color-legend {
  width: 1rem;
  height: 1rem;
  border: 1px solid gray;
  border-radius: 2px;
  display: inline-block;
  margin-right: 4px;
}

.grid-link {
  float: left;
  border: 0px !important;
}
.grid-link .no-entry {
  opacity: .1;
}

#node-data-container a.grid-link {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.grid-link-icon {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

.icon16 {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

.icon24 {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}

.icon32 {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}

.icon48 {
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}

.click-to-delete-button {
  background-image: url("/static/icons/delete-icon.png");
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.click-to-add-button {
  background-image: url("/static/icons/add-icon.png");
  cursor: pointer;
  height: 16px;
  width: 16px;
}

/*
    The most common table should be "styled"
    name-field(s) and summary were created a long time ago
    where fieldset may have been more appropriate
*/
table.styled {
  width: 100%;
  max-width: 1500px;
}
table.styled td {
  font-size: 12px;
  padding: 3px;
  min-height: 30px;
}
table.styled thead tr {
  background-color: #eeeeee;
}
table.styled tr:nth-of-type(even) {
  background-color: #eeeeee;
}
table.styled tr.no-stripe {
  background-color: white !important;
}
table.styled th {
  padding: 4px 6px 4px 6px;
}
table.styled tbody th {
  text-align: right;
}
table.styled td.color {
  text-align: center;
  background-color: white;
}
table.styled .action + .action {
  margin-top: 10px;
}
table.styled.small {
  width: 300px;
}
table.styled.white tr:nth-of-type(even) {
  background-color: inherit;
}
table.styled td.cc {
  width: 130px;
}
table.styled td.cc input {
  width: calc(100% - 6px);
}
table.styled td.id {
  position: relative;
  min-width: 200px;
  word-break: break-word;
}
table.styled td.id img {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 8px;
}
table.styled td.id span {
  margin-left: 12px;
  margin-right: 10px;
}
table.styled td.id a {
  margin-left: 14px;
}
table.styled td.id-readonly a {
  color: #8888AA;
  font-style: italic;
}
table.styled td.date {
  width: 100px;
  font-family: monospace;
}
table.styled td.flags {
  min-width: 100px;
  width: 140px;
}
table.styled td.centered-number {
  font-family: monospace;
  text-align: center;
}
table.styled tr.cc {
  background-color: #eeeeff !important;
}
table.styled tr.cc td:first-of-type {
  padding: 10px 0 10px 10px;
}

table.model-table th {
  text-align: left;
}

.radio-row {
  cursor: pointer;
}
.radio-row:hover {
  background-color: #f6f6ff !important;
}

.admin-only, li.admin a, h3.admin {
  background-image: url("/static/icons/admin.svg");
  min-height: 16px;
  background-size: 16px 16px;
  background-position: 8px 50%;
  background-repeat: no-repeat;
  padding-left: 28px !important;
}

li.current a {
  background-color: rgba(0, 0, 0, 0.05);
}

li.logout {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

table.summary {
  margin-left: auto;
  margin-right: auto;
}
table.summary td, table.summary th {
  padding: 5px 10px 5px 10px;
}
table.summary td {
  max-width: 1000px;
  vertical-align: top;
}

table th.num, table td.num {
  text-align: right;
}

table.data td, table td.num {
  font-family: monospace;
}

table.name-field {
  margin-left: 20px;
}
table.name-field td {
  max-width: 1000px;
  vertical-align: top;
  padding: 3px;
}
table.name-field td p {
  margin: 0;
  padding: 0;
}
table.name-field td.num {
  text-align: left;
}
table.name-field th {
  text-align: left;
  vertical-align: top;
  width: 200px;
  padding: 3px;
  padding-right: 12px;
}

table.name-fields {
  margin-left: 20px;
}
table.name-fields td:not(:first-of-type), table.name-fields th:not(:first-of-type) {
  padding-left: 10px;
}

.no-value {
  color: #BBBBBB !important;
  font-style: italic;
  border-color: #dddddd !important;
}

.zero-value {
  color: #AAAAAA;
}

.box {
  display: inline-block;
  padding: 2px 4px 2px 4px;
  border: 1px solid gray;
  border-radius: 4px;
}

.pills a {
  cursor: pointer;
  padding: 4px 8px 4px 8px;
  background-color: #fefefe;
  border: 1px solid #ddddff;
  border-radius: 8px;
  display: inline-block;
  margin: 4px;
  color: #444488;
  text-decoration: none;
}
.pills a:hover {
  cursor: pointer;
  background-color: #ddddff;
}
.pills a.selected {
  background-color: #ccccee;
}
.pills a:first-of-type {
  margin-left: 0 !important;
}

.pills .pill {
  padding: 4px 8px 4px 8px;
  background-color: #fefefe;
  border: 1px solid #aaccaa;
  border-radius: 8px;
  display: inline-block;
  margin: 4px;
  color: #448844;
  text-decoration: none;
}
.pills .pill.important {
  border: 1px solid #ffbbbb;
  color: #884444;
  font-weight: bold;
}

.chunk {
  margin-top: 12px;
  padding: 2px;
  position: relative;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.borderless {
  border: none !important;
}

.columned, .single-column, .multi-columned {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
}

.columned, .single-column {
  max-width: 1400px;
}

.columned fieldset {
  width: 47%;
  max-width: 47%;
  margin-top: 20px;
  margin-left: auto;
}

.multi-columned fieldset {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
}

#submenu_page_content {
  padding: 10px;
}

#siteMenuBar {
  top: 0px;
  left: 0px;
  height: 30px;
  padding: 0px;
  margin-top: 0px;
  overflow: hidden;
}
#siteMenuBar > #menuContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding-right: 10px;
  border: none;
}
#siteMenuBar > #menuContainer a:hover, #siteMenuBar > #menuContainer .submenu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#siteMenuBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#siteMenuBar ul li {
  display: inline-block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
}
#siteMenuBar ul li a {
  text-decoration: none !important;
}
#siteMenuBar ul:first-of-type li:not(:last-of-type) a::after {
  color: #bbbbbb;
  content: "|";
  margin-left: 12px;
  position: absolute;
}

.submenu {
  position: absolute;
  top: 0px;
  border: none;
}
.submenu ul {
  padding-left: 0 !important;
}
.submenu ul li a {
  padding: 16px 4px 16px 16px;
  display: inline-block;
  width: calc(100% - 16px);
}
.submenu ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#top-menu-container {
  display: flex;
  padding-top: 10px;
}
#top-menu-container #top-menu {
  padding-top: 2.5px;
  flex-grow: 1;
  position: relative;
}
#top-menu-container #top-menu li {
  height: 30px;
}
#top-menu-container #top-menu li a {
  padding: 10px 14px 10px 14px;
  position: relative;
  border-radius: 4px;
}
#top-menu-container #top-menu li a.menu-suggestion {
  padding: 10px 34px 10px 14px;
}
#top-menu-container .search-container {
  position: relative;
  max-width: 300px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}
#top-menu-container .search-container form {
  flex-grow: 1;
  display: flex;
}
#top-menu-container .search-container form #id_search {
  flex-grow: 1;
  padding-left: 6px;
  border: 1px solid #444444;
  height: 20px;
  border-radius: 8px 0 0 8px;
}
#top-menu-container .search-container form #search-button {
  position: relative;
  height: 24px;
  border: 1px solid #444444;
  padding: 0 8px 0 8px;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

#right-menu {
  margin-left: 6px !important;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}
#right-menu .profile-container {
  display: flex;
  height: 24px;
  align-items: center;
}
#right-menu .profile-container a {
  padding: 8px 14px 12px 8px;
  border-radius: 4px;
}
#right-menu .profile-container > * {
  padding-left: 6px;
}
#right-menu li {
  vertical-align: middle;
}

#top-right-search-form label {
  display: none;
}

#site-message {
  text-align: center;
  padding: 1px;
}

div#content {
  margin: 8px;
  border: 0px;
}

#email-container {
  width: 24px;
  height: 24px;
  position: relative;
}

#email-icon {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}

#email-overlay {
  color: red;
  top: 0px;
  left: 0px;
  width: 34px;
  height: 24px;
  position: absolute;
  text-align: right;
}

.settings-icon {
  background-image: url(/static/icons/settings-icon.png);
}

.ui-layout-pane {
  /* all panes' */
  background: #FFF;
  border: 1px solid #BBB;
  padding: 10px;
  overflow: auto;
}

.ui-layout-resizer {
  /* all 'resizer-bars' */
  background: #DDD;
}

.ui-layout-toggler {
  /* all 'toggler-buttons' */
  background: #AAA;
}

.ui-tooltip {
  word-break: break-word;
}

.gnomad-link {
  text-decoration: none;
}

.gnomad-flag-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #5cb85c;
}

.gnomad-filtered {
  background-color: #f0ad4e;
}

.sequencer {
  float: left;
  margin: 5px;
}

.variant-select {
  float: left;
}

.variant-details-link {
  float: left;
}

a.igv-link-container {
  float: right;
}

.clinvar-citation {
  margin-top: 2rem;
}

.clinvar-citation .aux {
  color: #575757;
}

.clinvar-citation .desc {
  font-size: 1.077em;
}

.clinvar-citation .details {
  font-size: 0.923em;
}

.clinical-context-buttons {
  margin-top: 16px;
}

.clinical-context-buttons a, .clinical-context-buttons input {
  margin-right: 10px;
}

a.clinical-context {
  display: inline-block;
  padding: 2px 4px 2px 4px;
  border: 1px solid gray;
  border-radius: 4px;
}

#gene-grid-link {
  display: flex;
  align-items: center;
}

.pdf-icon {
  background-image: url(/static/icons/pdf-icon.png);
}

.csv-icon {
  background-image: url(/static/icons/csv-file-format-extension.png);
}

.vcf-icon {
  background-image: url(/static/icons/vcf_64.png);
}

.sample-icon {
  background-image: url(/static/icons/samples_icon.png);
}

.bed-icon {
  background-image: url(/static/images/node_icons/intersection.png);
}

.analysis-icon {
  background-image: url(/static/images/node_icons/analysis_node.png);
}

.clingen-icon {
  background-image: url(/static/images/clingen.jpeg);
}

.igv-link {
  background-image: url(/static/icons/IGV_64.png);
}

.hiseq-2000, .hiseq-2500 {
  background-image: url(/static/icons/sequencers/hiseq_icon.png);
}

.nextseq-500 {
  background-image: url(/static/icons/sequencers/nextseq_icon.png);
}

.miseq {
  background-image: url(/static/icons/sequencers/miseq_icon.png);
}

.patient-icon {
  background-image: url(/static/icons/patient-icon-png-3.png);
}

.cohort-icon {
  background-image: url(/static/images/node_icons/cohort.png);
}

.pedigree-icon {
  background-image: url(/static/images/node_icons/pedigree.png);
}

.trio-icon {
  background-image: url(/static/images/node_icons/trio.png);
}

.gold-standard-icon {
  background-image: url(/static/icons/gold-medal.png);
}

.hidden-eye-icon {
  background-image: url(/static/icons/hidden_eye.png);
}

.bad-run-icon {
  background-image: url(/static/icons/cross.png);
}

.gene-icon {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  margin: auto;
  float: left;
}

.gene-grid-icon {
  background-image: url("/static/images/gene_grid.png");
  cursor: pointer;
  height: 80px;
  width: 80px;
  background-size: 80px 80px;
}

.gene-list-icon {
  background-image: url("/static/images/node_icons/filter_list.png");
}

.expression-icon {
  background-image: url("/static/images/node_icons/expression.png");
}

.alt-haplotype-icon {
  background-image: url(/static/icons/alt_haplotype.png);
}

.pseudogene-icon {
  background-image: url(/static/icons/pseudogene.png);
}

.triplet-repeat-icon {
  background-image: url(/static/icons/triplet_repeat.png);
}

.show-grid-icon {
  background-image: url(/static/icons/noun_Datatable_935839.png);
}

.check-mark-green {
  background-image: url(/static/icons/check-mark-green.svg);
}

.gene {
  background-color: #99CD83;
}

.hpo {
  background-color: #FF8C00;
}

.omim {
  background-color: #22529e;
}

.sequencer-name-text {
  font-size: .6em;
}

.color-box {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.sample-column {
  background-color: #fff29c;
}

.database-column {
  background-color: #7c26cb;
}

.transcript-column {
  background-color: #8aa3ba;
}

.variant-column {
  background-color: #bfccd8;
}

.gene-column {
  background-color: #97f988;
}

.clinvar-column {
  background-color: #ff0000;
}

.cosmic-column {
  background-color: #14559f;
}

.citations {
  max-width: 534px;
  flex-direction: column;
}

.citation a {
  color: #222288;
  text-decoration: none;
}
.citation a:hover {
  text-decoration: underline;
}
.citation .author, .citation .authors {
  color: gray;
}
.citation .title {
  color: #444444;
  display: inline-block;
}
.citation .show-abstract-link {
  margin-top: 2px;
  display: block;
}
.citation .year {
  color: gray;
}
.citation .abstract {
  color: #444444;
  margin-bottom: 0;
}
.citation .loading {
  opacity: 1.0;
}
.citation.failed {
  background-color: #ffcccc;
}
.citation + .citation {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed lightgray;
}

.variant-coordinate {
  word-break: break-all;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(100, 100, 200, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(100, 100, 200, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(100, 100, 200, 0);
  }
}
.hidden-value {
  font-style: italic;
  color: gray;
}

.timestamp {
  font-family: monospace;
}

div.readonly {
  color: #8888AA;
  font-style: italic;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0 !important;
}

.jqgrid-container .ui-corner-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.debug {
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  border: 1px dashed #CCCCCC;
  border-radius: 4px;
}

textarea[disabled] {
  background-color: #f8f8f8;
}

input[disabled], textarea[disabled], select[disabled] {
  cursor: not-allowed;
}

.comma-sep + .comma-sep:before {
  content: ", ";
}

.error-value {
  font-weight: bold;
  color: red;
}

/*# sourceMappingURL=global_legacy.css.map */
