.panel-app-england-icon {
    width: 60px;
    height: 40px;
    background-size: 60px 40px;
    background-image: url(/static/images/panel_app.png);
}

.panel-app-australia-icon {
    width: 42px;
    height: 40px;
    background-size: 40px 42px;
    background-image: url(/static/images/panel_app_australia_icon.png);
}


.evidence {
    width: 10px;
    height: 10px;
    margin: 2px;
    display: inline-block;
}

.HighEvidence {
    background-color: rgb(63, 173, 70);
}

.ModerateEvidence {
    background-color: rgb(240, 173, 78);
}

.LowEvidence {
    background-color: rgb(217, 83, 79);
}
