////////////////////////
// ANIMATIONS
////////////////////////

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(100, 100, 200, 0.4);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(100, 100, 200, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(100, 100, 200, 0);
	}
}

@keyframes animationDrop {
	0% {
		opacity: 0.1;
		transform: translateY(-16px);
	}

	70% {
		opacity: 1;
		transform: translateY(0);
	}

	85% {
		opacity: 1;
		transform: translateY(-2px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInScale {
	0% {
		transform: scale(0.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
