////////////////////////
// TABLES
// TODO: remove styled in favour of <table class="table"> for bootstrap table
////////////////////////

table {
    &.styled {
        width: 100%;
        max-width: 1500px;

        td {
            font-size: 12px;
            padding: 3px;
            min-height: 30px;
        }

        thead tr {
            background-color: #eeeeee;
        }

        tr {
            &:nth-of-type(even) {
                background-color: #eeeeee;
            }
        }

        th {
            padding: 4px 6px 4px 6px;
        }

        tbody th {
            text-align: right;
        }

        td.color {
            text-align: center;
            background-color: white;
        }

        .action + .action {
            margin-top: 10px;
        }

        &.small {
            width: 300px;
        }

        &.white tr:nth-of-type(even) {
            background-color: inherit;
        }

        td {
            &.cc {
                width: 130px;

                input {
                    width: calc(100% - 6px);
                }
            }

            &.id {
                position: relative;
                min-width: 200px;
                word-break: break-word;

                img {
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    left: 8px;
                }

                span {
                    margin-left: 12px;
                    margin-right: 10px;
                }

                a {
                    margin-left: 14px;
                }
            }

            &.id-readonly a {
                color: #8888AA;
                font-style: italic;
            }

            &.date {
                width: 100px;
                font-family: monospace;
            }

            &.flags {
                min-width: 100px;
                width: 140px;
            }
        }

        tr.cc {
            background-color: #eeeeff !important;

            td:first-of-type {
                padding: 10px 0 10px 10px;
            }
        }
    }

    &.model-table th {
        text-align: left;
    }
}
