{% extends "uicore/page/base.html" %}
{% load ui_utils %}
{% load ui_menu_bars %}
{% load ontology_tags %}
{% block submenu %}{% menu_bar_data %}{% endblock %}
{% load js_tags %}
{% load ui_tabs_builder %}
{% block title %}{{ term.id }}{% endblock title %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">{{ term.id }}</div>
            <div class="card-body">
                {% labelled label="Name" %}{{ term.name }}{% endlabelled %}
                {% labelled label="Definition" value_css="white-space:pre-wrap" %}{{ term.definition }}{% endlabelled %}
                {% labelled label="Extra" %}
                    {% if term.extra %}
                    <a href="#ontology-extra" data-toggle="collapse" class="toggle-link">Toggle raw extra data (technical)</a>
                    <div id="ontology-extra" class="text-monospace collapse" style="white-space: pre-wrap; font-size: small">{{ term.extra | jsonify_pretty }}</div>
                    {% else %}<div class="no-value">-</div>{% endif %}
                {% endlabelled %}
                {% if term.aliases %}
                    {% labelled label="Aliases" %}{% for alias in term.aliases %}{{ alias }}<br/>{% endfor %}{% endlabelled %}
                {% endif %}
                {% labelled label="URL" %}
                    <a href="{{ term.url }}" class="external-link hover-link">{{ term.url }}</a>
                {% endlabelled %}
                {% if not term.is_stub %}
                    {% labelled label="Last imported" %}Import {{ term.from_import.id }} - {{ term.from_import.filename }} @ {% timestamp term.from_import.processed_date %}{% endlabelled %}
                {% endif %}
                {% if gene_relationships is not None %}
                    <hr/>
                    {% labelled label="Gene Relationships" %}
                        <p class="text-muted">Note that Panel App relationships are only retrieved as needed, and might not be represented
                        here yet.</p>
                        {% if not gene_relationships %}-{% endif %}
                        {% for snake in gene_relationships %}
                            <div class="mt-2">
                            <span class="text-muted text-monospace">{{ term.id }}</span>
                            {% for step in snake.show_steps %}
                                <div class="text-center d-inline-block mx-2">{{ step.relation.relation_display }}</div>
                                {% ontology_term step.dest_term %} &nbsp;
                            {% endfor %}
                            </div>
                        {% endfor %}
                    {% endlabelled %}
                {% endif %}
                <hr/>

                {% labelled label="Parent Terms" %}
                    {% if not parent_relationships %}-{% endif %}
                    {% for relationship in parent_relationships %}
                        <div class="mt-2">
                            {% ontology_relationship relationship term %}
                        </div>
                    {% endfor %}
                {% endlabelled %}

                <hr/>

                {% labelled label="Direct Relationships" %}
                    {% if not regular_relationships %}-{% endif %}
                    {% for relationship in regular_relationships %}
                        <div class="mt-2">
                            {% ontology_relationship relationship term %}
                        </div>
                    {% endfor %}
                {% endlabelled %}

                <hr/>

                {% labelled label="Child Terms" %}
                    {% if not child_relationships %}-{% endif %}
                    {% for relationship in child_relationships %}
                        <div class="mt-2">
                            {% ontology_relationship relationship term %}
                        </div>
                    {% endfor %}
                {% endlabelled %}

            </div>
        </div>
    </div>
{% endblock %}