{% extends "uicore/page/base.html" %}
{% load english_tags %}
{% load ui_utils %}
{% load ui_menu_bars %}
{% load ontology_tags %}
{% load js_tags %}
{% block submenu %}{% menu_bar_data %}{% endblock %}
{% load ui_tabs_builder %}
{% block title %}{{ term.id }}{% endblock title %}
{% block content %}
    <script>
        function classificationFilter(data, type) {
            data.ontology_term_id = "{{ term.id }}";
            return data;
        }

        $(document).ready(function() {
            let tableDom = $('#vc-datatable').on('draw.dt', () => {
                Flags.instance.init({userId: '{{user.id}}'});
            });
        });
    </script>

    <div class="container">
        <div class="card">
            <div class="card-header">{{ term.id }}</div>
            <div class="card-body">
                {% labelled label="Name" %}{{ term.name }}{% endlabelled %}
                {% if term.deprecated %}
                    {% labelled label="Deprecated" %}{{ 'W' | severity_icon }} This term has been deprecated{% endlabelled %}
                {% endif %}
                {% labelled label="Definition" value_css="white-space:pre-wrap" %}{{ term.definition }}{% endlabelled %}
                {% labelled label="Extra" %}
                    {% if term.extra %}
                    <a href="#ontology-extra" data-toggle="collapse" class="toggle-link">Toggle raw extra data (technical)</a>
                    {% else %}<div class="no-value">-</div>{% endif %}
                {% endlabelled %}
                {% if term.extra %}
                <div id="ontology-extra" class="collapse mb-4">{% code_json term.extra %}</div>
                {% endif %}
                {% if term.aliases %}
                    {% labelled label="Aliases" %}{% for alias in term.aliases %}{{ alias }}<br/>{% endfor %}{% endlabelled %}
                {% endif %}
                {% labelled label="URL" %}
                    <a href="{{ term.url }}" class="external-link hover-link" target="_blank">{{ term.url }}</a>
                {% endlabelled %}
                {% labelled label="Cross Ontology URL" %}
                    <a href="https://www.ebi.ac.uk/spot/oxo/terms/{{ term.id }}" class="external-link" target="_blank">https://www.ebi.ac.uk/spot/oxo/terms/{{ term.id }}</a>
                {% endlabelled %}
                {% if term.ontology_service == "MONDO" %}
                    {% labelled label="Hierarchy URL" %}
                        <a class="external-link" target="_blank"
                           href="https://www.ebi.ac.uk/ols/ontologies/MONDO/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2F{{ term.url_safe_id }}">
                        https://www.ebi.ac.uk/ols/ontologies/MONDO/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2F{{ term.url_safe_id }}
                        </a>
                    {% endlabelled %}
                {% endif %}
                {% if not term.is_stub %}
                    {% labelled label="Last imported" %}Import {{ term.from_import.id }} - {{ term.from_import.filename }} @ {% timestamp term.from_import.processed_date %}{% endlabelled %}

                    {% labelled label="Relationships" %}
                        <a class="toggle-link" data-toggle="collapse" href="#relationships" {% if relationship_count < 30 %}aria-expanded="true"{% endif %}>Toggle {% count relationship_count singular="Ontology/Gene Relationship" plural="Ontology/Gene Relationships" %}</a>
                    {% endlabelled %}

                    <div id="relationships" class="collapse {% if relationship_count < 30 %}show{% endif %}">
                        {% if parent_relationships is not None %}
                            <hr />
                            {% labelled label='<i class="fas fa-sitemap"></i> Parent Terms' %}
                                {% if parent_relationships %}
                                    {% if parent_relationships.is_limited %}<i class="fas fa-info-circle text-info"></i> {{ parent_relationships.limit_str }}<br/>{% endif %}
                                    {% for relationship in parent_relationships %}
                                        <div class="mt-2">
                                            {% ontology_relationship relationship term %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            {% endlabelled %}
                        {% endif %}

                        {% if gene_relationships is not None %}
                            <hr/>
                            {% labelled label="<i class='fas fa-dna'></i> Gene Relationships" %}
                                {% if gene_relationships %}
                                    <p class="text-muted">Note that Panel App relationships are only retrieved as needed, and might not be represented
                                    here yet.</p>

                                    {% if gene_relationships.is_limited %}<i class="fas fa-info-circle text-info"></i> {{ gene_relationships.limit_str }}<br/>{% endif %}
                                    {% for snake in gene_relationships %}
                                        <div class="mt-2">
                                        <span class="text-muted text-monospace">{{ term.id }}</span>
                                        {% for step in snake.show_steps %}
                                            <div class="text-center d-inline-block mx-2 hover-detail"
                                                 title="Import {{ step.relation.from_import.import_source }}"
                                                data-content="Last imported: {% timestamp step.relation.from_import.processed_date text_only=True %}<br/>
                                                Context: {{ step.relation.from_import.context }}</br>
                                                Filename: {{ step.relation.from_import.filename }}">&nbsp
                                                {{ step.relation.relation_display }}
                                            </div>
                                            {% ontology_term step.dest_term %} &nbsp;
                                        {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            {% endlabelled %}
                        {% endif %}
                        <hr/>

                        {% labelled label="Direct Relationships" %}
                            {% if regular_relationships %}
                                {% if regular_relationships.is_limited %}<i class="fas fa-info-circle text-info"></i> {{ regular_relationships.limit_str }}<br/>{% endif %}
                                {% for relationship in regular_relationships %}
                                    <div class="mt-2">
                                        {% ontology_relationship relationship term %}
                                    </div>
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        {% endlabelled %}

                        {% if child_relationships is not None %}
                            <hr/>
                            {% labelled label='<i class="fas fa-sitemap"></i> Child Terms' %}
                                {% if child_relationships %}
                                    {% if child_relationships.is_limited %}<i class="fas fa-info-circle text-info"></i> {{ child_relationships.limit_str }}<br/>{% endif %}
                                    {% for relationship in child_relationships %}
                                        <div class="mt-2">
                                            {% ontology_relationship relationship term %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            {% endlabelled %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if is_ontology %}
        <div class="container-table mt-4">
            <h4>Classifications</h4>
            Filtering on records with resolved conditions to <b>{{ term }}</b>
            <table id="vc-datatable" class="classification-table" data-datatable-url="{% url 'classification_datatables' %}" data-datatable-data='classificationFilter'></table>
        </div>

        {% if patients_qs.exists %}
            <div class="container-table mt-4">
                <h4>Patients</h4>
                <table class="table">
                    <tr>
                        <th>Code</th>
                        <th>Family Code</th>
                        <th>Samples</th>
                    </tr>
                    {% for patient in patients_qs %}
                        <tr>
                            <td><a href="{% url 'view_patient' patient.pk %}">{{ patient.code }}</a></td>
                            <td>{{ patient.family_code|default_if_none:"-" }}</td>
                            <td>
                                {% for sample in patient.sample_set.all %}
                                    <a href="{% url 'view_sample' sample.pk %}">{{ sample }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}