{% load static %}
{% load tz %}
{% load ui_tabs_builder %}
{% load js_tags %}
{% load crispy_forms_field %}
{% load ui_utils %}
<div id='analysis-settings-container'>
<script>
	IN_ANALYSIS = $("#analysis-and-toolbar-container").length > 0;
    
	function reloadNodes() {
		$.ajax({
		    type: "POST",
		    url: "{% url 'analysis_reload' analysis.pk %}",
		    success: function(data) {
		    	if (IN_ANALYSIS) {
                    checkAndMarkDirtyNodes();
		    	}
		    }
		});
	}

    function lockAnalysis(lock) {
	    if (typeof(lock) === 'undefined') {
	        lock = true;
        }
		$.ajax({
		    type: "POST",
		    url: "{% url 'analysis_settings_lock' analysis.pk %}",
            data: 'lock=' + encodeURIComponent(JSON.stringify(lock)),
		    success: function(data) {
                window.location = "{% url 'analysis' analysis.pk %}";
		    }
		});
    }

	$(document).ready(function() {
        ANALYSIS_SETTINGS = {{ new_analysis_settings|jsonify }};
		//$("#analysis-tabs").tabs();
        setupAjaxTabs($("#analysis-tabs"));

        $('button#close-analysis-settings').click(function() {
            $("#analysis-settings-container").parent().empty();            
        });

		if (!IN_ANALYSIS) {
		  $("#force-reload-nodes-button").hide();
		}

        let options = {
            target: "#analysis-settings-container",
            success: function(data) {
                if (data.analysis_id) {
                    window.open(Urls.analysis(data.analysis_id), '_blank');
                }
            },
        };
        let analysisTemplateForm = $('form#analysis-template-form');
        analysisTemplateForm.ajaxForm(options);

        $("button#lock-analysis-button").click(function() { lockAnalysis(); });
        $("button#unlock-analysis-button").click(function() { lockAnalysis(false); });
        // TODO: Lock history...

	});
</script>
<style>
    #lock-details {
        padding-right: 10px;
    }
</style>
<div>
    <div id="analysis-tabs">
        {% ui_register_tab tab_set="analysis_tab" url='analysis_settings_details_tab' param=analysis.pk label="Analysis Settings" %}
        {% ui_register_tab tab_set="analysis_tab" url='analysis_settings_node_counts_tab' param=analysis.pk label="Node Counts" %}
        {% if analysis.annotation_version %}
            {% ui_register_tab tab_set="analysis_tab" url='view_annotation_version_details' param=analysis.annotation_version.pk label="Annotation Version" %}
        {% endif %}
        {% if analysis.analysistemplaterun %}
            {% ui_register_tab tab_set="analysis_tab" url='analysis_settings_template_run_tab' param=analysis.pk label="Template Run" %}
        {% endif %}

        {% if analysis.template_type != 'T' %}
            {% ui_register_tab_embedded tab_set="analysis_tab" label="Create Template" %}
                <div id="create-template">
                  <form id="analysis-template-form" method="post" action="{{ request.path }}">
                    {% csrf_token %}
                      {% labelled label="Unique Name" %}
                        {% crispy_field create_analysis_template_form.name %}
                      {% endlabelled %}
                    <button id='create-analysis-template' class="btn btn-outline-primary">Create template from this analysis</button>
                  </form>
                </div>
            {% end_ui_register_tab_embedded %}
        {% endif %}
        {% with lock_history=analysis.lock_history %}
            {% if lock_history %}
                {% ui_register_tab_embedded tab_set="analysis_tab" label="Lock History" %}
                    <table class="table">
                        <tr><th>Action</th><th>User</th><th>Date</th></tr>
                        {% for analysis_lock in lock_history %}
                            <tr>
                                <th>{% if analysis_lock.locked %}Locked{% else %}Unlocked{% endif %}</th>
                                <td>{{ analysis_lock.user }}</td>
                                <td>{{ analysis_lock.date|localtime }} ({{ analysis_lock.date|timesince }} ago)</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% end_ui_register_tab_embedded %}
            {% endif %}
        {% endwith %}
        {% if has_write_permission %}
            {% ui_register_tab_embedded tab_set="analysis_tab" label="Sharing / Permissions" %}{% url 'group_permissions' 'analysis.models.Analysis' analysis.pk %}{% end_ui_register_tab_embedded %}
        {% endif %}
        {% ui_render_tabs tab_set="analysis_tab" %}
	</div>
	<hr>
	<div>
        <button class="btn btn-outline-primary fas fas-fw fa-window-close" id='close-analysis-settings' type='button'>Close</button>
        {% if has_write_permission %}
		    <button class="btn btn-outline-danger fas fa-redo" id='force-reload-nodes-button' type='button'>Force Reload Nodes</button>
		    <button class="btn btn-outline-danger fas fa-lock" id='lock-analysis-button' type='button'>Lock Analysis</button>
        {% elif analysis.is_locked %}
            <div>
                <span id="lock-details">
                    <b>Locked by:</b> {{ analysis.last_lock.user }} on {{ analysis.last_lock.date|localtime }} ({{ analysis.last_lock.date|timesince }} ago)
                </span>
                {% if can_unlock %}
                <button class="btn btn-outline-danger fas fa-unlock" id='unlock-analysis-button' type='button'>Unlock Analysis</button>
                {% endif %}
            </div>
        {% endif %}
	</div>

</div>
</div>