{% load static %}
<script type="text/javascript" src="{% static 'js/lib/double-helix.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/loaders/vg-loaders.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/loaders/base-fx.loader.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/loaders/flowcell.loader.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/loaders/pileup.loader.js' %}"></script>

<script type="text/javascript" src="{% static 'js/venn_intersect.js' %}"></script>
