{% extends "uicore/page/base.html" %}
{% load static %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load datatable_tags %}
{% load user_tag_color_tags %}

{% block submenu %}{% menu_bar_analysis %}{% endblock %}
{% block title %}VariantGrid: Analyses{% endblock title %}
{% block head %}
    {{ block.super }}
    {% render_tag_styles_and_formatter %}
    <script type="text/javascript" src="{% static 'js/grid.js' %}"></script>
    <script>
        function renderAnalysisLink(data, type, row) {
            const dom = $('<span>');
            if (data.locked) {
                $('<i>', {class: 'fa fa-lock fa-lg mr-1', title: 'Locked'}).appendTo(dom);
            }
            $('<a>', {href: data.url, class: 'hover-link', text: data.text}).appendTo(dom);
            return dom.prop('outerHTML');
        }

        $(document).on('click', '.dt-analysis-settings', function() {
            $("#node-editor-container").load($(this).data('url'));
        });

        function renderAnalysisTags(data, type, row) {
            return tagsGlobalFormatter(data, null, {id: row.id.text});
        }

        $(document).ready(() => {
            $('#id_analysis').change(function () {
                const analysisId = $("#id_analysis").val();
                window.location = Urls.analysis(analysisId);
            });
        });
    </script>
{% endblock head %}

{% block content %}
    <div class="container">
        {% load ui_help %}
        {% page_help page_id='analysis/analyses_help' title='Analyses' %}

        <div id="analysis-form-container">
          <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">Create</div>
                <div class="card-body">
                    {{ create_analysis_form.name | as_crispy_field }}
                    {% if not create_analysis_form.genome_build_hidden %}
                        <span title="Analysis GenomeBuild defaults and options come from your user settings">
                            {{ create_analysis_form.genome_build | as_crispy_field }}
                        </span>
                    {% endif %}
                    <button class="btn btn-primary" id='create-analysis'><i class="fas fa-plus-circle"></i> Create New Analysis</button>
                </div>
            </div>

            {% include "messages/messages.html" %}
          </form>
        </div>

        <form>
            {% labelled label="Open Analysis" %}{{ analysis_choice_form.analysis }} {{ analysis_choice_form.media }}{% endlabelled %}
        </form>

        {# Needs to be called 'node-editor-container' to match how it's loaded in analysis #}
        <div id="node-editor-container">
        </div>
    </div>

    <div class="container-table">
        {% datatable_user_data_filter 'analyses-datatable' 'Analyses' %}
        <table id="analyses-datatable" class="sticky-header" data-datatable-url="{% url 'analyses_list_datatable' %}"></table>
    </div>
{% endblock content %}
