{% extends "uicore/page/base.html" %}
{% load static %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}

{% load menu_tags %}
{% block submenu %}{% menu_bar_analysis %}{% endblock %}
{% block title %}VariantGrid: Analyses{% endblock title %}
{% block head %}
    <style>
        .settings-button {
            display: block;
            float: right;
            width: 16px;
            height: 16px;
            margin: 2px;
            background-image: url({% static 'icons/settings-icon.png' %});
        }
    </style>
    <script>
        function grid_init_func(grid, pagerId) {
            function copy_analysis(a) {
                let analysisId = grid.getGridParam('selrow');
                if (analysisId) {
                    $.ajax({
                        type: "POST",
                        url: Urls.clone_analysis(analysisId),
                        success: function(data) {
                            grid.jqGrid('setGridParam', {page: 1, sortname: 'id', sortorder: "desc"}).trigger('reloadGrid');
                        },
                    });
                }
            }

            grid.jqGrid(
                'navButtonAdd', pagerId, {
                caption : "Clone",
                buttonicon : "ui-icon-copy",
                onClickButton : copy_analysis,
                position : "last",
                title : "Clone Analysis",
                cursor : "pointer"
            });
        }


        function analysisSettings(analysisId) {
            $("#node-editor-container").load(Urls.analysis_settings(analysisId));
        }

        $(document).ready(() => {
            jQuery.extend($.fn.fmatter, {
                analysisLink: function (cellvalue, options, rowObject) {
                    let analysisId = rowObject.id;
                    let iconCssClassList = []
                    if (rowObject.analysislock__locked) {
                        iconCssClassList.push("fa fa-lock fa-lg");
                    }
                    let analysisLink = linkFormatter(analysisId, options, rowObject, iconCssClassList);
                    let settingsLink = "<a class='settings-button' href='javascript:analysisSettings(" + analysisId + ")' title='Open Settings'></a>";
                    return "<span>" + analysisLink + settingsLink + "</span>";
                }
            });

            $('#id_analysis').change(function () {
                const analysisId = $("#id_analysis").val();
                window.location = Urls.analysis(analysisId);
            });
        });
    </script>
{% endblock head %}

{% block content %}
    <div class="container">
        {% load ui_help %}
        {% page_help page_id='analysis/analyses_help' title='Analyses' %}

        <div id="analysis-form-container">
          <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">Create</div>
                <div class="card-body">
                    {{ create_analysis_form.name | as_crispy_field }}
                    {% if not create_analysis_form.genome_build_hidden %}
                        <span title="Analysis GenomeBuild defaults and options come from your user settings">
                            {{ create_analysis_form.genome_build | as_crispy_field }}
                        </span>
                    {% endif %}
                    <button class="btn btn-primary" id='create-analysis'><i class="fas fa-plus-circle"></i> Create New Analysis</button>
                </div>
            </div>

            {% include "messages/messages.html" %}
          </form>
        </div>

        <form>
            {% labelled label="Open Analysis" %}{{ analysis_choice_form.analysis }} {{ analysis_choice_form.media }}{% endlabelled %}
        </form>

        {# Needs to be called 'node-editor-container' to match how it's loaded in analysis #}
        <div id="node-editor-container">
        </div>
    </div>

    <div class="container-table">
        {% load jqgrid_tags %}
        {% user_data_grid_filter 'analyses' 'Analyses' %}
        {% jqgrid 'analyses_grid' 'analyses' search=False delete=True download_grid_json_as_csv=True init_func='grid_init_func' %}
    </div>
{% endblock content %}


