{% extends menu_analysis_base %}
{% load static %}
{% load ui_help %}
{% load ui_utils %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load jqgrid_tags %}
{% block title %}VariantGrid: Analysis templates{% endblock title %}

{% block submenu_page_content %}
<script>
    $(document).ready(() => {
        jQuery.extend($.fn.fmatter , {
            analysisLink : function(cellvalue, options, rowObject) {
                let analysisLink = linkFormatter(cellvalue, options, rowObject);
                return "<span>" + analysisLink + "</span>";
            }
        });

        $('#id_analysis').change(function () {
            const analysisId = $("#id_analysis").val();
            window.location = Urls.analysis(analysisId);
        });
    });
</script>

<div class="container">
    {% page_help page_id='analysis/analysis_templates_help' title='Analyses Templates' %}

    <div id="analysis-template-form-container">
      <form id="analysis-template-form" method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">Create Template</div>
            <div class="card-body">
                {% crispy create_analysis_template_form %}
            </div>
        </div>
      </form>
    </div>

    <form>
        {% labelled label="Open Analysis Template" %}{{ analysis_template_choice_form.analysis }} {{ analysis_template_choice_form.media }}{% endlabelled %}
    </form>

</div>
<div class="container-table">
    {% user_data_grid_filter 'analysis_templates' 'Analysis Templates' %}
    {% jqgrid 'analysis_templates_grid' 'analysis_templates' search=False delete=True %}
</div>

{% endblock submenu_page_content %}

