{% extends "uicore/page/base.html" %}
{% load ui_utils %}
{% load static %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load datatable_tags %}
{% load genome_build_tags %}
{% load tag_config_tags %}

{% block title %}VariantGrid: Analyses{% endblock title %}
{% block head %}
    {{ block.super }}
    {% render_tag_styles_and_formatter %}
    <style>
        .analysis-type-radio label {
            white-space: nowrap;
        }
    </style>
    <script src="{% static 'js/analysis/analyses.js' %}"></script>
{% endblock head %}

{% block content %}
    <div class="container">
        {% load ui_help %}
        {% page_help page_id='analysis/analyses_help' title='Analyses' %}

        <div id="analysis-form-container">
          <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">Create</div>
                <div class="card-body">
                    {{ create_analysis_form.name | as_crispy_field }}
                    {% if not create_analysis_form.genome_build_hidden %}
                        <span title="Analysis GenomeBuild defaults and options come from your user settings">
                            {{ create_analysis_form.genome_build | as_crispy_field }}
                        </span>
                    {% endif %}
                    <button class="btn btn-primary" id='create-analysis'><i class="fas fa-plus-circle"></i> Create New Analysis</button>
                </div>
            </div>

          </form>
        </div>

        <form>
            {% labelled label="Open Analysis" %}{{ analysis_choice_form.analysis }} {{ analysis_choice_form.media }}{% endlabelled %}
        </form>

        {# Needs to be called 'node-editor-container' to match how it's loaded in analysis #}
        <div id="node-editor-container">
        </div>
    </div>

    <div class="container-table">
        <div id="analyses-grid-filter" class="form-inline">
            {% if multiple_genome_builds %}
                {% labelled label="Genome Build" hint="inline" %}{% genome_build_grid_filter %}{% endlabelled %}
            {% endif %}
            {% labelled label="Analysis Type" hint="inline" %}
                <div class="btn-group btn-group-toggle analysis-type-radio" data-toggle="buttons">
                    <label class="btn btn-outline-primary active">
                        <input class="table-filter" type="radio" name="analysis_type_filter" value="" autocomplete="off" checked> All
                    </label>
                    {% for value, label in analysis_types %}
                        <label class="btn btn-outline-primary">
                            <input class="table-filter" type="radio" name="analysis_type_filter" value="{{ value }}" autocomplete="off"> {{ label }}
                        </label>
                    {% endfor %}
                </div>
            {% endlabelled %}
            <button class="btn btn-outline-secondary m-2" type="button" data-toggle="collapse"
                    data-target="#analyses-tag-filter" aria-expanded="false">
                <i class="fas fa-tags"></i> Filter by Tag
            </button>
        </div>
        <div class="collapse" id="analyses-tag-filter">
            <div id="analyses-tag-counts" class="mb-2"></div>
        </div>
        {% datatable_user_data_filter 'analyses-datatable' 'Analyses' %}
        <table id="analyses-datatable" class="sticky-header" data-datatable-url="{% url 'analyses_list_datatable' %}"
               data-datatable-data="analysesDatatableFilter"></table>
    </div>
{% endblock content %}
