{% load static %}
{% load js_tags %}
{% load crispy_forms_tags %}
<script type="text/javascript" src="{% static 'js/smart_selects_helper.js' %}"></script>
<div id='analysis-settings-details-tab'>
<script>
    DIV_TO_RELOAD = '#analysis-settings-details-tab';
    IN_ANALYSIS = $("#analysis-and-toolbar-container").length > 0;

    function createCrossLink(select, id, linkText) {
        var crossLink = $("<a target='_blank' id='" + id + "'>" + linkText + "</a>");
        select.after(crossLink);
    }
    
    $(document).ready(function() {
        ANALYSIS_SETTINGS = {{ new_analysis_settings|jsonify }}; // Set when page reloads
    
        let options = {
            target: DIV_TO_RELOAD,
            success: function(data) {
                if (IN_ANALYSIS) {
                    // This is from before the page reload - ie old settings.
                    var my_current_analysis_settings = {{ new_analysis_settings|jsonify }};
                    changeAnalysisSettings(my_current_analysis_settings);
                }
            },
        };
        var analysisForm = $('form#analysis-form');
        analysisForm.ajaxForm(options); 

        // Setup Links as per normal
        var columnsSelect = $('#id_custom_columns_collection', '#analysis-form');
        var columnsUrl = "{% url 'custom_columns' %}";
        var columnsLink = $("<span> <a target='_blank' href='" + columnsUrl + "'>Manage Custom Columns</a> (opens in new window)</span>");
        columnsSelect.after(columnsLink);
        
        $('#force-reload-nodes-button').click(reloadNodes);
        
        $('#id_annotation_version').change(function() {
            var warningId = 'annotation-version-warning';
            var messages = $('.messages', analysisForm);
            var warning = $('.' + warningId, messages);
            if (!warning.length) {
                $("<li class='info " + warningId + "'>Warning: Changing Annotation Version will reload all nodes.</li>").appendTo(messages);
            }
        });
        initSmartSelectsInForm($("form#analysis-form"));
    });
</script>

<div>
    <form id="analysis-form" method="post" action="{{ request.path }}">
        {% crispy form form_helper.horizontal %}
        {% include "uicore/messages/messages.html" %}
        <div>
            {% if has_write_permission %}
                <button class="btn btn-primary" id='save-analysis-settings' type="submit">Save</button>
            {% endif %}
        </div>

    </form>
</div>
</div>