{% extends "uicore/page/base.html" %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% block title %}QC Data{% endblock %}
{% block submenu %}{% menu_bar_sequencing %}{% endblock %}

{% block head %}
<style>
	.grid-container {
		margin-top: 10px;
		margin-bottom: 10px;
	}
</style>
{% endblock %}

{% block content %}
    <div class="container-table">
        <h3>QC Data</h3>

        <div class='grid-container'>
        <h4>IlluminaFlowcellQC</h4>
        <table id="illumina-flowcell-qc-grid" class="sticky-header" data-datatable-url="{% url 'illumina_flowcell_qc_datatable' %}"></table>
        </div>

        <div class='grid-container'>
        <h4>FastQC</h4>
        <table id="fastqc-grid" class="sticky-header" data-datatable-url="{% url 'fastqc_datatable' %}"></table>
        </div>

        <div class='grid-container'>
        <h4>Flagstats</h4>
        <table id="flagstats-grid" class="sticky-header" data-datatable-url="{% url 'flagstats_datatable' %}"></table>
        </div>

        <div class='grid-container'>
        <h4>QCExecSummary</h4>
        <table id="qc-exec-summary-grid" class="sticky-header" data-datatable-url="{% url 'qc_exec_summary_datatable' %}"></table>
        </div>
    </div>

{% endblock %}