{% extends "uicore/page/base.html" %}
{% load ui_utils %}
{% load static %}
{% load js_tags %}
{% load crispy_forms_tags %}
{% block title %}QC Graphs{% endblock %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/lib/plotly-custom-3.7.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plotly_helper.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/graphs.css' %}" />
	<style>
		div#generated-graph {
		    border: 1px solid #ccc;
		    width: 800px;
		    height: 600px;
		    overflow: hidden;
		}
		
		#initial-message {
			text-align: center;
			margin: 20px;
		}
		
		#percent-container {
			display: none;
		}
		
		#error-container {
			color: #ee0000;
		}
		
	</style>

    <script src="{% static 'js/seqauto/qc_graphs.js' %}"></script>
    <script>
        $(document).ready(() => {
            initQCGraphs({{ qc_type_totals|jsonify }});
        });
    </script>
{% endblock %}

{% block content %}
	<div class="container">
    <h3>QC Graphs</h3>
    <form>
        <!-- This never gets posted, just use values to populate AJAX GETs -->
        {% crispy form form_helper.horizontal_nested %}
        {% labelled label="Percent" %}<input id='percent' type="checkbox" />{% endlabelled %}
        <button type='button' class="btn btn-primary" id='load-graph'>Load Graph</button>
        {{ form.media }}
    </form>

	<div id='error-container'></div>
	<div id='qc-column-graph'></div>
    </div>
{% endblock content %}
