{% extends "uicore/page/base.html" %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load static %}
{% load js_tags %}
{% load crispy_forms_tags %}
{% block title %}QC Graphs{% endblock %}
{% block submenu %}{% menu_bar_sequencing %}{% endblock %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/lib/plotly-latest.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plotly_helper.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/graphs.css' %}" />
	<style>
		div#generated-graph {
		    border: 1px solid #ccc;
		    width: 800px;
		    height: 600px;
		    overflow: hidden;
		}
		
		#initial-message {
			text-align: center;
			margin: 20px;
		}
		
		#percent-container {
			display: none;
		}
		
		#error-container {
			color: #ee0000;
		}
		
	</style>

    <script>
        const QC_TYPES_TOTALS = {{ qc_type_totals | jsonify }};
        console.log("QC");
        console.log(QC_TYPES_TOTALS);

        function changeGraph() {
            const qc_type = $("#id_qc_type").val();
            const totalField = QC_TYPES_TOTALS[qc_type];
            const percent_selector = $("input#percent");
            const percent_container = percent_selector.closest("div.form-group");
            if (totalField) {
                percent_container.show();
            } else {
                percent_container.hide();
                percent_selector.prop("checked", false);
            }
        }

        function loadGraph() {
            console.log("loadGraph");
            const graph_selector = $('#qc-column-graph');
            const qc_column = $('#id_qc_column').val();
            const percent = $("input#percent").is(":checked");

            let error_messages = [];
            if (!qc_column) {
                error_messages.push("No QC Column selected");
            }

            let errorContainer = $("#error-container");
            if (error_messages.length) {
                errorContainer.html(error_messages.join(', '));
            } else {
                errorContainer.empty();
                graph_selector.empty();
                graph_selector.addClass('graph-loading');
                const JSON_GRAPH_URL = Urls.qc_column_graph(qc_column, percent);
                graph_selector.load(JSON_GRAPH_URL, function() { graph_selector.removeClass("graph-loading"); });
            }
        }

        $(document).ready(() => {
            const qc_type = $('#id_qc_type');
            const qc_column = $('#id_qc_column');

            qc_type.change(function() {
                clearAutocompleteChoice(qc_column);
            });
            qc_column.change(changeGraph);
            changeGraph(); // initially hide percent

            const graph_selector = $('#qc-column-graph');
            graph_selector.html("<div id='initial-message'>Select a column to graph</div>");
            $("button#load-graph").button().click(loadGraph);
        });
    </script>
{% endblock %}

{% block content %}
	<div class="container">
    <h3>QC Graphs</h3>
    <form>
        <!-- This never gets posted, just use values to populate AJAX GETs -->
        {% crispy form form_helper.horizontal_nested %}
        {% labelled label="Percent" %}<input id='percent' type="checkbox" />{% endlabelled %}
        <button type='button' class="btn btn-primary" id='load-graph'>Load Graph</button>
        {{ form.media }}
    </form>

	<div id='error-container'></div>
	<div id='qc-column-graph'></div>
    </div>
{% endblock content %}
