{% load static %}
{% load ui_help %}
{% load ui_utils %}
{% load crispy_forms_field %}
{% load datatable_tags %}

<script src="{% static 'js/seqauto/sequencing_runs.js' %}"></script>
<div>
    {% page_help page_id='seqauto/sequencing_runs_help' title='Sequencing Runs' show_title=False %}
    <form id="jump-to-sequencing-run">
        {% labelled label="Jump to SequencingRun" %}
            {{ sequencing_run_form.sequencing_run }}
            {{ sequencing_run_form.media }}
        {% endlabelled %}
    </form>

    <div>
        <form id="filter-grid-enrichment-kit">
            <div class="card">
                <div class="card-header">Filter Grid</div>
                <div class="card-body">
                    {% labelled label="Enrichment Kit" %}
                        {{ enrichment_kit_form.enrichment_kit }}
                    {% endlabelled %}
                    <div id='sequencing-runs-filter-description' class='hidden'>
                        Filtering to <span id='sequencing-runs-filter'></span>. <a href='javascript:showAll()'>Show All</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% datatable_user_data_filter 'sequencing-runs-datatable' 'SequencingRuns' group_data=False hidden_data=True %}
    <table id="sequencing-runs-datatable" class="sticky-header"
           data-datatable-url="{% url 'sequencing_run_datatable' %}"
           data-datatable-data="sequencingRunDatatableFilter"></table>
</div>
