{% extends "seqauto/menu_sequencing_data_base.html" %}

{% block title %}QC Data{% endblock %}

{% block head %}
<style>
	.grid-container {
		margin-top: 10px;
		margin-bottom: 10px;
	}
</style>
{% endblock %}

{% block submenu_page_content %}

<h3>Sequencing Stats Data</h3>

{% if has_sequencing_samples %}
<div class='grid-container'>
<h4>Sequencing Samples</h4>
<table id="sequencing-samples-grid" class="sticky-header" data-datatable-url="{% url 'sequencing_samples_datatable' %}"></table>
</div>

<div class='grid-container'>
<h4>All Sequencing Samples</h4>
<table id="all-sequencing-samples-grid" class="sticky-header" data-datatable-url="{% url 'sequencing_samples_historical_datatable' time_frame='all' %}"></table>
</div>

<div class='grid-container'>
<h4>Sequencing Samples By Year</h4>
<table id="sequencing-samples-by-year-grid" class="sticky-header" data-datatable-url="{% url 'sequencing_samples_historical_datatable' time_frame='year' %}"></table>
</div>

<div class='grid-container'>
<h4>Sequencing Samples By Month</h4>
<table id="sequencing-samples-by-month-grid" class="sticky-header" data-datatable-url="{% url 'sequencing_samples_historical_datatable' time_frame='month_offset' %}"></table>
</div>
{% else %}
    <p>No sequencing runs to show.</p> 
{% endif %}
{% endblock %}
