{% extends "seqauto/menu_sequencing_data_base.html" %}
{% block title %}Seqauto Run {{ seqauto_run.pk }}{% endblock %}
{% block head %}
<style>
#error-exception {

}
</style>
{% endblock %}

{% block submenu_page_content %}

    <p>
    Back to <a href="{% url 'seqauto_runs' %}">info on disk scans</a>
    </p>

    <h3>Messages</h3>
    {% if seqauto_run.seqautomessage_set.all %}
        <table>
            <thead>
                <tr>
                    <th>SequencingRun</th>
                    <th>Record</th>
                    <th>Message</th>
                    <th>Level</th>
                </tr>
            </thead>
        {% for sam in seqauto_run.seqautomessage_set.all %}
            <tr>
                <td>{{ sam.record.sequencing_run }}</td>
                <td>{{ sam.record }}</td>
                <td>{{ sam.message }}</td>
                <td>{{ sam.get_severity_display }}</td>
            </tr>
        {% endfor %} 
        </table>
    {% else %}
        No messages
    {% endif %}
    

    <h3>PBS Jobs</h3>

    {% if pbs_script_counts %}
        <table>
        {% for file_type_name, count in pbs_script_counts %}
            <tr><td>{{ file_type_name }}
                <td>{{ count }}
        {% endfor %} 
        </table>
    {% else %}
        No PBS jobs
    {% endif %}
    

{% endblock %} 