{% extends "seqauto/menu_sequencing_data_base.html" %}
{% load static %}
{% load ui_utils %}
{% block title %}{{ single_sample_vcf }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/seqauto.css' %}" />
{% endblock %}

{% block jsdocumentready %}
{% endblock %}

{% block submenu_page_content %}

	<div>
	<img class='vcenter' src="{% static 'icons/vcf_64.png' %}" /> <b>{{ single_sample_vcf }}</b>
	</div>

    <div>
    {% labelled label="Path" %}{{ single_sample_vcf.path }}{% endlabelled %}
    {% labelled label="Variant Caller" %}{{ single_sample_vcf.variant_caller }}{% endlabelled %}
    </div>

	<div>
		<h3>Input</h3>
		<ul>
		<li>Sequencing Run: <a href="{% url 'view_sequencing_run' single_sample_vcf.sequencing_run.pk %}">{{ single_sample_vcf.sequencing_run }}</a></li>
		<li>Unaligned Reads: <a href="{% url 'view_unaligned_reads' single_sample_vcf.bam_file.unaligned_reads.pk %}">{{ single_sample_vcf.bam_file.unaligned_reads }}</a></li>
		<li>Bam: <a href="{% url 'view_bam_file' single_sample_vcf.bam_file.pk %}">{{ single_sample_vcf.bam_file }}</a></li>
		</ul>

		{% if single_sample_vcf.upload_pipeline %}
		<h3>Imported as a VariantGrid VCF</h3>
		<ul>
			{% if single_sample_vcf.upload_pipeline.uploadedvcf.vcf %}
			<li><a href="{% url 'view_vcf' single_sample_vcf.upload_pipeline.uploadedvcf.vcf.pk %}">View VCF {{ single_sample_vcf.upload_pipeline.uploadedvcf.vcf.pk }}</a>
			({{ single_sample_vcf.upload_pipeline.uploadedvcf.vcf.get_import_status_display }})
			{% endif %}
			<li><a href="{% url 'view_upload_pipeline' single_sample_vcf.upload_pipeline.pk %}">View Upload Processing</a>
			({{ single_sample_vcf.upload_pipeline.get_status_display }})

		</ul>
		{% endif %}

		<h3>Made from this data</h3>
		<ul>
			{% for qc in single_sample_vcf.qc_set.all %}
				<li class='seqauto-record qc'><a href="{% url 'view_qc' qc.pk %}">{{ qc }}</a>
			{% endfor %}
		</ul>
	</div>

{% endblock %}