{% extends "jqgrid/jqgrid.html" %}
{% load static %}
{% block style %}

.vcf-success {
    background-image: url({% static 'icons/vcf_64.png' %})
}

.vcf-error {
    background-image: url({% static 'icons/cross.png' %})
}

.vcf-loading {
    background-image: url({% static 'icons/loading.gif' %})
}

{% endblock %} 


{% block jshead %}
    function get_icon_class(importStatus) {
        if (importStatus == 'S') {
            return "vcf-success";
        } else if (importStatus == 'E') {
            return "vcf-error";
        } else if (importStatus == 'C' || importStatus == 'I') {
            return "vcf-loading";
        }
        return null;
    }
{% endblock %} 


{% block formatter %}
   		viewSequencingRunLink : function(sequencingRunId) {
			const URL = Urls.view_sequencing_run(sequencingRunId);
	    	return "<a class='sequencing-run-link' href='" + URL + "'>" + sequencingRunId + "</a>";
		},
        formatSequencingRunValid: function(is_valid) {
            let value = is_valid;
            if (!is_valid) {
                value = `<span class="error">${is_valid}</span>`;
            }
            return value;
        },
        formatSequencingRunVCF : function(vcfIds, options, rowObject) {
            if (!vcfIds) {
                return "";
            }
            let vcfSet = new Set();
            let vcfIdList = vcfIds.split(",");
            let variantCallerList = rowObject.vcf_variant_caller.split(",");
            let importStatusList = rowObject.vcf_import_status.split(",");

            let vcfLinks = [];
            // This contains duplicates
            for (let i=0 ; i<vcfIdList.length ; ++i) {
                let vcfId = vcfIdList[i];

                if (!vcfSet.has(vcfId)) {
                    vcfSet.add(vcfId);
                    let variantCaller = variantCallerList[i];
                    let importStatus = importStatusList[i];
                    let URL = Urls.view_vcf(vcfId);
                    let iconClass = get_icon_class(importStatus);
                    let linkInner;
                    if (iconClass) {
                        linkInner = `<div title='${variantCaller}' class='left grid-link-icon vcf-icon ${iconClass}'></div>`;
                        console.log(linkInner);
                    } else {
                        linkInner = 'VCF ' + vcfId;
                        linkInner += "(" + importStatus + ")";
                    }
                    vcfLinks.push("<a href='" + URL + "'>" + linkInner + "</a>");
                }
            }
            return vcfLinks.join(" ");
        },
        showGoldStandardIcon : function(val) {
            var cell_value = '';
            if (val) {
                cell_value = '<div title="Gold Standard" class="grid-link-icon gold-standard-icon"></div>';
            }
            return cell_value;
        },
        showHiddenIcon : function(val) {
            var cell_value = '';
            if (val) {
                cell_value = '<div title="Hidden" class="grid-link-icon hidden-eye-icon"></div>';
            }
            return cell_value;
        },
        showBadIcon : function(val) {
            var cell_value = '';
            if (val) {
                cell_value = '<div title="Run marked as bad" class="grid-link-icon bad-run-icon"></div>';
            }
            return cell_value;
        }
{% endblock %}