{# Analysis can be turned off in that case URLs won't resolve so just skip #}
{% if url_name_visible.analysis %}
    {% load static %}
    {% load js_tags %}
    {% load related_analyses_tags %}
    {# styles/code for analysis_output_node_downloads - but display here so only done once #}
    <link rel="stylesheet" href="{% static 'css/analysis_nodes.css' %}">
    <style>
    .icon-stack{position:relative;display:inline-block;width:24px;height:24px}
    .icon-stack .icon{position:absolute;inset:0;background-repeat:no-repeat;background-position:center;}

    .output-node-icons .icon {
      background-size: 24px 24px;
      padding: 0.1em 0 0.1em 3em;
      height: 24px;
      width: 24px;
      top: 0.1em;
    }

    .output-node-icons .icon-bottom {
        opacity: 0.9;
    }

    .output-node-icons .icon-top {
        background-size: 14px 14px;
        inset:auto;
        width:14px; height:14px;
        bottom:-2px;
    }


    .icon-top .icon {
        width:14px; height:14px;
        background-size: 14px 14px;
        padding: 0.1em 0 0.1em 1.5em;
    }


    .icon.node-status {
        left: -2px;
        top: 8px;
        color: black;
    }
    </style>
    <script>
        function downloadNodeCSV(analysisId, nodeId, nodeVersion) {
            // This is called from analysis_output_node_downloads tag
            console.log("Download " + nodeId);
            let gridParam = {
                node_id: nodeId,
                version_id: nodeVersion,
                rows: 0,
                export_type: 'csv',
                use_canonical_transcripts: true, // if available
            }
            let querystring = EncodeQueryData(gridParam);
            let url = Urls.node_grid_export(analysisId) + "?" + querystring;
            window.location = url
        }
    </script>

    <h3>Analyses</h3>
    
    <div id='create-analyses'>
    <h4>Create Analysis from template</h4>
    {% block create_analyses %}
    {% endblock create_analyses %}
    </div>
    
    {% if analysis_details %}
        <table class="table">
            <thead>
            <tr>
            <th>Analysis
            {% if show_output_nodes %}
                <th>Output Nodes
            {% endif %}
            <th>Type
            <th>Created by
            {% if show_sample_info %}
            <th>Samples
            {% endif %}
            </thead>
            <tbody>
        {% for analysis, sample_info in analysis_details %}
            <tr> 
            <td><a href="{% url 'analysis' analysis.pk %}">{{ analysis.pk }} - {{ analysis }}</a>
            {% if show_output_nodes %}
                <td>
                    {% analysis_output_node_downloads analysis %}
                </td>
            {% endif %}
            <td>{{ analysis.get_analysis_type_display }}
            <td>{{ analysis.user }}
            {% if show_sample_info %}
            <td>{{ sample_info }}
            {% endif %}
        {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if karyomapping_analyses %}
    <h3>Karyomapping</h3>
    
        <table class="styled">
        <tr>
            <th>Name
            <th>Created by
        {% for ka in karyomapping_analyses %}
        <tr>
            <td><a href="{% url 'view_karyomapping_analysis' ka.pk %}">{{ ka }}</a>
            <td>{{ ka.user }}
        {% endfor %}
        </table>
    {% endif %}


    {% if variant_tag_genome_build_names %}
        {% load user_tag_color_tags %}
        {% render_tag_styles_and_formatter %}

        <script>
            function getRelatedVariantsExtraFilters() {
                let variantTagGridParams = {
                    analysis_ids : {{ analysis_ids_list | jsonify }},
                };
                return JSON.stringify(variantTagGridParams);
            }
        
            function getRelatedVariantTagsConfigUrl() { 
                return "extra_filters=" + getRelatedVariantsExtraFilters();
            }
            
            function relatedAnalysesGridInitFunc(grid, pagerId) {
                grid[0].p.postData["extra_filters"] = getRelatedVariantsExtraFilters;
            }
        </script>
        <h3>Variants tagged in analyses</h3>
        {% load jqgrid_tags %}
        {%  for genome_build_name in variant_tag_genome_build_names %}
            {% user_data_grid_filter genome_build_name|slugify 'Variant Tags' %}
            {% jqgrid 'variant_tags_grid' genome_build_name|slugify template_name='jqgrid/variant_details_link_grid.html' genome_build_name=genome_build_name|slugify search=False download_grid_json_as_csv=True jqgrid_config_get_parameters_func='getRelatedVariantTagsConfigUrl' init_func='relatedAnalysesGridInitFunc' %}
        {%  endfor %}
    {% endif %}
    
    {% block end_of_template %}
    {% endblock end_of_template %}
    
{% endif %}