{% if tag_counts %}
    <style>
    #tag-top-bar .grid-tag {
        cursor: pointer;
    }

    #tag-filter-description {
        display: none;
    }

    #filter-to-any-tag-button {
        margin: 5px;
    }

    </style>

    <script>
    function _tag_counts_filter_show_all() {
        $("#tag-filter-description").hide();
        {% if show_all_func %}
            let showAllFunc = {{ show_all_func | safe }};
            showAllFunc();
        {% endif %}
    }

    $(document).ready(function() {
    {% if click_func %}
        let clickFunc = {{ click_func | safe }};

        $(".grid-tag", "#tag-top-bar").click(function() {
            const tagId = $(this).attr("tag_id");
            const tagHtml = '<span class="tagged-' + tagId + '" title="Tagged as ' + tagId + '"><span class="user-tag-colored">' + tagId + '</span></span>';
            $("#tag-filter-description-text").html("Filtering to " + tagHtml);
            $("#tag-filter-description").show();
            clickFunc(tagId);
        });

        $("#filter-to-any-tag-button").click(function() {
            $("#tag-filter-description-text").html("Filtering to any tag");
            $("#tag-filter-description").show();
            clickFunc(""); // no arg means filter to all tags
        });
    {% endif %}
    });

    </script>
    <div id='tag-top-bar'> Click to filter:
        {% if any_tag_button %}
        <button id="filter-to-any-tag-button" class="btn btn-outline-secondary"><i class="fas fa-tags"></i> Any Tag</button>
        {% endif %}
    {% for tag, count in tag_counts %}
        <span class="grid-tag tagged-{{tag}}" title="Tagged as {{tag}}" tag_id="{{tag}}">
            <span class="user-tag-colored">{{ tag }}</span> : {{ count }}
        </span>
    {% endfor %}
    <div id="tag-filter-description"><span id="tag-filter-description-text"></span> <a href="javascript:_tag_counts_filter_show_all();">Show All</a></div>
    </div>
{% endif %}