{% load js_tags %}
{% load ui_utils %}
<h4>CLinVar Key</h4>
{% labelled label="ClinVar Key Name" %}{{ clinvar_key.id }}{% endlabelled %}
{% labelled label="ClinVar API Key" %}****{% endlabelled %}
{% labelled label="On Behalf of Org ID" %}{{ clinvar_key.behalf_org_id }}{% endlabelled %}
{% labelled label="Default Affected Status" %}{{ clinvar_key.get_default_affected_status_display }}{% endlabelled %}
{% labelled label="Assert Method Configuration" %}{{ clinvar_key.assertion_method_lookup }}{% endlabelled %}