{% extends "uicore/page/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load js_tags %}
{% load ui_utils %}
{% load ui_help %}
{% load ui_menu_bars %}
{% block title %}Columns{% endblock %}
{% block submenu %}{% menu_bar_settings %}{% endblock submenu %}
{% block content %}
    <script>
        function grid_init_func(grid, pagerId) {
            function copy_columns(ccc) {
                let cccId = grid.getGridParam('selrow');
                if (cccId) {
                    $.ajax({
                        type: "POST",
                        url: Urls.clone_custom_columns(cccId),
                        success: function(data) {
                            grid.jqGrid('setGridParam', {page: 1, sortname: 'id', sortorder: "desc"}).trigger('reloadGrid');
                        },
                    });
                }
            }

            grid.jqGrid(
                'navButtonAdd', pagerId, {
                caption : "Clone",
                buttonicon : "ui-icon-copy",
                onClickButton : copy_columns,
                position : "last",
                title : "Clone Columns",
                cursor : "pointer"
            });
        }
    </script>

    <div class="container">
        {% page_help page_id='settings/columns_help' title="Custom Columns"%}

        <div class="card">
            <div class="card-header">Create New Column</div>
            <div class="card-body">
                <form method="post">
                    {% crispy form %}
                </form>
            </div>
        </div>

        <p>
        Click to edit your columns or clone a global set.
        </p>

        <table id="custom-columns-collection-datatable" data-datatable-url="{% url 'custom_columns_collections_datatable' %}" class="sticky-header responsive"></table>
    </div>
{% endblock %}
