{% load ui_help %}
{% page_help_embedded "Groups" %}
    <b>Groups</b>: Speak to your administrator to manage groups. Everyone is a member of the 'public' group, use this to share with everyone.
{% end_page_help_embedded %}
<p class="text-info">
    The settings below are how data is initially shared with your groups.
    You can change object sharing permissions individually at any time using the "Settings/Permissions" tab
</p>
<label>Initial group permissions</label>
<table class="table">
    <thead>
        <tr>
            <th>Group</th>
            <th>Read</th>
            <th>Write</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ group }}</td>
            <td>{{ form.read }}</td>
            <td>{{ form.write }}</td>
        </tr>
    </tbody>
</table>
