{% extends menu_settings_base %}

{% load avatar_tags %}
{% load ui_utils %}
{% block title %}{{ other_user }} user page.{% endblock %}

{% block submenu_page_content %}
    <div class="container">
        <div class="card">
            <div class="card-header">View User {% admin_link other_user %}</div>
            <div class="card-body">
                {% labelled label="Avatar" %}{% avatar user  %}{% endlabelled %}
                {% labelled label="Username" %}{{ other_user }}{% endlabelled %}
                {% labelled label="Email" %}{{ email }}{% endlabelled %}
                {% labelled label="Phone: #" %}{{ user_contact.phone_number }}{% endlabelled %}
            </div>
            <div class="card-footer link-toolbar">
                {% if inbox_enabled %}
                    <a href="{% url 'messages_compose_to' recipient=other_user.pk %}">Write internal message</a>
                {% endif %}
                <a href="{% url 'activity_user' user_id=other_user.pk %}">View Classification Edits</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Shared groups</div>
            <div class="card-body">
                {% if common_groups %}
                    <p>You have the following groups in common with {{ other_user }}:</p>

                    <ul>
                    {% for g in common_groups %}
                        <li>{{ g }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    You have no groups in common with this user.
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}