.bg-theme {
  background-color: rgb(244, 144, 67) !important;
}
.bg-theme {
    color: #ddd !important;
    border-color: #ccc;
    .fas, .svg-inline--fa {
      color: #ccc !important;
    }
    input {
        color: #444 !important;
    }
}
body.login-bg-theme {
    overflow-y: initial;
}
.login-bg-theme {
    background-color: #DEF4FD;
    .header, .footer {
        background-color: rgb(244, 144, 67);
    }
    .main-container {
        margin-top: calc(70px + 10vh);
        margin-bottom: 70px;
    }
    .header a::after {
        position: relative;
        top: 5px;
        left: 15px;
        content: ' WARNING : This TEST site uses mock data.';
        color: white;
        font-weight: bold;
    }
    .footer {
        border-top: 1px solid white;
        a.external-link {
            font-weight: 500;
            color: #55c;
        }
    }
    color: #ddd;
    .jumbo-box {
        color: #444;
        font-size: 16px;
        background-color: #DEF4FD;
    }
}

@media screen and (min-width: 0) and (max-width: 991px) {
    .login-bg-theme .main-container {
        margin-top: 70px;
    }
    .login-bg-theme .poster {
        text-align: center;
    }
}


nav.navbar a.nav-link {
    color: #ddd !important;
    &:hover {
        color: #fff !important;
    }
    &.active {
        color: #eee !important;
    }
}
.nav-side-bar a.nav-link {
    color: #444 !important;
    &:hover {
        color: #000 !important;
    }
    &.active {
        color: #222 !important;
    }
}

.navbar-brand {
    background-position-x: 28px;
    background-image: url("/static/images/Australian_Genomics_logo_white_transp.png");
    margin-right: 0;
}

// used by 50x.html
#site-name::after {
    content: "Shariant"
}