{% extends "uicore/page/base_container_table.html" %}
{% load js_tags %}
{% load static %}
{% block title %}Gene Counts{% endblock %}

{% block head %}
{% json_data "cohort-gene-counts-data" cohort_id=cohort.pk gene_list_id=gene_list_id %}
<script src="{% static 'js/snpdb/cohort_gene_counts.js' %}"></script>
{% endblock %}

{% block container_table_content %}

    <a href="{% url 'view_cohort' cohort.pk %}">Back to cohort {{ cohort.name }}</a>

    {% if has_gene_count_types %}
        <table>
        {{ gene_count_type_choice_form }}
        <tr>
            <th>Gene List
            <td>{{ gene_list_form.gene_list }}{{ gene_list_form.media }}
        <tr><th>Enter Genes
            <td>
            <div id='gene-list-form-container'>
                <form id="new-gene-list-form" method="post">
                    {% csrf_token %}
                    {{ custom_gene_list_form.custom_gene_list_text }}
                    <button id='custom-genes-button' class="btn btn-primary">Use Custom Genes</button>
                </form>
            </div>
        </table>

        <div id='cohort-gene-counts-graph-container'>
        
        </div>
    {% else %}
        <div class="no-value mt-4">
            No gene count types have been configured - see the 'vcf_sample_gene_damage_counts' management command.
        </div>
    {% endif %}

{% endblock %}
