{% extends menu_patients_base %}
{% load static %}
{% block title %}Gene Counts{% endblock %}

{% block head %}
<script>

$(document).ready(function() {
    const gcContainer = $("#cohort-gene-counts-graph-container");

    function load_graph(url) {
        gcContainer.html('<i class="fa fa-spinner"></i>');
        gcContainer.load(url);
    }

    let geneListId = {{ gene_list_id|default:"null" }};

    function load_gene_list() {
        const geneCountType = $("#id_gene_count_type").val();
        if (geneCountType && geneListId) {
            load_graph(Urls.cohort_gene_counts_matrix({{ cohort.pk }}, geneCountType, geneListId));
        } else {
            gcContainer.empty();
        }
    }

    $('#id_gene_count_type').change(load_gene_list);

    $('#id_gene_list').change(function() {
        geneListId = $(this).val();
        load_gene_list();
    });

    load_gene_list();
    
});
</script>
{% endblock %}

{% block submenu_page_content %}

    <a href="{% url 'view_cohort' cohort.pk %}">Back to cohort {{ cohort.name }}</a>

    {% if has_gene_count_types %}
        <table>
        {{ gene_count_type_choice_form }}
        <tr>
            <th>Gene List
            <td>{{ gene_list_form.gene_list }}{{ gene_list_form.media }}
        <tr><th>Enter Genes
            <td>
            <div id='gene-list-form-container'>
                <form id="new-gene-list-form" method="post">
                    {% csrf_token %}
                    {{ custom_gene_list_form.custom_gene_list_text }}
                    <button id='custom-genes-button' class="btn btn-primary">Use Custom Genes</button>
                </form>
            </div>
        </table>

        <div id='cohort-gene-counts-graph-container'>
        
        </div>
    {% else %}
        <div class="no-value mt-4">
            No gene count types have been configured - see the 'vcf_sample_gene_damage_counts' management command.
        </div>
    {% endif %}

{% endblock %}
