{% extends "uicore/page/base.html" %}
{% load ui_menu_bars %}
{% load static %}
{% load ui_tabs_builder %}
{% load crispy_forms_tags %}

{% block submenu %}
    {% menu_bar_patients %}
{% endblock %}
{% block title %}Cohorts{% endblock %}
{% block content %}
    <div class="container">
        <h3>Cohorts</h3>
        <p>See Cohorts page in Help</p>
        {% ui_register_tab_embedded tab_set="cohort-tabs" label="New Cohort" %}
            <div id="new">
            <form id="cohort-form" method="post" action="">
                <div class="card">
                    <div class="card-header">Create</div>
                    <div class="card-body">
                        {% crispy form form_helper.horizontal %}
                        <button class="btn btn-primary" id='create-cohort'><i class="fas fa-plus-circle"></i> Create Cohort</button>
                    </div>
                </div>
            </form>
          </div>
        {% end_ui_register_tab_embedded %}
        {% ui_register_tab_embedded tab_set="cohort-tabs" label="Search" %}
            <div id="search">
                <div id="cohort-grid-filter-container"></div>
            </div>
        {% end_ui_register_tab_embedded %}
        {% ui_render_tabs tab_set="cohort-tabs" css="mb-2" %}

        {% load jqgrid_tags %}
        {% user_data_grid_filter 'cohort' 'Cohorts' %}
        {% jqgrid 'cohort_grid' 'cohort' search=True gbox_id='cohort-grid-filter-container' delete=True %}
    </div>

{% endblock content %}