{% extends menu_patients_base %}
{% load static %}
{% load related_data_tags %}
{% load related_analyses_tags %}

{% block title %}Cohort {% endblock %}
{% block head %}
{{ block.super }}
<style>
	table#grid-container {
		width: 100%;
		height: 100%;
	}

	span.grid-container {
		width: 100%;
		overflow: auto;
	}
	
	.cohort-button {
		width: 36px;
		height: 36px;
		background-size: 36px 36px;
	}

	.left-floater {
		float: left;
	}
	
	.right-floater {
		float: right;
	}
	
	#right-toolbar {
		text-align: left;
	}

	#left-toolbar {
		text-align: right;
	}
	
	#add-to-cohort-button {
		float: right;
		margin-left: 10px;
		background-image: url({% static 'icons/arrow_green_right_small.png' %});	
	}

	#remove-from-cohort-button {
		margin-right: 10px;
		float: left;
		background-image: url({% static 'icons/arrow_red_left_small.png' %});	
	}
	
	.cohort-message {
		display: none;
	}
</style>
<script>
	const CC_STATUS_MODIFIED = "modified";
	const CC_STATUS_RUNNING = "running";
	const CC_STATUS_COMPLETE = "complete";
	const CC_STATUS_FAILURE = "failure";
	let cohortCountStatus = CC_STATUS_MODIFIED;
	const gridsLoaded = new Set();
	let cohortSampleCount = 0;

	function gridDrawn(gridId) {
        gridsLoaded.add(gridId);
		messageCheck();
	}

	function getSelectedSamples(grid) {
		let samples = [];

		$("input.sample-checkbox:checked", grid).each(function() {
            samples.push($(this).attr("sample_id"));
		});
		return samples;
	}

	function messageCheck() {
        if (gridsLoaded.size < 2) {
            return;
        }
	
		$(".cohort-message").hide();
		let totalSamples = cohortSampleCount;
        let samplesTabState = null;
        
		if (totalSamples === 0) {
			$('#no-cohort-samples').show();
			samplesTabState = "error";
		} else {
			if (totalSamples >= 2) {
				$(".multiple-samples").show();
			}

            const launchTaskButton = $("#launch-cohort-count-task-button");
            const taskInfo = $('#task-info');
            const launchTask = $('#launch-task');

			if (cohortCountStatus == CC_STATUS_MODIFIED) {
			    $("#related-data-container").hide();
                launchTaskButton.attr('disabled', false);
				launchTask.show();
                samplesTabState = "warning";
			} else if (cohortCountStatus == CC_STATUS_RUNNING) {
                const loading_icon = $('<i class="fa fa-spinner"></i>');
                taskInfo.html(loading_icon);
				taskInfo.append(" Cohort Count task is running...");
				taskInfo.show();
			} else if (cohortCountStatus == CC_STATUS_COMPLETE) {
				taskInfo.html("Your cohort has been processed successfully. ");
				taskInfo.show();
			} else if (cohortCountStatus == CC_STATUS_FAILURE) {
                taskInfo.html("<b>Cohort Processing failed</b> - click to try again?");
                taskInfo.show();
                launchTaskButton.attr('disabled', false);
                launchTask.show();
			}

			if (cohortCountStatus == CC_STATUS_COMPLETE) {
				showDetailsTab();
			} else {
                hideDetailsTab();
			}
		}

        let samplesTabChildren = $("#samples-tab").children();
        samplesTabChildren.removeClass("warning").removeClass("error");
        if (samplesTabState) {
            samplesTabChildren.addClass(samplesTabState);
        }
	}

	function reloadGrids() {
		$("table.cohort-sample-grid").each(function() {
			$(this).DataTable().ajax.reload(null, false);
		});

		// Untick any select all stuff
		$("input.select-all").prop('checked', false);
	}

	function editCohortSample(cohortOp, samples) {
        const data = 'cohort_op=' + cohortOp + '&sample_ids=' + JSON.stringify(samples);
        $.ajax({
		    type: "POST",
	    	data: data,
	    	url: "{% url 'cohort_sample_edit' cohort.pk %}",
	    	success: reloadGrids,
		});
		
	}
	
	function addToCohort() {
		cohortCountStatus = CC_STATUS_MODIFIED;
        const samples = getSelectedSamples("#left-grid");
        editCohortSample('add', samples);
	}

	function removeFromCohort() {
		cohortCountStatus = CC_STATUS_MODIFIED;
        const samples = getSelectedSamples("#right-grid");
        editCohortSample('remove', samples);
	}

	function selectAll(checkbox, grid) {
        const checked = $(checkbox).is(":checked");
        $("input.sample-checkbox", grid).each(function() {
			$(this).prop('checked', checked);
		});
	}

	// The two pickers share one endpoint - cohort_op says whether to show the cohort's samples
	// or the ones it could still add
	function availableSamplesFilter(data) {
		data.cohort_op = 'exclude_cohort';
	}

	function cohortSamplesFilter(data) {
		data.cohort_op = 'show_cohort';
	}

	function count_complete(result) {
		cohortCountStatus = CC_STATUS_COMPLETE;
		messageCheck();
	}

	function count_complete_failure(result) {
        cohortCountStatus = CC_STATUS_FAILURE;
        messageCheck();
	}

	function poll_cohort_task(data) {
	    if ("status" in data) {
            const status = data["status"];
            if (status == "SUCCESS") {
	           cohortCountStatus = CC_STATUS_COMPLETE;
	       } else {
	           cohortCountStatus = CC_STATUS_FAILURE;
	       }
	       messageCheck();
	    } else if ("celery_task" in data) {
            const celery_task = data["celery_task"];
            cohortCountStatus = CC_STATUS_RUNNING;
		    messageCheck();
		    poll_task_status(celery_task, count_complete, count_complete_failure);
		}
	}
	
	const POLL_FREQUENCY = 1000;
	
	function poll_task_status(celery_task, success, failure) {
		const POLL_URL = Urls.job_state(celery_task);

		$.getJSON(POLL_URL, function(data) {
			if (data.status == "SUCCESS") {
				success(data["result"]);
			} else if (data.status == 'FAILURE') {
				failure(data["result"]);
			} else {
				this_func = function() { poll_task_status(celery_task, success, failure); };
				window.setTimeout(this_func, POLL_FREQUENCY);
			}
		});
	}

    function hideDetailsTab() {
        $("#details-tab").hide();
        $("#cohort-tabs").tabs({"active" : 1});
    }

    function showDetailsTab() {
        $("#details-tab").show();
        $("#cohort-tabs").tabs({"active" : 0});
    }
    
$(document).ready(function() {
    $("#left-grid").on('draw.dt', function() {
        gridDrawn('left-grid');
    });
    $("#right-grid").on('draw.dt', function() {
        cohortSampleCount = $(this).DataTable().page.info().recordsTotal;
        gridDrawn('right-grid');
    });

    $("button#change-name").button();

    let launchTaskButton = $("#launch-cohort-count-task-button");
	launchTaskButton.click(function () {
        launchTaskButton.attr('disabled', "disabled");
        $.ajax({
            type: "POST",
            url: "{% url 'create_cohort_genotype' cohort.id %}",
            success: function(data) {
    			poll_cohort_task(data);
            }
        });
	});

	$("#add-to-cohort-button").attr('href', "javascript:addToCohort()");
	$("#remove-from-cohort-button").attr('href', "javascript:removeFromCohort()");

	$("#select-all-left-grid").change(function() { selectAll(this, '#left-grid') });
	$("#select-all-right-grid").change(function() { selectAll(this, '#right-grid') });

	{% if cohort_genotype_collection %}
		{% if cohort.import_status == "S" %}
			count_complete('loaded done');
		{% else %}
		    count_complete_failure("Failed");
		{% endif %}
	{% elif cohort_genotype_collection.celery_task %}
        const celery_task = "{{ cohort_genotype_collection.celery_task }}";
        poll_cohort_task({"celery_task" : celery_task});
	{% endif %}
	
   $('#id_sample', 'form#cohort-form').change(function() {
       const sample_id = $(this).val();
       if (sample_id) {
            editCohortSample('add', [sample_id.toString()]);
            clearAutocompleteChoice($(this));
        }
    });

	messageCheck();

{% if cohort_genotype_collection %}
    $("#cohort-tabs").tabs({"active" : 0});
{% else %}
    $("#cohort-tabs").tabs({"active" : 1});
    hideDetailsTab();    
{% endif %}
    
})
</script>
{% endblock %}
{% load help_tags %}
{% block submenu_page_content %}
{% if cohort.data_archived %}
<div class="alert alert-warning" role="alert">
    <strong>Cohort is read-only.</strong>
    Underlying VCF data has been archived. Restore the parent VCF to enable editing.
</div>
{% endif %}
{% if not has_write_permission %}
<script>
$(function() {
    $("#cohort-tabs button, #cohort-tabs input[type=submit]").prop("disabled", true).addClass("disabled");
    $("#cohort-tabs a.cohort-button").addClass("disabled").css("pointer-events", "none").css("opacity", "0.5");
    $("a[href='{% url 'cohort_sort' cohort.id %}']").addClass("disabled").css("pointer-events", "none").css("opacity", "0.5");
});
</script>
{% endif %}
<form id="cohort-form" method="post">
    {% csrf_token %}
    <div>
    {% if has_write_permission %}
        {{ form.name }}<button id='change-name' class="btn btn-primary">Change Name</button>
    {% else %}
        <b>Cohort:</b> {{ cohort.name }}
    {% endif %}
    <b>Genome Build:</b> {{ cohort.genome_build }}
    {% if cohort.parent_cohort %}
        <div>
        This is a sub cohort of <a href="{{ cohort.parent_cohort.get_absolute_url }}">{{ cohort.parent_cohort }}</a>
        </div>
    {% endif %}
    </div>
    
    <div id="cohort-tabs">
    <ul>
        <li><a id='details-tab' href="{% url 'view_cohort_details_tab' cohort.pk %}">Details</a></li>
        {% if has_write_permission %}
        <li id="samples-tab"><a href="#samples">Add/Remove Samples</a></li>
        <li><a href="{% url 'group_permissions' 'snpdb.models.Cohort' cohort.pk %}">Sharing / Permissions</a></li>
        {% endif %}
    </ul>
    <div id="details">
    </div>
    <div id="samples">
        {% page_help user 'patients/view_cohort_help' %}
    		<table id="grid-container">
    		<tr><th>Available Samples ({{ cohort.genome_build }})</th><th>Cohort Samples</th> 
            <tr><td>
                {% if has_write_permission %}
                <div id='sample-entry-container'>
                    <b>Search Samples:</b>
                    {{ sample_form.sample }}{{ sample_form.media }}
                </div>
                {% endif %}
                <td>
                    <div>
                        <div class="cohort-message multiple-samples">
                            <a href='{% url 'cohort_sort' cohort.id %}'>Sort Cohort Order</a>
                        </div>
                    </div>  
                </td>
    
    		<tr>
    		<td>
    		<span>
    			<input id="select-all-left-grid" type='checkbox' class="select-all" />
    			Select all
    		</span>
    		<span id="left-toolbar">
    			<span class='right-floater'>
    			<span class='left-floater'>Add to cohort</span>
    			<a id="add-to-cohort-button" class="cohort-button"></a>
    			</span>
    		</span>
    		</td>
    		<td>
    		<span id="right-toolbar">
    			<a id="remove-from-cohort-button" class="cohort-button"></a>
    			Remove from cohort
    		</span>
    		<span class="right-floater">
    			<input id="select-all-right-grid" type='checkbox' class="select-all" />
    			Select all
    		</span>
    		</td>
    
    		<tr>
    		<td width="50%">
    			<span class='grid-container'>
    			<table id="left-grid" class='cohort-sample-grid sticky-header'
    			       data-datatable-url="{% url 'cohort_sample_datatable' cohort_id=cohort.pk %}"
    			       data-datatable-data="availableSamplesFilter"></table>
    			</span>
    		</td>
    		<td width="50%">
    			<span class='grid-container'>
    			<table id="right-grid" class='cohort-sample-grid sticky-header'
    			       data-datatable-url="{% url 'cohort_sample_datatable' cohort_id=cohort.pk %}"
    			       data-datatable-data="cohortSamplesFilter"></table>
    			</span>
    		</td>
    		</tr>
    		</table>
    
    		{% include "messages/messages.html" %}

            <div id='cohort-count-task'>
                <div class="cohort-message" id='task-info'>TASK INFO</div>
                <div class="cohort-message" id='no-cohort-samples'>
                    <ul class="messages">
                    <li class="error">Your cohort contains no samples.</li>
                    </ul>
                </div>
                <div class="cohort-message" id='launch-task'>
                    <ul class="messages">
                    <li class="warning">Cohort has been modified - you need to click <b>Save Cohort</b> before using in an analysis.</li>
                    </ul>
                    <button id='launch-cohort-count-task-button' class="btn btn-secondary" type='button'>Save cohort</button>
                </div>
            </div>
    </div>
    </div>
</form>

    <div id='related-data-container'>
    {% related_data_for_cohort cohort %}
    {% related_analyses_for_cohort cohort %}
    </div>

{% endblock %}


