{% load js_tags %}
{% if max_triage_status %}
    <div style="font-style:italic; color:#ccc">{{ max_triage_status.label }}</div>
{% endif %}

{% if overlap.has_pending_status %}Pending : {% endif %}
<span {% if overlap.overlap_pending_status.is_attention %}class="text-danger"{% endif %}>
    {% if overlap.overlap_pending_status == 90 %}Discordance <i class="fa-solid fa-briefcase-medical" title="Medically Significant"></i>{% else %}{{ overlap.overlap_pending_status.label }}{% endif %}
</span>
{% if overlap.overlap_status_change_timestamp %} - {% timestamp overlap.overlap_status_change_timestamp time_ago=True %}{% endif %}
{% for c_value in values.sorted %}
    <span class="cs cs-dot cs-{{ c_value.value }}">
    {% if c_value.your_contribution %}<b class="hover-detail" title="{{ c_value.lab_title }}">{% if pretty_value %}{{ c_value.pretty_value }}{% else %}{{ c_value.short_value }}{% endif %}</b>
    {% elif not c_value.your_context %}<span class="no-value" title="Cross Context">{% if pretty_value %}{{ c_value.pretty_value }}{% else %}{{ c_value.short_value }}{% endif %}</span>
    {% else %}<span title="{{ c_value.lab_title }}">{% if pretty_value %}{{ c_value.pretty_value }}{% else %}{{ c_value.short_value }}{% endif %}</span>{% endif %}
    </span>
{% endfor %}
<div id="overlap-{{ overlap.pk }}-updated"></div>