{% load classification_tags %}
{% load ui_utils %}
{% load js_tags %}
{% load user_tags %}
<div class="mt-2">
{% labelled label="Allele" %}<a class="hover-link" href="{{ allele.get_absolute_url }}">{{ allele }}</a>{% endlabelled %}
</div>
{% for summary in summaries %}
    <div class="card" style="margin-top:20px; margin-bottom:20px">
        <div class="card-header">{{ summary.value_type_label }}</div>
        <div class="card-body">
            <table class="table overlap-summary">
                <thead>
                    <tr>
                        <th class="overlap-context">Context</th>
                        <th class="overlap-lab">Lab</th>
                        <th class="overlap-value">Value</th>
                        <th class="overlap-condition">Condition</th>
                        <th class="overlap-curated">Curated</th>
                        <th class="overlap-triage">Triage Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for overlap_entry in summary.overlap_entries %}
                        <tr class="{% if overlap_entry.is_primary %}users-row{% endif %} {% if not overlap_entry.is_primary_context %}cross-context-row{% endif %}">
                            <td>{% testing_context overlap_entry.overlap_contribution %}</td>
                            <td>
                                {% if overlap_entry.overlap_contribution.scv %}ClinVar Expert Panel<br/>{{ overlap_entry.overlap_contribution.scv }}{% else %}
                                {% lab overlap_entry.overlap_contribution.lab %}{% endif %}
                            <td>{% clinical_significance overlap_entry.overlap_contribution.value %}</td>
                            <td>{% condition overlap_entry.overlap_contribution.conditions %}</td>
                            <td>{% timestamp overlap_entry.overlap_contribution.effective_date time_ago=True %}</td>
                            <td>{% triage overlap_entry.overlap_contribution show_label=True show_link=overlap_entry.is_primary %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if summary.overlap_grouping.change_log %}
                <a class="toggle-link" href="#history-{{ summary.id }}" data-toggle="collapse" style="display:inline-block;width:100%;background-color:#fbfbfb;padding:6px">Show History</a>
                <div id="history-{{ summary.id }}" class="collapse">
                    {% for change in summary.overlap_grouping.change_log %}
                        {% ifchanged change.overlap_contribution %}
                            <hr/>
                        {% endifchanged %}
                        <div class="row my-4">
                            <div class="col-3 text-right">
                                {% ifchanged change.overlap_contribution %}
                                    <div>{% testing_context change.overlap_contribution %} {{ change.overlap_contribution.lab }}</div>
                                    {% ifchanged change.user %}
                                        {% if change.user %}<div>{% user change.user size="tiny" %}</div>
                                        {% else %}<div class="no-user">No user</div>{% endif %}
                                    {% endifchanged %}
                                {% endifchanged %}
                                <div>{% timestamp change.timestamp %}</div>
                            </div>
                            <div class="col-9">
                                {% for field_change in change.changes %}
                                    <div>{{ field_change.old_value }} <span class="text-secondary">-></span> {{ field_change.new_value }}</div>
                                {% endfor %}
                                {% if change.comment and change.user %}
                                    <div class="comment">{{ change.comment }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endfor  %}