{% extends "uicore/page/base.html" %}
{% load crispy_forms_field %}
{% load ui_help %}
{% load ui_utils %}
{% load ui_menu_bars %}
{% load ui_tabs_builder %}
{% load static %}
{% load js_tags %}
{% block submenu %}{% menu_bar_data %}{% endblock %}
{% block title %}Review{% endblock %}

{% block head %}
    <style>
        .checkbox-row {
            display: block;
        }
        .checkbox-row &:hover {
            background-color: #fafaff;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token action="{{ request.path }}" %}
            <h4>Review</h4>

            <div class="pt-4 pb-2 pr-4 border rounded">

                {% labelled label="Reviewing" hint="large-label" %}
                    {% preview answer_group.reviewing.source_object %}
                {% endlabelled %}

                {% labelled label="On The Topic Of" hint="large-label" %}
                    {{ answer_group.topic.name }}
                {% endlabelled %}

                {% labelled label="Date of Review" hint="large-label" errors=form.review_date.errors %}
                    {{ form.review_date }}
                {% endlabelled %}
                <hr style="border-top-style: dashed" />

                {% labelled label="Method of Review" hint="large-label" errors=form.review_method.errors %}
                    {{ form.review_method }}
                {% endlabelled %}
                <hr style="border-top-style: dashed" />

                {% labelled label="Who was Involved" hint="large-label" errors=form.review_participants.errors %}
                    {{ form.review_participants }}
                {% endlabelled %}

                <hr style="border-top-style: dashed" />

                {% labelled label="Reviewing Labs" hint="large-label" errors=form.reviewing_labs.errors %}
                    {{ form.reviewing_labs }}
                {% endlabelled %}

            </div>

            <h4>{{ answer_group.topic.heading }}</h4>
            {{ form.non_field_errors | field_errors }}
            <div class="pt-4 pb-2 pr-4 border rounded">
                {% for field in form.describe_difference_fields %}
                    <div class="row">
                        {% if not forloop.first %}
                            <hr style="border-top-style: dashed" />
                        {% endif %}
                        <div class="col-12 col-md-4 text-md-right align-self-center">
                            <label class="text-info">
                                {{ field.field.category }}
                            </label>
                        </div>
                        <div class="col-12 col-md-8 text-left text-break">
                            {{ field }}
                            {{ field.errors | field_errors }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="mt-4">
                <input type="submit" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
{% endblock %}