<a
  {% if item.external %}target="_blank"{% endif %}
  id="{{ item.id }}"
  class="nav-link {% if item.active %}active{% endif %} {{ item.css_class }}"
  {% if item.method == 'post' %}
    href="#"
    onclick="postUrl('{{ item.url }}'); return false;"
  {% else %}
    href="{{ item.url }}"
  {% endif %}
>
  {% if item.admin_only %}<i class="fas fa-key"></i>{% endif %}
  {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
  {{ item.title }}
  {% if item.external %} <i class="fas fa-external-link-alt"></i>{% endif %}
</a>

{% if item.active and item.type == 'side' %}
  <div id="current-record-spot"></div>
{% endif %}
