{% extends "snpdb/base.html" %}

{% block menustyle %}
    #content, #siteMenuBar, #second-level-menu-container, #second-level-menu {
        padding: 0px;
        border: 0px; !important;
        height: 100%;
        overflow-x: hidden;
    }

    #second-level-menu ul {
        padding-left: 10px;
    }

    #second-level-menu li {
        list-style-type: none;
    }

    
    .menu a {
        text-decoration: none;
    }

    .submenu {
       width: 100%;
    }

{% endblock %}

{% block topmenu %}
    <div id='top-menu-container' class='flex-auto'>
        <ul id='top-menu'>
            <li id='pathtests-menu-link'><a href="{% url 'pathology_test_requests' %}">Test Form Generation</a></li>
            <li id='pathtests-menu-link'><a href="{% url 'clinician_cases' user.clinician.pk %}">Test Requests</a></li>
        </ul>
        <ul id='right-menu'>
            <li><a href="{% url 'auth_logout' %}">logout</a>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div id="second-level-menu-container">
        <div id="submenu_page_content" class="ui-layout-center">
        {% block submenu_page_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
