{% extends "uicore/page/base.html" %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load ui_tabs_builder %}
{% load ui_help %}
{% load js_tags %}
{% load lab_tags %}
{% load static %}
{% block title %}Labs{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
<script type="text/javascript" src="{% static 'js/lib/plotly-latest.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plotly_helper.js' %}"></script>
<style>
    .carousel-control-next,
    .carousel-control-prev,
    .carousel-indicators {
        filter: invert(100%);
    }
    .lab-card {
        height: 100%;
    }
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <h3>Lab Submissions</h3>
        <p class="text-info">Multiple classifications for the same allele are only counted once.</p>
        <div class="row">
            <div class="col">
                <div data-toggle="ajax" href="{% url 'labs_graph_detail' %}">
                    <div class="loading-message" style="height:398px">Loading Graphs</div>
                </div>
            </div>
            {% comment %} This just becomes a graph of Australian capital cities
            <div class="col-lg-4">
              {% load lab_location_tags %}
              {% lab_locations labs=labs involved_only=False center_lat=-33 center_long=133.7751 zoom_level=3 %}
            </div>
           {% endcomment %}
        </div>

        <div class="row equal">
        {% for org, labs in organization_labs.items %}
            {% for lab in labs %}
                <div class="col-md-6 col-lg-4 mt-4">
                {% lab_card lab %}
                </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endblock %}