{% extends "uicore/page/base.html" %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load ui_help %}
{% load js_tags %}
{% load lab_tags %}
{% load static %}
{% block title %}Labs{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
<script type="text/javascript" src="{% static 'js/lib/plotly-latest.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plotly_helper.js' %}"></script>
<style>
    #graph-carousel .carousel-control-next,
    #graph-carousel .carousel-control-prev,
    #graph-carousel .carousel-indicators {
        filter: invert(100%);
    }

    .lab-card {
        height: 100%;
    }
</style>
<script>
    var PATHOGENIC_COLORS = [   '#777777', // other
                                '#00aa00', // Benign
                                '#aaeeaa', // Likely benign
                                '#ffd92a', // VUS
                                '#eeaaaa', // Likely pathogenic
                                '#ee3333', // pathogenic
                                ];

    {%  if show_unclassified %}
        PATHOGENIC_COLORS.push('#1f77b4'); // Unclassified
    {%  endif %}

    function plotClassifications(selector, vc_data, title, width, height) {
        for (let i=0 ; i<vc_data.length ; ++i) {
            vc_data[i]["marker"] = {color : PATHOGENIC_COLORS[i]};
        }
        let layout = defaultLayout(title, width, height);
        layout["barmode"] = 'stack';
        Plotly.newPlot(selector, vc_data, layout);
    }

    function plotCumulativeClassifications(selector, cum_data, title, width, height) {
        let layout = defaultLayout(title, width, height);
        layout["xaxis"] = {"nticks": 10}; // keep under 20 dates so they don't get too crowded
        Plotly.newPlot(selector, cum_data, layout);
    }

    $(document).ready(() => {
        {% if vc_org_data %}
            let vc_org_data = {{ vc_org_data | jsonify }};
            plotClassifications('org-classifications-graph', vc_org_data, 'Classifications per Organisation', 700, 380);
        {% endif %}

        {% if vc_state_data %}
            let vc_state_data = {{ vc_state_data | jsonify }};
            plotClassifications('state-classifications-graph', vc_state_data, 'Classifications per State', 700, 380);
        {% endif %}

        {% if vc_normalized_state_data_json %}
            let vc_normalized_state_data_json = {{ vc_normalized_state_data_json | jsonify }};
            plotClassifications('normalized-state-classifications-graph', vc_normalized_state_data_json, 'Classifications/100k Pop by State', 700, 380);
        {% endif %}

        {% if classification_accumulation_traces %}
            let classification_accumulation_traces = {{ classification_accumulation_traces | jsonify }};
            plotCumulativeClassifications("classifications-accumulation-graph", classification_accumulation_traces, "Cumulative Classifications", 700, 380)
        {% endif %}
        {% if classification_accumulation_traces_allele %}
            let classification_accumulation_traces_allele = {{ classification_accumulation_traces_allele | jsonify }};
            plotCumulativeClassifications("classifications-accumulation-graph-allele", classification_accumulation_traces_allele, "Cumulative Alleles", 700, 380)
        {% endif %}

    });
</script>
{% endblock %}
{% block content %}
    <div class="container">
        <h3>Lab Submissions</h3>
        <div class="row">
            <div id="graph-carousel" class="col-lg-8 carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#graph-carousel" title="By State" data-slide-to="0" class="active"></li>
                <li data-target="#graph-carousel" title="By Org" data-slide-to="1"></li>
                <li data-target="#graph-carousel" title="State pop" data-slide-to="2"></li>
                <li data-target="#graph-carousel" title="Cumulative" data-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                {% if vc_state_data %}
                    <div class="carousel-item active"><div id='state-classifications-graph'></div></div>
                {% endif %}
                {% if vc_org_data %}
                    <div class="carousel-item"><div id='org-classifications-graph'></div></div>
                {% endif %}
                {% if vc_normalized_state_data_json %}
                    <div class="carousel-item"><div id='normalized-state-classifications-graph'></div></div>
                {% endif %}
                {% if classification_accumulation_traces %}
                    <div class="carousel-item"><div id='classifications-accumulation-graph'></div></div>
                {% endif %}
                {% if classification_accumulation_traces_allele %}
                    <div class="carousel-item"><div id='classifications-accumulation-graph-allele'></div></div>
                {% endif %}
              </div>
              <a class="carousel-control-prev" href="#graph-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#graph-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="col-lg-4">
              {% load lab_location_tags %}
              {% lab_locations labs=labs involved_only=False center_lat=-33 center_long=133.7751 zoom_level=3 %}
            </div>
        </div>

        <div class="row equal">
        {% for org, labs in organization_labs.items %}
            {% for lab in labs %}
                <div class="col-md-6 col-lg-4 mt-4">
                {% lab_card lab %}
                </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endblock %}