{% extends "snpdb/base.html" %}

{% block menustyle %}
	#content, #siteMenuBar, #second-level-menu-container, #second-level-menu {
		padding: 0px;
		border: 0px; !important;
		height: 100%;
		overflow-x: hidden;
	}

	#second-level-menu ul {
		padding-left: 10px;
	}

	#second-level-menu li {
		list-style-type: none;
	}

	
	.menu a {
		text-decoration: none;
	}

	.submenu {
	   width: 100%;
	}

{% endblock %}
{% block menujs %}
	$('#second-level-menu-container').layout({
		west: {
			size: 140,
		    enableCursorHotkey: false,
		    closable: false,
		    resizable: false,
		    spacing_open: 0,
		    spacing_closed: 0
		},
	});
{% endblock %}

{% block content %}
    <div id="second-level-menu-container">
	    <div id="second-level-menu" class="menu ui-layout-west">
	    	<div class="submenu ui-widget-header">
	        {% block second_level_menu %}{% endblock %}
	        </div>
	    </div>
	    <div id="submenu_page_content" class="ui-layout-center">
        {% block submenu_page_content %}{% endblock %}
	    </div>
    </div>
{% endblock %}
