{% load static %}
{% load js_tags %}
<script type="text/javascript" src="{% static 'js/lib/plotly-custom-3.7.0.min.js' %}"></script>
<script src="{% static 'js/seqauto/qc_json_graph.js' %}"></script>
<script>
    setupQCJsonGraph({
        containerName: {{ container_name|jsonify }},
        qcData: {{ qc_data|jsonify }},
        currentLabel: {{ current_label|jsonify }},
        labelColumn: {{ label_column|jsonify }},
        goldColumn: {{ gold_column|jsonify }},
    });
</script>
<div class='plotly-graph-container'></div>