{% extends "uicore/page/base.html" %}
{% load classification_tags %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load ui_help %}
{% load js_tags %}
{% block title %}Variant Classification Activity{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
    <style>
        #classification-activity td.timestamp {
            width: 100px;
        }
        #classification-activity td.id {
            width: 180px;
        }
        #classification-activity td.user {
            width: 180px;
        }
        .key-change {
            color: #555555;
        }
        .key {
            font-weight: bold;
        }
        .change-arrow {
            font-weight: bold;
            color: #999999;
        }
        .resolution {
            color: #555555;
            font-weight: bold;
        }
        .none {
            color: #222222;
            font-style: italic;
        }
        .user {
            display: flex;
            align-content: center;
        }
        .number {
            font-family: monospace;
            letter-spacing: 1px;
        }
        #classification-activity td {
            word-break: break-word;
            font-size: 10pt;
        }
    </style>
{% endblock head %}
{% block content %}
    <div class="container">
    {% page_help_embedded title=page_title %}
        <p>
        This page shows changes that have been performed on a classification (or classifications) evidence and flags.<br/>
        The oldest changes are shown at the top and the newest at the bottom.<br/>
            The changes show the raw key names and raw values, they may appear more human friendly on the web form.</p>
        <p>
        The icon that precedes the user icon indicates what method was used:
        <ul style="list-group">
            {% if can_create_classifications %}
            <li class="list-group-item"><div class="submission-source variantgrid mr-2"></div><b>Variantgrid</b> This classification was created through the web interface,
            and some values were auto-populated from annotations.</li>
            <li class="list-group-item"><div class="submission-source consensus mr-2"></div><b>Copy Consensus</b> When the classification was created through the web interface,
            the user elected to "copy consensus", copying values from other classifications for the variant's allele. (Older classifications
            might mark copy consensus as just "form").</li>
            {% endif %}
            <li class="list-group-item"><div class="submission-source form mr-2"></div><b>Form</b> The user edited the form data through the web interface.</li>
            <li class="list-group-item"><div class="submission-source api mr-2"></div><b>API</b> The changes were uploaded from another system.</li>
            <li class="list-group-item"><div class="submission-source flag-source mr-2"></div><b>Flag</b> The action was against a flag, not classification data.</li>
        </ul>
        Hovering over a value in the Date column will give you the full date of when the action occurred.<br/>
        A blank value in the Record or Who column implies it's the same as the value above it.
        </p>
    {% end_page_help_embedded %}
    {% if import_details %}
        {% if not import_details.last_import_run and not import_details.last_source_id %}
            {% labelled label="Import Details" value_css="no-value" %}No imports details are available for this record{% endlabelled %}
        {% else %}
            {% labelled label="Last Imported Date" %}
                {% timestamp import_details.last_import_run.created %}
                <small class="form-text text-info">This is the most recent date this classification was seen in an import file - regardless of if there were changes or not.</small>
            {% endlabelled %}
            {% labelled label="Last Imported Source ID" %}{{ import_details.last_source_id }}{% endlabelled %}
        {% endif %}
    {% endif %}
    {% labelled label="Data as of" %}{% timestamp now time_ago=True %}{% endlabelled %}
    {% classification_changes changes %}
    {% if load_older_url %}<br/><a class="btn btn-outline-primary" href="{{ load_older_url }}">Load Older</a>{% endif %}
    </div>
{% endblock %}