{% extends "uicore/page/base.html" %}
{% load static %}
{% load compress %}
{% load ui_help %}
{% load js_tags %}
{% load user_tags %}
{% load ui_utils %}
{% load ui_menu_bars %}
{% load classification_tags %}
{% block title %}Classification View Metrics{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block content %}
<div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group mb-4" role="group" aria-label="Days Old">
            {% for days_option in days_options %}
                <button onclick="window.open('{% url 'classification_view_metrics' %}?days={{ days_option }}&exclude_admin={{ exclude_admin | jsonify }}', '_self')"
                class="btn {% if days == days_option %}btn-secondary font-weight-bold{% else %}btn-outline-secondary{% endif %}">{{ days_option }} days
                </button>
            {% endfor %}
        </div>

        <div class="btn-group mb-4" role="group" aria-label="Days Old">
            <button onclick="window.open('{% url 'classification_view_metrics' %}?days={{ days }}&exclude_admin=true', '_self')"
            class="btn {% if exclude_admin %}btn-secondary font-weight-bold{% else %}btn-outline-secondary{% endif %}">Exclude Admins
            </button>
            <button onclick="window.open('{% url 'classification_view_metrics' %}?days={{ days }}&exclude_admin=false', '_self')"
            class="btn {% if not exclude_admin %}btn-secondary font-weight-bold{% else %}btn-outline-secondary{% endif %}">Include Admins
            </button>
        </div>
    </div>
    {% page_help_embedded title="Views "|append:page_suffix %}
        <p>Most Viewed Xs count unique users accessing the data across the last 30 days</p>
        <p>Most Active Users count how many pages the user viewed across the last 30 days</p>
    {% end_page_help_embedded %}

    {% for view_metrics in counts.view_metrics %}
        <div class="card mt-4">
            <div class="card-header">Most Viewed {{ view_metrics.name }} <span class="float-right">unique viewers</span></div>
            <ul class="list-group">
            {% for ccount in view_metrics.counts|slice:"10" %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% with object=ccount.resolve %}
                        {% if object.get_absolute_url %}
                        <a class="hover-link" href="{{ object.get_absolute_url }}">{{ object }}</a>
                        {% else %}
                            <span class="no-value">{{ ccount.resolve }}</span>
                        {% endif %}
                        <span>
                            <a class="mr-1"
                                data-toggle="ajax-modal"
                                data-title="All views of {{ view_metrics.name }} ({{ ccount.pk }}) {{ page_suffix }}"
                                data-href="{% url 'classification_view_metrics_detail' %}?days={{ days }}&exclude_admin={{ exclude_admin|jsonify }}&{{ view_metrics.model_id }}={{ ccount.pk }}">Show Views</a>
                            <span class="badge badge-primary badge-pill">{{ ccount.count }}</span>
                        </span>
                    {% endwith %}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}

    <div class="card mt-4">
        <div class="card-header">Most Viewed Pages <span class="float-right">unique viewers</span></div>
        <ul class="list-group">
        {% for ccount in counts.page_views|slice:20 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    {{ ccount.pk | segmented_text }}
                </span>
                <span>
                    <a class="mr-1"
                        data-toggle="ajax-modal"
                        data-title="All views of ({{ ccount.pk }}) {{ page_suffix }}"
                        data-href="{% url 'classification_view_metrics_detail' %}?days={{ days }}&exclude_admin={{ exclude_admin|jsonify }}&view_name={{ ccount.pk }}">Show Views</a>
                    <span class="badge badge-primary badge-pill">{{ ccount.count }}</span>
                </span>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="card mt-4">
        <div class="card-header">Most Active Users <span class="float-right">pages viewed</span></div>
        <ul class="list-group">
        {% for ccount in counts.active_users|slice:"10" %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {% user ccount.resolve show_orgs=True %}
                <span>
                     <a class="mr-1"
                        data-toggle="ajax-modal"
                        data-title="All views from User ({{ ccount.resolve.username }}) {{ page_suffix }}"
                        data-href="{% url 'classification_view_metrics_detail' %}?days={{ days }}&exclude_admin={{ exclude_admin|jsonify }}&user_id={{ ccount.pk }}">Show Views</a>
                    <span class="badge badge-primary badge-pill">{{ ccount.count }}</span>
                </span>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="card mt-4">
        <div class="card-header">Recently Viewed Pages</div>
        <table class="table">
            <thead>
                <tr><th>View Date</th><th>User</th><th>View Name</th><th>Parameters</th></tr>
            </thead>
            <tbody>
                {% for view_event in counts.recent_views|slice:10 %}
                    <tr>
                        <td style="min-width:140px">{% timestamp view_event.created %}</td>
                        <td>{% user view_event.user size="tiny" %}</td>
                        <td>{{ view_event.view_name }}</td>
                        <td>
                            {% if not view_event.is_get %}<label>{{ view_event.method }}</label>{% endif %}
                            {% code_json view_event.args css_class="compact" dash_if_empty=True %}
                        </td>
                    </tr>
                    {% empty %}<tr><td colspan="4" class="text-center"><span class="no-value">No Data</span></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock content %}