{% extends "uicore/page/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load js_tags %}
{% load english_tags %}
{% load compress %}
{% load ui_help %}
{% load ui_utils %}
{% load ui_menu_bars %}
{% load ui_tabs_builder %}
{% load lab_tags %}
{% load classification_tags %}
{% load settings_tags %}
{% block title %}Classification Dashboard{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block content %}
<script type="text/javascript" src="{% static 'js/lib/plotly-latest.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plotly_helper.js' %}"></script>
<script>
    // for showing issues
    function classificationReviews(data) {
        data.flags = JSON.stringify(['classification_pending_changes', 'classification_internal_review', 'classification_suggestion']);
        data.labs = {{ dlab.lab_ids_str | jsonify }};
    }

    function classificationSigChanges(data) {
        data.flags = JSON.stringify(['classification_significance_change']);
        data.labs = {{ dlab.lab_ids_str | jsonify }};
    }

    function classificationMatchingVariant(data) {
        data.flags = JSON.stringify(['classification_matching_variant', 'classification_matching_variant_warning', 'classification_transcript_version_change']);
        data.labs = {{ dlab.lab_ids_str | jsonify }};
    }

    function classificationUnshared(data) {
        data.flags = JSON.stringify(['classification_unshared']);
        data.labs = {{ dlab.lab_ids_str | jsonify }};
    }
    function classificationWithdrawn(data) {
        data.flags = JSON.stringify(['classification_withdrawn']);
        data.labs = {{ dlab.lab_ids_str | jsonify }};
    }
    function classificationExcludeClinVar(data) {
        data.flags = JSON.stringify(['classification_not_public']);
        data.labs = {{ dlab.lab_ids_str | jsonify }};
    }

</script>
<div class="container">
    {% lab_picker data=dlab.lab_picker %}
</div>
<div class="container">
    {% if not dlab.lab_id %}
        {% labelled row_css="my-4" label="Email Preview" admin_only=True %}
            <div class="link-toolbar">
                <a class="download-link type-csv" href="{% url 'summary_email_html' %}/{{ dlab.lab_picker.selection }}">HTML</a>
                <a class="download-link type-json" href="{% url 'summary_email_text' %}/{{ dlab.lab_picker.selection }}">TEXT</a>
            </div>
        {% endlabelled %}
    {% endif %}

    <p><a class="modal-link" data-toggle="modal" data-target="#exampleModal">
    <i class="fa-solid fa-clipboard-user fa-bounce fa-animate-2"></i>
      Survey Invitation: PanelApp Australia and Shariant Platforms
    </a></p>
    <div class="modal" id="exampleModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Survey Invitation: PanelApp Australia and Shariant Platforms</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="m-4">
                        <p>Genomics Australia invites members of the genomics sector to participate in a survey regarding the utility and sustainability of the PanelApp Australia and Shariant platforms. The survey is open to both users and non-users of the platforms.</p>

                        <p>Your feedback will inform future planning for these resources. Many questions are optional, and you are encouraged to share the survey link with colleagues. All responses will be treated confidentially; aggregated findings may be shared with relevant stakeholders. A summary of results will be provided to participants.</p>

                        <p>The survey will be available for three weeks from 3 November to 23 November 2025.</p>

                        <p><a href="https://consultations.health.gov.au/genomics/665ab3b5/">Click here to begin the survey</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% settings_value 'CLASSIFICATION_STATS_USE_SHARED' as use_shared %}
    {% if use_shared %}
        {% page_help_embedded title="Shared Classification Records Over Time" %}
            This graphs shows how many shared classifications your lab has submitted over time.
        {% end_page_help_embedded %}

        <div data-toggle="ajax" href="{% url 'classification_dashboard_graph_detail' dlab.lab_picker.selection %}">
            <div class="loading-message" style="height:381px">Loading Graph</div>
        </div>
        <div>
            <label>See recent activity for</label>: {% for lab in dlab.labs %}{% if not forloop.first %}, {% endif %}<a href="{% url 'activity_lab' lab.pk %}">{% lab lab %}</a>{% endfor %}
        </div>

        {% page_help_embedded title="Classification Record Counts" %}
            <p>
            See the grand total of classifications provided by your lab, the progress of ClinVar submissions, and a comparison between your lab's classifications and ClinVar's.
            </p>

        {% end_page_help_embedded %}

        {% labelled hint="tiny" label="Matched & Shared Classification Records" %}
            {{ dlab.shared_classifications.count | number:'S' }}
        {% endlabelled %}

        {% labelled hint="tiny" label="Unique Alleles" %}
            {{ dlab.unique_classified_alleles_count | number:'S' }}
        {% endlabelled %}
        {% if 'clinvar_key_summary'|is_view_enabled %}
            {% labelled hint="tiny"  label="Classification Records Uploaded to Clinvar" %}
                {% if dlab.clinvar_keys %}
                    {{ dlab.uploads_to_clinvar_qs.count | number:'S' }}
                    {% for clinvar_key in dlab.clinvar_keys %}
                        <a class="hover-link" href="{% url 'clinvar_key_summary' clinvar_key.id %}"><small class="form-text">Review {{ clinvar_key.label }} ClinVar submissions here</small></a>
                    {% endfor %}
                {% else %}
                    <span class="text-muted">Your {% plural dlab.labs singular="lab is" plural="labs are" %} not configured for ClinVar.</span>
                {% endif %}
            {% endlabelled %}
        {% endif %}

        {% if 'condition_matchings_lab'|is_view_enabled %}
            {% labelled hint="tiny"  label="Classification Records without Standard Condition" %}
                {{ dlab.classifications_wout_standard_text | number:'W' }}
                <a class="hover-link" href="{% url 'condition_matchings_lab' dlab.lab_picker.selection %}"><small class="form-text">Review your lab's unresolved condition text here</small></a>
            {% endlabelled %}
        {% endif %}

        {% labelled hint="tiny" label="Downloads" %}
            <a href="{{ dlab.compare_to_clinvar_url }}" class="download-link">Classification Records compared with ClinVar</a>
        {% endlabelled %}
    {% endif %}

    {% if 'discordance_report'|is_view_enabled %}
        {% page_help_embedded title="Discordance Reports Awaiting Triage" %}
            <p>Below is a sample of discordances where your lab has a triage pending.</p>
        {% end_page_help_embedded %}
        <div data-toggle="ajax" href="{% url 'classification_dashboard_discordance_detail' dlab.lab_picker.selection %}">
            <div class="loading-message" style="height:381px">Loading...</div>
        </div>
    {% endif %}


    {% page_help_embedded title="Flagged Classification Records" %}
        <p>
            This section show you how many classifications belonging to your lab(s) that have flags raised against them.<br/>
            Click "Show details" to see the specific classifications.<br/>
            Clicking on each flag will give you instructions on what needs to be done to resolve it.
        </p><p>
            Flags range from issues with variant matching, to discordances or suggestions.
        </p>
    {% end_page_help_embedded %}

    {% labelled hint="tiny" label="Records with Pending Changes" %}{{ dlab.counts.pending_changes | number:'W' }}{% endlabelled %}
    {% labelled hint="tiny" label="Records in Internal Review" %}{{ dlab.counts.internal_review | number:'W' }}{% endlabelled %}
    {% labelled hint="tiny" label="Records with Outstanding Assertion Changes" %}{{ dlab.counts.significance_change | number:'W' }}{% endlabelled %}
    {% labelled hint="tiny" label="Records Excluded from ClinVar" %}{{ dlab.counts.clinvar_exclude | number }}{% endlabelled %}
    <hr/>
    {% labelled hint="tiny" label="Records waiting on Variant Matching Review" %}
        {{ dlab.counts.variant_matching_issues | number:'W' }}
        <p class="text-info">Classification Records waiting on Variant Matching Review require an admin to action</p>
    {% endlabelled %}

    <p><a href="{% url 'classification_dashboard_special_detail' dlab.lab_picker.selection %}" class="toggle-link" data-toggle="ajax-collapse" title="Flagged Classification Records"></a></p>

</div>
{% endblock content %}