{% extends "uicore/page/base.html" %}
{% load static %}
{% load compress %}
{% load ui_help %}
{% load js_tags %}
{% load user_tags %}
{% load ui_utils %}
{% load ui_menu_bars %}
{% load classification_tags %}
{% block title %}Classification View Metrics{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block content %}
<div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group mb-4" role="group" aria-label="Days Old">
            {% for days_option in days_options %}
                <button onclick="window.open('{% url 'classification_view_metrics' %}?days={{ days_option }}&exclude_admin={{ exclude_admin | jsonify }}', '_self')"
                class="btn {% if days == days_option %}btn-secondary font-weight-bold{% else %}btn-outline-secondary{% endif %}">{{ days_option }} days
                </button>
            {% endfor %}
        </div>

        <div class="btn-group mb-4" role="group" aria-label="Days Old">
            <button onclick="window.open('{% url 'classification_view_metrics' %}?days={{ days }}&exclude_admin=true', '_self')"
            class="btn {% if exclude_admin %}btn-secondary font-weight-bold{% else %}btn-outline-secondary{% endif %}">Exclude Admins
            </button>
            <button onclick="window.open('{% url 'classification_view_metrics' %}?days={{ days }}&exclude_admin=false', '_self')"
            class="btn {% if not exclude_admin %}btn-secondary font-weight-bold{% else %}btn-outline-secondary{% endif %}">Include Admins
            </button>
        </div>
    </div>
    {% page_help_embedded title="Views "|append:page_suffix %}
        <p>Most Viewed Xs count unique users accessing the data across the last 30 days</p>
        <p>Most Active Users count how many pages the user viewed across the last 30 days</p>
    {% end_page_help_embedded %}

    <div class="card">
        <div class="card-header">Most Viewed Classifications <span class="float-right">unique viewers</span></div>
        <ul class="list-group">
        {% for ccount in counts.classification_views|slice:"10" %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {% classification_quick ccount.resolve %}
                <span>
                    <a class="mr-1"
                        data-toggle="ajax-modal"
                        data-title="All views of Classification ({{ ccount.pk }}) {{ page_suffix }}"
                        data-href="{% url 'classification_view_metrics_detail' %}?age={{ days }}&classification_id={{ ccount.pk }}">Show Views</a>
                    <span class="badge badge-primary badge-pill">{{ ccount.count }}</span>
                </span>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="card mt-4">
        <div class="card-header">Most Viewed Alleles <span class="float-right">unique viewers</span></div>
        <ul class="list-group">
        {% for ccount in counts.allele_views|slice:"10" %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {% with allele=ccount.resolve %}
                    <a class="hover-link" href="{{ allele.get_absolute_url }}">{{ ccount.resolve }}</a>
                    <span>
                        <a class="mr-1"
                            data-toggle="ajax-modal"
                            data-title="All views of Allele ({{ ccount.pk }}) {{ page_suffix }}"
                            data-href="{% url 'classification_view_metrics_detail' %}?age={{ days }}&allele_id={{ ccount.pk }}">Show Views</a>
                        <span class="badge badge-primary badge-pill">{{ ccount.count }}</span>
                    </span>
                {% endwith %}
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="card mt-4">
        <div class="card-header">Most Viewed Pages <span class="float-right">unique viewers</span></div>
        <ul class="list-group">
        {% for ccount in counts.page_views|slice:20 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    {{ ccount.pk | segmented_text }}
                </span>
                <span>
                    <a class="mr-1"
                        data-toggle="ajax-modal"
                        data-title="All views of ({{ ccount.pk }}) {{ page_suffix }}"
                        data-href="{% url 'classification_view_metrics_detail' %}?age={{ days }}&view_name={{ ccount.pk }}">Show Views</a>
                    <span class="badge badge-primary badge-pill">{{ ccount.count }}</span>
                </span>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="card mt-4">
        <div class="card-header">Most Active Users <span class="float-right">pages viewed</span></div>
        <ul class="list-group">
        {% for ccount in counts.active_users|slice:"10" %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {% user ccount.resolve %}
                <span>
                     <a class="mr-1"
                        data-toggle="ajax-modal"
                        data-title="All views from User ({{ ccount.resolve.username }}) {{ page_suffix }}"
                        data-href="{% url 'classification_view_metrics_detail' %}?age={{ days }}&user_id={{ ccount.pk }}">Show Views</a>
                    <span class="badge badge-primary badge-pill">{{ ccount.count }}</span>
                </span>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}