{% load ui_utils %}
{% load js_tags %}
{% load user_tags %}
<table class="table">
    <thead>
        <tr>
            <th>View Date</th>
            <th>User</th>
            <th>View Name</th>
            <th>Parameters</th>
        </tr>
    </thead>
    <tbody>
        {% for view_event in views %}
            <tr>
                <td>{% timestamp view_event.created %}</td>
                <td>{% user view_event.user size="tiny" %}</td>
                <td>{{ view_event.view_name | segmented_text }}</td>
                <td>
                {% if view_event.args %}
                    {% code_json view_event.args "code-block compact" %}
                {% else %}<span class="no-value">-</span>{% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>