{% extends "uicore/page/base.html" %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load ui_help %}
{% load js_tags %}
{% load lab_tags %}
{% load static %}
{% load ui_tabs_builder %}
{% load classification_tags %}
{% block title %}Classification Record Export{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
<script>
    let baseUriApi = `{{ base_url | jsstring }}`;
    let baseUriRedirect = `{{ base_url_redirect | jsstring }}`;
    let paramString = '';
    let errorString = null;
    let lastFormat = null;
    if (baseUriApi.indexOf('localhost') !== -1) {
        baseUriApi = '{% url 'classification_export_api' %}';
        baseUriRedirect = '{% url 'classification_export_redirect' %}';
    }

    function scrollToAlleleOrigin() {
        document.getElementById("allele-origin-toggle").scrollIntoView({ behavior: "smooth", block: "end"});
        $("#allele-origin-toggle").delay(400).fadeOut().fadeIn();
    }

    function generateUrl() {
        let params = {};
        let inputError = null;
        let format = $("input[name='format']:checked").val();
        if (format !== lastFormat) {
            $('.custom-option').hide();
            $(`[data-format=${format}]`).show('fast');
            lastFormat = format;
        }
        params.share_level = $("input[name='share_level']:checked").val();

        params.build = $("input[name='genome_build']:checked").val();

        let allele_origin = $("input[name='allele-origin-toggle']:checked").val();
        if (allele_origin !== "A") {
            params.allele_origin = allele_origin
        }

        params.type = format;

        let rowsPerFile = $("#rows_per_file").val();
        if (rowsPerFile && rowsPerFile.length) {
            params.rows_per_file = rowsPerFile;
        }

        let rowLimit = $("#row_limit").val();
        if (rowLimit && rowLimit.length) {
            params.row_limit = rowLimit;
        }

        if (format === 'mvl') {
            let mvlFileFormat = $("input[name='mvl_file_format']:checked").val();
            if (mvlFileFormat) {
                params.file_format = mvlFileFormat;
            }

            params.conflict_strategy = $("input[name='conflict_strategy']:checked").val();

            for (let key of ['b', 'lb', 'vus', 'lp', 'p']) {
                let full_key = `cs_${key}`;
                let value = $(`#${full_key}`).val().trim();
                if (value.length) {
                    params[full_key] = value;
                }
            }
            params.transcript_strategy = $("input[name='transcript_strategy']:checked").val();

            let detailLevelChecked = $("input[name='mvl_detail']:checked")
            if (detailLevelChecked.length) {
                params.mvl_detail = detailLevelChecked.val();
            }

            if (!allele_origin || allele_origin !== "G") {
                inputError = 'MVL download only supports Germline.<br/>Please set <a class="hover-link" onclick="scrollToAlleleOrigin()">Allele Origin</a> to <b>Germline</b> if you wish to export as MVL.';
            }
        } else if (format === 'vcf') {
            params.target_system = $("input[name='vcf_target_system']:checked").val();

        } else if (format === 'csv') {

            let valueFormat = $("input[name='value_format']:checked").val();
            if (valueFormat) {
                params.value_format = valueFormat;
            }

            let htmlHandling = $("input[name='html_handling']:checked").val();
            if (htmlHandling) {
                params.html_handling = htmlHandling;
            }

            let includeExplains = $("input[name='include_explains']:checked");
            if (includeExplains && includeExplains.length) {
                params.include_explains = 'true';
            }

            let excludeTransient = $("input[name='exclude_transient']:checked");
            if (excludeTransient && excludeTransient.length) {
                params.exclude_transient = 'true';
            }
        }

        let labSelectionMode = $("input[name='lab_selection_mode']:checked").val();
        let selectedLabs = $("input[name='lab_selection']:checked");
        if (selectedLabs.length) {
            let labArray = selectedLabs.toArray().map(el => $(el).val());

            params[labSelectionMode === 'exclude' ? 'exclude_labs' : 'include_labs'] = labArray.join(',');
        } else if (labSelectionMode === 'include') {
            inputError = 'You must include at least 1 lab';
        }
        if (format === 'lab_compare'){
            if (selectedLabs.length !== 2 || labSelectionMode !== "include") {
                inputError = 'Lab Compare requires the <b>inclusion</b> of 2 labs.';
            }
        }

        let selectedOrgs = $("input[name='org_selection']:checked");
        if (selectedOrgs.length) {
            let orgArray = selectedOrgs.toArray().map(el => $(el).val());
            params.exclude_orgs = orgArray.join(',');
        }

        let since = $("input[name='since']").val().trim();
        if (since.length) {
            params.since = since;
        }
        let benchmark = $("input[name='benchmark']:checked");
        if (benchmark.length) {
            params.benchmark = 'true';
        }

        let allele = $("input[name='allele']").val();
        if (allele && allele.trim().length) {
            params.allele = allele.trim();
        }

        let paramParts = [];
        for (let [key, value] of Object.entries(params)) {
            paramParts.push(`${key}=${encodeURIComponent(value)}`);
        }
        paramString = '?' + paramParts.join('&');
        let url;
        let downloadMode = $("input[name='download_mode']:checked").val();
        let target = null;
        if (downloadMode === 'api') {
            url = baseUriApi;
        } else {
            url = baseUriRedirect;
            target = '_blank';
        }
        url += paramString;
        let a = $('#export-url');
        let error_box = $('#export-error');
        let error_text = $('#export-error-text');
        if (inputError) {
            error_text.html(inputError);
            a.hide();
            error_box.show();
        } else {
            error_box.hide();
            a.attr('href', url);
            a.attr('target', target);
            a.text(url);
            if (downloadMode === 'api') {
                a.addClass('download-link');
            } else {
                a.removeClass('download-link');
            }
            a.show();
        }
    }

    function alleleOriginToggle(filterValue) {
        this.generateUrl();
    }

    $(document).ready(() => {
        $('#export-fields input').change(() => {
           this.generateUrl();
        }).keyup(() => {
           this.generateUrl();
        });
        this.generateUrl();
    });
</script>
<style>
    #export-url {
        word-break: break-all;
    }
</style>
{% endblock %}
{% block content %}
<div class="container" id="export-fields">
    {% page_help page_id='classification/export_help' title='Classification Records Export' %}
    {% ui_register_tabs tab_set="internal_download" %}
    {% ui_register_tab_embedded tab_set="internal_download" label='Export Shariant Data' %}
    <p class="text-info">Please refer to the terms and conditions about proper use of the classifications download.</p>
    <p class="text-info">Once you have configured your download you can save and re-use the generated URL.</p>
    {% labelled label="For Downloading Via" %}
        <div class="form-check">
            <label class="form-check-label">
                <input checked="checked" id="download_mode_browser" name="download_mode" value="browser" type="radio" class="form-check-input" />Web Browser
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input id="download_mode_api" name="download_mode" value="api" type="radio" class="form-check-input" />API
            </label>
        </div>
    {% endlabelled %}

    {% labelled label="Share Levels" %}
        {% if user.is_superuser %}
        <div class="form-check">
            <label class="form-check-label">
            <input id="exported_to_clinvar" name="share_level" value="clinvar" type="radio" class="form-check-input" />
            <img src="{% static 'icons/share_level/public.png' %}" class="tiny-icon" />
            Exported to ClinVar <span style="color:rgb(128,128,128)">(admin only)</span>
            </label>
        </div>
        {% endif %}
        {% comment %}
            {% if user.is_superuser %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="share_level_3rd_party" name="share_level" value="3rd_party" type="radio" class="form-check-input" />
                        <img src="{% static 'icons/share_level/public.png' %}" class="tiny-icon" />
                        Shared with 3rd Party Databases.
                        <span style="color:rgb(128,128,128)">(admin only)</span>
                    </label>
                </div>
            {% endif %}
        {% endcomment %}
        <div class="form-check">
            <label class="form-check-label">
                <input checked="checked" id="share_level_public" name="share_level" value="public" type="radio" class="form-check-input" />
                <img src="{% static 'icons/share_level/logged_in_users.png' %}" class="tiny-icon" />
                <img src="{% static 'icons/share_level/public.png' %}" class="tiny-icon" />
                Shared with Application and 3rd Party Databases
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input id="share_level_any" name="share_level" value="any" type="radio" class="form-check-input" />
                <img src="{% static 'icons/share_level/lab.png' %}" class="tiny-icon" />
                <img src="{% static 'icons/share_level/institution.png' %}" class="tiny-icon" />
                <img src="{% static 'icons/share_level/logged_in_users.png' %}" class="tiny-icon" />
                <img src="{% static 'icons/share_level/public.png' %}" class="tiny-icon" />
                Any record I have access to (e.g. records shared at my lab).
            </label>
        </div>
    {% endlabelled %}
    {% labelled label="Genome Build" %}
        {% for genome_build in genome_builds %}
            {% if genome_build.enabled %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" {% if genome_build.name == default_genome_build.name %}checked="checked"{% endif %} id="genome_build_{{ genome_build.name }}" type="radio" name="genome_build" value="{{ genome_build.name }}" />
                        {{ genome_build.name }}
                    </label>
                </div>
            {% endif %}
        {% endfor %}
    {% endlabelled %}
    {% labelled label="Allele Origin" %}
        {% allele_origin_toggle show_label=False %}
        <div class="text-muted">Note that records with an allele origin other than germline or somatic will always be included in downloads.</div>
    {% endlabelled %}
    {% labelled label="Since" %}
        <input class="form-control" type="text" name="since" placeholder="YYYY-MM-DD or <number of days>" />
        <div class="text-muted">Optional - Filter out classification records that haven't changed since this date e.g. 2020-01-06<br/>
        WARNING: Applying incremental changes with "since" can result in withdrawn classification records remaining in your system.<br/>
        Recommended for users of Alissa 5.2
        </div>
    {% endlabelled %}
    {% labelled label="Benchmark Only" admin_only=True %}
        <div class="form-check">
            <label class="form-check-label">
                <input id="benchmark" name="benchmark" value="true" type="checkbox" class="form-check-input" />
            </label>
        </div>
    {% endlabelled %}
    {% labelled label="Single Allele" admin_only=True %}
        <input id="allele" name="allele" value="" type="text" class="form-control" />
        <p class="text-muted">Filters to single Allele ID, if the export otherwise wouldn't include this allele
        the export will be blank.</p>
    {% endlabelled %}
    {% labelled label="Rows Per File" %}
        <input class="form-control" id="rows_per_file" type="number" value="" placeholder="10,000 for MVL, unlimited for other formats"/>
        <span class="text-muted">Various versions of Alissa and other systems limit how many rows can be in an individual file.<br/>
        Providing a value for this field will result in a zip file with each entry in the zip not having more than this number of rows.<br/>
        Min value of 100, set to 0 to force a single file for MVLs.</span>
    {% endlabelled %}
    {% labelled label="Total Row Limit" admin_only=True %}
        <input class="form-control" id="row_limit" type="number" value="" />
        <span class="text-muted">Maximum number of rows (approx) to be downloaded.</span>
    {% endlabelled %}

    {% labelled label="Organisation Exclusion" %}
        {% for org in orgs %}
            <div class="form-check">
                <label class="form-check-label">
                    <input id="org_selection_{{org.group_name}}" name="org_selection" value="{{org.group_name}}" type="checkbox" class="form-check-input" />
                    {{ org.name }}
                </label>
            </div>
        {% endfor %}
    {% endlabelled %}
    {% labelled label="Lab Selection" %}
        <div class="form-check">
            <label class="form-check-label">
                <input checked="checked" id="lab_selection_mode_exclude" name="lab_selection_mode" value="exclude" type="radio" class="form-check-input" />
                Exclude Selected Labs
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input id="lab_selection_mode_include" name="lab_selection_mode" value="include" type="radio" class="form-check-input" />
                Include Only Selected Labs
            </label>
        </div>
    {% endlabelled %}
    {% labelled label="Labs" %}
        {% for lab in labs %}
            <div class="form-check-inline">
                <label class="form-check-label" style="min-width: 400px">
                    <input id="lab_selection_{{lab.group_name}}" name="lab_selection" value="{{lab.group_name}}" type="checkbox" class="form-check-input" />
                    {{ lab }}
                </label>
            </div>
        {% endfor %}
    {% endlabelled %}
    {% labelled label="Format" %}
        {% for format in formats %}
            {% if not format.admin_only or user.is_superuser %}
            <div class="form-check">
                <label class="form-check-label">
                    <input {% if format.id == default_format.id %}checked="checked"{% endif %} id="format_{{ format.id }}" type="radio" name="format" value="{{ format.id }}" class="form-check-input" />
                    {{ format.name }}{% if format.admin_only %} <span style="color:rgb(128,128,128)">(admin only)</span>{% endif %}
                </label>
            </div>
            {% endif %}
        {% endfor %}
    {% endlabelled %}

    <div class="custom-option" data-format="clinvar">
        {% labelled label="Clinvar XML" %}
            The Clinvar XML export is a work in progress. It will also be managed by its own page in the near future.<br/>
            Note you must restrict yourself to one lab for a ClinVar export.
        {% endlabelled %}
    </div>
    <div class="custom-option" data-format="keys">
        {% labelled label="Evidence Keys Report" %}
            This report provides a summary of how each evidence key is used.
        {% endlabelled %}
    </div>
    <div class="custom-option" data-format="csv">
        {% labelled label="CSV Grouping" %}
            The CSV file will have one row per classification record.<br/>
            Unlike other formats, classification records with variant matching issues will be included at the bottom of the file.
        {% endlabelled %}
        {% labelled label="Value Format" %}
            <div class="form-check">
                <label class="form-check-label">
                    <input checked="checked" id="value_format_codes" type="radio" name="value_format" value="codes" class="form-check-input" />
                    Use codes only
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input id="value_format_labels" type="radio" name="value_format" value="labels" class="form-check-input" />
                    Use labels for headings and values (e.g. "Strand bias" instead of "strand_bias")
                </label>
            </div>
        {% endlabelled %}
        {% labelled label="HTML Processing" admin_only=True %}
            <div class="form-check">
                <label class="form-check-label">
                    <input checked="checked" id="html_handling_text" type="radio" name="html_handling" value="text" class="form-check-input" />
                    Strip HTML tags out of fields
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input id="html_handling_html" type="radio" name="html_handling" value="html" class="form-check-input" />
                    Leave HTML tags as is
                </label>
            </div>
        {% endlabelled %}
        {% labelled label="Include Explains" admin_only=True %}
             <div class="form-check">
                <label class="form-check-label">
                    <input id="include_explains" name="include_explains" value="true" type="checkbox" class="form-check-input" />
                    Include columns for "explain" attributes on evidence. System generated definitions of how labs populated the data.
                </label>
            </div>
        {% endlabelled %}
        {% labelled label="Cross-Environment Comparison" admin_only=True %}
             <div class="form-check">
                <label class="form-check-label">
                    <input id="exclude_transient" name="exclude_transient" value="true" type="checkbox" class="form-check-input" />
                    Excludes meta-columns that would always be different between installs, e.g. id, internal_allele_id.
                </label>
            </div>
        {% endlabelled %}
    </div>
    <div id="format-options">
        <div class="custom-option" data-format="mvl">
            {% labelled label="MVL Grouping" %}
                MVLs will have one row per transcript-variant combination.<br/>
                If there are multiple classifications for a transcript-variant pair then the details of those will be in the report abstract section for that row.
            {% endlabelled %}
            {% labelled label="MVL File Format" admin_only=True %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input checked="checked" id="mvl_file_format_tsv" type="radio" name="mvl_file_format" value="tsv" class="form-check-input" />
                        TSV
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="mvl_file_format_json" type="radio" name="mvl_file_format" value="json" class="form-check-input" />
                        JSON
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="mvl_file_format_html" type="radio" name="mvl_file_format" value="html" class="form-check-input" />
                        HTML
                    </label>
                </div>
            {% endlabelled %}
            {% labelled label="MVL Conflict Strategy" %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input checked="checked" id="conflict_most_pathogenic" type="radio" name="conflict_strategy" value="most_pathogenic" class="form-check-input" />
                        Most Pathogenic
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="conflict_most_benign" type="radio" name="conflict_strategy" value="most_benign" class="form-check-input" />
                        Most Benign
                    </label>
                </div>
            {% endlabelled %}
            {% labelled label="Transcript Strategy" %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input checked="checked" id="transcript_strategy_refseq" type="radio" name="transcript_strategy" value="refseq" class="form-check-input" />
                        Only include RefSeq
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="transcript_strategy_all" type="radio" name="transcript_strategy" value="all" class="form-check-input" />
                        Include all transcripts - WARNING Alissa can only handle RefSeq transcripts
                    </label>
                </div>
            {% endlabelled %}
            {% labelled label="Classification Labels" %}
                MVL installations might have custom labels for classification values.<br/>
                If your system does not use the defaults below, you can override individual values.
            {% endlabelled %}
            {% labelled label="Benign" %}
                <input class="form-control" id="cs_b" type="text" placeholder="BENIGN" />
            {% endlabelled %}
            {% labelled label="Likely Benign" %}
                <input class="form-control" id="cs_lb" type="text" placeholder="LIKELY_BENIGN" />
            {% endlabelled %}
            {% labelled label="VUS, Risk Factor, Drug Response" %}
                <input class="form-control" id="cs_vus" type="text" placeholder="VOUS" />
            {% endlabelled %}
            {% labelled label="Likely Pathogenic" %}
                <input class="form-control" id="cs_lp" type="text" placeholder="LIKELY_PATHOGENIC" />
            {% endlabelled %}
            {% labelled label="Pathogenic" %}
                <input class="form-control" id="cs_p" type="text" placeholder="PATHOGENIC" />
            {% endlabelled %}
            {% labelled label="VCF Detail Level" admin_only=True %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input checked="checked" id="mvl_detail_standard" type="radio" name="mvl_detail" value="standard" class="form-check-input" />
                        Standard
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="mvl_detail_shell" type="radio" name="mvl_detail" value="shell" class="form-check-input" />
                        Minimal (for testing)
                    </label>
                </div>
            {% endlabelled %}
        </div>
        <div class="custom-option" data-format="json">
            {% labelled label="JSON Grouping" %}
                The JSON file will have one object per variant classification.<br/>
                Selecting different genome builds will not affect the JSON, it will include Shariant available data for each genome build in the allele section of the record.
            {% endlabelled %}
        </div>
        <div class="custom-option" data-format="vcf">
            {% labelled label="Target System" %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="vcf_target_system_emedgene" type="radio" name="vcf_target_system" value="emedgene" class="form-check-input" />
                        Illumina Emedgene
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input checked="checked" id="vcf_target_system_generic" type="radio" name="vcf_target_system" value="generic" class="form-check-input" />
                        Generic (provides more information, but not formatted for any specific system)
                    </label>
                </div>
            {% endlabelled %}
        </div>
        <div class="custom-option" data-format="redcap">
            {% labelled label="REDCap Grouping" %}
                The REDCap file will have one row for each distinct <b>redcap_record_id</b>. Records without a value for that will be excluded.
            {% endlabelled %}
            {% labelled label="REDCap Data Definition" %}
                Click <a href="/classification/redcap_data_dictionary.csv">here to download the REDCap data definition</a>.
            {% endlabelled %}
        </div>
    </div>
    {% labelled label="Generated URL" %}
        <a class="hover-link" id="export-url" href="{{base_url_redirect}}">{{base_url_redirect}}</a>
        <div id="export-error" class="hidden text-danger">{{ "E" | severity_icon }}<span id="export-error-text"></span></div>
    {% endlabelled %}
    {% end_ui_register_tab_embedded %}
    {% ui_register_tab_embedded tab_set="internal_download" label='Export My Data' %}
        {% include 'classification/tags/internal_lab_download.html' %}
    {% end_ui_register_tab_embedded %}
    {% ui_render_tabs tab_set="internal_download" %}

</div>

{% endblock %}