{% extends "uicore/page/base.html" %}
{% load static %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load ui_help %}
{% load js_tags %}
{% load lab_tags %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block title %}File Upload{% endblock %}
{% block head %}
    <script>
        function datatableFilter(data) {
            data.lab_id = {{ selected_lab.pk }};
        }
        function fileDownloaderRenderer(data, type, row) {
            let pk = row['id'];
            return $('<a>', {'href': Urls.classification_import_download(pk), 'text': data, 'class': 'download-link'}).prop('outerHTML');
        }
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        {% page_help_embedded title="Classifications Upload" %}
            <p>This page allows you to upload classification data to be shared within {{ site_name }}.</p>
            {% if selected_lab.upload_location %}
                <p>{{ site_name }} administrators will be notified once your file is uploaded.<br/>
                They will then be able to process the file, you can check the status of your uploads in the table below.<br/>
                Please allow a business day for your file to be processed.</p>
            {% else %}
                This lab has not been configured for uploads yet. Please contact a {{ site_name }} administrator if you'd like to upload a file.
            {% endif %}
        {% end_page_help_embedded %}

        {% lab_picker view_name="classification_upload_unmapped_lab" selected_lab=selected_lab %}
        {% if selected_lab.upload_location %}
             <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">File Upload</div>
                    <div class="card-body">
                        {% if selected_lab.upload_auto_pattern %}
                            {% labelled label="Expected Filename Pattern" %}
                                {% code_regex selected_lab.upload_auto_pattern %}
                            {% endlabelled %}
                        {% else %}
                            <p class="text-info">Once the file is uploaded it will be added to a queue and processed over the next few days.</p>
                        {% endif %}
                        {% if user.is_superuser %}
                            {% labelled label="Destination" value_css="admin-only" %}{{ selected_lab.upload_location }}{% endlabelled %}
                        {% endif %}
                        {% labelled label="Upload File" %}
                            <input type="file" name="file">
                        {% endlabelled %}
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </div>
            </form>
            <h4>File Upload History</h4>
            <table data-datatable-url="{% url 'classification_upload_unmapped_datatable' %}" data-datatable-data='datatableFilter' class="import-table sticky-header" responsive="true"></table>
        {% else %}
            <p>{{ 'warning' | severity_icon }} Your lab "{{ selected_lab.name }}" has not been configured for file uploads. Please contact a {{ site_name }} administrator if you believe this is required.</p>
        {% endif %}
    </div>
{% endblock %}