{% extends "uicore/page/base.html" %}
{% load classification_tags %}
{% load ontology_tags %}
{% load ui_menu_bars %}
{% load ui_help %}
{% load ui_utils %}
{% load ui_tabs_builder %}
{% load english_tags %}
{% load js_tags %}
{% block title %}Clinvar Export{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block content %}
    <div class="container">
        {% if all_keys.count > 1 %}
            <div class="btn-group mb-4" role="group" aria-label="ClinVar Key Picker">
                {% for key in all_keys %}
                    <button onclick="window.open('{% url 'clinvar_match' key.pk %}', '_self')"
                    class="btn {% if key.pk == clinvar_key.pk %}btn-secondary font-weight-bold{% else %}btn-outline-secondary{% endif %}">{{ key.label }}
                    </button>
                {% endfor %}
            </div>
        {% endif %}
        <p>
            This page will let you match data a ClinVar export file with data within {{ site_name }}.
        </p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">File Upload</div>
                <div class="card-body">
                    {% labelled label="Upload File" %}
                        <input type="file" name="file">
                    {% endlabelled %}
                    <p>{{ 'W'|severity_icon }} The matching process takes a few minutes, please be patient.</p>
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-primary" value="Compare" />
                </div>
            </div>
        </form>

        {% if rows %}
            <table class="table">
                <thead>
                    <tr>
                        <th>SCV</th>
                        <th>VariantID</th>
                        <th>c.HGVS</th>
                        <th>Condition</th>
                        <th>Matches</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.scv }}</td>
                        <td><a href="https://ncbi.nlm.nih.gov/clinvar/variation/{{ row.variant_clinvar_id }}" target="_blank">{{ row.variant_clinvar_id }}</a></td>
                        <td>{% c_hgvs row.c_hgvs_with_gene_symbol %}</td>
                        <td>{% for term in row.ontology_terms %}<div>{% ontology_term term %}</div>{% endfor %}</td>
                        <td>
                        {% with matches=row.find_variant_grid_allele %}
                            {% for match in matches %}
                            <div>
                                <a href="{{ match.allele.get_absolute_url }}">{{ match.allele }}</a>
                                {{ match.match_types }}
                                {% for clinvar_export_match in match.clinvar_export_matches %}
                                    <div>
                                    <a href="{{ clinvar_export_match.clinvar_export.get_absolute_url }}" target="_blank">{{ clinvar_export_match.clinvar_export }}</a>
                                    {{ clinvar_export_match.match_types }}
                                    </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        {% endwith %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}