{% extends "uicore/page/base.html" %}
{% load static %}
{% load classification_tags %}
{% load ui_help %}
{% load ui_utils %}
{% load js_tags %}
{% load ui_menu_bars %}
{% load ui_tabs_builder %}
{% load datatable_tags %}
{% block title %}Clinical Key Summary{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
    <script>
        function records(data) {
            data.clinvar_key = {{ clinvar_key.pk | jsonify }};
        }
        function batches(data) {
            data.clinvar_key = {{ clinvar_key.pk | jsonify }};
        }
        function renderStatus(data, type, row) {
            let dom = null;
            if (data === 'D') {
                dom = severityIcon('success');
                dom.attr('title', 'Up to date');
            } else if (data === 'E') {
                dom = severityIcon('error');
                dom.attr('title', 'ClinVar conversion issues, unable to submit');
            } else if (data === 'N') {
                dom = $('<i class="fas fa-cloud-upload-alt text-success"></i>')
                dom.attr('title', 'New submission');
            } else if (data == 'C') {
                dom = $('<i class="fas fa-cloud-upload-alt text-primary"></i>')
                dom.attr('title', 'Changes to existing ClinVar record pending');
            } else if (data == 'X') {
                dom = $('<span/>', {html: [$('<i class="fas fa-globe-americas">'), $('</i><i class="fas fa-times"></i>')]});
                dom.attr('title', 'Classification has been specifically excluded from ClinVar Export');
            } else {
                dom = $('<span>', {text: data});
            }
            if (dom.attr('title')) {
                dom.attr('data-toggle', 'tooltip');
            }
            return dom.prop('outerHTML');
        }
        function renderReleaseStatus(data, type, row) {
            let dom = null;
            if (data === 'R') {
                dom = severityIcon('success');
                dom.attr('title', 'Release when ready');
                dom.attr('data-toggle', 'tooltip');
            } else if (data === 'H') {
                dom = $('<i class="fas fa-clock"></i>');
                dom.attr('title', 'On hold');
                dom.attr('data-toggle', 'tooltip');
            } else {
                dom = $('<span>', {text: data});
            }
            if (row.status === "E") {
                dom.css('opacity', 0.4);
            }
            return dom.prop('outerHTML');
        }
        function renderSCV(data, type, row) {
            if (!data) {
                return $('<span>', {text: '-', class:'no-value'}).prop('outerHTML');
            } else {
                return data;
            }
        }
        function renderId(data, type, row) {
            let content = [$('<span/>', {text: data.genome_build}), $("<br/>"), $('<span/>', {text: data.c_hgvs})];
            // let id = data.id;
            // let elem = $('<a/>', {href: `/classification/clinvar_export/${id}`, html: content, class:'id-link'});
            let elem = $('<span>', {html: content});
            return elem.prop('outerHTML');
        }
        function renderBatches(data, type, row) {
            if (!data) {
                return $('<span>', {text: '-', class:'no-value'}).prop('outerHTML');
            } else {
                return $('<span>', {text: data.join(", "), class:'text-monospace'}).prop('outerHTML');
            }
        }
    </script>
    <style>
        .clinvar-export-table .dt-id {
            width: 20px;
        }
        .clinvar-export-table .dt-c_hgvs {
            width: 30%;
        }
        .clinvar-export-table .dt-condition {
            width: 30%;
        }
        .clinvar-export-table td.dt-status {
            width: 30px;
            text-align: center;
            position: relative;
        }


        .clinvar-export-table td.dt-status i {
            position: relative;
            left: -10px;
        }
        .clinvar-export-table .dt-condition {
            width: 40%;
        }
        .clinvar-export-batches-table .dt-created {
            width: 35%;
        }
        .clinvar-export-batches-table .dt-status {
            width: 35%;
        }
    </style>
{% endblock head %}
{% block content %}
    <div class="container">
        {% if all_keys.count > 1 %}
            <div class="btn-group mb-4" role="group" aria-label="ClinVar Key Picker">
                {% for key in all_keys %}
                    <button onclick="window.open('{% url 'clinvar_key_summary' key.pk %}', '_self')"
                    class="btn {% if key.pk == clinvar_key.pk %}btn-secondary font-weight-bold{% else %}btn-outline-secondary{% endif %}">{{ key.label }}
                    </button>
                {% endfor %}
            </div>
        {% endif %}

        <div data-toggle="ajax" href="{% url 'clinvar_key' clinvar_key.pk %}">Loading</div>
        {% page_help_embedded "Records &amp; Batches" %}
            <p>{{ 'info' | severity_icon }}Important : Changes to classifications are not automatically reflected here. Classifications might be more up to date.</p>
            {% if missing_condition_count %}
            <p>{{ 'info' | severity_icon }}Important : Only classifications with standard conditions can be submitted to ClinVar.</p>
            {% endif %}
            <p>ClinVar accepts one record per submitter/allele/condition combination - below are the records we will be sending to ClinVar on your behalf.</p>
            <p>If a record's sync status is "In Error" the linked classification has one or more of the following:
                <ul>
                    <li>An open flag (such as variant matching warning or discordance) which must be resolved.</li>
                    <li>Missing key values required by ClinVar - note that {{ site_name }} admins can set defaults for some values.</li>
                    <li>Has some values that don't translate to ClinVar - e.g. an Ensembl transcript</li>
                </ul>
            </p>
            <label>Records</label>
            <p>All ClinVar Exports can be downloaded for review.</p>
            <p>An export record can be marked as "On Hold" to stop it from being submitted to ClinVar - it will later have to be manually set back to ready when appropriate.</p>
            <p>If records have been externally submitted to ClinVar and have had a SCV, they can be entered by clicking on a row and going to the ClinVar Export,
            otherwise {{ site_name }} will automatically assign the records SCV returned from ClinVar.
            </p>
            <label>Batches</label>
            <p>Data is sent to ClinVar in batches, these just show you the technical detail data that was sent to ClinVar if required for review.</p>
        {% end_page_help_embedded %}
        {% if missing_condition_count %}
            {% labelled label="Classifications w/out Standard Condition" %}
                <a href="{% url 'condition_matchings' %}" title="Only classifications with standard conditions can be submitted to ClinVar">
                    {{ 'warning' | severity_icon }}
                    {{ missing_condition_count }}</a>
            {% endlabelled %}
        {% else %}
            {% labelled label="Classifications w/out standard condition" %}
                {{ 'success' | severity_icon }} All classifications have a standard condition
            {% endlabelled %}
        {% endif %}
        <div class="text-info mb-1">Important: the status of ClinVar exports is cached. Recent changes may not be reflected yet.</div>

        {% ui_register_tab_embedded tab_set="clinvar_tabs" label="Records" badge=count_records badge_status='success' %}
            {% if user.is_superuser %}
                {% labelled label="Refresh" admin_only=True %}
                    <form data-loadscreen=".loading-wrapper" method="POST" action="{% url 'clinvar_export_refresh' clinvar_key.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-primary" onclick="return window.confirm('This may take a while. Please confirm to proceed.');">Refresh ClinVar Exports for {{ clinvar_key }}</button>
                    </form>
                {% endlabelled %}
                <hr/>
                {% labelled label="ClinVar Export ID List" admin_only=True %}
                    <form method="POST" action="{% url 'clinvar_export_create_batch' clinvar_key.pk %}">
                        {% csrf_token %}
                        <textarea placeholder="Provide a list of IDs seperated with spaces, tabs, new lines and/or commas." name="clinvar_export_ids" class="form-control"></textarea>
                        <button class="btn btn-primary mt-1">Create Batch for {{ clinvar_key }}</button>
                    </form>
                {% endlabelled %}
            {% endif %}
            <table id="records" data-datatable-url="{% url 'clinvar_exports_datatables' %}" data-datatable-data="records" class="sticky-header clinvar-export-table"></table>
            <div data-toolbar="#records">
                <a class="download-link" href="{% url 'clinvar_key_summary_export_download' clinvar_key.pk %}">Download</a>
            </div>
        {% end_ui_register_tab_embedded %}
        {% ui_register_tab_embedded tab_set="clinvar_tabs" label="Export Batches" badge=count_batch badge_status='success' %}
            <table id="batches" data-datatable-url="{% url 'clinvar_export_batch_datatables' %}" data-datatable-data="batches" class="sticky-header clinvar-export-batches-table"></table>
        {% end_ui_register_tab_embedded %}

        <div class="loading-wrapper">
        {% ui_render_tabs tab_set='clinvar_tabs' %}
        </div>
    </div>
{% endblock content %}