{% load js_tags %}
{% load ui_utils %}
{% if history %}
    <p class="text-info">Below is the history of what was sent to ClinVar for this ClinVar Key/allele/condition combination.</p>
    {% for history_entry in history %}
        <div class="card mb-4">
            <div class="card-header">
                <div class="float-left">ClinVacr Submission ({{ history_entry.pk }})</div>
                <div class="float-right">{% timestamp history_entry.created time_ago=True %}</div>
            </div>
            <div class="card-body">
                {% labelled label="Status" %}{{ history_entry.get_status_display }}{% endlabelled %}
                {% labelled label="Source Classification" %}
                    <a href="{% url 'view_classification' history_entry.classification_based_on.id_str %}" target="_blank">
                        {{ history_entry.classification_based_on.classification.friendly_label }}</a>
                        as of {% timestamp history_entry.classification_based_on.created time_ago=True %}
                {% endlabelled %}
                {% labelled label="Data" %}
                    <a href="#submission-{{ history_entry.pk }}" class="toggle-link" data-toggle="collapse">Toggle Data</a>
                {% endlabelled %}
                <div id="submission-{{ history_entry.pk }}" class="collapse">
                    <label>Heading</label>
                    {% code_json history_entry.submission_grouping %}
                    <label>Content</label>
                    {% code_json history_entry.submission_full %}
                    <div class="mt-4">
                        <label>Response</label>
                        {% code_json history_entry.response_json %}
                    </div>
                </div>
            </div>
            <div class="card-footer">{% if history_entry.submission_batch %}
                Included in <a data-href="{% url 'clinvar_export_batch_detail' history_entry.submission_batch.pk %}" data-toggle="ajax-modal">{{ history_entry.submission_batch }}</a>
            {% endif %}</div>
        </div>
    {% endfor %}
{% else %}
    <div class="no-value">No submission for this record yet</div>
{% endif %}
<script>

</script>