{% extends "uicore/page/base.html" %}
{% load classification_tags %}
{% load ontology_tags %}
{% load ui_menu_bars %}
{% load ui_help %}
{% load ui_utils %}
{% load ui_tabs_builder %}
{% load english_tags %}
{% load js_tags %}
{% block title %}Clinvar Export Multi-Review{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block content %}
    <div class="container">
        <div class="mb-4">
            <a href="{% url 'clinvar_export_multi_listing' %}" class="hover-link"><i class="fas fa-angle-left"></i>Back to all ClinVar Multiple Exports</a>
        </div>
        {% labelled label="ClinVar Key" %}{{ clinvar_allele_mult.clinvar_allele.clinvar_key.name }}{% endlabelled %}
        {% labelled label="Allele" %}{{ clinvar_allele_mult.clinvar_allele.allele }}{% endlabelled %}
        {% labelled label="Export Type" %}{{ clinvar_allele_mult.clinvar_allele.get_clinvar_export_bucket_display }}{% endlabelled %}
        {% labelled label="ClinVar Allele ID" %}{{ clinvar_allele_mult.clinvar_allele.pk }}{% admin_link clinvar_allele_mult.clinvar_allele %}{% endlabelled %}
        {% labelled label="Multiple Record Status" %}{{ clinvar_allele_mult.clinvar_allele.get_multiple_review_status_display }}{% endlabelled %}
        <h4>Existing ClinVar Exports</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>SCV</th>
                    <th>Has Submissions</th>
                    <th>Condition Umbrella</th>
                    <th>Linked Classification</th>
                </tr>
            </thead>
            <tbody>
                {% for clinvar_export in clinvar_allele_mult.clinvar_exports %}
                    <tr>
                        <td><a class="hover-link" href="{% url 'clinvar_export' clinvar_export.id %}">{{ clinvar_export.id }}</a></td>
                        <td>{{ clinvar_export.scv | value}}</td>
                        <td>{{ clinvar_export.clinvarexportsubmission_set.exists | boolean }}</td>
                        <td>
                            {% if clinvar_export.classification_based_on %}
                                {% condition clinvar_export.condition_resolved %}
                            {% else %}
                                <span style="opacity:0.6" title="Conditions for exports without a linked classification are not considered">{% condition clinvar_export.condition_resolved %}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if clinvar_export.classification_based_on %}
                                {% classification_quick clinvar_export.classification_based_on %}
                            {% else %}
                                <span class="no-value">No valid classification</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% with preview=clinvar_allele_mult.merge_preview.preview %}
                    {% if preview %}
                        <tr>
                            <td colspan="5" style="border-top: 1px solid black;border-bottom: 1px solid black; text-align:center">Will be merged to</td>
                        </tr>
                        <tr>
                            <td>{{ preview.pk }}</td>
                            <td>{{ preview.scv | value }}</td>
                            <td>{{ preview.merge_submissions | boolean }}</td>
                            <td>{% condition preview.condition %}</td>
                            <td>{% classification_quick preview.classification_based_on %}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" style="border-top: 1px solid black;border-bottom: 1px solid black; text-align:center">
                                {% if clinvar_allele_mult.merge_preview.can_action %}
                                    <div>{{ 'S' | severity_icon }} {{ clinvar_allele_mult.merge_preview.status.display }}</div>
                                {% else %}
                                    <div>{{ 'E' | severity_icon }} {{ clinvar_allele_mult.merge_preview.status.display }}</div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                        <tr>
                            <td colspan="5">
                                <form method="post" action="{{ request.path }}">
                                    {% csrf_token %}
                                    <div class="btn-toolbar float-right">
                                        {% if clinvar_allele_mult.merge_preview.can_action %}
                                            <button class="btn btn-danger" name="action" value="merge">Action Duplicates</button>
                                        {% endif %}
                                        {% if clinvar_allele_mult.clinvar_allele.multiple_review_status == "A" %}
                                            <button class="btn btn-warning" name="action" value="unapprove">Un-Approve Duplicates</button>
                                        {% else %}
                                            <button class="btn btn-primary" name="action" value="approve">Approve Duplicates</button>
                                        {% endif %}
                                    </div>
                                </form>
                            </td>
                        </tr>
                {% endwith %}
            </tbody>
        </table>
    </div>
{% endblock %}