{% load ui_utils %}
{% load js_tags %}
{% load classification_tags %}
<div class="text-info mt-2 mb-4">Row numbers were up to date per Last Evaluated, showing up to date rows below</div>
{% labelled label="Allele "%}<a href="{% url 'view_allele' allele.id %}">{{ allele }}</a>{% endlabelled %}
{% for submission in submissions %}
{% labelled label=submission.friendly_submission_status_str %}<a href="{% url 'clinvar_export' submission.id %}">ClinVar Submission</a> : {% condition submission.condition_resolved %}{% endlabelled %}
{% endfor %}
{% for missing_condition in missing_conditions %}
    {% labelled label="Missing Standard Condition" %}
        {% with condition_text_record=missing_condition.classification.condition_text_record %}
            {% if condition_text_record %}
            <a href="{% url 'condition_matching' condition_text_record.id %}">Condition Text : {{ missing_condition.condition_text }}</a>
            {% endif %}
        {% endwith %}
        {% classification_quick missing_condition%}
    {% endlabelled %}
{% endfor %}