{% load ui_utils %}
{% load js_tags %}
{% load english_tags %}
{% load classification_tags %}
{% labelled label="Allele "%}<a href="{% url 'view_allele' allele.id %}">{{ allele }}</a>{% endlabelled %}
{% for submission in submissions %}
{% labelled label=submission.friendly_submission_status_str %}<a href="{% url 'clinvar_export' submission.id %}">ClinVar Submission</a> : {% condition submission.condition_resolved %}{% endlabelled %}
{% endfor %}
{% if reduced_missing_conditions %}
    <div class="mt-3 mb-1">
        {% if reduced_missing_conditions > 0 %}
            {% labelled label="Missing Standard Condition" %}<div class="text-info">{% count reduced_missing_conditions "1 record has" "records have" %} been resolved since Last Evaluated</div>{% endlabelled %}
        {% elif reduced_missing_conditions < 0 %}
            {% labelled label="Missing Standard Condition" %}<div class="text-info">More records with standard condition have been added since Last Evaluated</div>{% endlabelled %}
        {% endif %}
    </div>
{% endif %}
{% for missing_condition in missing_conditions %}
    {% labelled label="Missing Standard Condition" %}
        {% with condition_text_record=missing_condition.classification.condition_text_record %}
            {% if condition_text_record %}
            <a href="{% url 'condition_matching' condition_text_record.id %}">Condition Text : {{ missing_condition.condition_text }}</a>
            {% endif %}
        {% endwith %}
        {% classification_quick missing_condition%}
    {% endlabelled %}
{% endfor %}