{% extends "uicore/page/base.html" %}
{% load datatable_tags %}
{% load classification_tags %}
{% load ui_menu_bars %}
{% load ui_help %}
{% block title %}Clinvar Exports{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
    <script>
        $(document).ready(() => {
            EKeys.load().then(() => {
                {% datatable_definition table_config=datatable_config table_id='clinvar-review-datatable' url='clinvar_exports_datatables' responsive=True %}
            });
        });
        function renderId(data, type, row) {
            // TODO geneate urls
            let content = [$('<span/>', {text:data.genome_build}), $("<br/>"), $('<span/>', {text: data.c_hgvs})];
            let id = data.id;
            let elem = $('<a/>', {href: `/classification/clinvar_export/${id}`, html: content, class:'id-link'});
            return elem.prop('outerHTML');
        };
    </script>
{% endblock head %}
{% block content %}
    <div class="container">
        <h3>ClinVar Export Review</h3>
        {% page_help_embedded title='ClinVar Export Review' %}
            <p>
            Help will go here for exporting to Clinvar
            </p>
        {% end_page_help_embedded %}
        {% datatable datatable_config 'clinvar-review-datatable' class_name='clinvar-review-datatable responsive sticky-header' %}
    </div>
{% endblock %}