{% extends "uicore/page/base.html" %}
{% load classification_tags %}
{% load ontology_tags %}
{% load ui_menu_bars %}
{% load ui_help %}
{% load ui_utils %}
{% load ui_tabs_builder %}
{% load english_tags %}
{% load js_tags %}
{% block title %}Clinvar Export{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block content %}
    <div class="container">
        {% page_help_embedded title='ClinVar Export' %}
            <p>
            This page shows detailed information about a ClinVar Export record and allows individual records to be marked as On Hold and
            assigned a SCV.
            </p>
            <p>Only assign an export a SCV if it already had one from a submission external to {{ site_name }}, otherwise can leave that alone
            and it will be automatically assigned upon successful submission.</p>
            <p>You can also review the exact data to be sent to ClinVar as well as the history of data that has been sent for this submitter/allele/condition combination.</p>
        {% end_page_help_embedded %}

        <form method="post">
            {% csrf_token %}
            <div class="card mb-4">
                <div class="card-header">Summary of ClinVar Export {{ clinvar_export.pk }}</div>
                <div class="card-body">
                    <div class="text-info mb-4">There will be one ClinVar Export for every valid ClinVar Key, Allele and Condition Umbrella combination.</div>
                    {% labelled label="ClinVar Key" %}{{ clinvar_export.clinvar_allele.clinvar_key }}{% endlabelled %}
                    {% labelled label="Allele" %}{% with allele=clinvar_export.clinvar_allele.allele %}<a class="hover-link" href="{{ allele.get_absolute_url }}">{{ allele }}</a>{% endwith %}{% endlabelled %}
                    {% labelled label="Condition Umbrella" %}{% condition clinvar_export.condition_resolved %}
                        {% field_help %}Records for this variant and this (or a more specific) condition will be considered as part of this export.<br/>
                        The actual condition sent to ClinVar can be seen next to Source Condition.{% end_field_help %}
                    {% endlabelled %}
                    <hr/>
                    <div class="text-info mb-4">The details of the source data for the (possible) upcoming ClinVar submission/update.</div>
                    {% labelled label="Last Evaluated" %}{% timestamp clinvar_export.clinvar_allele.last_evaluated time_ago=True %}
                    {% field_help %}{{ site_name }} cached data for this export using the data available at this time.<br/>
                    The actual condition might be more specific or an OMIM equivilent.{% end_field_help %}
                    {% endlabelled %}

                    {%  if clinvar_export.classification_based_on %}
                        {% labelled label="Source Classification" %}<a href="{% url 'view_classification' clinvar_export.classification_based_on.id_str %}" target="_blank">
                                {{ clinvar_export.classification_based_on.classification.friendly_label }}</a> as of {% timestamp clinvar_export.classification_based_on.created time_ago=True %}
                        {% endlabelled %}
                        {% labelled label="Source c.HGVS" %}{% c_hgvs clinvar_export.classification_based_on show_genome_build=True %}{% endlabelled %}
                        {% labelled label="Source Condition" %}{% condition clinvar_export.classification_based_on.classification.condition_resolution_obj %}{% endlabelled %}
                    {% else %}
                        {% labelled label="Source Classification" %}<div class="no-value">No classification is a valid candidate for this allele/condition currently.</div>{% endlabelled %}
                    {% endif %}

                    {% labelled label="Sync Status" %}
                        {% if clinvar_export.status == "E" %}{{ 'error' | severity_icon }} <span class="text-danger">Error - see Export Preview for details</span>{% else %}
                        {{ clinvar_export.get_status_display }}
                        {% endif %}
                    {% endlabelled %}
                    <hr/>
                    <div class="text-info mb-4">Modifiable ID and status of the ClinVar Export.</div>
                    {% labelled label="SCV" %}
                        <div class="input-group">
                            <input class="form-control" type="text" name="scv" value="{{ clinvar_export.scv | default_if_none:'' }}" placeholder="Enter SCV code if previously submitted to ClinVar externally, otherwise leave blank to be auto-assigned" />
                        </div>
                    {% endlabelled %}
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        </form>
        {% ui_register_tab_embedded label="Export Preview" tab_set="clinvar_tabs" %}
            <p class="text-info">This is the representation data that will be submitted to ClinVar (validation messages wont be sent).</p>
            {% code_json clinvar_export.submission_full.serialize %}
            {% with diffs=clinvar_export.differences_since_last_submission %}
                {% if diffs %}
                    <h4>Differences Since Last Submission</h4>
                    {% code_json diffs %}
                {% endif %}
            {% endwith %}
        {% end_ui_register_tab_embedded %}

        {% ui_register_tab label="Submission History" tab_set="clinvar_tabs" url="clinvar_export_history" param=clinvar_export.pk %}

        {% ui_render_tabs tab_set="clinvar_tabs" %}
    </div>
{% endblock %}