{% load ui_utils %}
{% load js_tags %}
{% load classification_tags %}
{% labelled label="Full Detail" %}<a class="hover-link" href="{% url 'clinvar_export' clinvar_export.pk %}">View ClinVar Export ({{ clinvar_export.pk }})</a>{% endlabelled %}
{% labelled label="Last Evaluated" %}{% timestamp clinvar_export.clinvar_allele.last_evaluated time_ago=True %}{% endlabelled %}
{% with errors=clinvar_export.submission_body.all_messages.errors %}
    {% if errors %}
        {% labelled label="Outstanding Issues" %}
            <ul class="compact">
            {% for error in errors %}
                <li>{{ error.text }}</li>
            {% endfor %}
            </ul>
        {% endlabelled %}
    {% endif %}
{% endwith %}
{% with batch=clinvar_export.previous_submission.submission_batch %}
    {% labelled label="Last Submission Batch" %}{% if batch %}
        <a data-href="{% url 'clinvar_export_batch_detail' batch.pk %}" data-toggle="ajax-modal">ClinVar Submission Batch ({{ batch.pk }})</a> : {{ batch.get_status_display }} : {% timestamp batch.modified %}
    {% endif %}{% endlabelled %}
{% endwith %}
{% labelled label="Current Classification Candidate" %}
    {% if classification %}
    <a class="hover-link" href="{% url 'view_classification' classification.id_str %}">{{ classification.classification.friendly_label }}</a> as of {% timestamp classification.created time_ago=True %}
    {% endif %}
{% endlabelled %}
{% labelled label="Clinical Significance" %}{{ classification | ekey:'clinical_significance' }}{% endlabelled %}
{% labelled label="Interpretation Summary" %}<div style="white-space: pre-line">{{ interpretation_summary }}</div>{% endlabelled %}