{% extends "uicore/page/base.html" %}
{% load classification_tags %}
{% load ontology_tags %}
{% load ui_menu_bars %}
{% load ui_help %}
{% load ui_utils %}
{% load ui_tabs_builder %}
{% load english_tags %}
{% load js_tags %}
{% block title %}Clinvar Legacy Uploads{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block content %}
    <style>
        #clinvar-legacy-table td.dt-scv {
            width: 120px;
        }
    </style>
    <div class="container">
        {% if all_keys.count > 1 %}
            <div class="btn-group mb-4" role="group" aria-label="ClinVar Key Picker">
                {% for key in all_keys %}
                    <button onclick="window.open('{% url 'clinvar_legacy' key.pk %}', '_self')"
                    class="btn {% if key.pk == clinvar_key.pk %}btn-secondary font-weight-bold{% else %}btn-outline-secondary{% endif %}">{{ key.label }}
                    </button>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">File Upload</div>
                <div class="card-body">
                    {% labelled label="ClinVar Cumulative Report File" %}
                        <input type="file" name="file">
                    {% endlabelled %}
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-primary" value="Upload" />
                </div>
            </div>
        </form>
        {% if clinvar_key %}
            <script>
                function render_matches(data, type, columns) {
                    let code = data["code"];
                    if (code === "scv") {
                        return "SCV Matched"
                    } else if (code === "no-allele") {
                        return $("<span>", {class: "no-value", text: "No Allele"});
                    } else if (data.count === 0) {
                        return $("<span>", {class: "no-value", text: "0 Matches"});
                    } else {
                        return $("<span>", {text: `${data.count} Matches`});
                    }
                }
                function datatableFilter(data) {
                    $('#clinvar-legacy-filters .form-check-input').each((index, element) => {
                        let $element = $(element);
                        data[$element.attr('id')] = $element.is(':checked');
                    });
                }
                function applyFilters() {
                    $('#clinvar-legacy-table').DataTable().ajax.reload();
                }
            </script>
            <table id="clinvar-legacy-table" data-datatable-data='datatableFilter' data-datatable-url="{% url 'clinvar_legacy_datatables' clinvar_key.pk %}" class="sticky-header" data-adjust-columns="false"></table>
            <div data-toolbar="#clinvar-legacy-table">
                <div id="clinvar-legacy-filters">
                    <div class="form-check-inline">
                        <input type="radio" name="status" class="form-check-input" id="clinvar_any_status" onclick="applyFilters()" checked/>
                        <label for="clinvar_any_status" title="Show all records">Any Status</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" name="status" class="form-check-input" id="clinvar_legacy_matched" onclick="applyFilters()" />
                        <label for="clinvar_legacy_matched" title="Only show records that are matched by SCV">Matched</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" name="status" class="form-check-input" id="clinvar_legacy_potential" onclick="applyFilters()" />
                        <label for="clinvar_legacy_potential" title="Only show records that have potential matches">Potential Matches</label>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}