{% extends "uicore/page/base.html" %}
{% load datatable_tags %}
{% load classification_tags %}
{% load ontology_tags %}
{% load ui_menu_bars %}
{% load ui_help %}
{% load ui_utils %}
{% load ui_tabs_builder %}
{% load english_tags %}
{% load js_tags %}
{% block title %}Clinvar Export{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
    <style>
        .term-cell {
            width: 200px;
        }
        .relevance-cell {
            width: 250px;
        }
        .relevance-cell div + div {
            margin-top: 0.5rem;
        }
        .description-cell {
            white-space: pre-line;
            overflow-wrap: break-word;
        }
        /* need to do this for checkboxes inside tabs */
        td {
            position: relative;
        }
    </style>
{% endblock %}
{% block content %}
    <form method="POST" id="clinvar_form">
        {% csrf_token %}
        <input type="hidden" name="terms" />
        <input type="hidden" name="multimode" />
        <input type="hidden" name="apply" />
    </form>
    <div class="container">
        <a href="{% url 'clinvar_exports' %}" class="hover-link"><i class="fas fa-angle-left"></i> Back to all ClinVar Exports</a>
        <h3>ClinVar Export</h3>
        {% page_help_embedded title='ClinVar Export' %}
            <p>
            Help will go here for exporting to Clinvar
            </p>
        {% end_page_help_embedded %}

        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="saveModalLabel">Save</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Apply condition terms to:

                  <div class="list-group mt-2">
                      <label class="list-group-item list-group-item-action"><input type="radio" name="applyLevel" value="record" class="mr-2" checked>To this record only</label>
                      <label class="list-group-item list-group-item-action"><input type="radio" name="applyLevel" value="gene_symbol" class="mr-2">As default for records with condition text "<span class="text-muted">{{ clinvar_export.condition_text_normal }}</span>" and Gene {{ clinvar_export.gene_symbol }}
                      <div class="text-muted">{% count same_text_gene_vcs singular="1 other existing ClinVar Export" plural="other existing ClinVar Exports" %}</div>
                      </label>
                      <label class="list-group-item list-group-item-action"><input type="radio" name="applyLevel" value="text" class="mr-2">As default for records with condition text "<span class="text-muted">{{ clinvar_export.condition_text_normal }}</span>"
                      <div class="text-muted">{% count same_text_vcs singular="1 other existing ClinVar Export" plural="other existing ClinVar Exports" %}</div>
                      </label>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submit()">Apply Changes</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">Summary</div>
            <div class="card-body">
                {% labelled label="ClinVar Key" %}{{ clinvar_export.clinvar_allele.clinvar_key }}{% endlabelled %}
                {% labelled label="Allele" %}{{ clinvar_export.clinvar_allele.allele }}{% endlabelled %}
                {% labelled label="Condition Umbrella" %}{% condition clinvar_export.condition_resolved %}{% endlabelled %}
                {% labelled label="Current Candidate Classification" %}<a href="{% url 'view_classification' clinvar_export.classification_based_on.id_str %}" target="_blank">{{ clinvar_export.classification_based_on.classification.friendly_label }}</a>{% endlabelled %}
                {% labelled label="SNC" %}<span class="no-value">Not yet assigned</span>{% endlabelled %}
                {% comment %}
                {% labelled label="Submit" %}
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary"><input type="radio" name="submit_when_possible" value="true" {% if not clinvar_export.submit_when_possible %}checked="checked"{% endif %}>Under Review</label>
                        <label class="btn btn-outline-secondary"><input type="radio" name="submit_when_possible" value="false" {% if clinvar_export.submit_when_possible %}checked="checked"{% endif %}>Auto-Submit When Ready</label>
                    </div>
                {% endlabelled %}
                {% endcomment %}
            </div>
            {% comment %}
            <div class="card-footer">
                <btn class="btn btn-primary" data-toggle="modal" data-target="#saveModal">Save</btn>
            </div>
            {% endcomment %}
        </div>
        {% ui_register_tab_embedded label="Other Details" tab_set="clinvar_tabs" %}
            <h4>Export Preview</h4>
            <p class="text-muted">This is how the data will be submitted to ClinVar</p>
            {% with json_messages=clinvar_export.submission.all_messages %}
                <ul class="list-group mb-4">
                    {% for message in json_messages %}
                        <li class="list-group-item list-group-item-{{ message.bs }}">{{ message.severity | severity_icon }} {{ message.text }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
            <div class="code formatted-text" id="submission_json">{{ clinvar_export.submission.to_json | jsonify_pretty }}</div>
        {% end_ui_register_tab_embedded %}

        {% ui_register_tab_embedded label="Submission History" tab_set="clinvar_tabs" %}
            Submission is not yet implemented.
        {% end_ui_register_tab_embedded %}

        {% ui_render_tabs tab_set="clinvar_tabs" %}
    </div>
{% endblock %}