{% load js_tags %}
{% if history %}
    {% for history_entry in history %}
        <div class="card mb-4">
            <div class="card-header">{% timestamp history_entry.created time_ago=True %}</div>
            <div class="card-body code formatted-text">{{ history_entry.submission_full | jsonify_pretty }}</div>
            <div class="card-footer">{% if history_entry.submission_batch %}
                <a data-href="{% url 'clinvar_export_batch_detail' history_entry.submission_batch.pk %}" data-toggle="ajax-modal">{{ history_entry.submission_batch }}</a>
            {% endif %}</div>
        </div>
    {% endfor %}
{% else %}
    <div class="no-value">No submission for this record yet</div>
{% endif %}
<script>

</script>