{% extends "uicore/page/base.html" %}
{% load user_tags %}
{% load classification_tags %}
{% load js_tags %}
{% load ui_menu_bars %}
{% load ui_help %}
{% load ui_utils %}
{% block title %}Condition Alias{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
    <style>
        .selectable-card.selected .card-body {
            background-color: #efe;
        }
        .selectable-card .card-footer:hover .fa-plus-circle {
            color: blue !important;
        }
        .selectable-card .card-footer:hover .fa-minus-circle {
            color: red !important;
        }
        .selectable-card .card-footer:hover {
            background-color: #eef;
        }
        .btn.active:before {
            content: '\f00c';
            font-family: 'FontAwesome';
            margin-right: 8px;
        }
        .joiner {
            display: inline-block;
            text-align: center;
            width: 3rem;
        }
        .fa-minus-circle:after {
            font-family: 'Raleway',serif;
            content: 'Remove';
            margin-left: 6px;
            font-weight: 500;
            color: #844;
        }
        .fa-plus-circle:after {
            font-family: 'Raleway',serif;
            content: 'Add';
            margin-left: 6px;
            font-weight: 500;
            color: #448;
        }
    </style>
    <script>
        matches = {};

        function submit(next) {
            let keys = Object.keys(matches);
            keys.sort();

            let form = $("#alias-form");
            form.find(`[name="aliases"]`).val(keys.join(","));
            form.find(`[name="join_mode"]`).val($(`[name="multiple-mode"]:checked`).val() == "and" ? "A" : "O");
            if (next) {
                form.find(`[name="next"]`).val("next")
            }
            form.submit();
            return false;
        }

        function toggleMatch(result) {
            let adding = !matches[result.id];
            if (adding) {
                matches[result.id] = result;
            } else {
                delete matches[result.id];
            }
            let matchesDom = $("#condition-alias-matches");
            matchesDom.empty();

            let keys = Object.keys(matches);
            if (keys.length == 0) {
                $('<div/>', {class: 'no-value', text: 'No matches selected yet, review the search results below'}).appendTo(matchesDom);
            } else {
                keys.sort();
                for (let key of keys) {
                    let card = makeCard(matches[key]).appendTo(matchesDom);
                    if (key === result.id) {
                        card.collapse('show');
                    }
                }
            }

            updateResultCount();

            let cards = $(`[data-mondo="${result.id}"]`)
            let icon = cards.find('.toggle-icon');
            if (adding) {
                cards.removeClass('possible').addClass('selected');
                icon.removeClass('fa-plus-circle').addClass('fa-minus-circle');
            } else {
                cards.removeClass('selected').addClass('possible');
                icon.removeClass('fa-minus-circle').addClass('fa-plus-circle');
            }
        }

        function updateResultCount() {
            let keys = Object.keys(matches);

            let zeroHandler = $("#zero-handling");
            let multipleHandler = $("#multiple-handling");

            if (keys.length === 0) {
                zeroHandler.collapse('show');
            } else {
                zeroHandler.collapse('hide');
            }

            if (keys.length >= 2) {
                multipleHandler.collapse('show');
            } else {
                multipleHandler.collapse('hide');
            }
        }

        function makeCard(result) {
            let adding = !!matches[result.id];
            let icon = adding ? "minus" : "plus";
            let mode = adding ? "selected" : "possible";
            let htmlWrapper = $(`
                <div class="card selectable-card ${mode} w-100 mb-2" data-mondo="${result.id}">
                    <div class="card-header"><a href="${result.url}" class="external-link" target="_blank">${result.id}</a></div>
                    <div class="card-body">${result.highlight || result.label}</div>
                    <div class="card-footer" style="cursor:pointer"><i class="toggle-icon fas fa-${icon}-circle"></i></div>
                </div>
            `);
            let cardBody = htmlWrapper.find('.card-body');
            let cardFooter = htmlWrapper.find('.card-footer');
            cardBody.append($('<div>', {class:"text-secondary", text:result.definition || "This MONDO term has not been loaded locally"}));
            cardFooter.click(() => {
                toggleMatch(result);
            });
            return htmlWrapper;
        }

        function searchConditions() {
            let text = $('#condition-search-text').val();
            // TODO load URLS
            let url = '{% url "condition_search_api" %}';
            let resultsDom = $("#condition-search-results");
            resultsDom.LoadingOverlay('show');
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: {
                    "search_term": text
                },
                url: url,
                type: 'GET',
                error: (call, status, text) => {
                    resultsDom.LoadingOverlay('hide');
                    resultsDom.empty();
                    console.log(status);
                    console.log(text);
                    $('<div/>', {class:'no-value w-100 text-center', text:'Error Retrieving'}).appendTo(resultsDom);
                },
                success: async (results) => {
                    $("#search-result-for").text(text);
                    resultsDom.LoadingOverlay('hide');
                    resultsDom.empty();
                    if (results.length) {
                        for (let result of results) {
                            makeCard(result).appendTo(resultsDom);
                        }
                    } else {
                        $('<div/>', {class:'no-value w-100 text-center', text:'No Results'}).appendTo(resultsDom);
                    }
                }
            });
        }

        $(document).ready(() => {
            $("#condition-search-button").click(() => {
                searchConditions();
            });
            $("#condition-search-button").click(() => {
                searchConditions();
            });
            $('#alias-save').click(() => submit(false));
            $('#alias-save-next').click(() => submit(true));

            let matches = {{ matches | jsonify }};
            for (let match of matches) {
                toggleMatch(match);
            }
            updateResultCount();
            searchConditions();
        });
    </script>
{% endblock head %}
{% block content %}
    <div class="container">
        <a href="{% url 'condition_aliases' %}" class="hover-link"><i class="fas fa-angle-left"></i> Back to all aliases</a>
        {% page_help_embedded title='Condition Alias' %}
            <p>
            Use this page to assign MONDO term(s) to a combination of the source lab, gene symbol and condition text.
            </p>
            <p>
            Note that the gene symbol is automatically included in searches as many diseases have multiple versions distinguished between which gene is the cause.
            </p>
            <p>
            If the condition text actually relates to two or more conditions, you can search multiple times and add multiple terms.
            If doing that you will need to determine if the matches are all affecting the patient, or if it's just one of them but unsure as to which.
            </p>
        {% end_page_help_embedded %}
        <form id="alias-form" method="post">
            {% csrf_token %}
            <input type="hidden" name="aliases" />
            <input type="hidden" name="join_mode" />
            <input type="hidden" name="next" />


            <div class="card">
                <div class="card-header">Condition Alias ({{ condition_alias.id }})</div>
                <div class="card-body">
                    {% labelled label="Classification Records Affected" %}
                        <ul class="list-group">
                            {% for csm in classification_subset %}
                                <a class="list-group-item list-group-item-action" target="_blank" href="{% url 'view_classification' csm.classification_id %}">{{ csm.classification.friendly_label }}</a>
                            {% endfor %}
                            {% if extra_count %}
                            <li class="list-group-item">And <b>{{ extra_count }}</b> more</li>
                            {% endif %}
                        </ul>
                    {% endlabelled %}
                    {% labelled label="Current Status" %}<span class="dt-status"><span class="val-{{condition_alias.status}}">{{ condition_alias.get_status_display }}</span></span>{% endlabelled %}
                    {% labelled label="Lab" %}{{ condition_alias.lab.name }}{% endlabelled %}
                    {% labelled label="Gene Symbol" %}{{ condition_alias.source_gene_symbol }}{% endlabelled %}
                    {% labelled label="Text" %}<b>{{ condition_alias.source_text }}</b>{% endlabelled %}
                    {% if condition_alias.updated_by %}
                        {% labelled label="Last Updated by" %}
                            {% user condition_alias.updated_by show_avatar=True %}
                        {% endlabelled %}
                    {% endif %}
                    <hr/>
                    {% labelled label="Matches" %}
                        <div id="zero-handling" class="collapse">
                            <div id="zero-handling" class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" id="unmatchable" name="unmatchable" value="unmatchable"
                                            {% if condition_alias.status == 'U' %}checked="checked"{% endif %}>
                                    Tick if Unmatchable
                                </label>
                            </div>
                        </div>
                        <div id="multiple-handling" class="collapse">
                            <div class="btn-group btn-group-toggle my-3" data-toggle="buttons">
                                <label class="btn btn-outline-secondary {% if condition_alias.join_mode != "A" %}active{% endif %}">
                                    <input type="radio" name="multiple-mode" id="multiple-mode-or" value="or" autocomplete="off" {% if condition_alias.join_mode != "A" %}checked{% endif %}> Uncertain (or)
                                </label>
                                <label class="btn btn-outline-secondary {% if condition_alias.join_mode == "A" %}active{% endif %}">
                                    <input type="radio" name="multiple-mode" id="multiple-mode-and" value="and" autocomplete="off" {% if condition_alias.join_mode == "A" %}checked{% endif %}> Co-occuring (and)
                                </label>
                            </div>
                        </div>
                        <div id="condition-alias-matches">
                            <div class="no-value">No matches selected yet, review the search results below</div>
                        </div>
                    {% endlabelled %}
                </div>
                <div class="card-footer">
                    <div class="btn-toolbar" style="float:right">
                        <button id="alias-save" class="btn btn-primary">Save</button>
                        <button id="alias-save-next" class="btn btn-primary">Save & Next</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="mt-4">
            {% labelled label="Search MONDO Again Using" %}
                <div class="input-group">
                    <input class="form-control" type="text" id="condition-search-text" value="{{ condition_alias.source_text }} {{ condition_alias.source_gene_symbol }}" />
                    <span class="input-group-append"><button id="condition-search-button" class="btn btn-outline-primary" name="action">Search</button></span>
                </div>
            {% endlabelled %}
            <h4 class="w-100 text-center">Search Results for "<span id="search-result-for"></span>"</h4>
            <div id="condition-search-results" class="mt-4"></div>
        </div>
    </div>
{% endblock %}