{% load js_tags %}
{% load ui_utils %}
{% load classification_tags %}
{% for row in conflict_rows %}
    <div class="row mb-2" {% if row.exclude %}style="opacity:0.6"{% endif %}>
        <div class="col-7 text-right">
            {% if row.share_level != 'logged_in_users' %}
                <img src="/static/icons/share_level/{{ row.share_level }}.png" style="width:12px; height: 12px; margin-right: 4px; top: -2px; position: relative;"/>
            {% endif %}
            {{ row.lab }}
        </div>
        <div class="col-5">
            {% if conflict_type == "P" %}
                {% clinical_significance_inline row.classification %}
            {% elif conflict_type == "S" %}
                {% somatic_clinical_significance_inline row.clinical_significance row.amp_level %}
            {% else %}
                Unknown conflict type {{ conflict_type }}
            {% endif %}
        </div>
    </div>
{% endfor %}