{% extends menu_classifications_base %}
{% load static %}
{% load help_tags %}
{% load js_tags %}
{% load ui_utils %}

{% block title %}Variant Classification{% endblock %}
{% block jshead %}
{{ block.super }}
function allowNoSample() {
    clearAutocompleteChoice("#id_sample");
    $("#no-sample-link").hide();
    $("#no-sample-text").show();
    $("button#create-variant-classification").prop("disabled", false);
}

{% endblock %}

{% block jsdocumentready %}
var createClassificationButton = $("button#create-variant-classification");

function restrictSamples() {
{% if initially_require_sample %}
    createClassificationButton.prop("disabled", true);
    $("#no-sample-link").show();
{% endif %}
}

restrictSamples();

{% endblock %}

{% block submenu_page_content %}

    <h3>Create Classification Record</h3>

    {% include "messages/messages.html" %}

    <div class="chunk borderless">
    {% page_help user 'genes/unmatched_hgvs_help' 'Unmatched HGVS Help' %}
    </div>

    <form action="{% url 'create_classification' %}" class="classification-form" method="POST">
        {% csrf_token %}
        <input type='hidden' name="genome_build_name" value="{{ genome_build.pk }}" />
        <input type='hidden' name="evidence_json" value="{{ evidence_json }}" />
        <input type='hidden' name="refseq_transcript_accession" value="{{ refseq_transcript_accession }}" />
        <input type='hidden' name="ensembl_transcript_accession" value="{{ ensembl_transcript_accession }}" />
        <input type='hidden' name="sample_id" />

        <div class="card">
            <div class="card-body">
                {% labelled label="HGVS" %}{{ hgvs_string }}{% endlabelled %}
                {% labelled label="Transcript" %}
                    {{ ensembl_transcript_accession }}
                    {{ refseq_transcript_accession }}
                {% endlabelled %}
                {% labelled label="Genome build" %}{{ genome_build }}{% endlabelled %}
                {% labelled label="Sample" %}
                    {{ sample_autocomplete_form.sample }}
                    {{ sample_autocomplete_form.media }}
                    <div id='no-sample-link' class='hidden'>
                        <a href="javascript:allowNoSample()">My sample isn't here</a>
                    </div>
                    <div id='no-sample-text' class='hidden'>
                        <p>Please find or upload the sample if you have it, as it allows us to link classifications together, and auto-fill fields.
                        <p>Please remember to set the SampleID field in the classification form manually.
                    </div>
                {% endlabelled %}
                {% labelled label="For lab" %}
                    {% if lab %}{{ lab.name }}{% endif %}
                    {% if lab_error %}
                    <div class='error'>{{ lab_error }}<br/><a href="{% url 'view_user_settings' %}">Please review your default lab here.</a></div>
                    {% endif %}
                {% endlabelled %}
            </div>
            <div class="card-footer">
            {% if lab_error %}
                Please fix all errors before creating a classification.
            {% else %}
                <button id='create-variant-classification' class="btn btn-primary">Create Classification</button>
            {% endif %}
            </div>
        </div>
    </form>

{% endblock %}