{% extends "uicore/page/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load js_tags %}
{% load english_tags %}
{% load compress %}
{% load ui_help %}
{% load ui_utils %}
{% load ui_menu_bars %}
{% load ui_tabs_builder %}
{% load lab_tags %}
{% load classification_tags %}
{% block title %}Discordance Reports{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block content %}
    <div class="container">
        {% lab_picker dlab.lab_picker %}
    </div>
    <div class="container">
        {% page_help_embedded title="Outstanding Discordances" %}
            <p>Below is a list of all outstanding discordances where your lab is involved.</p>
             <p>If you have discordances you can filter based on which other labs are involved - which will also display any contact details that lab has provided for resolving discordances.</p>
        {% end_page_help_embedded %}

        <div data-toggle="ajax" href="{% url 'discordance_reports_active_detail' dlab.lab_picker.selection %}" data-id="active-discordances">
            <div class="loading-message">Loading Discordances</div>
        </div>
    </div>
{% endblock %}