{% extends "uicore/page/base.html" %}
{% load guardian_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% load js_tags %}
{% load classification_tags %}
{% load ui_tabs_builder %}
{% load ui_utils %}
{% load ui_help %}
{% load ui_menu_bars %}
{% load user_tags %}
{% block title %}Discordance Report{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
<script>
    function reopenWarning() {
        return window.confirm("This will re-open this Discordance, with the intent of having the involved labs re-discuss and come to a consensus. Are you sure you wish to re-open?");
    }
</script>
{% endblock %}
{% block content %}
    <div class="container">
        {% page_help_embedded title="Resolving Discordances" %}
            <h4>What is Discordance?</h4>
            <p>A discordance is reported when two or more classifications for the same allele fall into two or more of the following categories:
            <ul>
            <li>{% clinical_significance_inline "B" %}, {% clinical_significance_inline "LB" %}</li>
                <li>{% clinical_significance_inline "VUS" %}</li>
                <li>{% clinical_significance_inline "LP" %}, {% clinical_significance_inline "P" %}</li>
                </ul>
            For example, Benign and Likely Benign are considered concordant, whereas VUS and Likely Pathogenic are considered discordant.
            </p>

            <h4>Steps to Concordance</h4>
            <p>
                <b>Internal Review</b> - Perform an internal review of your lab's classification(s). If you determine that you need to change any of your data, please do so in your interpretation system and the changes will be reflected in
                {{ site_name }} when they sync next. If the review will take some time, you can raise an Internal Review flag to indicate that the review is taking place.
            </p>
            <p>
                <b>Discordance Discussion</b> - Compare your classification with those from other labs using the Show Diffs button.<br/>
            Review any outstanding suggestions against your lab's classification. Raise the suggestion flag on other classifications if you believe that evidence from other labs requires discussion.
            </p>
            <h4>Other Resolutions</h4>
            <p>
            A discordance report can also be closed when one of the following happen.
            </p>
            <p>
                <b>Withdrawn</b> - If a conflicting classification is withdrawn it will no longer be considered in the discordance calculation.
            </p>
            <p>
                <b>Continued Discordance</b> - This can be raised if the labs cannot agree on how to reach concordance. By selecting this option, the discordance report will be closed until new information is available.
            </p>
        {% end_page_help_embedded %}

         <div class="card">
            <div class="card-header">
                <h5>Discordance Report (<i class="{{ data.report.preview.icon }} preview-icon"></i> DR_{{ data.report.id }}) {% admin_link data.report %}</h5>
            </div>
             <div class="card-body">
                 {% labelled label="Resolution" %}
                    {% if data.report.resolution %}
                        {% if data.report.resolution == "C" %}
                            <span class="text-success font-weight-bold">{{ data.report.get_resolution_display }}</span>
                        {% else %}
                            <span class="text-danger font-weight-bold">{{ data.report.get_resolution_display }}</span>
                        {% endif %}
                    {% elif data.is_pending_concordance %}
                        <span class="overlap-pending_concordance">Pending Concordance</span>
                    {% else %}
                        <span class="no-value">Active Discordance</span>
                    {% endif %}
                    {% if data.is_pending_concordance and not data.report.resolution %}
                         <div>
                         <div class="flag flag-classification_pending_changes mr-1" style="position:relative; top: 5px"></div>
                         There are pending changes to classifications within this discordance.<br/>Once updated data has been submitted, this report will automatically close.
                         </div>
                    {% endif %}
                     {% if data.latest_for_allele_if_not_this %}
                         <p class="text-info">For the latest discordance report for this allele <a href="{{ data.latest_for_allele_if_not_this.get_absolute_url }}" class="hover-link">click here</a>.</p>
                    {% endif %}
                 {% endlabelled %}
                 {% labelled label="Allele" %}<a class="hover-link" href="{% url 'view_allele' data.allele.id %}">{{ data.allele.clingen_allele }}</a>{% endlabelled %}
                {% labelled label="c.HGVS "|add:data.genome_build.name %}
                    {% for c_hgvs in data.c_hgvses %}<div>{% c_hgvs c_hgvs %}</div>{% endfor %}
                {% endlabelled %}
                {% if data.clinical_context.name != "default" %}
                {% labelled label="Variant Interpreted in Context of" %}{{ data.clinical_context }}{% endlabelled %}
                {% endif %}
                {% labelled label="Opened At" value_css="timestamp" %}{% timestamp data.report.report_started_date %}{% endlabelled %}
                {% labelled label="Closed At" value_css="timestamp" %}
                    {% if data.report.report_completed_date %}{% timestamp data.report.report_completed_date %}
                    {% else %}<span class="no-value">-</span>
                    {% endif %}
                {% endlabelled %}
                {% if data.report.report_closed_by %}
                    {% labelled label="Closed by" %}
                        <span class="username">{% user data.report.report_closed_by size="tiny" show_group=True %}</span>
                    {% endlabelled %}
                {% endif %}
                {% labelled label="Initial Trigger for Discordance" %}{{ data.report.cause_text | default:"Unknown" }}{% endlabelled %}
                {% if data.report.resolved_text %}
                    {% labelled label="Final Trigger to end Discordance" %}{{ data.report.resolved_text }}{% endlabelled %}
                {% endif %}
             </div>

            <div class="mx-4">
                {% if data.is_closed %}
                    <p class="text-info">Data is shown as it was at the time of the discordance being resolved.</p>
                {% endif %}
                {% url 'discordance_export' data.report.id as download_link %}
                {% url 'activity_discordance' discordance_report_id=report.id as history_link %}

                {% classification_groups data.effective_classifications group_utils=data.group_utils title="Classifications Considered" download_link=download_link history_link=history_link context_object=data.report default_sort='clinical_significance' %}

                {% for nlc in data.no_longer_considered %}
                    {% classification_groups nlc.classifications group_utils=data.group_utils title=nlc.reason context_object=report %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h4 style="margin-bottom:0">Triage</h4>
        {% with triages=data.triage_embeds %}
            {% if triages %}
                <div class="row equal">
                {% for triage in triages %}
                    <div class="col-sm-12 col-md-6 mt-3">
                        {% embed triage %}
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <div class="no-value">This Discordance Report was resolved before triage functionality</div>
            {% endif %}
        {% endwith %}

        <h4>Discussion</h4>
        {% if data.review %}
            <div data-toggle="ajax" href="{% url 'review_detail' data.review.pk %}?show_source_object=false"></div>
        {% else %}
            <div class="no-value">This Discordance Report has not yet been discussed</div>
        {% endif %}
        {% if data.is_user_editable and data.report.resolution is empty %}
            {% if data.is_pending_concordance %}<p class="text-info">There are outstanding pending changes for this discordance. When labs re-submit with the agreed changes the discordance should be resolved. There is likely no need to action this.</p>{% endif %}
            <a class="mt-2 btn btn-primary" href="{% url 'discordance_report_review' discordance_report_id=data.report.pk %}">
                {% if data.review %}
                    {% if data.review.post_review_data.outcome == "postpone" %}Continue{% else %}Edit{% endif %}
                {% else %}
                    Start
                {% endif %}
                Discordance Discussion
            </a>
        {% endif %}

        {% if data.is_user_editable and data.provide_reopen %}
            <h4>Actions</h4>
            <div class="btn-toolbar">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="reopen" />
                    <button class="btn btn-warning" onclick="return reopenWarning()">Re-open Discordance</button>
                </form>
            </div>
        {% endif %}


        <h4>History of this Clinical Grouping's Discordance Reports</h4>
        {% if data.has_history %}
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:100px" class="text-center">ID</th>
                        <th class="text-left">Discordance Detected</th>
                        <th class="text-left">c.HGVS ({{ data.genome_build.name }})</th>
                        <th class="text-center" style="width:50%">Lab / Clinical Significances</th>
                    </tr>
                </thead>
                <tbody>
                {% for summary in data.report_history_summary %}
                    {% discordance_report_row summary filter=False selected=data.report %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="no-value">This is the first discordance recorded for this Clinical Grouping.</div>
        {% endif %}

{% endblock content %}
