{% extends "uicore/page/base_external.html" %}
{% load classification_tags %}
{% block head %}
    <style>
        #key-table_filter {
            font-size: 14px;
        }
        #key-table_info {
            font-size: 16px;
        }
        #footer {
            display: none;
        }
        table {
            font-size: 14px;
        }
        td.description, td.category {
            font-size: 12px;
        }
        td {
            overflow-wrap: break-word;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        td {
            padding: 2px 6px 2px 6px;
        }
        td.key {
            max-width: 220px;
        }
        td.values .value-type {
            font-style: italic;
            color: #666666;
            max-width: 200px;
        }
        .status {
            font-weight: bold;
        }
        .option-key {
            font-family: monospace;
        }
        .option-label {
            color: #666666;
        }
        td.position {
            color: #666666;
        }
        #share-level-filter {
            position: relative;
        }
        #share-level-filter label {
            margin-left: 20px;
            font-size: smaller;
        }
        ul#max-share-level-links {
            margin-left: 20px;
            list-style-type: none;
            display: inline-block;
            position: relative;
            top: 8px;
        }
        ul#max-share-level-links li {
            float: left;
        }

        ul#max-share-level-links:first-of-type li:not(:last-of-type)::after {
            color: #bbbbbb;
            content: "|";
            margin-left: 10px;
        }

        ul#max-share-level-links li:not(:first-of-type) {
            padding: 0 5px 0 5px;
        }
        .dtsp-title {
            font-size: 16px;
        }
        button.dt-button {
            font-size: 12px !important;
        }

        /* no header bar so set top to very top of page */
        .sticky-header th {
            top: 0 !important;
        }

    </style>
    <script>
        $(document).ready(() => {
            $('#key-table').dataTable({
                fixedHeader: true,
                dom: 'frBtip',
                paginate: false,
                order: [[0, 'asc']],
                buttons: [
                    // Uncomment the below line to put filters back in
                    // 'searchPanes'
                ],
                language: {
                    searchPanes: {
                        collapse: 'Filter'
                    }
                },
                columnDefs: [
                    {searchPanes: {show: true}, targets: ['category', 'status', 'max-share-level']},
                    {searchPanes: {show: false}, targets: '_all'},
                ]
            });
        });
    </script>
{% endblock head %}

{% block content %}
    <div class="container-table">
        <h3>Evidence Keys</h3>
        <table id="key-table" class="evidencekey-table sticky-header table">
            <thead>
            <tr>
                <th class="position">Position
                <th class="key">Key/Label
                <th class="category">Evidence Category
                <th class="status">Status
                <th class="max-share-level">Max Share Level
                <th class="values">Values
                <th class="description">Description
            </tr>
            </thead>
            <tbody>
            {% for ekey in keys %}
                {% if not ekey.hide %}
                    <tr>
                        <td class="position">{{ forloop.counter }}
                        <td class="key"><span class="key text-secondary text-monospace">{{ ekey.key }}</span><br/>{{ ekey.pretty_label }}
                        {% if ekey.sub_label %}<br/><span class="text-info">({{ ekey.sub_label }})</span>{% endif %}
                        <td class="category">{{ ekey.get_evidence_category_display }}
                        <td class="status align-center">{% if ekey.mandatory %}Mandatory{% endif %} {% if ekey.hide %}Hidden{% endif %}
                        <td class="max-share-level">{{ ekey.max_share_level_enum.label }}
                        <td class="values">
                        <span class="value-type">{{ ekey.get_value_type_display }}</span>
                        {% if ekey.allow_custom_values %}<br/><i>Allows custom values</i><br/>{% endif %}
                        {% if ekey.virtual_options %}<br/>
                        {% for option in ekey.virtual_options %}
                            <span class="option-key">{{ option.key }}</span> : <span class="option-label">{{ option | option_label }}</span><br/>
                        {% endfor %}
                        {% endif %}
                        <td class="description">{% if ekey.description %}{{ ekey.description | safe }}{% endif %}{% if ekey.see %}<br><a href="{{ekey.see}}">{{ ekey.see }}{% endif %}</a>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
{% endblock %}