{% extends "uicore/page/base.html" %}
{% load classification_tags %}
{% load ui_menu_bars %}
{% load ui_help %}
{% load ui_utils %}
{% load ui_tabs_builder %}
{% block title %}HGVS Issues{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
<style>
    .allele-table .dt-id {
        width: 100px !important;
    }
    .allele-table .dt-clingen_allele__id {
        width: 200px !important;
    }
    .allele-table .dt-variant_37, .allele-table .dt-variant_38 {
        word-break: break-all;
        width: 15%;
    }
</style>
<script>
    function alleleIdRender(data, type, row) {
        return $('<a>', {text:data, href:Urls.view_allele(data)}).prop('outerHTML');
    }
    function clingenIdRenderer(data, type, row) {
        if (data) {
            return `CA${_.padStart('0', 6, String(data))}`;
        } else {
            return $('<span>', {class:'text-danger font-weight-bold', text:'MISSING'}).prop('outerHTML');
        }
    }

    function alleleMissingRepFilter(data) {
        data.flag = 'missing_rep';
    }
    function alleleMissingClinGenFilter(data) {
        data.flag = 'missing_clingen';
    }
    function alleleChgvs37not38(data) {
        data.flag = 'chgvs_37_not_38'
    }

    function classificationMatchingVariant(data) {
        data.flags = JSON.stringify(['classification_matching_variant']);
    }
    function classificationMatchingVariantWarning(data) {
        data.flags = JSON.stringify(['classification_matching_variant_warning']);
    }
    function classificationMatchingVariantTranscript(data) {
        data.flags = JSON.stringify(['classification_transcript_version_change']);
    }

    $(document).ready(() => {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (event) {
            Flags.instance.init({userId: '{{user.id}}', filter: '.active', forceRender: true});
        });
        $('.dataTable').on('draw.dt', () => {
            Flags.instance.init({userId: '{{user.id}}', filter: '.active', forceRender: true});
        });
    });
</script>
{% endblock %}
{% block content %}
    <div class="container-table">
        <h4>HGVS Issues</h4>
        <p class="text-info">Note that only Alleles with 1 or more classifications attached will be considered.</p>

        {% labelled label="All HGVS Issues" %}
        <div class="link-toolbar">
            <a class="download-link type-csv" href="{% url 'hgvs_issues_download' %}">CSV</a>
            <a class="download-link type-json" href="{% url 'hgvs_issues_download' %}?format=json">JSON</a>
        </div>
        {% endlabelled %}
        {% labelled label="Liftover Report" %}
            <div class="link-toolbar">
                <a class="download-link type-csv" href="{% url 'liftover_report' %}">CSV</a>
                <a class="download-link type-json" href="{% url 'liftover_report' %}?format=json">JSON</a>
            </div>
        {% endlabelled %}

        <div class="mt-4">
            {% ui_register_tab_embedded tab_set="hgvs_issues" label="Missing 37/38" badge=counts.allele.missing_rep %}
                <table id="allele-missing-rep" class="sticky-header allele-table" data-datatable-url="{% url 'allele_datatable' %}" data-datatable-data="alleleMissingRepFilter"></table>
            {% end_ui_register_tab_embedded %}

            {% ui_register_tab_embedded tab_set="hgvs_issues" label="Missing Clingen" badge=counts.allele.missing_clingen %}
                <table id="allele-missing-clingen" class="sticky-header allele-table" data-datatable-url="{% url 'allele_datatable' %}" data-datatable-data="alleleMissingClinGenFilter"></table>
            {% end_ui_register_tab_embedded %}

            {% ui_register_tab_embedded tab_set="hgvs_issues" label="37 != 38" badge=counts.allele.chgvs_37_not_38 %}
                 <table id="allele-chgvs-37not38" class="sticky-header allele-table" data-datatable-url="{% url 'allele_datatable' %}" data-datatable-data="alleleChgvs37not38"></table>
            {% end_ui_register_tab_embedded %}

            {% ui_register_tab_embedded tab_set="hgvs_issues" label="Matching Variant" badge=counts.classifications.matching_variant %}
                <table id="classification-matching-variant" class="sticky-header classification-table" data-datatable-url="{% url 'classification_datatables' %}" data-datatable-data="classificationMatchingVariant"></table>
            {% end_ui_register_tab_embedded %}

            {% ui_register_tab_embedded tab_set="hgvs_issues" label="Variant Warning" badge=counts.classifications.matching_variant_warning %}
                <table id="classification-matching-variant-warning" class="sticky-header classification-table" data-datatable-url="{% url 'classification_datatables' %}" data-datatable-data="classificationMatchingVariantWarning"></table>
            {% end_ui_register_tab_embedded %}

            {% ui_register_tab_embedded tab_set="hgvs_issues" label="Transcript Version" badge=counts.classifications.matching_variant_transcript %}
                <table id="classification-matching-variant-transcript" class="sticky-header classification-table" data-datatable-url="{% url 'classification_datatables' %}" data-datatable-data="classificationMatchingVariantTranscript"></table>
            {% end_ui_register_tab_embedded %}

            {% ui_render_tabs tab_set="hgvs_issues" %}
        </div>
    </div>
{% endblock %}