{% load ui_utils %}
{% load js_tags %}
{% load classification_tags %}
<div>

    {% if render_mode == 'embedded' %}
        <h4>Imported Allele Info ({{ allele_info.pk }})</h4>
    {% endif %}

    {% comment %}
    {% for diff_text in c_hgvses %}
        {% labelled label=diff_text.identifier value_css="text-monospace" %}{{ diff_text.html }}{% endlabelled %}
    {% endfor %}
    {% endcomment %}
    {% if allele_info.imported_g_hgvs %}
        {% labelled label=g_hgvs_label value_css="text-monospace"  %}{{ allele_info.imported_g_hgvs }}{% endlabelled %}
    {% else %}
        {% labelled label=c_hgvses.0.identifier value_css="text-monospace" %}{{ c_hgvses.0.html }}{% endlabelled %}
    {% endif %}
    {% if normalized_diff %}
        {% labelled label="Normalised Diffs" label_css="text-muted" value_css="text-muted" %}<i class="fa-solid fa-arrows-up-down"></i> {{ normalized_diff|separator:', ' }}{% endlabelled %}
    {% endif %}
    {% labelled label=c_hgvses.1.identifier value_css="text-monospace" %}{{ c_hgvses.1.html }}{% endlabelled %}
    {% if liftover_diff %}
        {% labelled label="Liftover Diffs" label_css="text-muted" value_css="text-muted" %}<i class="fa-solid fa-arrows-up-down"></i> {{ liftover_diff|separator:', ' }}{% endlabelled %}
    {% endif %}
    {% labelled label=c_hgvses.2.identifier value_css="text-monospace" %}{{ c_hgvses.2.html }}{% endlabelled %}
    {% labelled label=variant_coordinate_label value_css="text-monospace" %}{{ allele_info.variant_coordinate }}{% endlabelled %}

    <hr style="border-top:1px dashed lightgrey"/>
    {% if allele_info.status != "M" %}
        {% labelled label="Matching Status" %}{{ allele_info.get_status_display }}{% endlabelled %}
    {% endif %}
    {% labelled label="Resolution Differences" %}
        {% if validation_tags %}
            {% for tag in validation_tags %}
                <div><nomin>
                    {% if tag.severity == 'E' %}
                    {{ 'W' | severity_icon:'Requires Confirmation' }}
                    {% else %}
                    {{ 'I' | severity_icon:'Variant Matching Info' }}
                    {% endif %}
                    <label>{{ tag.category_pretty }}</label> {{ tag.field_pretty }}
                </nomin></div>
            {% endfor %}
        {% else %}<span class="no-value">None</span>{% endif %}
    {% endlabelled %}
    {% labelled label="Can Include in Exports" %}{{ allele_info.latest_validation.include | boolean }} {% admin_link allele_info %}{% endlabelled %}
    {% if allele_info.latest_validation.confirmed %}
        {% labelled label="Manually Confirmed" %}{{ True | boolean }} by {{ allele_info.latest_validation.confirmed_by }}{% endlabelled %}
    {% else %}
        {% labelled label="Manually Confirmed" %}{{ False | boolean }}{% endlabelled %}
    {% endif %}
    {% if allele_info.latest_validation.confirmed or allele_info.latest_validation.confirmed_by_note %}
        {% labelled label="Confirmed Note" %}{{ allele_info.latest_validation.confirmed_by_note | multi_line_text }}{% endlabelled %}
    {% endif %}

    {% if allele_info.message %}
        {% labelled label="Note" %}{{ allele_info.message }}{% endlabelled %}
    {% endif %}

    <hr style="border-top:1px dashed lightgrey"/>
    <div id="classifications-allele-{{ allele_info.pk }}">
        {% if not on_allele_page %}
            {% labelled label="Allele" %}
                {% if allele_info.allele %}
                    {% allele allele_info.allele %}
                {% else %}<span class="no-value">-</span>{% endif %}
            {% endlabelled %}
        {% endif %}
        {% labelled label="Gene Symbol(s)" %}
            {% for gene_symbol in allele_info.gene_symbols %}
                <div><a class="hover-link" href="{% url 'view_gene_symbol' gene_symbol.pk %}">{{ gene_symbol }}</a></div>
                {% empty %}<span class="no-value">-</span>
            {% endfor %}
        {% endlabelled %}
        {% labelled label="Transcript(s)" %}
            {% for transcript in allele_info.transcripts %}
                <div><a class="hover-link" href="{{ transcript.get_absolute_url }}">{{ transcript }}</a></div>
                {% empty %}<span class="no-value">-</span>
            {% endfor %}
        {% endlabelled %}
        {% if not on_allele_page %}
            {% labelled label="Classifications" %}
                {% for classification in classifications %}
                    <div>
                    {% classification_quick classification mode="compact" %}
                    </div>
                    {% empty %}<span class="no-value">-</span>
                {% endfor %}
            {% endlabelled %}
        {% endif %}
    </div>
</div>
<script>
    Flags.instance.init({userId: '{{user.id}}'});
</script>