{% load ui_utils %}
{% load js_tags %}
<div>
    {% comment %}
    {% for diff_text in c_hgvses %}
        {% labelled label=diff_text.identifier value_css="text-monospace" %}{{ diff_text.html }}{% endlabelled %}
    {% endfor %}
    {% endcomment %}
    {% labelled label=c_hgvses.0.identifier value_css="text-monospace" %}{{ c_hgvses.0.html }}{% endlabelled %}
    {% if normalized_diff %}
        {% labelled label="Normalised Diffs" value_css="text-muted" %}<i class="fa-solid fa-arrows-up-down"></i> {{ normalized_diff|separator:', ' }}{% endlabelled %}
    {% endif %}
    {% labelled label=c_hgvses.1.identifier value_css="text-monospace" %}{{ c_hgvses.1.html }}{% endlabelled %}
    {% if liftover_diff %}
        {% labelled label="Liftover Diffs" value_css="text-muted" %}<i class="fa-solid fa-arrows-up-down"></i> {{ liftover_diff|separator:', ' }}{% endlabelled %}
    {% endif %}
    {% labelled label=c_hgvses.2.identifier value_css="text-monospace" %}{{ c_hgvses.2.html }}{% endlabelled %}
    <hr>
    {% labelled label="Validation Tags" %}
        {% if validation_tags %}
            {% for tag in validation_tags %}
                <div><nomin>
                    {% if tag.severity == 'E' %}<i class="text-danger fa-brands fa-searchengin" title="Variant Matching Error"></i>
                    {% elif tag.severity == 'W' %}<i class="text-warning fa-brands fa-searchengin" title="Variant Matching Warning"></i>
                    {% else %}{{ tag.severity }}
                    {% endif %}
                    <label>{{ tag.category_pretty }}</label> {{ tag.field_pretty }}
                </nomin></div>
            {% endfor %}
        {% else %}No Validation Issues{% endif %}
    {% endlabelled %}
    {% labelled label="Include" %}{{ allele_info.latest_validation.include | boolean }} {% admin_link allele_info.latest_validation %}{% endlabelled %}
    {% if allele_info.latest_validation.confirmed %}
        {% labelled label="Confirmed By" %}{{ allele_info.latest_validation.confirmed_by }}{% endlabelled %}
        {% labelled label="Confirmed Note" %}{{ allele_info.latest_validation.confirmed_by_note | multi_line_text }}{% endlabelled %}
    {% endif %}
    <hr style="border-top:1px dashed lightgrey"/>
    {% labelled label=variant_coordinate_label value_css="text-monospace" %}{{ allele_info.variant_coordinate }}{% endlabelled %}
    {% if allele_info.message %}
        {% labelled label="Note" %}{{ allele_info.message }}{% endlabelled %}
    {% endif %}
</div>