{% load ui_utils %}
{% load js_tags %}
{% load classification_tags %}
<div>
    {% comment %}
    {% for diff_text in c_hgvses %}
        {% labelled label=diff_text.identifier value_css="text-monospace" %}{{ diff_text.html }}{% endlabelled %}
    {% endfor %}
    {% endcomment %}
    {% if allele_info.imported_g_hgvs %}
        {% labelled label="Imported g.HGVS" value_css="text-monospace"  %}{{ allele_info.imported_g_hgvs }}{% endlabelled %}
    {% endif %}
    {% labelled label=c_hgvses.0.identifier value_css="text-monospace" %}{{ c_hgvses.0.html }}{% endlabelled %}
    {% if normalized_diff %}
        {% labelled label="Normalised Diffs" value_css="text-muted" %}<i class="fa-solid fa-arrows-up-down"></i> {{ normalized_diff|separator:', ' }}{% endlabelled %}
    {% endif %}
    {% labelled label=c_hgvses.1.identifier value_css="text-monospace" %}{{ c_hgvses.1.html }}{% endlabelled %}
    {% if liftover_diff %}
        {% labelled label="Liftover Diffs" value_css="text-muted" %}<i class="fa-solid fa-arrows-up-down"></i> {{ liftover_diff|separator:', ' }}{% endlabelled %}
    {% endif %}
    {% labelled label=c_hgvses.2.identifier value_css="text-monospace" %}{{ c_hgvses.2.html }}{% endlabelled %}
    {% labelled label=variant_coordinate_label value_css="text-monospace" %}{{ allele_info.variant_coordinate }}{% endlabelled %}

    <hr>
    {% labelled label="Validation Tags" %}
        {% if validation_tags %}
            {% for tag in validation_tags %}
                <div><nomin>
                    {% if tag.severity == 'E' %}<i class="text-danger fa-brands fa-searchengin" title="Variant Matching Error"></i>
                    {% elif tag.severity == 'W' %}<i class="text-warning fa-brands fa-searchengin" title="Variant Matching Warning"></i>
                    {% else %}{{ tag.severity }}
                    {% endif %}
                    <label>{{ tag.category_pretty }}</label> {{ tag.field_pretty }}
                </nomin></div>
            {% endfor %}
        {% else %}No Validation Issues{% endif %}
    {% endlabelled %}
    {% labelled label="Include" %}{{ allele_info.latest_validation.include | boolean }} {% admin_link allele_info %}{% endlabelled %}
    {% if allele_info.latest_validation.confirmed %}
        {% labelled label="Confirmed By" %}{{ allele_info.latest_validation.confirmed_by }}{% endlabelled %}
        {% labelled label="Confirmed Note" %}{{ allele_info.latest_validation.confirmed_by_note | multi_line_text }}{% endlabelled %}
    {% endif %}
    {% if allele_info.message %}
        {% labelled label="Note" %}{{ allele_info.message }}{% endlabelled %}
    {% endif %}

    <hr style="border-top:1px dashed lightgrey"/>
    <div id="classifications-allele-{{ allele_info.pk }}">
        {% if not on_allele_page %}
            {% labelled label="Allele" %}
                {% if allele_info.allele %}
                    <a class="hover-link" href="{{ allele_info.allele.get_absolute_url }}">{{ allele_info.allele }}</a>
                    <div class="flags d-inline-block" style="margin-left:12px" data-flags="{{ allele_info.allele.flag_collection_id }}">...</div>
                {% else %}<span class="no-value">-</span>{% endif %}
            {% endlabelled %}
        {% endif %}
        {% labelled label="Gene Symbol(s)" %}
            {% for gene_symbol in allele_info.gene_symbols %}
                <div><a class="hover-link" href="{% url 'view_gene_symbol' gene_symbol.pk %}">{{ gene_symbol }}</a></div>
            {% endfor %}
        {% endlabelled %}
        {% labelled label="Classifications" %}
            {% for classification in allele_info.classification_set.all %}
                <div>
                {% classification_quick classification %}
                    {% if not on_allele_page %}
                        <div class="flags d-inline-block" style="margin-left:12px" data-flags="{{ classification.flag_collection_id }}">...</div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endlabelled %}
    </div>
</div>
<script>
    Flags.instance.init({userId: '{{user.id}}'});
</script>