{% extends "uicore/page/base.html" %}
{% load classification_tags %}
{% load ui_menu_bars %}
{% load ui_help %}
{% load ui_utils %}
{% load ui_tabs_builder %}
{% block title %}Allele Import Info{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
{% endblock %}
{% block content %}
    <style>
        .dt-imported_c_hgvs, .dt-grch37__c_hgvs, .dt-grch38__c_hgvs {
            width: 25%;
        }
    </style>
    <script>
        function datatableFilter(data) {
            $('#imported-allele-info-datatables-filter .form-check-input').each((index, element) => {
                let $element = $(element);
                data[$element.attr('id')] = $element.is(':checked');
            });
        }
        function applyFilters() {
            $('#imported-allele-info-datatables').DataTable().ajax.reload();
        }
    </script>
    <div class="container-table">
        <h4>Allele Import Info</h4>
        <table id="imported-allele-info-datatables"
               data-datatable-url="{% url 'imported_allele_info_datatables' %}"
               data-datatable-data='datatableFilter'
               class="sticky-header"
        ></table>
        <div data-toolbar="#imported-allele-info-datatables">
            <div id="imported-allele-info-datatables-filter" class="float-right mr-4" style="position:relative;top:6px">
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="transcript_version_change" onclick="applyFilters()"/>
                    <label for="transcript_version_change">Transcript Ver Change</label>
                </div>
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="gene_symbol_change" onclick="applyFilters()"/>
                    <label for="gene_symbol_change">Gene Symbol Change</label>
                </div>
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="c_nomen_change" onclick="applyFilters()"/>
                    <label for="c_nomen_change">c.nomen Change</label>
                </div>
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="exclude" onclick="applyFilters()"/>
                    <label for="exclude">Excluded</label>
                </div>
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="errors_mode" onclick="applyFilters()"/>
                    <label for="errors_mode">Failed</label>
                </div>
            </div>
        </div>

    </div>
{% endblock %}