{% extends "uicore/page/base.html" %}
{% load classification_tags %}
{% load ui_menu_bars %}
{% load ui_help %}
{% load ui_utils %}
{% load ui_tabs_builder %}
{% block title %}Allele Import Info{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
{% endblock %}
{% block content %}
    <style>
        .dt-imported_c_hgvs, .dt-grch37__c_hgvs, .dt-grch38__c_hgvs {
            width: 25%;
        }
    </style>
    <script>
        function datatableFilter(data) {
            $('#imported-allele-info-datatables-filter .form-check-input').each((index, element) => {
                let $element = $(element);
                data[$element.attr('id')] = $element.is(':checked');
            });
        }
        function applyFilters() {
            $('#imported-allele-info-datatables').DataTable().ajax.reload();
        }
    </script>
    <div class="container-table">
        <h4>Allele Import Info</h4>
        <a class="download-link" href="{% url 'imported_allele_info_download' %}">Download All</a><br/>
        <a class="hover-link" href="{% url 'hgvs_issues' %}">View Legacy HGVS Issues page here</a>
        <table id="imported-allele-info-datatables"
               data-datatable-url="{% url 'imported_allele_info_datatables' %}"
               data-datatable-data='datatableFilter'
               class="sticky-header"
        ></table>
        <div data-toolbar="#imported-allele-info-datatables">
            <div id="imported-allele-info-datatables-filter" style="position:relative;top:6px">
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="transcript_type_not_supported" onclick="applyFilters()"/>
                    <label for="transcript_type_not_supported" title="Only show records where the imported transcript type is not supported">Transcript Type Not Supported</label>
                </div>
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="transcript_version_change" onclick="applyFilters()"/>
                    <label for="transcript_version_change" title="Only show records where imported/normal/liftover differ by transcript version">Transcript Ver Change</label>
                </div>
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="gene_symbol_change" onclick="applyFilters()"/>
                    <label for="gene_symbol_change" title="Only show records where imported/normal/liftover differ by gene symbol">Gene Symbol Change</label>
                </div>
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="c_nomen_change" onclick="applyFilters()"/>
                    <label for="c_nomen_change" title="Only show records where imported/normal/liftover differ by c.nomen">c.nomen Change</label>
                </div>
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="missing_build" onclick="applyFilters()"/>
                    <label for="missing_build" title="Only show records where either a 37 or a 38 build is missing (but not both)">Missing 1 Build</label>
                </div>
                <br/>
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="confirmed" onclick="applyFilters()"/>
                    <label for="confirmed" title="Only show records which an admin has confirmed">Confirmed</label>
                </div>
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="exclude" onclick="applyFilters()"/>
                    <label for="exclude" title="Only show records that will be excluded from export">Excluded</label>
                </div>
                <br/>
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="in_progress" onclick="applyFilters()"/>
                    <label for="in_progress" title="Only show records that claim they're still being resolved">In Progress</label>
                </div>
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" id="errors_mode" onclick="applyFilters()"/>
                    <label for="errors_mode" title="Only show records that failed to resolve to an allele">Failed</label>
                </div>
            </div>
        </div>

    </div>
{% endblock %}