{% load classification_tags %}
{% load english_tags %}
{% load ui_utils %}
{% load ui_tabs_builder %}

{% load js_tags %}
{% load static %}

<script type="text/javascript" src="{% static 'js/lib/plotly-latest.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plotly_helper.js' %}"></script>

<script>

    var PATHOGENIC_COLORS = ['#dddddd', // VUS Total
                            '#dddddd', // VUS
                            '#dddddd', // VUS C
                            '#dddddd', // VUS B
                            '#dddddd', // VUS A
                            '#7777ff', // Benign
                            '#aaaaff', // Likely benign
                            '#ffaaaa', // Likely pathogenic
                            '#ff7777', // pathogenic
                            ];

    function plotGeneClinSigCount(selector, title, width, height) {
        {% if vus_present %}
        let gene_clinsig_json = {{ gene_vus_count | jsonify }};
        for (var i=0 ; i < gene_clinsig_json.length ; ++i) {
                gene_clinsig_json[i]["marker"] = {color : PATHOGENIC_COLORS[i]}}
        let layout = {
            title: "Germline Classifications per Gene",
            width: 1200,
            height: 600,
            barmode: 'stack',
            updatemenus: [{
                buttons: [
                    {
                        method: 'restyle',
                        label: 'Show All Classifications',
                        args: [{'visible': [true, true, true, true],
                                'marker.color': ['#7777ff', '#aaaaff', '#ffaaaa', '#ff7777']},
                                [5, 6, 7, 8]],
                        args2: [{'visible': ['legendonly', 'legendonly', 'legendonly', 'legendonly'],
                                'marker.color': ['#7777ff', '#aaaaff', '#ffaaaa', '#ff7777']},
                                [5, 6, 7, 8]]
                    },
                    {
                        method: 'restyle',
                        label: 'Show VUS Sub-Classes',
                        args: [{'visible': [false, true, true, true, true],
                                'marker.color': ['#dddddd', '#dddddd', '#e5e5ff', '#dddddd', '#eecccc']},
                                [0, 1, 2, 3, 4]],
                        args2: [{'visible': [true, false, false, false, false],
                                'marker.color': ['#dddddd', '#dddddd', '#e5e5ff', '#dddddd', '#eecccc']},
                                [0, 1, 2, 3, 4]]
                    }
                ],
                direction: 'left',
                showactive: 'true',
                type: 'buttons',
                active: -1,
                x: 0.6,
                y: -0.1
            }]
        }
        Plotly.newPlot(selector, gene_clinsig_json, layout)
        {% endif %}
    }


    function plotUniqueVUSCount(selector, title, width, height) {
        {% if vus_present %}
            let unique_vus_json = {{ unique_vus_count | jsonify }};
            unique_vus_json[0]['marker'] = {"color": '#dddddd'}
            let layout = {
                title: "Unique VUS per Gene",
                width: 1200,
                height: 600}
            Plotly.newPlot(selector, unique_vus_json, layout)
        {% endif %}
    }

    $(document).ready(() => {
        plotGeneClinSigCount("vus-per-gene", "VUS per Genes");
        plotUniqueVUSCount("unique-vus-per-gene", "Unique VUS per Gene");
    });
</script>

<div class="my-4">

    <p>{{ gene_vus_count | jsonify }}</p>

    <div class="row">
        <div id='vus-per-gene'></div>
    </div>

    <a href="{% url 'my_lab_download' lab_picker_data.selection %}" class="download-link" download>Download Classification per Gene Data</a>

    <div class="row">
        <div id="unique-vus-per-gene"></div>
    </div>

    <a href="{% url 'my_lab_download' lab_picker_data.selection %}?allele_level=true" class="download-link" download>Download Unique VUS per Gene Data</a>

</div>