{% extends "uicore/page/base.html" %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load ui_help %}
{% load lab_tags %}
{% load js_tags %}
{% load static %}
{% block title %}My Lab{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
    <style>
        #classify-container label, #gene-form-container label, #user-form-container label, #lab-form-container label {
            display: none;
        }
        #classify-container button {
            margin-left: 12px;
        }
    </style>

{% endblock head %}
{% block content %}
    <div class="container">
        <h3>My Lab Statistics</h3>
        {% page_help_embedded title="My Lab Stats" %}
            This page contains graphs that show the top 10 genes with the most VUS for both total classifications and unique alleles.
            By default the graphs display the top 10 genes, however, all genes with the same number of VUS as the 10th position gene will also be displayed.
            Only germline classifications are currently displayed in these graphs.
            <br/>
            <br/>
            The buttons below the total classifications graph allow you display classifications of all clinical significances for a gene and display VUS sub-classifications (VUS A, VUS B, VUS C).
            <br/>
            <br/>
            To exclude specific clinical significance values from the plot, you can click on that value in the legend.
            <br/>
            <br/>
            Plot data can be downloaded in CSV format from the links available below the graphs.
        {% end_page_help_embedded %}

        {% lab_picker data=lab_picker_data %}

        <div data-toggle="ajax" href="{% url 'my_lab_detail' lab_picker_data.selection %}">
            <div class="loading-message">Loading your lab statistics, this may take a while.</div>
        </div>

    </div>
{% endblock %}
