{% load classification_tags %}
{% load user_tags %}
{% load js_tags %}
{% load ui_utils %}

<div class="mt-4">
    {% if render_mode == "ajax" %}
        {% labelled label="Page Link" %}<a class="hover-link" href="{{ overlap_grouping.overlap.get_absolute_url }}">Overlap {{ overlap_grouping.overlap.pk }}</a>{% endlabelled %}
    {% else %}
        {% with overlap=overlap_grouping.overlap %}
            {% labelled label="Overlap Status" %}
                <span {% if overlap.overlap_status.is_attention %}class="text-danger"{% endif %}>
                    {% if overlap.overlap_status == 90 %}Discordance <i class="fa-solid fa-briefcase-medical" title="Medically Significant"></i>{% else %}{{ overlap.overlap_status.label }}{% endif %}
                </span>
            {% endlabelled %}
            {% if overlap.overlap_status_change_timestamp %}
                {% labelled label="Status Changed as of" %}
                 {% timestamp overlap.overlap_status_change_timestamp time_ago=True %}
                {% endlabelled %}
            {% endif %}
            {% labelled label="c.HGVS" %}
                {% for c_hgvs in overlap.c_hgvses %}
                    <div>{% c_hgvs c_hgvs %}</div>
                {% endfor %}
            {% endlabelled %}
        {% endwith %}
    {% endif %}
    {% if overlap_grouping.overlap.allele %}
        {% labelled label="Allele" %}<a class="hover-link" href="{{ overlap_grouping.overlap.allele.get_absolute_url }}">{{ overlap_grouping.overlap.allele }}</a>{% endlabelled %}
    {% endif %}
    {% labelled label="Involved Labs" %}
        {% for lab_contact in overlap_grouping.involved_labs %}
            <div>{% lab lab_contact.lab show_contact_link=True contact_subject=lab_contact.email_subject %}</div>
        {% endfor %}
    {% endlabelled %}
    {% if overlap_grouping.discordance_reports %}
        {% labelled label="Legacy Discordance Reports" %}
            {% for discordance_report in overlap_grouping.discordance_reports %}
                <div>{% discordance_report discordance_report %}</div>
            {% endfor %}
        {% endlabelled %}
    {% endif %}
    {% if user.is_superuser %}
        {% labelled label="Overlap Admin" %}{% admin_link overlap_grouping.overlap %}{% endlabelled %}
    {% endif %}
</div>

<div class="card">
    <div class="card-header">Classifications</div>
    <div class="card-body">
        <table class="table overlap-summary">
            <thead>
                <tr>
                    <th class="overlap-lab">Lab</th>
                    <th>Latest Record</th>
                    <th class="overlap-value">Value</th>
                    <th class="overlap-condition">Condition</th>
                    <th class="overlap-curated">Curated</th>
                </tr>
            </thead>
            <tbody>
                {% for overlap_entry in overlap_grouping.rows %}
                    {% ifchanged overlap_entry.is_cross_context %}
                        {% if overlap_entry.is_cross_context %}
                        <tr><td colspan="6" style="text-align: center; font-weight: 600">Cross Context Records</td></tr>
                        {% endif %}
                    {% endifchanged %}
                    <tr class="{% if overlap_entry.is_cross_context %}cross-context-row{% elif overlap_entry.is_user_lab %}users-row{% endif %}">
                        <td>
                            {% lab overlap_entry.overlap_contribution.lab_like is_your_lab=overlap_entry.is_user_lab lab_css="font-weight:500" %}
                            <div>{% testing_context overlap_entry.overlap_contribution style="subtle" %}</div>
                        </td>
                        <td>
                            {% if overlap_entry.overlap_contribution.scv %}
                                <a class=hover-link" href="https://www.ncbi.nlm.nih.gov/clinvar/?term={{ overlap_entry.overlap_contribution.scv }}">{{ overlap_entry.overlap_contribution.scv }}</a>
                            {% else %}
                                {% with classification=overlap_entry.overlap_contribution.classification_grouping.latest_classification_modification.classification %}
                                    <a class="hover-link" href="{{ classification.get_absolute_url }}">{{ classification.cr_lab_id }}</a>
                                {% endwith %}
                            {% endif %}
                        </td>
                        <td>{% clinical_significance overlap_entry.overlap_contribution.value %}
                        <div class="overlap-criteria">
                            {% for criteria_label in overlap_entry.overlap_contribution.classification_grouping.latest_cached_summary.criteria_labels %}<span class="comma-sep">{{ criteria_label }}</span>{% endfor %}
                        </div>
                        </td>
                        <td>{% condition overlap_entry.overlap_contribution.conditions %}</td>
                        <td>{% timestamp overlap_entry.overlap_contribution.effective_date_obj.date time_ago=True %}</td>
                    </tr>
                    {% if not overlap_entry.is_cross_context %}
                    <tr>
                        <td colspan="5" style="border-top:none">
                            <div style="display:inline-block" id="triage-{{ overlap_entry.overlap_contribution.pk }}-status">{% triage overlap_entry.overlap_contribution show_icon=True show_label=True show_link=overlap_entry.is_editable style="long" %}</div>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if overlap_grouping.change_log %}
    <div class="card mt-4">
        <div class="card-header">History <i style="color:#888" class="fa-solid fa-sort-down" title="Oldest to Newest"></i></div>
        <div class="card-body">
            {% for change in overlap_grouping.change_log %}
                {% ifchanged change.overlap_contribution %}
                    {% if not forloop.first %}
                        <hr/>
                    {% endif %}
                {% endifchanged %}
                <div class="row my-4">
                    <div class="col-3 text-right">
                        {% ifchanged change.overlap_contribution change.user %}
                            <div>{% if change.overlap_contribution.lab %}{% lab change.overlap_contribution.lab lab_css="font-weight:500" %}{% else %}ClinVar Expert Panel{% endif %}</div>
                            <div class="mb-1">{% testing_context change.overlap_contribution style="subtle" %}</div>
                            {% if change.user %}<div class="mt-1">{% user change.user size="tiny" align="right" %}</div>{% else %}{% endif %}
                        {% endifchanged %}
                        <div>{% timestamp change.timestamp time_ago=True %}</div>
                    </div>
                    <div class="col-9">
                        {% if change.is_new_record %}
                            <label class="mb-2">Record registered in {{ site_name }}</label>
                        {% endif %}
                        {% if change.is_withdrawn %}
                            <div><label class="text-danger">Record withdrawn</label></div>
                        {% else %}
                            {% for field_change in change.changes %}
                                <div><label>{{ field_change.field | pretty_label }}</label>: {% if not change.is_new_record %}{{ field_change.old_value }} -> {% endif %}{{ field_change.new_value }}</div>
                            {% endfor %}
                            {% if change.comment %}
                                <div class="comment">{{ change.comment.text }}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
