{% extends "uicore/page/base.html" %}
{% load ui_menu_bars %}
{% load ui_help %}
{% load js_tags %}
{% load lab_tags %}
{% block title %}Overlaps{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block content %}
<div class="container">
    <script>
        function groupingFilter(data) {
            let selectedMode = $('[name=triage_status_filter]:checked').val();
            console.log(selectedMode);
            data.skew_status = selectedMode;
            // data.lab_selection = {{ lab_picker_data.selection | jsonify }};
        }
        function filterGrid() {
            $('#overlaps-table').DataTable().ajax.reload();
        }
        $(document).ready(() => {
            $('#triage_status_filter').change(() => {
                filterGrid();
                console.log("Filtering GRID!!");
            });
        });
    </script>

    {% lab_picker data=lab_picker_data %}

{##}
{#    <ul class="nav nav-tabs">#}
{#      <li class="nav-item">#}
{#        <a class="nav-link active" href="#">Active</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Link</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Link</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#      </li>#}
{#    </ul>#}

    <div id="triage_status_filter" class="my-4">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-danger"><input type="radio" name="triage_status_filter" id="triage_status_filter-t" value="T" checked="checked">Awaiting Triage</label>
            <label class="btn btn-outline-success"><input type="radio" name="triage_status_filter" id="triage_status_filter-d" value="D">Ready to Discuss</label>
            <label class="btn btn-outline-warning"><input type="radio" name="triage_status_filter" id="triage_status_filter-a" value="A">Awaiting Amendment</label>
            <label class="btn btn-outline-secondary"><input type="radio" name="triage_status_filter" id="triage_status_filter-o" value="O">Waiting on Other Lab</label>
            <label class="btn btn-outline-secondary"><input type="radio" name="triage_status_filter" id="triage_status_filter-c" value="C">Complex</label>
        </div>
    </div>

    <table
           data-datatable-data='groupingFilter'
           data-datatable-url="{% url 'overlaps2_datatables' lab_picker_data.selection %}"
           class="sticky-header thick-border"
           id="overlaps-table"
           data-adjust-columns="false">
    </table>


</div>
{% endblock %}