{% extends "uicore/page/base.html" %}
{% load ui_menu_bars %}
{% load ui_help %}
{% load ui_utils %}
{% load js_tags %}
{% load lab_tags %}
{% block title %}Overlaps{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block content %}
<style>
    .dt-classification {
        width: 240px;
    }
    .dt-testing_context {
        width: 100px;
    }
    .dt-summary {
        width: 400px;
    }
</style>
<div class="container">
    <script>
        function groupingFilter(data) {
            let selectedMode = $('[name=triage_status_filter]:checked').val();
            data.skew_status = selectedMode;
            data.lab_selection = {{ lab_picker_data.selection | jsonify }};
        }
        function filterGrid() {
            $('#overlaps-table').DataTable().ajax.reload();
        }
        $(document).ready(() => {
            $('#triage_status_filter').change(() => {
                filterGrid();
            });
        });
    </script>

    {% lab_picker data=lab_picker_data %}

    <div>
    <a class="hover-link download-link pipe-sep" href="{% url 'overlaps_3_download' lab_picker_data.selection %}">Download Outstanding</a>
    <a class="hover-link download-link pipe-sep" href="{% url 'overlaps_3_download' lab_picker_data.selection %}?mode=solved">Download Solved</a>
    </div>

    <div id="triage_status_filter" class="my-4">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-danger"><input type="radio" name="triage_status_filter" id="triage_status_filter-t" value="TT" {% if tab == "TT" %}checked="checked"{% endif %}>Awaiting Triage {{ counts.TT | badge }}</label>
            <label class="btn btn-outline-success"><input type="radio" name="triage_status_filter" id="triage_status_filter-d" value="7" {% if tab == "D" %}checked="checked"{% endif %}>Ready to Discuss {{ counts.7 | badge }}</label>
            <label class="btn btn-outline-warning"><input type="radio" name="triage_status_filter" id="triage_status_filter-a" value="5" {% if tab == "AA" %}checked="checked"{% endif %}>Awaiting Amendment {{ counts.5 | badge }}</label>
            <label class="btn btn-outline-secondary"><input type="radio" name="triage_status_filter" id="triage_status_filter-o" value="2" {% if tab == "O" %}checked="checked"{% endif %}>Waiting on Other Lab {{ counts.2 | badge }}</label>
            <label class="btn btn-outline-success"><input type="radio" name="triage_status_filter" id="triage_status_filter-c" value="S" {% if tab == "S" %}checked="checked"{% endif %}>Solved {{ counts.S | badge }}</label>
            <label class="btn btn-outline-success"><input type="radio" name="triage_status_filter" id="triage_status_filter-c" value="X" {% if tab == "A" %}checked="checked"{% endif %}>All Overlaps</label>
        </div>
    </div>

    <table
           data-datatable-data='groupingFilter'
           data-datatable-url="{% url 'overlaps_3_datatables' %}"
           class="sticky-header thick-border"
           id="overlaps-table"
           data-adjust-columns="false">
    </table>

</div>
{% endblock %}