{% extends "uicore/page/base.html" %}
{% load classification_tags %}
{% load ui_menu_bars %}
{% load ui_help %}
{% block title %}Overlaps{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
    <style>
    span.cs {
        margin-right: 4px;
    }
    td {
        min-width: 200px;
    }
    td img {
        margin-left: 4px;
        margin-right: 4px;
    }
    .overlap {
        display: block;
        padding: 4px 0 4px 8px;
        border-radius: 4px;
        background-color: gray;
        color: white;
        font-weight: bold;
        margin-bottom: 8px;
        text-align: center;
    }
    .overlap.level-DISCORDANT {
        background-color: #dd8888;
    }
    .overlap.level-CONCORDANT_CONFIDENCE {
        background-color: #22bb22;
    }
    .overlap.level-CONCORDANT_AGREEMENT {
        background-color: #449944;
    }
    .sig-level-A, .sig-level-D {
        opacity: 0.4;
    }


    .card-header.discordant {
        background-color: #dd8888;
    }
    .card-header.concordant_agreement {
        background-color: #88dd88;
    }

    </style>
    <script>
    $(document).ready(() => {
        Flags.instance.init({userId: '{{user.id}}'});
    });
    </script>
{% endblock %}
{% block content %}
<div class="container">
    {% page_help page_id='classification/overlaps_help' title='Classification Overlaps' %}

    <p>
        <span class="text-info">Showing alleles with two or more classifications involving :</span>
        {% if user.is_superuser %}Any Lab{% else %}
        {% for lab in labs %}<span class="comma-sep">{{ lab }}</span>{% endfor %}
        {% endif %}
    </p>
    <h5>Overlap Counts</h5>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="text-center">Concordant <span class="hover-detail" data-toggle="tooltip" title="This counts classifications in agreement<br/>e.g. Benign vs Benign, VUS vs VUS, etc">Agreement</span></th>
                <th class="text-center">Concordant <span class="hover-detail" data-toggle="tooltip" title="This counts<br/>Likely Benign vs Benign and<br/>Likely Pathogenic vs Pathogenic">Confidence Level</span></th>
                <th class="text-center">Discordant</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-right">Involving another lab</th>
                <td class="text-center">{{ overlap_counts.multi_concordant_agreement }}</td>
                <td class="text-center">{{ overlap_counts.multi_concordant_confidence }}</td>
                <td class="text-center">{{ overlap_counts.multi_discordant }}</td>
            </tr>
            <tr>
                <th class="text-right">Involving only your lab</th>
                <td class="text-center">{{ overlap_counts.single_concordant_agreement }}</td>
                <td class="text-center">{{ overlap_counts.single_concordant_confidence }}</td>
                <td class="text-center">{{ overlap_counts.single_discordant }}</td>
            </tr>
        </tbody>
    </table>

    <h5>Overlaps</h5>
    {% if overlaps %}
        {% for overlap in overlaps %}
            <div class="card mt-4">
                <div class="card-header {{ overlap.discordance_status.level.value }}">
                    <div class="float-left"><b>{{ overlap.discordance_status.level.label }}</b></div>
                    <div class="float-right">
                        {% if overlap.is_multiple_labs_shared %}Multi-Lab{% endif %}
                    </div>
                </div>
                <div class="card-body">
                    {% for hgvs in overlap.unique_hgvs %}
                        {% c_hgvs hgvs show_genome_build=True %}<br/>
                    {% endfor %}
                    {% for grouping in overlap.by_clinical_groupings %}
                        <hr style="border-top-style: dashed" />
                        <div class="row" style="align-items: center">
                            <div class="col-3 text-right">
                                {% if grouping.clinical_grouping %}
                                    {% clinical_context grouping.clinical_grouping %}
                                {% else %}
                                    <label style="font-style: italic">Not-Shared</label>
                                {% endif %}
                            </div>
                            <div class="col-9">
                                <div style="font-size:12px;display:flex;flex-wrap:wrap;align-items: center">
                                    {% for cm in grouping.cms %}
                                        <div class="m-1">{% classification_quick cm show_clinical_grouping=False %}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <a href="{{ overlap.allele.get_absolute_url }}" class="hover-link float-left">Go to Allele</a>
                    <a href="{% url 'classification_diff' %}?allele={{ overlap.allele.id }}" class="hover-link float-right">Show Diffs</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="no-value">No Records</div>
    {% endif %}
</div>
{% endblock %}