<style>
    .btn-login {
        animation: glow 1s infinite alternate;
    }
    .number-box {
        color: #444;
        font-size: 1.2rem;
    }
    .number-box .big-num {
        font-size: 2rem;
    }
</style>
<hr/>
<div class="row">
    <div class="col-3 text-center number-box">
        <div class="label">Contributing Labs</div>
        <div class="big-num">{{ data.contributing_labs | length }}</div>
    </div>

    <div class="col-3 text-center number-box">
        <div class="label">ClinVar Exports</div>
        <div class="big-num">{{ data.clinvar_export_count }}</div>
    </div>

    <div class="col-3 text-center number-box">
        <div class="label">Alleles <span style="font-size:0.7rem">With</span> Multiple Contributors</div>
        <div class="big-num">{{ data.overlapped_alleles }}</div>
    </div>

    <div class="col-3 text-center number-box">
        <div class="label">Discordant Alleles</div>
        <div class="big-num">{{ data.discordant_alleles }}</div>
    </div>
</div>