{% load ui_utils %}
{% load user_tags %}
{% load crispy_forms_tags %}
{% load classification_tags %}
<div class="card-header">Triaging</div>
{% if form %}
    <form data-toggle="ajax-form" method="POST" action="{% url 'triage_3' triage.pk %}?mode={{ mode }}">
    <div class="card-body">
        {% labelled label="c.HGVS" %}
            <a href="{{ triage.allele.get_absolute_url }}">
            {% c_hgvs triage.classification_grouping.latest_allele_info.preferred_c_hgvs_obj %}
            </a>
        {% endlabelled %}
        {% labelled label="Value" %}{{ triage.get_value_type_display }} : {{ triage.pretty_value }}{% endlabelled %}
        <div class="container">{% include "uicore/messages/messages.html" %}</div>
        {% labelled label="Editing By" %}{% user user size="tiny" %}{% endlabelled %}
        {% labelled label="For Lab" %}{% lab triage.lab_like %}{% endlabelled %}
        <div class="triage-form">
            {% crispy form form_helper.horizontal %}
            <script>

                function triage_status_updated() {
                    let value = $('input[name="triage_status"]:checked').val();
                    let willAmend = value == "F";
                    if (willAmend) {
                        $('#div_id_new_value').show();
                    } else {
                        $('#div_id_new_value').hide();
                    }
                }
                // document.ready() isn't reliable for dialogs, doing it here instead
                function handleDialogShown(event) {
                    $('input[name="triage_status"]').change(() => {
                        triage_status_updated();
                    });
                    triage_status_updated();
                    window.removeEventListener('modalDialogShown', handleDialogShown)
                }
                window.addEventListener('modalDialogShown', handleDialogShown);

            </script>
        </div>
    </div>
    <div class="card-footer">
        <input type="submit" class="btn btn-primary" />
    </div>
</form>
{% else %}
    <div class="card-body">
        <div class="container">{% include "uicore/messages/messages.html" %}</div>
        <div data-replace="#triage-{{ triage.pk }}-status">{% triage triage show_label=True%}</div>
    </div>
{% endif %}