{% load ui_utils %}
{% load crispy_forms_tags %}
{% load user_tags %}
{% load classification_tags %}
{% load js_tags %}

{% comment %}Probably need to make this{% endcomment %}
<div data-replace="#triage-{{ triage.pk}}-status">{% triage triage show_label=True%}</div>
<div class="embed-wrapper">
    {% if overlap_grouping.change_log %}
        <label class="w-100 text-center">History</label>
        {% for change in overlap_grouping.change_log %}
            {% ifchanged change.overlap_contribution %}
                <hr/>
            {% endifchanged %}
            <div class="row my-4">
                <div class="col-3 text-right">
                    {% ifchanged change.overlap_contribution change.user %}
                        <div>{% testing_context change.overlap_contribution %}<br/>{{ change.overlap_contribution.lab }}</div>
                        {% if change.user %}<div class="mt-1">{% user change.user size="tiny" %}</div>
                        {% else %}<div class="mt-1 no-user">No user</div>{% endif %}
                    {% endifchanged %}
                    <div>{% timestamp change.timestamp time_ago=True %}</div>
                </div>
                <div class="col-9">
                    {% for field_change in change.changes %}
                        <div>{{ field_change.old_value }} -> {{ field_change.new_value }}</div>
                    {% endfor %}
                    {% if change.comment %}
                        <div class="comment">{{ change.comment.text }}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if form %}
        <form data-toggle="ajax-form" method="POST" action="{% url 'triage' triage.pk %}?edit=true&mode={{ mode }}">
            <label class="w-100 text-center">Update {{ triage.lab }}'s Status</label>
            {% crispy form form_helper.horizontal %}
            <script>
                function triage_status_updated() {
                    let value = $('input[name="triage_status"]:checked').val();
                    let willAmend = value == "F";
                    if (willAmend) {
                        $('#div_id_new_value').show();
                    } else {
                        $('#div_id_new_value').hide();
                    }
                }
                $(document).ready(() => {
                    triage_status_updated();
                    $('input[name="triage_status"]').change(() => {
                        triage_status_updated();
                    });
                });
            </script>
            <div class="buttons">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    {% endif %}

    <div class="my-1">
    {% include "uicore/messages/messages.html" %}
    </div>

</div>