{% load ui_utils %}
{% if record.validation_includes_json %}
<p class="text-info mt-2">Note that for Alissa files source number refers to the ID of the MVL entry.</p>
{% endif %}
{% with validations=record.validation_list_objs %}
    {% if validations %}
        {% if validations|length > 500 %}
            <p>Showing 500 of {{ validations|length|value }} validation records</p>
        {% endif %}
        {% if validations|length > 0 %}
            <p><a href="{% url 'classification_upload_unmapped_status_download_validation' record.pk %}" class="download-link">Download all issues here</a></p>
        {% endif %}
        <table class="table">
            <tr>
                <th>Source</th>
                <th>Category</th>
                <th>Message</th>
            </tr>
            <tbody>
                {% for validation_row in validations|slice:":500" %}
                    <tr>
                        <td>{{ validation_row.filename_line_number }}</td>
                        <td>{{ validation_row.severity | severity_icon}} {{ validation_row.category }}</td>
                        <td>{{ validation_row.message }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="no-value">{{'s' | severity_icon}} There are no validation messages</p>
    {% endif %}
{% endwith %}