{% extends "uicore/page/base.html" %}
{% load ui_menu_bars %}
{% load ui_help %}
{% load lab_tags %}
{% block title %}VUS Resolution{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block content %}
<div class="container">
    {% page_help_embedded title='VUS Resolution' %}
        This page allows for review of VUS classifications from your lab against VUS classifications from other labs where all records in the allele are VUS. The most recently curated record per lab is provided for direct comparison of associated evidence, for the purpose of assisting with potential reclassification of the variant.
        <br/><br/>
        There are columns provided for the following:
        <ul class="list-group">
            <li class="list-group-item help-item"><label>Max Abs Score</label><span>The maximum absolute ACMG point score for this allele overall (in grey header) or for the allele per lab (in white rows). An asterisk indicates if a lab is using an assertion method that cannot be directly mapped to the ACMG guidelines and points system (Tavtigian et al 2020, PMID: 32720330).</span></li>
            <li class="list-group-item help-item"><label>Total Patients</label><span>Number of patients for the given allele, measured by the number of records. A '+' icon indicates a lab that is unable to provide patient level counts.</span></li>
            <li class="list-group-item help-item"><label>ACMG Criteria</label><span>ACMG criteria are listed in the table headings with a description of each criteria available by hovering over the heading. The grey header row will have one of the following icons where criteria have been applied by at least one laboratory:</span></li>
            <ul class="list-group">
                <li class="list-group-item help-item"><i class="fa-solid fa-circle text-muted"></i><span>Indicates all classifications share the same strength for this criteria.</span></li>
                 <li class="list-group-item help-item"><i class="fa-solid fa-circle-half-stroke text-muted"></i><span>Indicates that classifications for this criteria have different strengths applied.</span></li>
                <li class="list-group-item help-item"><i class="fa-solid fa-circle-question text-muted"></i><span>Indicates that one or more strengths have a value of "unspecified".</span></li>
            </ul>
        </ul>
    {% end_page_help_embedded %}
    {% lab_picker data=lab_picker_data %}
    <p class="text-info">In future we hope to provide more tools to assist in resolving VUSs to Pathogenic/Benign</p>
    <div data-toggle="ajax" href="{% url 'vus_detail' lab_picker_data.selection %}">
        <div class="loading-message">Loading VUS Overlaps, this may take a while.</div>
    </div>

</div>
{% endblock %}