{% load classification_tags %}
{% load english_tags %}
{% load ui_utils %}
{% load ui_tabs_builder %}
<h5>VUS Overlaps</h5>

<table class="table sticky-header" id="vus_detail_table">
    <thead>
        <tr>
            <th style="width:30%">c.HGVS/Lab Lab/Clinical Significance</th>
            <th class="text-right" style="width:30px">Highest Score</th>
            <th class="text-right" style="width:30px">Patients Seen</th>
            <th class="compact text-center">PM6</th>
            <th class="compact text-center">PS2</th>
            <th class="compact text-center">BP2</th>
            <th class="compact text-center">PM3</th>
            <th class="compact text-center">PP1</th>
            <th class="compact text-center">PP4</th>
            <th class="compact text-center">PS3</th>
            <th class="compact text-center">BS3</th>
            <th class="compact text-center">BS4</th>
        </tr>
    </thead>
    <tbody>
        {% for grouping in overlaps.overlaps_vus %}
            <tr>
                <td>
                    <a href="{{ overlap.allele.get_absolute_url }}" class="hover-link">
                    {% for hgvs in grouping.c_hgvses %}
                        <div>{% c_hgvs hgvs %}</div>
                    {% endfor %}
                    </a>
                    <div>
                        <a class="hover-link" href="{% url 'classification_diff' %}?allele={{ grouping.allele.pk }}">Show Diffs</a>
                    </div>
                    {% classification_lab_summaries grouping.lab_clinical_significances shared=grouping.shared include_acmg=True %}
                </td>
                {% with strengths=grouping.strengths_for_latest_lab %}
                    <td class="text-right text-monospace" style="font-size:10pt">{% if strengths.has_non_standard %}<span class="hover-detail" title="1 or more submitting labs are not using ACMG, ACMG Points could not be calculated accurately for those labs">{{ strengths.max_points }}*{% else %}{{ strengths.max_points }}&nbsp;{% endif %}</td>
                    <td class="text-right text-monospace" style="font-size:10pt">{% if grouping.patient_counts.consolidating_labs %}<span class="hover-detail" title="1 or more submitting labs only provide 1 classification per variant">{{ grouping.patient_counts.total_minimum }}<span style="font-weight: 600">+</span></span>{% else %}{{ grouping.patient_counts.total_minimum }}&nbsp;{% endif %}</td>
                    <td class="compact">{% criteria_strengths strengths.pm6 %}</td>
                    <td class="compact">{% criteria_strengths strengths.ps2 %}</td>
                    <td class="compact">{% criteria_strengths strengths.bp2 %}</td>
                    <td class="compact">{% criteria_strengths strengths.pm3 %}</td>
                    <td class="compact">{% criteria_strengths strengths.pp1 %}</td>
                    <td class="compact">{% criteria_strengths strengths.pp4 %}</td>
                    <td class="compact">{% criteria_strengths strengths.ps3 %}</td>
                    <td class="compact">{% criteria_strengths strengths.bs3 %}</td>
                    <td class="compact">{% criteria_strengths strengths.bs4 %}</td>
                {% endwith %}
                </tr>
            {% empty %}<td colspan="11">No Records</td>
        {% endfor %}
    </tbody>
</table>
<script>
    $('#vus_detail_table').DataTable({
        paging: false,
        columns: [
            {},
            {},
            {},
            {orderable: false},
            {orderable: false},
            {orderable: false},
            {orderable: false},
            {orderable: false},
            {orderable: false},
            {orderable: false},
            {orderable: false},
            {orderable: false}
        ]
    });
</script>