{% extends "uicore/page/base.html" %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load static %}
{% block title %}Patient Cases{% endblock title %}
{% block submenu %}{% menu_bar_patients %}{% endblock %}
{% block head %}
    <style>
    #top-buttons-container {
        padding: 20px;
    }
    </style>
    <script>
        $(document).ready(() => {
            jQuery.extend($.fn.fmatter, {
                viewCaseLink: function (cellvalue, options, rowObject) {
                    const VIEW_CASE_URL = Urls.view_case(rowObject.id);
                    var viewLink = "<a class='grid-link' href=" + VIEW_CASE_URL + "><div class='grid-link-icon view-details-link'></div></a>";
                    return "<span>" + viewLink + "</span>";
                }
            });
            $('#id_external_pk').change(function () {
                var externalPK = $(this).val();
                window.location = Urls.view_external_case(externalPK);
            });
        });
    </script>
{% endblock head %}

{% block content %}
    <div class="container-table">
        <h3>Cases</h3>
        <form class="form-inline">
            {% labelled label="Jump to case" hint="inline" value_css="inline-custom" %}
                {{ external_case_form.external_pk }} {{ external_case_form.media }}
            {% endlabelled %}
        </form>

        <div id='top-buttons-container'>
        </div>

        {% load jqgrid_tags %}
        {% jqgrid 'cases_grid' 'cases' False None 'jqgrid/jqgrid.html' %}
    </div>
{% endblock content %}