{% extends menu_patients_base %}
{% load static %}
{% load related_data_for_pathtests_tags %}

{% block title %}Case {{ case }}{% endblock title %}

{% block jsdocumentready %}
function setPatientLink() {
    var patientSelector = $("#id_patient");
    patientSelector.after("<a class='cross-link' id='patient-link'>View Patient</a>");
    function mySetPatientLink() {
        var pk = patientSelector.find(":selected").val();
        setCrossLink($("#patient-link"), Urls.view_patient, pk);
    }
    mySetPatientLink();
    patientSelector.change(mySetPatientLink);
}
setPatientLink();
{% endblock jsdocumentready %}

{% block submenu_page_content %}

    <h3>Case {{ case }}</h3>

    <form method="post" id='case-form'>
        {% csrf_token %}
        {{ form.as_p }}
        {% if has_write_permission %}
            <input type="submit" value='save' />
        {% endif %}
        {% include "messages/messages.html" %}
        {{ form.media }}
    </form>

    {% related_data_for_case case %}

{% endblock submenu_page_content %}