{% extends "uicore/page/base.html" %}
{% load static %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}

{% block submenu %}{% menu_bar_analysis %}{% endblock %}
{% block title %}VariantGrid: Reanalysis{% endblock title %}
{% block head %}
    {{ block.super }}
{% endblock head %}

{% block content %}
    <div class="container">
        {% load ui_help %}
        {% page_help page_id='analysis/reanalysis_help' title='Reanalysis' %}

        <div>
            <ul>
                <li>
                    <a href="{% url 'new_reanalysis_candidate_search'  %}">New Reanalysis</a> - use new annotation to find something missed in old analyses
                </li>
            </ul>
        </div>

        <div>
            TODO: Grid of previous runs - filtered by reanalysis
        </div>

    </div>

{% endblock content %}


