{% extends "uicore/page/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load js_tags %}
{% load compress %}
{% load ui_utils %}
{% load ui_help %}
{% load ui_menu_bars %}
{% load settings_tags %}
{% load classification_tags %}
{% block title %}Classification Candidate Search: {{ candidate_search_run }}{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
<style>
.c-pill {
    width: 50px; /* shrink a lot */
}
#loading-spinner {
    display: none;
}
</style>
<script>

const INITIAL_UPDATE_SECS = 1;
const MAX_UPDATE_SECS = 16;
let update_secs = INITIAL_UPDATE_SECS;


// Upon page loading - if status is loading - then add a spinner next to the status + poll
// use exponential backoff
// upon it being anything different than the page, reload
function poll_candidate_search_run() {
    $("#candidate-search-status").hide();
    $("#loading-spinner").show();

    $.ajax({
        url: "{% url 'get_candidate_search_run_json' candidate_search_run.pk %}",
        dataType: 'json',
        success: function(data) {
            $("#loading-spinner").hide();
            let initialStatus = "{{ candidate_search_run.status }}";
            if (data["status"] !== initialStatus) {
                window.location.reload();
            } else {
                if (update_secs < MAX_UPDATE_SECS) {
                    update_secs *= 2;
                }
                setTimeout(poll_candidate_search_run, update_secs * 1000);
                $("#candidate-search-status").show();
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            // display a message about it being an error
            $("#loading-spinner").hide();
        }
    });


}

function setCandidateStatus(candidateId, status) {
    let payload = {
        "status": status
    };
    $.ajax({
        type: "POST",
        url: Urls.set_candidate_status(candidateId),
        data: payload,
        success: function(data) {
            filterCandidateSearchRunGrid(); // reload grid
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(`set_candidate_status failed: ${errorThrown}`)
        }
    });
}


function candidate_action_renderer(data, type, row) {
    let outerDom = $('<div>').css("display", "inline-block");
    let dom = $('<div>').appendTo(outerDom);
    let url = data['url'];
    let text = data['text'];
    let title = data['title'];

    if (url && text) {
        dom.append($("<a>", {href: url, html: text, 'title': title}));
    }
    let candidateId = row["id"];
    let status = row["status"];
    let buttons = {
        "highlight": $('<i>', {class: "fa-solid fa-highlighter"}),
        "unhighlight": $('<i>', {class: "fa-solid fa-highlighter", style: "opacity:.3"}),
        "hide": $('<i>', {class: "fa-regular fa-eye-slash"}),
        "unhide": $('<i>', {class: "fa-regular fa-eye"}),
        "resolve": "✅",
        "re-open": "🔄"
    }
    let stateChanges = {
        "OPEN": {"highlight": "L", "hide": "D", "resolve": "R"},
        "RESOLVED": {"re-open": "O"},
        "HIDDEN": {"unhide": "O"},
        "HIGHLIGHTED": {"unhighlight": "O"},
    }
    // <i class="fa-solid fa-highlighter"></i>
    let nextStates = stateChanges[status]
    for (const [state, status] of Object.entries(nextStates)) {
        let button = buttons[state];
        let link = $("<a>", {href: `javascript:setCandidateStatus(${candidateId}, "${status}")`, title: state});
        link.append(button);
        dom.append(link);
    }
    return outerDom;
}

function classification_summary_renderer(data, type, row) {
    let outerDom = $('<div>').css("display", "inline-block");
    let dom = $('<div>').appendTo(outerDom);

    let hgvs = data["c_hgvs"] || data["g_hgvs"];
    let classificationId = data["classification"];
    let classificationUrl = Urls.view_classification(classificationId);
    let classificationLink = $("<a>", {href: classificationUrl, html: hgvs})
    dom.append(classificationLink);

    let conditionResolution = data['classification__condition_resolution__display_text']
    if (conditionResolution) {
        dom.append($('<span>', {html: conditionResolution}));
    }
    return outerDom;
}

function classification_clinical_significance_renderer(data, type, row) {
    const CLIN_SIG = {
        '1': 'B',
        '2': 'LB',
        '3': 'VUS',
        '4': 'LP',
        '5': 'P',
    }
    let outerDom = $('<div>').css("display", "inline-block");
    let dom = $('<div>').appendTo(outerDom);
    let csVal = CLIN_SIG[data] || "";
    let csClass = `cs-` + (csVal || '').toLowerCase()
    dom.append($('<span>', {class: `c-pill cs ${csClass}`, html: csVal}));
    return outerDom;
}


function clinVarStars(selector, numStars) {
    let clinVarContainer = $("<span>", {class: "clinvar-stars-container"});
    for (let i = 0; i < 4; i++) {
        let classList = ["fa-star"];
        let styles = ["margin: 0"];
        if (i < numStars) {
            classList.push("fa-solid");
            classList.push("text-success");
        } else {
            classList.push("fa-regular");
            styles.push("opacity: 0.25");
        }
        let star = $("<i>", {class: classList.join(" "), style: styles.join(" ")});
        clinVarContainer.append(star);
    }
    return clinVarContainer;

}


function clinvar_renderer(data, type, row) {
    let outerDom = $('<div>').css("display", "inline-block");
    if (Object.keys(data).length === 0) {
        outerDom.append("-");
        return outerDom;
    }

    let dom = $('<div>').appendTo(outerDom);

    let clinvar_variation_id = data['clinvar_variation_id'];
    if (clinvar_variation_id) {
        let clinVarLink = $("<a>", {
            href: `https://www.ncbi.nlm.nih.gov/clinvar/variation/${clinvar_variation_id}`,
            class: "external",
            html: "View on ClinVar"
        });
        dom.append(clinVarLink);
    }
    let origin = data["origin"];
    if (origin) {
        dom.append($("<span>", {html: `Origin: ${origin}`}));
    }

    let starsClinSigBlock = $("<div>", {class: "d-inline-block mr-2"});
    let stars = data["stars"] || 0;
    let cvStars = clinVarStars(starsClinSigBlock, stars);
    starsClinSigBlock.append(cvStars);

    let clinSig = data["ClinSig"];
    if (clinSig) {
        starsClinSigBlock.append($("<span>", {class: "text-muted", html: "|"}));
        starsClinSigBlock.append($("<b>", {html: clinSig}));
    }
    dom.append(starsClinSigBlock);
    let disease = data["disease"];
    if (disease) {
        dom.append($("<span>", {html: disease}));
    }
    return outerDom;
}




function filterCandidateSearchRunGrid() {
    $('#candidate-datatable').DataTable().ajax.reload();
}


function getMultiSelectValues(selector) {
    const values = $("input:checked", selector).map((_, el) => $(el).val()).get();
    return values.join(",");

}

function candidateSearchRunDatatableFilter(data, type) {
    data.candidate_status = getMultiSelectValues($("#id_candidate_status"));
    data.evidence = getMultiSelectValues($("#id_evidence"));
}

$(document).ready(function() {
    {% if candidate_search_run.is_running %}
        // is running
        setTimeout(poll_candidate_search_run, update_secs * 1000);
    {% endif %}
    $("#candidate-search-tabs").tabs();

    $("#id_candidate_status input[type=checkbox], #id_evidence input[type=checkbox]").on('change', filterCandidateSearchRunGrid);
});

</script>
{% endblock %}
{% block content %}
<div class="container">
    {% with back_url=candidate_search_run.search_version.get_type_base_page_url %}
        {% if back_url %}
            <a href="{{ back_url }}">Back to runs</a>
        {% endif %}
    {% endwith %}

    <div class="card">
        <div class="card-header">
            {{ candidate_search_run }}
        </div>
        <div id="candidate-search-tabs">
            <ul>
                <li><a href="#details">Details</a></li>
                {% if has_write_permission %}
                <li><a href="{% url 'group_permissions' 'analysis.models.CandidateSearchRun' candidate_search_run.pk %}">Sharing / Permissions</a></li>
                {% endif %}
            </ul>
            <div id="details" class="card-body">
                {% labelled id='Methods' label='' hint="tiny" %}{{ candidate_search_run.search_version.methods }}{% endlabelled %}
                {% labelled id='created' label='Created' hint="tiny" %}{{ candidate_search_run.created }}{% endlabelled %}
                {% labelled id='user' label='User' hint="tiny" %}{{ candidate_search_run.user }}{% endlabelled %}
                {% labelled id='status' label='Status' hint="tiny" %}
                    <span id="candidate-search-status">{{ candidate_search_run.get_status_display }}</span>
                    <i id="loading-spinner" class="fa fa-spinner"></i>
                {% endlabelled %}
                {% if candidate_search_run.error_exception %}
                    {% labelled id='error_exception' label='Error' hint="tiny" %}{{ candidate_search_run.error_exception }}{% endlabelled %}
                {% endif %}
                {% labelled admin_only=True id='celery_task' label='Celery Task' hint="tiny" %}{{ candidate_search_run.celery_task }}{% endlabelled %}
                {% labelled admin_only=True id='config_snapshot' label='Config' hint="tiny" %}{{ candidate_search_run.config_snapshot }}{% endlabelled %}
                {% labelled admin_only=True id='git_hash' label='Git Hash' hint="tiny" %}{{ candidate_search_run.git_hash }}{% endlabelled %}
            </div>
        </div>
    </div>
</div>

{% if candidate_search_run.status == 'S' %}
    {{ candidate_status_form }}
    {{ evidence_form }}

    <div class="container-table">
        <table id="candidate-datatable" data-datatable-url="{% url 'candidate_datatable' candidate_search_run.pk %}" class="sticky-header samples-table" data-adjust-columns="false" data-datatable-data="candidateSearchRunDatatableFilter"></table>
    </div>
{% endif %}

{% endblock %}
