{% extends "uicore/page/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load js_tags %}
{% load compress %}
{% load ui_utils %}
{% load ui_help %}
{% load ui_menu_bars %}
{% load settings_tags %}
{% load classification_tags %}
{% block title %}Classification Candidate Search: {{ candidate_search_run }}{% endblock %}
{% block submenu %}{% menu_bar_classifications %}{% endblock submenu %}
{% block head %}
<style>
.c-pill {
    width: 50px; /* shrink a lot */
}
#loading-spinner {
    display: none;
}
</style>
<script>

const INITIAL_UPDATE_SECS = 1;
const MAX_UPDATE_SECS = 16;
let update_secs = INITIAL_UPDATE_SECS;


// Upon page loading - if status is loading - then add a spinner next to the status + poll
// use exponential backoff
// upon it being anything different than the page, reload
function poll_candidate_search_run() {
    console.log("poll_candidate_search_run");
    $("#candidate-search-status").hide();
    $("#loading-spinner").show();

    $.ajax({
        url: "{% url 'get_candidate_search_run_json' candidate_search_run.pk %}",
        dataType: 'json',
        success: function(data) {
            $("#loading-spinner").hide();
            console.log(data);
            let initialStatus = "{{ candidate_search_run.status }}";
            if (data["status"] !== initialStatus) {
                window.location.reload();
            } else {
                if (update_secs < MAX_UPDATE_SECS) {
                    update_secs *= 2;
                }
                console.log("Sleeping for " + update_secs + " secs");
                setTimeout(poll_candidate_search_run, update_secs * 1000);
                $("#candidate-search-status").show();
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            // display a message about it being an error
            $("#loading-spinner").hide();
        }
    });


}


function candidate_action_renderer(data, type, row) {
    let outterDom = $('<div>').css("display", "inline-block");
    let dom = $('<div>').appendTo(outterDom);
    let url = data['url'];
    let text = data['text'];
    if (url && text) {
        dom.append($("<a>", {href: url, html: text}));
    }
    // console.log(row);
    return outterDom;
}

function classification_summary_renderer(data, type, row) {
    const CLIN_SIG = {
        '1': 'B',
        '2': 'LB',
        '3': 'VUS',
        '4': 'LP',
        '5': 'P',
    }
    let outterDom = $('<div>').css("display", "inline-block");
    let dom = $('<div>').appendTo(outterDom);

    let hgvs = data["c_hgvs"] || data["g_hgvs"];
    let classificationId = data["classification"];
    let classificationUrl = Urls.view_classification(classificationId);
    let classificationLink = $("<a>", {href: classificationUrl, html: hgvs})
    dom.append(classificationLink);
    let csVal = CLIN_SIG[data["clinical_significance"]] || "";
    let csClass = `cs-` + (csVal || '').toLowerCase()
    dom.append($('<span>', {class: `c-pill cs ${csClass}`, html: csVal}));
    return outterDom;
}


function filterCandidateSearchRunGrid() {
    console.log("filterCandidateSearchRunGrid");
    $('#candidate-datatable').DataTable().ajax.reload();
}


function candidateSearchRunDatatableFilter(data, type) {
    console.log("candidateSearchRunDatatableFilter");
    const checked = $("#id_candidate_status input:checked");
    const values = checked.map((_, el) => $(el).val()).get();
    data.candidate_status = values.join(",");
    console.log(data);
}

$(document).ready(function() {
    {% if candidate_search_run.is_running %}
        // is running
        setTimeout(poll_candidate_search_run, update_secs * 1000);
    {% endif %}
    $("#candidate-search-tabs").tabs();

    $("#id_candidate_status input[type=checkbox]").on('change', filterCandidateSearchRunGrid);
});

</script>
{% endblock %}
{% block content %}
<div class="container">
    {% with back_url=candidate_search_run.search_version.get_type_base_page_url %}
        {% if back_url %}
            <a href="{{ back_url }}">Back to runs</a>
        {% endif %}
    {% endwith %}

    <div class="card">
        <div class="card-header">
            {{ candidate_search_run }}
        </div>
        <div id="candidate-search-tabs">
            <ul>
                <li><a href="#details">Details</a></li>
                {% if has_write_permission %}
                <li><a href="{% url 'group_permissions' 'analysis.models.CandidateSearchRun' candidate_search_run.pk %}">Sharing / Permissions</a></li>
                {% endif %}
            </ul>
            <div id="details" class="card-body">
                {% labelled id='Methods' label='' hint="tiny" %}{{ candidate_search_run.search_version.methods }}{% endlabelled %}
                {% labelled id='created' label='Created' hint="tiny" %}{{ candidate_search_run.created }}{% endlabelled %}
                {% labelled id='user' label='User' hint="tiny" %}{{ candidate_search_run.user }}{% endlabelled %}
                {% labelled id='status' label='Status' hint="tiny" %}
                    <span id="candidate-search-status">{{ candidate_search_run.get_status_display }}</span>
                    <i id="loading-spinner" class="fa fa-spinner"></i>
                {% endlabelled %}
                {% if candidate_search_run.error_exception %}
                    {% labelled id='error_exception' label='Error' hint="tiny" %}{{ candidate_search_run.error_exception }}{% endlabelled %}
                {% endif %}
                {% labelled admin_only=True id='celery_task' label='Celery Task' hint="tiny" %}{{ candidate_search_run.celery_task }}{% endlabelled %}
                {% labelled admin_only=True id='config_snapshot' label='Config' hint="tiny" %}{{ candidate_search_run.config_snapshot }}{% endlabelled %}
                {% labelled admin_only=True id='git_hash' label='Git Hash' hint="tiny" %}{{ candidate_search_run.git_hash }}{% endlabelled %}
            </div>
        </div>
    </div>
</div>

{% if candidate_search_run.status == 'S' %}
{{ candidate_status_form }}

<div class="container-table">
    <table id="candidate-datatable" data-datatable-url="{% url 'candidate_datatable' candidate_search_run.pk %}" class="sticky-header samples-table" data-adjust-columns="false" data-datatable-data="candidateSearchRunDatatableFilter"></table>
</div>
{% endif %}

{% endblock %}
