{% load static %}
{% load classification_tags %}
{% load english_tags %}
{% load ui_menus %}
Hello Shariant User,
<p>Below is a summary of your {% count data.lab_summaries 'lab' 'labs' %}:</p>
<p style="color:#444">
<a href="{% absolute_url 'classification_dashboard' %}">Click here to log in to Shariant</a>
</p>
{% for lab_summary in data.lab_summaries %}
    <h4>{{ lab_summary.lab.organization.name }} / {{ lab_summary.lab.name }}</h4>
    <ul>
        {% if lab_summary.last_imported_new_ago %}
            <li>Last uploaded a new classification {{ lab_summary.last_imported_new_ago }} ago</li>
            {% if lab_summary.imported_30_days_count > 0 %}<li>In the last 30 days, {% count lab_summary.imported_30_days_count '1 new classification has' 'new classifications have' %} been uploaded</li>{% endif %}
        {% else %}<li>Has not yet uploaded its first classifications</li>
        {% endif %}
        {% comment %}
        <li>
            {% if lab_summary.flagged_variants_count %}
            {% count lab_summary.flagged_variants_count '1 classification requires' 'classifications require' %} attention (see the quick links for details)
            {% else %}
            No classifications require attention
            {% endif %}
        </li>
       {% endcomment %}
        {% if lab_summary.pending_changes_count %}
            <li>Has {{ lab_summary.pending_changes_count }} outstanding pending classification changes agreed upon during discordance resolution</li>
        {% endif %}

        {% if lab_summary.discordance_report_summaries|length %}
        <li>This lab is involved in a total of {% count lab_summary.discordance_report_summaries '1 discordance' 'discordances' %}</li>
        <ul>
            {% for lab_count in lab_summary.discordance_report_summaries.counts %}
            <li>
                {% if lab_count.is_internal %}Discordances only within {{ lab_summary.discordance_report_summaries.labs_quick_str }} account for <strong>{{ lab_count.count }}</strong> of these discordances
                {% else %}<span style="font-weight:600">{% lab lab_count.lab %}</span> are involved in <strong>{{ lab_count.count }}</strong> of these discordances{% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </ul>

    {% if lab_summary.discordance_report_summaries %}
        <div style="padding-left: 24px">
            <table cellpadding="10" style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="font-weight:600; text-align:left; padding-right: 8px">Shariant ID</th>
                        <th style="font-weight:600; text-align:left; padding-right: 8px">Discordance Detected</th>
                        <th style="font-weight:600; text-align:left; padding-right: 8px">c.HGVS ({{ lab_summary.genome_build }})</th>
                        <th style="font-weight:600; text-align:left; padding-right: 8px">Lab / Clinical Significances</th>
                    </tr>
                </thead>
                <tbody>
                    {% for discordance_report_summary in lab_summary.discordance_report_summaries.summaries %}
                        <tr style="border-top: 1px solid #bbb;">
                            <td><a href="{% absolute_url 'discordance_report' discordance_report_summary.id %}">DR {{ discordance_report_summary.id }}</a></td>
                            <td style="font-family:monospace">{{ discordance_report_summary.date_detected_str }}</td>
                            <td>
                                {% for c_hgvs_val in discordance_report_summary.c_hgvses %}
                                <div>{% c_hgvs c_hgvs_val show_genome_build=False %}</div>
                                {% endfor %}
                            </td> {% comment %}do inline style for c.hgvs{% endcomment %}
                            <td>
                                {% if discordance_report_summary.is_pending_concordance %}
                                    <div style="color:#6c6;font-weight:bold">Pending Concordance</div>
                                {% endif %}
                                {% for lab_summ in discordance_report_summary.lab_significances %}
                                    <div {% if lab_summ.clinical_significance_to == 'withdrawn' %}style="opacity:0.6"{% endif %}>
                                        <span style="display:inline-block;margin-right:6px">
                                            {% lab lab_summ.lab your_lab=lab_summ.is_internal %}
                                            {% if lab_summ.count > 1 %}<span class="d-inline-block mx-1 text-muted">x</span>{{ lab_summ.count }}{% endif %}
                                        </span>
                                        {% if lab_summ.changed %}
                                            {% clinical_significance_inline lab_summ.clinical_significance_from %} -> {% clinical_significance_inline lab_summ.clinical_significance_to %}
                                            {% if lab_summ.pending %}(Pending){% endif %}
                                        {% else %}
                                            {% clinical_significance_inline lab_summ.clinical_significance_from %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </td>
                         </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endfor %}

Thanks,<br/>
The Shariant Team.