{% load ui_utils %}

{% if use_oidc and maintenance_mode %}
    <div class="alert alert-warning">
        {{ 'W' | severity_icon }} This site is under temporary maintenance. Non-administrator logins have been temporarily disabled.<br/>
        Sorry for the inconvenience.
    </div>
{% endif %}

{% if user.is_authenticated %}
    <button class="btn-login btn btn-primary w-100" id="resume_session" onclick="resume()">Continue as {{ user.username }}</button>
{% elif use_oidc %}
    <button class="btn-login btn btn-primary w-100" id="login" onclick="login()">{% if maintenance_mode %}Administrator{% else %}User{% endif %} Login</button>
{% else %}
    <hr/>
    <div class="mr-4">
        <form id='login' method="post" action="." role="login">
            {% csrf_token %}
            {% labelled label="Username" errors=form.errors.username %}<input name="username" class="form-control" autofocus />{% endlabelled %}
            {% labelled label="Password" errors=form.errors.password %}<input name="password" class="form-control" type="password" />{% endlabelled %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% labelled %}
                <button class="btn-login btn btn-primary w-100" type="submit">{% if maintenance_mode %}Administrator{% else %}User{% endif %} Login</button>
            {% endlabelled %}
        </form>
    </div>
{% endif %}