{% extends menu_patients_base %}
{% load static %}
{% block title %}Patients{% endblock title %}

{% block head %}
    {% include "patients/patient_samplenode_head.html" %}
    {% if phenotype_match_graphs %}
    <script type="text/javascript" src="{% static 'js/lib/plotly-latest.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plotly_helper.js' %}"></script>
    {% load patient_graph_tags %}
    {% endif %}

    <style>

    span.select2-container {
        min-width: 20em !important;
    }

    #patient-header {
        margin-bottom: 10px;
    }
    #sample-node-container {
        float: left;
    }

    .matches-graph {
        float: left;
    }

    .patient-description {
        background-image: url({% static 'icons/typewriter.jpeg' %});
    }

    .grid-link {
        float: left;
    }

    #jump-forms {
        float: left;
        width: 350px;
        height: 384px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #grid-filter-message {
        display: none;
    }

    .grid-term-link {
        padding: 1px;
        margin: 2px;
        cursor: pointer;
        cursor: hand;
        display: inline-block;
    }

    td.no-word-wrap {
        white-space: normal !important;
    }
    #patient-header a + a {
        padding-left: 10px;
    }
    #patient-header a + a:before {
        content: '|';
        padding-right: 10px;
        color: gray;
    }

    {% if initially_hide_create_patient_form %}
    #new-patient-form-container {
        display: none;
    }
    {% else %}
    #new-patient-link {
        display: none;
    }
    {% endif %}
</style>
<script>
ignoreAutcompleteChangeEvent = false;
gridExtraFilters = {};
filterFields = {};

function changeFilter(field, op, data) {
    let grid = $("#patient-grid");
    if (field) {
        filterFields[field] = {field : field, op: op, data: data};
    }

    let rules = []
    for (let r in filterFields) {
        let rule = filterFields[r];
        let data = rule['data'];
        if (data) {
            rules.push(rule);
        }
    }
    if (rules.length) {
        let f = {groupOp:"AND", rules: rules};
        $.extend(grid[0].p.postData,{filters:JSON.stringify(f)});
        grid[0].p.search = true;
    } else {
        let f = {};
        grid[0].p.search = false;
    }
    grid.trigger("reloadGrid",[{page:1,current:true}]);
}


function showCreatePatientForm() {
    $("#new-patient-link").hide();
    $("#new-patient-form-container").slideDown();
}

function resetGrid() {
    $("#grid-filter-message").hide();
    clearAutoCompletes();
    filterFields = {};
    gridExtraFilters = {};
    changeFilter();
}

function getExtraFilters() {
    let extraFilters = '';
    if (gridExtraFilters) {
        extraFilters = JSON.stringify(gridExtraFilters);
    }
    return extraFilters;
}

function filterGrid(extra_filters) {
    gridExtraFilters = extra_filters;
    $("#patient-grid").trigger("reloadGrid");
}

function clearAutoCompletes(leave_autcomplete_term_type) {
    // Clear the autcompletes (temp disabling change handlers)
    const AUTOCOMPLETE_IDS = {
        'HP': 'id_hpo_synonym',
        'OMIM': 'id_mim_morbid_alias',
        'gene': 'id_gene',
    };

    ignoreAutcompleteChangeEvent = true;
    for (let t in AUTOCOMPLETE_IDS) {
        if (t === leave_autcomplete_term_type) {
            continue; // leave this one
        }
        let autocomplete_id = AUTOCOMPLETE_IDS[t];
        clearAutocompleteChoice("#" + autocomplete_id);
    }
    ignoreAutcompleteChangeEvent = false;
}

function filterPatientGrid(term_type, value, leave_autcomplete_term_type) {
    let msgBox = $("#grid-filter-message");
    msgBox.html("Filtering grid to <span class='" + term_type.toLowerCase() + "'>" + value + "</span>... <a href='javascript:resetGrid()'>show all</a>");
    msgBox.show();

    filterGrid({'term_type' : term_type, 'value' : value });
    clearAutoCompletes(leave_autcomplete_term_type);
}

function filterPatientGridFromBarClick(term_type, data) {
    let barClicked = data.points[0];
    let value = barClicked.y;
    filterPatientGrid(term_type, value);
}

function plotlyHPOClickHandler(data) {
    filterPatientGridFromBarClick('HP', data);
}

function plotlyOMIMClickHandler(data) {
    filterPatientGridFromBarClick('OMIM', data);
}

function getTermLinks(term_type, term_list) {
    let links = '';
    if (term_list) {
        let terms = term_list.split('|');
        for (let i=0 ; i<terms.length ; ++i) {
            let term = terms[i];
            links += "<span class='grid-term-link " + term_type + "' title='" + term + "' term='" + term + "' term_type='" + term_type + "'>" + term + "</span>";
        }
    }
    return links;
}

function patients_grid_complete() {
    let grid = $("#patient-grid");
    grid[0].p.postData["extra_filters"] = getExtraFilters;

    $(".grid-term-link").each(function() {
        $(this).click(function() {
            let term_type = $(this).attr("term_type");
            let value = $(this).attr("term");
            filterPatientGrid(term_type, value)
        });
    });
}

$(document).ready(function() {
    jQuery.extend($.fn.fmatter, {
        viewPatientLink: function (patientId) {
            const VIEW_PATIENT_URL = Urls.view_patient(patientId);
            return "<a class='grid-link' href='" + VIEW_PATIENT_URL + "'><div class='grid-link-icon view-details-link'></div></a>";
        },
        showDescriptionSymbol: function (description, options, rowObject) {
            let descriptionSymbol = '';
            if (typeof description !== 'undefined' && description && description.length > 0) {
                const VIEW_PATIENT_URL = Urls.view_patient(rowObject.id);
                descriptionSymbol = "<a class='grid-link' href='" + VIEW_PATIENT_URL + "'><div title='' class='grid-link-icon patient-description'></div></a>";
            }
            return descriptionSymbol;
        },
        hpoFormatter: function (phenotype_terms) {
            return getTermLinks('HP', phenotype_terms);
        },
        omimFormatter: function (omim_terms) {
            return getTermLinks('OMIM', omim_terms);
        },
        geneFormatter: function (genes) {
            return getTermLinks('gene', genes);
        },
    });

    function resetForm() {
        $("form#patient-form").each(function () {
            this.reset()
        });
    }

    function loadPatientOnSearchSelect() {
        $('#id_patient').change(function () {
            let patientId = $(this).val();
            if (patientId) {
                window.location = Urls.view_patient(patientId);
            }
        });
    }

    function filterGridOnTermSearchSelect() {
        function searchForText(term_type, regex, selector) {
            if (ignoreAutcompleteChangeEvent) {
                return;
            }

            if (!$(selector).val()) { // empty - show all on grid
                resetGrid();
                return;
            }

            const raw_text = $("option:selected", selector).text();
            const match = new RegExp(regex).exec(raw_text);
            if (match) {
                const value = match[1].trim();
                // pass in 3rd param to tell it we're from autocomplete box (and leave it)
                filterPatientGrid(term_type, value, term_type);
            }
        }

        $('#id_hpo').change(function () {
            const regex = "HP:\\d{7} ([^\\(]*)";
            searchForText('HP', regex, this);
        });
        $('#id_omim').change(function () {
            const regex = "OMIM:\\d+ ([^\\(]*)";
            searchForText('OMIM', regex, this);
        });
        $('#id_gene_symbol').change(function () {
            const regex = "(.*)";
            searchForText('gene', regex, this);
        });
    }

    const form = $("form#patient-form");
    $("#id_first_name", form).change(function () {
        changeFilter('first_name', 'cn', $(this).val());
    });
    $("#id_last_name", form).change(function () {
        changeFilter('last_name', 'cn', $(this).val());
    });

    const sexChangeOperation = function () {
        let data = $(this).val();
        if (data == 'U') {
            data = null; // Use blank to not search when unknown
        }
        changeFilter('sex', 'eq', data);
    };
    $("#id_sex", form).change(sexChangeOperation);
    $("button#reset-form").click(function () {
        $("#patient-success").remove();
        filterFields = {};
        changeFilter();
    });

    const tabs = $("#grid-tabs");
    tabs.tabs();
    tabs.bind('tabsselect', function (event, ui) {
        $(".ui-tabs-panel", this).empty();
    });
    $('form#create-patient-form').ajaxForm({});
    setupPatientSamplenode({name: ''});
    loadPatientOnSearchSelect();
    filterGridOnTermSearchSelect();


    patientSearchForm = $('#patient-search-form');
    $("#patient-grid-filter", patientSearchForm).click(function () {
        const familyCode = $("#id_family_code", patientSearchForm).val();
        const patientPhenotype = $("#id_phenotype", patientSearchForm).val();
        const filterMessages = [];
        if (familyCode) {
            filterMessages.push("FamilyCode: '" + familyCode + "'");
            filterFields["family_code"] = {field: "family_code", op: 'ic', data: familyCode};
        } else {
            delete filterFields["family_code"];
        }
        if (patientPhenotype) {
            filterMessages.push("Phenotype/Description contains: '" + patientPhenotype + "'");
            filterFields["phenotype"] = {field: "phenotype", op: 'ic', data: patientPhenotype};
        } else {
            delete filterFields["phenotype"];
        }

        const filterMessage = filterMessages.join(", ");
        const msgBox = $("#grid-filter-message");
        msgBox.html("Filtering grid to " + filterMessage + " ... <a href='javascript:resetGrid()'>show all</a>");
        msgBox.show();

        changeFilter();
    });

    $("button#create-new-patient").click(showCreatePatientForm);
});
</script>
{% endblock head %}
{% block submenu_page_content %}
	<div>
        <h3>Patients</h3>
        <div id='patient-header'>
            {% if url_name_visible.upload %}
                Go to the <a href="{% url 'upload' %}" class="hover-link">Upload</a> page to import new patient records.<br>
            {% endif %}
            {% if url_name_visible.patient_record_imports %}
                View <a href="{% url 'patient_record_imports' %}" class="hover-link">Existing patient records imports</a>
            {% endif %}
            {% if phenotype_match_graphs %}
                {% if url_name_visible.patient_term_matches %}
                    <a href="{% url 'patient_term_matches' %}" class="hover-link">Full Patient Phenotypes/OMIM/Gene Stats</a>
                {% endif %}
                {% if url_name_visible.patient_term_approvals %}
                    <a href="{% url 'patient_term_approvals' %}" class="hover-link">Bulk Phenotype approval</a>
                {% endif %}
            {% endif %}
        </div>

      <div id="new-patient-link" class="mb-4">
      <button class="btn btn-primary" id='create-new-patient'><i class="fas fa-plus-circle"></i> Create New Patient</button>
      </div>

      <div id="new-patient-form-container">
        <form id="patient-form" method="post" action="">
            {% csrf_token %}

            <div id="sample-node-container"></div>
            <fieldset class="form-fields">
                <legend>Create New Patient</legend>
                {{ form.as_p }}
                <div class="buttons">
                    <button class="btn btn-primary">Create Patient</button>
                    <button id="reset-form" type='button' class="btn btn-secondary">reset</button>
                </div>
            </fieldset>

            {% include "messages/messages.html" %}
        </form>
      </div>


        {% if phenotype_match_graphs %}
        <div>
            <div id='jump-forms'>
    	        <div>
    	        Click the graphs to filter patients, or enter terms:
                <table class="pheno-drop-downs">
                    <tr><td><div class='ontology-label hpo w-100'>Human Phenotype Ontology</div>
                    <tr><td class='hpo'> {{ hpo_form.hpo }}
                    <tr><td><div class='ontology-label omim w-100'>OMIM</div>
                    <tr><td class='omim'> {{ omim_form.omim }}
                    <tr><td><div class='ontology-label gene w-100'>Genes</div>
                    <tr><td class='gene'> {{ gene_symbol_form.gene_symbol }}
                    <!-- Only need 1 media for entire page -->
                    {{ hpo_form.media }} 
                </table>
                </div>
                
    		</div>
            {% patient_phenotypes_graph max_records=12 click_handler='plotlyHPOClickHandler'%}
            {% patient_omim_graph max_records=12 click_handler='plotlyOMIMClickHandler' %}
            <div class='clear'></div>
        </div>
        {% endif %}

        <form id="patient-search-form">
            <div class="horizontal-fields">
                <p>
                    <label>Jump to Patient</label>
                    {{ patient_search_form.patient }}
                </p>
            </div>
            <div class="horizontal-fields">
                <p>
                    <label for="id_family_code">Family Code</label>
                    {{ patient_search_form.family_code }}
                </p>
                <p><label for="id_phenotype">Phenotype</label>
                {{ patient_search_form.phenotype }}
                </p>
                <input class="btn btn-outline-secondary" type='button' id='patient-grid-filter' value='Filter'></input>
                </div>
            {{ patient_search_form.media }}
        </form>
      </div>

	{% load jqgrid_tags %}
	<div id='grid-filter-message'></div>
	{% jqgrid 'patient_grid' 'patient' search=False delete=True grid_complete='patients_grid_complete' %}

	</div>
{% endblock submenu_page_content %}

{% block endbody %}
{% include "patients/patient_samplenode_svg.html" %}
{% endblock endbody %}
