{% extends "uicore/page/base_container_table.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Patients{% endblock title %}

{% block head %}
    {% include "patients/patient_samplenode_head.html" %}
    {% if phenotype_match_graphs %}
    <script type="text/javascript" src="{% static 'js/lib/plotly-custom-3.7.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plotly_helper.js' %}"></script>
    {% load patient_graph_tags %}
    {% endif %}
    <script type="text/javascript" src="{% static 'js/phenotype.js' %}"></script>
    <style>

    span.select2-container {
        min-width: 20em !important;
    }

    #patient-header {
        margin-bottom: 10px;
    }

    .matches-graph {
        float: left;
    }

    #jump-forms {
        float: left;
        width: 350px;
    }

    #grid-filter-message {
        display: none;
    }

    .grid-term-link {
        padding: 1px;
        margin: 2px;
        cursor: pointer;
        cursor: hand;
        display: inline-block;
    }

    td.ontology-terms {
        white-space: normal;
    }
    #patient-header a + a {
        padding-left: 10px;
    }
    #patient-header a + a:before {
        content: '|';
        padding-right: 10px;
        color: gray;
    }

    {% if initially_hide_create_patient_form %}
    #new-patient-form-container {
        display: none;
    }
    {% else %}
    #new-patient-link {
        display: none;
    }
    {% endif %}
</style>
<script src="{% static 'js/patients/patients.js' %}"></script>
{% endblock head %}
{% block container_table_content %}
	<div>
        <h3>Patients</h3>
        <div id='patient-header'>
            {% if url_name_visible.upload %}
                Go to the <a href="{% url 'upload' %}" class="hover-link">Upload</a> page to import new patient records.<br>
            {% endif %}
            {% if url_name_visible.patient_imports %}
                View <a href="{% url 'patient_imports' %}" class="hover-link">Patient imports</a>
            {% endif %}
            {% if phenotype_match_graphs %}
                {% if url_name_visible.patient_term_matches %}
                    <a href="{% url 'patient_term_matches' %}" class="hover-link">Full Patient Phenotypes/OMIM/Gene Stats</a>
                {% endif %}
                {% if url_name_visible.patient_term_approvals %}
                    <a href="{% url 'patient_term_approvals' %}" class="hover-link">Bulk Phenotype approval</a>
                {% endif %}
            {% endif %}
        </div>

      <div id="new-patient-link" class="mb-4">
      <button class="btn btn-primary" id='create-new-patient'><i class="fas fa-plus-circle"></i> Create New Patient</button>
      </div>

      <div id="new-patient-form-container">
        <form id="patient-form" method="post">
            {% csrf_token %}

            <div class="card">
                <div class="card-header">Create New Patient</div>
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <div id="sample-node-container"></div>
                    </div>
                    {% crispy form form_helper.horizontal %}
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Create Patient</button>
                    <button id="reset-form" type='button' class="btn btn-secondary">reset</button>
                </div>
            </div>

        </form>
      </div>


        {% if phenotype_match_graphs %}
        <div>
            <div id='jump-forms'>
    	        <div>
    	        Click the graphs to filter patients, or enter terms:
                <table class="pheno-drop-downs">
                    <tr><td><div class='ontology-label hpo w-100'>Human Phenotype Ontology</div>
                    <tr><td class='hpo'> {{ hpo_form.hpo }}
                    <tr><td><div class='ontology-label omim w-100'>OMIM</div>
                    <tr><td class='omim'> {{ omim_form.omim }}
                    <tr><td><div class='ontology-label mondo w-100'>MONDO</div>
                    <tr><td class='mondo'> {{ mondo_form.mondo }}
                    <tr><td><div class='ontology-label hgnc w-100'>Genes/HGNC</div>
                    <tr><td class='hgnc'> {{ hgnc_form.hgnc }}
                    <!-- Only need 1 media for entire page -->
                    {{ hpo_form.media }} 
                </table>
                </div>
                
    		</div>
            {% patient_phenotypes_graph max_records=12 click_handler='plotlyHPOClickHandler'%}
            {% patient_omim_graph max_records=12 click_handler='plotlyOMIMClickHandler' %}
            <div class='clear'></div>
        </div>
        {% endif %}

        <form id="patient-search-form">
            <div class="horizontal-fields">
                <p>
                    <label>Jump to Patient</label>
                    {{ patient_search_form.patient }}
                </p>
            </div>
            {{ patient_search_form.media }}
        </form>
      </div>

	<div id='grid-filter-message'></div>
	<table id="patient-datatable" class="sticky-header" data-datatable-url="{% url 'patient_datatables' %}" data-datatable-data="patientDatatableFilter"></table>

	</div>
{% endblock container_table_content %}

{% block endbody %}
{% include "patients/patient_samplenode_svg.html" %}
{% endblock endbody %}
