{% extends "uicore/page/base_container_table.html" %}
{% load static %}
{% load js_tags %}
{% block title %}Patient Term Approvals{% endblock %}

{% block head %}
    <script src="{% static 'js/patient_phenotype.js' %}"></script>
    <style>
        table#unapproved-patients-table {
            border-collapse: collapse;
        }

        .patient-description-cell {
            display: none;
        }
    </style>

    {% json_data "patient-term-approvals-data" patient_results=patient_results %}
    <script src="{% static 'js/patients/patient_term_approvals.js' %}"></script>
	
{% endblock head %}
{% block container_table_content %}

    <div class="container">
<h3>Phenotype Match Approval</h3>

{% if patients %}
<p>
	<p>
	{% if show_approved %}
	   Showing <b>all</b> patients. <a href="{% url 'patient_term_approvals' %}">Show only unapproved patients</a> 
	{% else %}
       Showing <b>unapproved</b> patients. <a href="{% url 'bulk_patient_term' %}">Show all patients</a> 
	{% endif %}
	
	<table id='unapproved-patients-table' class="table">
	{% for patient in patients %}
		<tr class='unapproved-patient' patient_id={{ patient.pk }}>
			<td class='patient'>
				<a href="{% url 'view_patient' patient.pk %}">{{ patient }}</a>
			<td class='patient-description-cell'>
				<textarea class='phenotype' rows="10" cols="80">{{ patient.phenotype }}</textarea>
			<td>
			<div class='results'></div>
			<td>
			{% if not patient.patient_text_phenotype.approved_by %}
			<button class='accept-phenotype btn btn-primary' patient_id={{ patient.pk }}>Accept</button>
			{% endif %}
	{% endfor %}
	</table>
	
	{% if remaining_patients %}
        <p>
        {% if show_approved %}
            <a href="{% url 'bulk_patient_term_offset' max_patient_id %}">Load next page</a>
        {% else %}
            <a href="{% url 'patient_term_approvals_offset' max_patient_id %}">Load next page</a>
    	{% endif %}
    	</p>
	{% endif %}
</p>
{% else %}
	No patients remaining.
{% endif %}
</div>
{% endblock container_table_content %}
