{% load crispy_forms_tags %}
{% load ui_help %}
{% load ui_utils %}
<div id="patient-specimens">
    {% page_help 'patients/view_patient_help2' 'Specimens Help' %}
    <script type="text/javascript">
        var targetParent = $("#patient-specimens").parent();
    
        $(document).ready(function() {
            {% update_django_messages %}
            var options = {
                target: targetParent,
            };
            $('form#patient-specimens-form').ajaxForm(options); 
            $(".date-picker").datepicker({changeYear: true, yearRange: "-120:+0"});
    
            var title = "Specimens";
            {% if num_specimens %}
            title += " ({{ num_specimens }})"
            {% endif %}
            $("#specimens-tab-link").html(title);
        });
    </script>
    <div class="container">
        <form id="patient-specimens-form" method="post" action="{% url 'view_patient_specimens' patient.pk %}">
            {% csrf_token %}
            {% crispy specimen_formset form_helper.horizontal %}
            <table>
            {% if has_write_permission %}
            <td><button id='save-button' class="btn btn-primary">Save</button></td>
            <td><button id="reset-button" type='reset' class="btn btn-secondary">Reset</button></td>
            {% else %}
                You can view but not modify this patient.
            {% endif %}
            </tr>
            </table>
        </form>
    </div>
</div>