{% load jqgrid_tags %}
<div id="patient-genes">
<style>
#gene-lists-container {
    width: 100%;
    height: 100%;
}

#hpo-genes-container {
    float: left;
    margin-right: 10px;
    width: 40%;
}

#mim-genes-container {
    float: left;
    width: 40%;
}
</style>
<script>
    // TODO: this is copy/pasted from phenotypenode_editor - merge?
    function addDownloadLink(grid, pagerId, url) {
        var download_grid = function() {
                window.location = url;
        };

        grid.jqGrid('navButtonAdd', pagerId, {
                    caption : "Download",
                    buttonicon : "ui-icon-arrowthickstop-1-s",
                    onClickButton : download_grid,
                    position : "first",
                    title : "Export",
                    cursor : "pointer"
        });
    }


    function patient_hpo_genes_grid_init_func(grid, pagerId, kwargs) {
        var patient_id = kwargs['patient_id'];
        if (patient_id) {
            var url = Urls.patient_hpo_genes_grid({patient_id: patient_id, genome_build_name: "{{ genome_build.name }}", op: 'download'});
            addDownloadLink(grid, pagerId, url);
        }
    }

    function patient_mim_genes_grid_init_func(grid, pagerId, kwargs) {
        var patient_id = kwargs['patient_id'];
        if (patient_id) {
            var url = Urls.patient_mim_genes_grid({patient_id: patient_id, genome_build_name: "{{ genome_build.name }}", op: 'download'});
            addDownloadLink(grid, pagerId, url);
        }
    }
</script>
<div>
    <div id='hpo-genes-container'>
        <b>Patient HPO:</b>
        {% if patient.get_hpo_qs.exists %}
        {% jqgrid 'patient_hpo_genes_grid' 'patient-hpo-genes' init_func='patient_hpo_genes_grid_init_func' search=False patient_id=patient.pk genome_build_name=genome_build.name %}
        {% else %}
            <p>Patient has no HPO set.
        {% endif %}
    </div>
    
    <div id='mim-genes-container'>
        <b>Patient OMIM:</b>
        {% if patient.get_mim_qs.exists %}
        {% jqgrid 'patient_mim_genes_grid' 'patient-mim-genes' init_func='patient_mim_genes_grid_init_func' search=False patient_id=patient.pk genome_build_name=genome_build.name %}
        {% else %}
            <p>Patient has no OMIM set.
        {% endif %}
    </div>
    <div class='clear'></div>
</div>
</div>