{% extends menu_patients_base %}
{% load ui_utils %}

{% block title %}Patient Records{% endblock title %}
{% block css %}
#patient-header {
    margin-bottom: 10px; 
}
{% endblock css %}

{% block submenu_page_content %}
    <script>
        function patientRecordFilter(data) {
            data.patient_records = {{ patient_records.pk }};
        }
    </script>
    <div>
        <div>
            <a href="{% url 'patient_imports' %}">Back to Patient Imports</a>
        </div>
        {% with uploaded_file=patient_records.uploadedpatientrecords.uploaded_file %}
            <div class="card mb-4">
                <div class="card-header">Patient Import {{ uploaded_file.uploadpipeline.pk }} {% admin_link uploaded_file.uploadpipeline %}</div>
                <div class="card-body">
                    {% labelled label="User" %}<a href="{% url 'view_user' uploaded_file.user.pk %}">{{ uploaded_file.user }}</a>{% endlabelled %}
                    {% labelled label="Created" %}{{ uploaded_file.created }}{% endlabelled %}
                    {% labelled label="Status" %}{{ uploaded_file.uploadpipeline.get_status_display | severity_icon }}{{ uploaded_file.uploadpipeline.get_status_display }}{% endlabelled %}
                    {% labelled label="Upload Pipeline" %}
                        {% if uploaded_file.uploadpipeline %}
                            <a href="{% url 'view_upload_pipeline' uploaded_file.uploadpipeline.pk %}">View upload pipeline</a>
                        {% endif %}
                    {% endlabelled %}
                    {% labelled label="Download" %}
                        <a href="{% url 'download_uploaded_file' uploaded_file.pk %}">
                            <div class="icon24 left margin-r-5 csv-icon">
                            </div> Uploaded CSV
                        </a> ({{ uploaded_file.size|filesizeformat }})
                    {% endlabelled %}
                </div>
            </div>
        {% endwith %}
        <div class="container-table">
            <table id="patient-record-datatable" data-datatable-url="{% url 'patient_record_datatables' %}"  data-datatable-data='patientRecordFilter'></table>
            <div id='upload-steps-graph'></div>
        </div>
    </div>
{% endblock submenu_page_content %}

