{% load tz %}

<div class="container" id="modifications">
    <table class="table">
    <tr><th>User <th> Date <th> Description <th> Origin
    {% for pm in patient_modifications %}
    <tr><td>{{ pm.user }}
        <td>{{ pm.date | localtime }}
        <td>{{ pm.description }}
        <td>
            {% with import_url=pm.get_import_url %}
                {% if import_url %}
                    <a href="{{ import_url }}">{{ pm.get_origin_display }}</a>
                {% else %}
                    {{ pm.get_origin_display }}
                {% endif %}

            {% endwith %}
        <!-- link to import? -->
    {% endfor %}
    </table>
</div>
