{% extends "uicore/page/base.html" %}
{% load english_tags %}
{% load crispy_forms_field %}
{% load ui_utils %}
{% load ui_menu_bars %}
{% load user_tag_color_tags %}
{% load settings_tags %}
{% load js_tags %}

{% block submenu %}{% menu_bar_data %}{% endblock %}

{% block title %}Search{% endblock %}
{% block head %}
    {% render_tag_styles_and_formatter %}
    <style>
        .example {
            font-family: monospace;
            color: #444444;
            display: inline-block;
            background-color: #f2f2f2;
            border-radius: 2px;
            padding: 2px 4px 2px 4px;
            margin: 4px 4px 4px 0;
        }
        .search-message {
            padding: 3px 3px 3px 0;
            color: #444;
            display: block;
        }
        .search-results a:hover .search-identifier {
            color: #44a;
            text-decoration: underline;
        }
        .list-group-item-action {
            cursor: pointer;
        }
        .list-group-item-action .search-identifier {
            color: #448;
            cursor: pointer !important;
        }
        .search-results .list-group-item-okay {
            background-color: #fff;
        }
        .search-results .list-group-item-action:hover {
            background-color: #f6f6ff;
        }
        .searched, .searched label {
            color: #448844 !important;
        }
        .extra-summary label {
            text-transform: capitalize;
            font-weight: 500;
            margin-right: 4px;
            color: #444!important;
            margin-top: 4px;
        }
        .extra.normal + .extra.normal {
            margin-left: 8px;
        }
    </style>
    <script>
        $(document).ready(() => {
            $('#big_search').select();
            $('#big_search').focus(() => {
               $('#big_search').select();
            });
        });
    </script>
{% endblock %}
{% block content %}
    {% settings_value 'VARIANT_VCF_DB_PREFIX' as variant_vcf_db_prefix %}
    {% settings_value 'SEARCH_SUMMARY' as show_search_summary %}
    <script>
        function updateSearchMode() {
            let feeling_lucky = $("#feeling-lucky").is(':checked')
            $("#search-mode").val(feeling_lucky ? "lucky" : "preview");
            console.log("Search mode now = ");
            console.log($("#search-mode").val());
        }
    </script>

    {% if search and search_results.results %}
        <script>
            function scrollToResults(category) {
                let scrollMe = isPhoneMode() ? $('body') : $('.main-content');
                let scrollTo = $(`#results-${category}`);
                let scrollToOffset = scrollTo.position().top;

                scrollMe.animate({scrollTop: scrollToOffset - 30}, 100, 'swing', () => {
                    $(`.result-${category}`).animate({'background-color': '#cceecc'}, 150).animate({'background-color': 'inherit'}, 100); //.fadeOut(100).fadeIn(100);
                });
                return false;
            }
            function searchAgain() {
                let scrollMe = isPhoneMode() ? $('body') : $('.main-content');
                scrollMe.animate({scrollTop: 0}, 100);
                $('#big_search').focus();
            }
        </script>

        <div class="current-record-menu-item">
            <div class="mt-2">
                <div class="d-none d-lg-block">
                    <div><a class="hover-link" onclick="searchAgain()">Search Again</a></div>
                    <hr/>
                </div>
                <div><label>Results</label></div>
                {% for sc in search_results.search_counts %}
                    <div style="position:relative">
                        <a class="hover-link"
                        {% if sc.excluded_results %}title="Calculated {{ sc.total }} results, limiting results to {{ sc.resolved }}"{% endif %}
                        onclick="scrollToResults('{{ sc.category|id_safe }}')">{{ sc.category }}</a> : <span class="d-inline-block text-monospace" style="min-width:20px">{{ sc.resolved }}{% if sc.excluded_results %}<span style="position:absolute;right:-10px">*</span>{% endif %}</span>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endif %}

    <div class="container position-relative">
        <div>
            <h3>{% if classify %}Classify{% else %}Search{% endif %}</h3>
        </div>

        <form id="search-form inline-form" method="get">
            {% if classify %}<input type="hidden" name="classify" value="True" />{% endif %}
            <div class="input-group">
                <input id="big_search" class="form-control" name="search" placeholder="Search" value="{{ form.search.value }}" autofocus="autofocus">
                <div class="input-group-append">
                    <button id='search-page-button' class="input-group-append btn btn-primary">Go</button>
                </div>
            </div>
            <input id="search-mode" name="mode" type="hidden" value="{{ form.mode.value }}" />
            <label class="form-check-label form-check-inline mt-2">
                <input id='feeling-lucky' type='checkbox' value="lucky" class="form-check mr-2" {% if form.mode.value != 'preview' %}checked{% endif %} onclick="updateSearchMode()"/>
                Automatically open single valid search result
            </label>
        </form>

        {% if search %}
            <div id='results' class="mt-4">
                <div class="row">
                    {% if search_results.results %}
                        <h4 class="col-8">{{ search_results.results|length }}{% if search_results.has_excluded_records %}*{% endif %}{% if search_results.results|length == 1 %} Result{% else %} Results{% endif %} Found for "{{ search }}"</h4>
                    {% else %}
                        <h4 class="col-8 no-value">No Results Found</h4>
                    {% endif %}
                    <div class="col-4 text-right">
                        <a class="hover-link" href="{% url 'view_user_settings' %}" title="Default Genome Build can be changed on the User Details page under Settings">Preferred Genome Build</a> : {{ search_results.search_input.genome_build_preferred }}
                    </div>
                </div>

                {% if search_results.results or search_results.messages_overall %}
                    <nomin>
                    <ul class="list-group search-results">
                        {% comment %}TOP LEVEL SEARCH INFO/WARNINGS/ERRORS{% endcomment %}
                        {% for message in search_results.messages_overall %}
                            <div class="list-group-item list-group-item-warning">
                                <div class="row d-flex align-items-center" style="color:#444">
                                    <div class="col-3 text-right">
                                        {{ message.severity | severity_icon }}{% if message.search_info.preview_icon %}<i class="{{ message.search_info.preview_icon }} text-info mr-2" style="opacity:0.75"></i>{% endif %}
                                        <label>{{ message.search_info.category }}</label>
                                        {% if message.search_info.sub_name %}<div class="text-info text-small">via {{ message.search_info.sub_name }} Search</div>{% endif %}
                                    </div>
                                    <div class="col-9">
                                        {{ message.message|enrich }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% for search_result in search_results.results %}
                            {% with preview=search_result.preview %}
                                <a {% ifchanged preview.category %}id="results-{{ preview.category|id_safe }}"{% endifchanged %}
                                        class="list-group-item list-group-item-action list-group-item-okay result-{{ preview.category|id_safe }}" href="{{ preview.internal_url }}">
                                    <div class="row d-flex align-items-center" style="color:#444">
                                        <div class="col-3 text-right">
                                            {% if single_preferred_result and single_preferred_result == search_result %}<i class="fa-solid fa-star text-success" title="This is the best result"></i>{% endif %}
                                            {% if preview.icon %}<i class="{{ search_result.preview_icon_with_severity }} mr-2" style="opacity:0.75"></i>{% endif %}
                                            <label>{{ preview.category }}</label>
                                            {% if search_result.sub_name %}<div class="text-small text-info">via {{ search_result.sub_name }} Search</div>{% endif %}
                                            {% if search_result.annotation_consortia %}
                                                <div class="text-small">
                                                    {% for consortia in search_result.annotation_consortia %}
                                                        {{ consortia.label }}{% if not forloop.last %} and {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            {% if search_result.genome_builds %}
                                                <nomin class="d-block text-small">
                                                    <span class="text-secondary">{% if search_result.genome_build_mismatch %}{{ 'W' | severity_icon:'This is not your preferred genome build' }}{% endif %}
                                                    Matched on </span> {% for gb_messages in search_result.genome_builds_with_messages %}
                                                    <label
                                                        {% if gb_messages.message_summary %}title="{{ gb_messages.message_summary }}" class="text-{{ gb_messages.severity_bs }} hover-detail"{% endif %}
                                                    >{{ gb_messages.genome_build }}</label>
                                                    {% if not forloop.last %} and {% endif %}{% endfor %}
                                                </nomin>
                                            {% endif %}
                                        </div>
                                        <div class="col-9">
                                            {% if search_result.messages %}
                                                <div class="mb-2">
                                                    {% for message in search_result.genome_build_relevant_messages %}
                                                        <div class="text-danger">
                                                            {{ message.severity | severity_icon }}&nbsp{{ message.message|enrich }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            <label class="search-identifier">{{ preview.identifier }}</label>&nbsp;{% if preview.title %}<span class="search-title">{{ preview.title }}</span>{% endif %}
                                            {% if preview.summary_all %}<div class="d-block text-small text-secondary extra-summary">
                                                {% for extra in preview.summary_all %}
                                                    <span class="extra {% if extra.dedicated_row %}important d-block{% else %}normal d-inline-block{% endif %}">{% if extra.icon %}<i class="{{ extra.icon }} text-success mr-1"></i>{% endif %}{% if extra.key %}<label>{{ extra.key }} </label> {% endif %}
                                                        {{ extra.value|format_value:200 }}
                                                    </span>
                                                {% endfor %}
                                            </div>{% endif %}
                                        </div>
                                    </div>
                                </a>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                    </nomin>
                {% endif %}
            </div>
        {% endif %}

        <div class="card mt-4">
            <div class="card-header">Accepted Inputs</div>
            <div class="card-body">
                {% for search_response in search_results.responses %}
                    <div class="row d-flex align-items-center" style="min-height:30px;">
                        <div class="col-3 text-right {% if not search_response.sub_name and search_response.matched_pattern and user.is_superuser %}searched{% endif %}">
                            {% ifchanged search_response.preview_category %}
                                <i class="{{ search_response.preview_icon }} mr-2" style="opacity:0.75"></i>
                                <label>
                                    {{ search_response.preview_category }}
                                </label>
                            {% endifchanged %}
                        </div>
                        <div class="col-9">
                            {% if search_response.admin_only %}<i class="fa-solid fa-key mr-2"></i>{% endif %}
                            {% if search_response.sub_name %}
                                <label {% if search_response.matched_pattern and user.is_superuser %}class="searched"{% endif %}>{{ search_response.sub_name }}</label><span class="d-inline mx-1">-</span>
                            {% endif %}
                            {% if search_response.example %}
                                {% if search_response.example.note %}
                                    {{ search_response.example.note }}
                                {% endif %}
                                {% if search_response.example.examples %}
                                    {% for example in search_response.example.examples %}
                                        <span class="example ml-1">{{ example }}</span>
                                        <nomin> </nomin>
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                You can search for this
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if search and user.is_superuser %}
                <div class="card-footer">
                    <i class="fa-solid fa-key mr-2"></i> Inputs highlighted in <span class="searched">green</span> were included in this search.
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
