{% extends "uicore/page/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load humanize %}
{% load ui_tabs_builder %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load ui_help %}
{% load english_tags %}
{% load jqgrid_tags %}
{% load js_tags %}
{% load seqauto_graph_tags %}
{% load static %}
{% block title %}Server Status{% endblock %}
{% block submenu %}{% menu_bar_settings %}{% endblock submenu %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/lib/plotly-latest.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plotly_helper.js' %}"></script>
    <script>
    function killPid(pid) {
        if (window.confirm(`Are you sure you wish to cancel query ID ${pid}?`)) {
            $('#kill-query-pid').val(pid);
            $('#kill-query').submit();
        }
    }
    function testRollbarJs() {
        Rollbar.error("Testing Rollbar JS");
        window.alert("If configured correctly, Rollbar should have recorded an error.");
        return false;
    }
    </script>
    <style>
        div#reference-check {
            margin: 20px 0px 20px 0px;
        }

        #celery-workers {
           height: 50px;
        }

        div.worker-ok {
           background-color: #00aa00;
        }

        div.worker-error {
           background-color: #aa0000;
        }

        .status-check {
            padding: 2px;
            margin: 5px;
        }

        #dashboard-notices {
            border: 2px solid black;
        }
    </style>
{% endblock %}
{% block content %}
	<div class="container">
        <h3>Server Status</h3>
        {% ui_register_tab_embedded tab_set="server_status" label="Server Status" %}

            {% labelled id="highest_variant" label="Highest Variant Annotated w/latest" %}<div class="alert alert-{{ highest_variant_annotated.status }}">{{ highest_variant_annotated.message }}</div>{% endlabelled %}

            {% if seqauto_enabled or not can_access_reference %}
                <a class='toggle-link' data-toggle="collapse" href="#sequencing">Toggle Sequencing Stats</a>
                <div id="sequencing" class="collapse">
                    {% if seqauto_enabled %}
                        <div>
                        {% sample_enrichment_kits_graph sample_enrichment_kits_df 'Samples By Month' "month_offset" %}
                        </div>
                    {% endif %}

                    {% if not can_access_reference %}
                        <div id="reference-check">
                            <b>Reference:</b> <span class="status-check error">Can't access reference directory.</span>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% if queries %}
                <form method="POST" id="kill-query">
                {% csrf_token %}
                <input type="hidden" name="action" value="kill-pid" />
                <input type="hidden" name="pid" id="kill-query-pid" value="" />
                </form>

                <h4>Queries</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>pid</th>
                            <th>Duration</th>
                            <th>Query</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for query in queries %}
                            <tr>
                                <td><a onclick="killPid({{ query.pid }})" class="hover-delete">{{ query.pid }}</a></td>
                                <td>{{ query.duration | duration }}</td>
                                <td>{{ query.query }}</td>
                                <td>{{ query.state }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if celery_workers %}
                <h4>Celery Workers</h4>
                {% for worker, worker_info in celery_workers.items %}

                    {% labelled id=worker label=worker %}
                        <div class="alert {% if worker_info.ok %}alert-primary{% else %}alert-danger{% endif %}">
                            {{ worker_info.status }}
                            {% if worker_info.ok %}
                                Jobs: {{ worker_info.active }}
                                {% if worker_info.active_jobs %}
                                    Tasks: {{ worker_info.active_jobs }}
                                {% endif %}
                                {% if worker_info.scheduled %}
                                    Scheduled: {{ worker_info.scheduled }}
                                {% endif %}
                                Total workers: {{ worker_info.num_workers }}

                            {% endif %}
                        </div>
                    {% endlabelled %}

                {% endfor %}
            {% endif %}

            <div data-toggle="ajax" href="{% url 'health_check_details' %}"></div>

        {% end_ui_register_tab_embedded %}

        {% ui_register_tab url="view_upload_stats_detail" url_check=True label="Upload Stats" tab_set="server_status" %}
        {% if url_name_visible.analysis %}
            {% ui_register_tab url="database_statistics_detail" label="Database Graphs" tab_set="server_status" %}
        {% endif %}
        {% ui_register_tab url='server_status_settings_detail' label="Settings" tab_set="server_status" %}
        {% ui_register_tab url="server_status_activity_detail" param=1 label="Activity 24 hours" tab_set="server_status" %}
        {% ui_register_tab url="server_status_activity_detail" param=2 label="Activity 48 hours" tab_set="server_status" %}
        {% ui_register_tab url="server_status_activity_detail" param=30 label="Activity 30 days" tab_set="server_status" %}

        {% ui_render_tabs tab_set="server_status" %}

	</div>

{% endblock %}