{% extends menu_variants_base %}
{% load settings_tags %}
{% load static %}
{% load genome_build_tags %}
{% load jqgrid_tags %}
{% load user_tag_color_tags %}

{% block title %}Variant Tags{% endblock title %}

{% block head %}
{{ block.super }}
{% render_tag_styles_and_formatter %}
<script>
    window.ANALYSIS_SETTINGS = {
        show_igv_links : false,
        open_variant_details_in_new_window: true,
    };

    gridParams = {};
    function getVariantTagsGridExtraFilters() {
        return JSON.stringify(gridParams);
    }

    function variantTagsGridInitFunc(grid, pagerId) {
        grid[0].p.postData["extra_filters"] = getVariantTagsGridExtraFilters;
    }

    function showAll() {
        gridParams = {};
        reloadGrid();
    }

    function reloadGrid() {
        let grid = $("#analyses_variant_tags-grid");
        grid.trigger("reloadGrid");

        let grid2 = $("#analysis_tagged_variant-grid");
        grid2.trigger("reloadGrid");
    }

    function tagClick(tagId) {
        gridParams = {"tag" : tagId};
        reloadGrid();
    }

</script>
<script type="text/javascript" src="{% static 'js/grid.js' %}"></script>
<style>
{% render_node_count_colors_css %}
.new-classification-button {
    margin: 4px;
}
</style>
{% endblock head %}

{% block submenu_page_content %}
    {% genome_build_url_arg genome_build 'genome_build_variant_tags' %}

    <h3>Variant Tags</h3>

    <a href="{% url 'tag_settings' %}">Tag Settings</a>

    {% tag_counts_filter genome_build=genome_build click_func='tagClick' show_all_func='showAll' any_tag_button=False %}

    <h3>Variants</h3>

    (One variant per row, with all associated tags)

    {% jqgrid 'tagged_variant_grid' 'tagged_variant' template_name='jqgrid/variant_details_link_grid.html' genome_build_name=genome_build.name search=False download_grid_json_as_csv=True init_func='variantTagsGridInitFunc' %}

    <h3>Tags</h3>

    (One tag per row, showing full information)

    {% user_data_grid_filter 'variant_tags' 'Variant Tags' filter_name_choices=filter_name_choices %}
    {% jqgrid 'variant_tags_grid' 'variant_tags' template_name='jqgrid/variant_details_link_grid.html' genome_build_name=genome_build.name search=False download_grid_json_as_csv=True init_func='variantTagsGridInitFunc' %}

{% endblock submenu_page_content %}