{% extends menu_variants_base %}
{% load static %}
{% block title %}Variant Wiki{% endblock %}

{% block submenu_page_content %}
    <script>
        function renderVariantId(data, type, row) {
            let link = $('<a>', {
                href: Urls.view_variant(data.id),
                class: 'hover-link',
                html: [
                    $('<span>', {text: data.g_hgvs}),
                ]
            });
            return link.prop('outerHTML');
        }
    </script>

    <h3>Variant Wiki</h3>

    <table id="variant-wiki-datatable" class="variant-wiki-table sticky-header" data-datatable-responsive="true" data-datatable-url="{% url 'variant_wiki_datatable' %}"></table>

{% endblock %}