{% load static %}
{% load js_tags %}
{% load ui_help %}

{% if has_samples_in_other_builds %}
<div id="sv-annotation-help-info" class="container">
    {% page_help_embedded page_id='genes/variant_sample_information_help' title='Variant Sample Information' %}
        <p>The locus counts and sample genotypes come from every genome build this allele has been lifted over to.
            There are samples in builds not shown below - to see those, the allele needs to be lifted over to them.</p>

        <p>You may want to visit the Allele link (box at the top of the page) then view variants in a different build</p>
    {% end_page_help_embedded %}
</div>
{% endif %}

<script type="text/javascript" src="{% static 'js/lib/plotly-latest.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plotly_helper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/phenotype.js' %}"></script>
<script type="text/javascript" src="{% static 'js/variant_sample_information.js' %}"></script>

<style>
    .graph-row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .graph-row > div {
        flex: 1 1 380px;
        min-width: 0;
    }

    .grid-term-link {
        padding: 1px;
        margin: 2px;
        display: inline-block;
    }

    td.no-word-wrap {
        white-space: normal !important;
        max-width: 300px;  /* Ontology terms wrap rather than making the grid scroll further */
    }

    .separator {
        padding: 0 5px 0 5px;
    }
</style>

<div id='locus' class="container">
    <h4>Locus</h4>
    <p>
    Reference - Homozygous reference calls are only reported in samples uploaded in multi-sample VCF files, when another sample has a variant at this locus.<br>
    Variants - REF for a variants means the depth/quality was below the zygosity calling threshold. These may be somatic or artefacts.
    </p>

    <div id="locus-counts"></div>
</div>

<div id='other-loci-variants-by-multiallelic' class="container"></div>

<div id="variant-samples" class="container-table">
    <h3>Samples</h3>

    <div id="samples-loading"><i class="fas fa-spinner fa-spin"></i> Loading samples...</div>
    <div id="samples-summary"></div>

    <div id="genotype-grid-container" style="display: none">
        <form id="genotype-grid-form">
            <div id="genome-build-filter" style="display: none">
                <b>Genome Build </b><span id="genome-build-filters"></span>
            </div>
            <b>Zygosity </b><span id="zygosity-filters"></span>
        </form>

        <table id="genotype-grid" class="table table-striped" style="width: 100%"></table>
    </div>

    <div id="allele-frequency-graphs-container" style="display: none">
        <div class="graph-row">
            <div id='sample-allele-frequency-scatter'></div>
            <div id='sample-allele-frequency-histogram'></div>
        </div>
    </div>

    {% comment %} A lot of patient phenotype code is duplicated from patients.html, TODO: maybe consolidate it? {% endcomment %}
    <div id="variant-sample-phenotype-graphs" style="display: none">
        <h3>Phenotypes/OMIM</h3>
        <p>Requires that samples have been matched to patients, and patient phenotype information has been entered.

        <div class="graph-row">
            <div id='sample-hpo-graph'></div>
            <div id='sample-omim-graph'></div>
            <div id='sample-mondo-graph'></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        VariantSampleInformation.init({
            variantIds: {{ variant_ids | jsonify }},
            variantLabel: "{{ variant|escapejs }}",
            genotypesUrlForVariant: "{% url 'variant_sample_genotypes' 0 %}",
            unknownSampleIconUrl: "{% static 'icons/unknown_sample.png' %}",
        });
    });
</script>
