{% load static %}
{% load classification_tags %}
{% load js_tags %}
{% load fieldset_tags %}
{% load ui_utils %}
{% load ui_help %}
{% load settings_tags %}
{% load user_tag_color_tags %}
{% render_tag_styles_and_formatter %}
<script type="text/javascript">

function viewTagDetail(tag) {
    return Urls.variant_tag_detail({{ variant.pk }}, tag);
}


function analysisLinkRenderer(data, type, row) {
    if (row.analysis) {
        let analysisLink = $("<a />", {
            href : Urls.analysis(row.analysis),
            text : row.analysis,
        });
        return $(analysisLink).prop('outerHTML');
    }
    return data;
}

function tagRenderer(data, type, row) {
    let variantTagHtml = `<span class='grid-tag tagged-${row.tag}' title='Tagged as ${row.tag}' id="variant-tag-${row.id}" variant_tag_id='${row.id}' tag_id='${row.tag}'><span class='user-tag-colored'>${row.tag}</span></span>`;
    return $(variantTagHtml).prop('outerHTML');
}

function getBams() {
    return [];
}

function formatField(select, formatFunc) {
    let content = $(select).text();
    let formattedContent = formatFunc(content);
    $(select).html(formattedContent);
}

function gnomadGeneConstraintRetrieval(content) {
    // Need to put 2 hidden gnomad gene constraint fields into 1 link
    let method = $('#gnomad_gene_constraint_method').text();
    let url = $('#gnomad_gene_constraint_url').text();
    let retrievalSummary = "-";
    if (method && url) {
        retrievalSummary = $("<a>", {target: "_blank", href: url}).text(method);
    }
    return retrievalSummary;
}

var pathogenicity_rankscore_threshold = [
    {% settings_value 'ANNOTATION_MAX_BENIGN_RANKSCORE' %},
    {% settings_value 'ANNOTATION_MIN_PATHOGENIC_RANKSCORE' %}
]

var CODE_THRESHOLDS = {
    "revel_score": [0.15, 0.75],
    "cadd_phred": [10, 20],
    "grantham": [57, 105],
    "gerp_pp_rs": [0, 3],
    //
    "cadd_raw_rankscore": pathogenicity_rankscore_threshold,
    "revel_rankscore": pathogenicity_rankscore_threshold,
    "bayesdel_noaf_rankscore": pathogenicity_rankscore_threshold,
    "clinpred_rankscore": pathogenicity_rankscore_threshold,
    "vest4_rankscore": pathogenicity_rankscore_threshold,
    "metalr_rankscore": pathogenicity_rankscore_threshold,
    "maxentscan_percent_diff_ref": [-150, -70, 70, 150],
    "phastcons_100_way_vertebrate": [0.85],
    "phastcons_46_way_mammalian": [0.85],
    "phastcons_30_way_mammalian": [0.85],
    "phylop_100_way_vertebrate": [1.4],
    // TODO: can't find what the ranges are...
    // "phylop_46_way_mammalian": [1],
    "phylop_30_way_mammalian": [1],
    "spliceai_pred_ds_ag": [0.2, 0.6],
    "spliceai_pred_ds_al": [0.2, 0.6],
    "spliceai_pred_ds_dg": [0.2, 0.6],
    "spliceai_pred_ds_dl": [0.2, 0.6],
    "dbscsnv_ada_score": [0.2, 0.6],
    "dbscsnv_rf_score": [0.2, 0.6],
    "cosmic_count": [2, 10]
};
// These are looked up in lower case
var CODE_WORDS = {
    "tolerated": "low",
    "neutral": "low",
    "low": "low",
    "benign": "low",
    "medium": "med",
    "possibly damaging": "med",
    "damaging": "high",
    "high": "high",
    "probably damaging": "high",
    // Mutation Taster
    "polymorphism (automatic)": "low", // known benign
    "polymorphism": "med", // probably benign
    "disease causing": "high", // probably pathogenic
    "disease causing (automatic)": "high", // known pathogenic
    // NMD
    "true": "high",
    // ALoFT
    "recessive": "high",
    "dominant": "med",
    "tolerant": "low",
};


var STRIP_ZEROS = /(.*?[.][0-9]*?)(0+)$/;

function formatNumberSigDigits(value) {
    // JavaScript does have toPrecision but it has a habit of returning scientific notation
    let numString = Math.abs(value).toFixed(12);
    let significantDigits = 3;
    let requiredDigits = null;
    if (numString[0] != "0") {
        requiredDigits = significantDigits - numString.indexOf(".");
    } else {
        requiredDigits = 0;
        for (let char of numString.substring(numString.indexOf(".") + 1)) {
            if (char != "0") {
                requiredDigits += significantDigits
                break;
            } else {
                requiredDigits += 1;
            }
        }
    }

    if (requiredDigits <= 0) {
        return value.toFixed(0);
    } else {
        let numString = value.toFixed(requiredDigits);
        let match = numString.match(STRIP_ZEROS);
        if (match) {
            numString = match[1];
            if (numString.endsWith('.')) {
                numString = numString.substring(0, numString.length-1);
            }
        }
        return numString;
    }
}

function applyValue(name, value) {
    let transcriptInfoTable = $('#transcript-info');
    let hasValue = true;
    if (value === null) {
        hasValue = false;
        value = $('<span>', {class: 'no-value', text:'-'});
    } else if (_.isNumber(value)) {
        let threshold = CODE_THRESHOLDS[name];
        let cssClasses = ["text-monospace"];
        if (threshold) {
            if (threshold.length == 1) {
                if (value >= threshold[0]) {
                    cssClasses.push("threshold");
                    cssClasses.push("threshold-high");
                }
            } else if (threshold.length == 2) {
                cssClasses.push("threshold");
                if (value < threshold[0]) {
                    cssClasses.push("threshold-low");
                } else if (value <= threshold[1]) {
                    cssClasses.push("threshold-med");
                } else {
                    cssClasses.push("threshold-high");
                }
            } else if (threshold.length == 4) {
                cssClasses.push("threshold");
                if (value < threshold[0]) {
                    cssClasses.push("threshold-high");
                } else if (value <= threshold[1]) {
                    cssClasses.push("threshold-med");
                } else if (value <= threshold[2]) {
                     cssClasses.push("threshold-low");
                } else if (value <= threshold[3]) {
                    cssClasses.push("threshold-med");
                } else {
                    cssClasses.push("threshold-med");
                }
            }
        }
        if (value === 0) {
            cssClasses.push("text-secondary");
        }
        value = $('<span>', {"class": cssClasses.join(" "), text: formatNumberSigDigits(value)});
    } else if (_.isString(value)) {
        let threshold = CODE_WORDS[value.toLowerCase()];
        if (threshold) {
            value = $('<span>', {"class": `threshold threshold-${threshold}`, text: value});
        }
    } else if (_.isBoolean(value)) {
        let threshold = value? "high" : "low";
        value = $('<span>', {"class": `threshold threshold-${threshold}`, text: value});
    }
    let htmlDom = $("#" + name, transcriptInfoTable);

    if (htmlDom.length) {
        htmlDom.html(value);
        if (hasValue) {
            let suffix = htmlDom.attr('data-suffix');
            if (suffix && suffix.length) {
                $('<span>', {text: ` ${suffix}`, class: 'text-monospace'}).appendTo(htmlDom);
            }
        }
    }
}

function transcriptFunc(transcriptId, data) {
    let transcriptInfoTable = $('#transcript-info');
    $.each(data, (name, value) => {
        applyValue(name, value);
    });

    formatField($("#cosmic_id"), cosmicLink);
    formatField($("#cosmic_legacy_id"), cosmicLink);
    formatField($("#gnomad_gene_constraint_retrieval"), gnomadGeneConstraintRetrieval);
}


function geneFunc(geneId, geneSymbol) {
    let geneInfoDiv = $("#gene-info");
    let geneInfoDetails = $("#gene-info-details");
    if (geneSymbol) {
        geneInfoDetails.load(Urls.gene_symbol_info_tab(geneSymbol, "{{ tool_tips }}"));
        $("#gene-info-gene-symbol-header").html("Gene: " + geneSymbol);
        geneInfoDiv.show();
    } else {
        geneInfoDiv.hide();
    }

    {% if show_gene_coverage %}
    let geneCoverage = $("#gene_coverage");
    if (geneSymbol) {
        const currentCoverageGeneId = $("#gene-coverage-data").attr("gene_symbol");
        console.log("currentCoverageGeneId:");
        console.log(currentCoverageGeneId);
        if (currentCoverageGeneId != geneSymbol) {
            geneCoverage.load(Urls.gene_coverage(geneSymbol));
        }
    } else {
        geneCoverage.html("No gene symbol")
    }
    {% endif %}
}


function handlePubMedLinks(pubmed) {
    const NUM_INITIAL_PUBMED_ARTICLES = 4;

    let pmCitations = $("#pubmed-citations");
    pmCitations.empty();

    if (pubmed) {
        pmCitations.show();
        let allPubmedIds = pubmed.split('&');
        let allCitationDivs = [];
        for (const pubMedId of allPubmedIds) {
            allCitationDivs.push(CitationsManager.defaultManager.citationDomFor(`PMID:${pubMedId}`));
        }

        let citationDivs = allCitationDivs.slice(0, NUM_INITIAL_PUBMED_ARTICLES);
        let citationDivsOverflow = allCitationDivs.slice(NUM_INITIAL_PUBMED_ARTICLES);

        pmCitations.html(citationDivs);
        if (citationDivsOverflow.length) {
            $('<div>', {
                class:'text-center mt-2 mb-4',
                html:$('<a>', {
                    class: 'toggle-link text-center',
                    text: `Toggle remaining ${allPubmedIds.length - NUM_INITIAL_PUBMED_ARTICLES} of ${allPubmedIds.length} articles`,
                    'data-toggle': 'collapse',
                    'href': '#pubmed-citation-overflow'
                })
            }).appendTo(pmCitations);
            $('<div>', {id:'pubmed-citation-overflow', class:'collapse', html: citationDivsOverflow}).appendTo(pmCitations);
        }
    } else {
        $('<div>', {class:'mb-2 text-center', text: 'No Pubmed citations available'}).appendTo(pmCitations);
    }
}

function showVariantCoordinate() {
    const variant_coordinate = $("#show-variant-coordinate-link").attr("variant_coordinate");
    $("#variant_coordinate").text(variant_coordinate);
}


function populateVariantAllele(data) {
    let allele = $("#allele");
    if (data.allele) {
        let alleleUrl = Urls.view_allele(data.allele.id);
        let title = `Builds: ${data.allele.build_names}`;
        let alleleLink = $("<a>", {class:'hover-link', href: alleleUrl, title: title}).append(data.allele.__str__);
        allele.html(alleleLink);
    } else {
        allele.text("-");
    }

    $("#variant_coordinate").text(data.link_data.variant_string);
    if (data.link_data.variant_string !== data.link_data.variant_coordinate) {
        const link = $("<a />").text("show all bases").attr({
            id: "show-variant-coordinate-link",
            variant_coordinate: data.link_data.variant_coordinate,
            href: "javascript:showVariantCoordinate();",
        });
        $("#variant_coordinate").append(link);
    }
    $("#variant-canonical-c-hgvs").text(data.link_data.canonical_c_hgvs);

    let clinGenId = $("#clingen-allele-id");
    clinGenId.removeClass("loading");
    let clinGenDetails;
    if (data.error) {
        let error_message = `ClinGeneAllele API Error: ${data.error.errorType} (${data.error.description}) for input '${data.error.inputLine}'`;
        clinGenDetails = $("<span/>").text("Error!").attr("title", error_message);
    } else if (data.allele) {
        let clingenAllele = data.allele.clingen_allele;
        if (clingenAllele) {
            let clinGenUrl = clingenAllele.human_url;
            clinGenDetails = $("<a/>").attr("href", clinGenUrl).text(clingenAllele.id);
        }
    }
    if (clinGenDetails) {
        clinGenId.html(clinGenDetails);
    }

    EKeys.load().then(eKeys => {
        let vcLinks = new VCLinks(eKeys);
        let links = vcLinks.generateLinks(data.link_data);
        let anchors = links.filter(link => !link.isMissing()).map(link => link.asAnchor("bootstrap"));
        $('#quick-links').html($("<ul>", {class:"list-group", html:anchors}));
    });
}


function variantDetailsShowTagAutocomplete() {
    const showTagButton = $("#show-tag-autocomplete");
    const tagForm = $("#variant-tag-form");
    const variantTagUrl = Urls.set_variant_tag('V');
    const tagSelect = $("select#id_tag", tagForm);

    showTagButton.hide();
    tagForm.show();

    tagSelect.change(function() {
        const tag = $(this).val();
        if (tag) {
            clearAutocompleteChoice(tagSelect);
            const successFunc = function (data) {
                // We can return success but with empty data if it's a dupe (so don't add)
                if (!$.isEmptyObject(data)) {
                    $('#variant-tags-datatable').DataTable().ajax.reload();
                }
                showTagButton.show();
                $("#variant-tags-datatable-wrapper").show();
                tagForm.hide();
            };
            let data = 'variant_id={{ variant.pk }}';
            data += "&genome_build_name={{ genome_build.pk }}";
            data += '&tag_id=' + tag;
            data += '&op=' + 'add';
            $.ajax({
                type: "POST",
                data: data,
                url: variantTagUrl,
                success : successFunc,
            });
        }
    });
    tagSelect.select2('open');
}


$(document).ready(function() {
	$("#variant_sample_information").load('{% url 'variant_sample_information' variant.id genome_build.pk %}');

    let variantAllele = {{ variant_allele | jsonify }};
    if (variantAllele) {
        populateVariantAllele(variantAllele);
    } else {
    {% if variant.can_have_clingen_allele %}
        // Use Ajax to create + retrieve ClinGenAllele
        let variantAlleleForVariantUrl = "{% url 'variant_allele_for_variant' variant.pk genome_build.pk %}";
        $.ajax(variantAlleleForVariantUrl, {
            suppressErrors: true,
            success: populateVariantAllele
        });
    {% else %}
        // Can't retrieve, just show basics
        let variantString = "{{ variant|safe }}";
        let linkData = {variant_string: variantString, variant_coordinate: variantString};
        populateVariantAllele({link_data: linkData});
    {% endif %}
    }

    handlePubMedLinks("{{ variant_annotation.pubmed|default_if_none:''|safe }}");
    formatField($("#dbsnp_rs_id"), formatDBSNP);

    // load hardcoded values through
    applyVariantValues();
});

function applyVariantValues() {
    // Render variant annotation values this way so it's colored correctly etc as it
    // goes through the same formatting as transcript JavaScript values if done through here
    applyValue("bayesdel_noaf_rankscore", {{ variant_annotation.bayesdel_noaf_rankscore | jsonify}});
    applyValue("cadd_raw_rankscore", {{ variant_annotation.cadd_raw_rankscore | jsonify}});
    applyValue("clinpred_rankscore", {{ variant_annotation.clinpred_rankscore | jsonify}});
    applyValue("metalr_rankscore", {{ variant_annotation.metalr_rankscore | jsonify}});
    applyValue("revel_rankscore", {{ variant_annotation.revel_rankscore | jsonify}});
    applyValue("vest4_rankscore", {{ variant_annotation.vest4_rankscore | jsonify}});

    applyValue("aloft_pred", {{ variant_annotation.get_aloft_pred_display | jsonify}});

    applyValue("phastcons_100_way_vertebrate", {{ variant_annotation.phastcons_100_way_vertebrate | jsonify}});
    applyValue("phastcons_46_way_mammalian", {{ variant_annotation.phastcons_46_way_mammalian | jsonify}});
    applyValue("phastcons_30_way_mammalian", {{ variant_annotation.phastcons_30_way_mammalian | jsonify}});
    applyValue("phylop_100_way_vertebrate", {{ variant_annotation.phylop_100_way_vertebrate | jsonify}});
    applyValue("phylop_46_way_mammalian", {{ variant_annotation.phylop_46_way_mammalian | jsonify}});
    applyValue("phylop_30_way_mammalian", {{ variant_annotation.phylop_30_way_mammalian | jsonify}});

    applyValue("dbscsnv_ada_score", {{ variant_annotation.dbscsnv_ada_score | jsonify}});
    applyValue("dbscsnv_rf_score", {{ variant_annotation.dbscsnv_rf_score | jsonify}});
    {% if variant_annotation.has_spliceai %}
        applyValue("spliceai_pred_ds_ag", {{ variant_annotation.spliceai_pred_ds_ag | jsonify }});
        applyValue("spliceai_pred_ds_al", {{ variant_annotation.spliceai_pred_ds_al | jsonify }});
        applyValue("spliceai_pred_ds_dg", {{ variant_annotation.spliceai_pred_ds_dg | jsonify }});
        applyValue("spliceai_pred_ds_dl", {{ variant_annotation.spliceai_pred_ds_dl | jsonify }});
        applyValue("cosmic_count", {{ variant_annotation.cosmic_count | jsonify }});
    {% endif %}
}
</script>

    <div class="container">
        <h3>Variant</h3>

        <div id='top-links'>
            {% if not variant.can_have_annotation %}
            <p>There is no annotation for reference / non-standard variants. </p>
            {% endif %}

            {% if show_annotation and variant_annotation %}
                {% if annotation_version == latest_annotation_version %}
                    Using Latest annotation version: <a class="hover-link" href="{% url 'annotation_versions' %}">{{ annotation_version }}</a>.
                {% else %}
                    Using annotation version: <a class="hover-link" href="{% url 'annotation_versions' %}">{{ annotation_version }}</a>.

                    This is not the most recent version (which is {{ latest_annotation_version }}).
                {% endif %}

                {% if num_variant_annotation_versions > 1 %}
                    <a href="{% url 'view_variant_annotation_history' variant.pk %}">Compare {{ num_variant_annotation_versions }} historical versions</a>.
                {% endif %}
            {% endif %}

            {% if modified_normalised_variants.exists %}
                <div class='alert alert-warning'>
                <p>The following VCF variant records were <a target='_blank' href="https://genome.sph.umich.edu/wiki/Vt#Normalization">normalised by VT during import</a> and converted to this variant ({{ variant }}).
                <ul>
                {% for mnv in modified_normalised_variants %}
                    <li>{{ mnv }}
                {% endfor %}
                </ul>
                </div>
            {% endif %}
        </div>

        <div class="card" id="clingen-allele">
            <div class="card-header">Variant</div>
            <div class="card-body">
                {% labelled id="g-hgvs" label="g.HGVS" value_css="variant-coordinate variant_coordinate" %}{{ g_hgvs }}{% endlabelled %}
                {% labelled id="variant_coordinate" label="Variant Coordinate" value_css="variant-coordinate variant_coordinate" %}Loading...{% endlabelled %}
                {% labelled label="Genome Build" %}{{ genome_build }}{% endlabelled %}
                {% if variant.can_have_annotation and variant_show_canonical_hgvs %}
                    {% labelled id="variant-canonical-c-hgvs" label="Canonical c.HGVS" %}Loading...{% endlabelled %}
                {% endif %}
                {% labelled id="allele" label="Allele" help=annotation_description.allele %}Loading...{% endlabelled %}
                {% labelled id="quick-links" label="Quick Links" %}Loading...{% endlabelled %}
            </div>

            {% if variant.can_have_annotation and can_create_classification %}
                <div class="card-footer">
                    <a class="btn btn-primary" href="{% url 'create_classification_for_variant' variant.pk genome_build.pk %}">
                        <i class="fas fa-plus-circle"></i> New Classification
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if classifications_new_grouping %}
        <div class="container mt-4">
            <h4>Classifications</h4>
            {% classification_groups classifications link_discordance_reports=discordance_enabled context_object=variant %}
        </div>
    {% else %}
        {% if classifications %}
            <!-- Needs to be full width to show data table -->
            <div id='classifications' class='container-table mt-4'>
                <h3>Classifications</h3>
                    {% classification_table classifications genome_build user=user show_variant_link=False show_clinical_context=True variant=variant edit_clinical_groupings=edit_clinical_groupings %}
            </div>
        {% else %}
            <!-- Nicer table that lines up with others -->
            <div class="container mt-4">
                <div class="card">
                    <div class="card-header">Classifications</div>
                    <div class="card-body">
                        No internal classifications.
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if url_name_visible.variant_tags %}
    <div class="container mt-4">
        <h4>Tags</h4>

        <div id="variant-tags-datatable-wrapper" class="{% if not has_tags %}hidden{% endif %}">
            <table id="variant-tags-datatable" class="sticky-header" data-datatable-responsive="true" data-datatable-url="{% url 'variant_tag_counts_datatable' variant.pk %}"></table>
        </div>

        {% if view_variant %}
        {% comment %} Disable creating tags when loading via analysis grid. {% endcomment %}
        <div class="d-flex">
            <div>
                <a href="javascript:variantDetailsShowTagAutocomplete()" id="show-tag-autocomplete" title="Add new tag"><div class="click-to-add-button d-inline-block"></div>&nbsp;Add Tag</a>
            </div>
            <form id="variant-tag-form" class="hidden flex-row flex-grow">
                {% csrf_token %}
                {{ tag_form.tag }}
                {{ tag_form.media }}
            </form>
        </div>
        {% else %}
            Please create new tags in the grid, not on this page.
        {% endif %}
    </div>
    {% endif %}


{% if show_annotation and variant_annotation %}
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">ClinVar</div>
            <div class="card-body">
            {% if clinvar %}
                {% labelled label="Allele" %}
                 <a class='hover-link' target='_blank' href='https://www.ncbi.nlm.nih.gov/clinvar/variation/{{ clinvar.clinvar_variation_id }}'>{{ clinvar.clinvar_variation_id }}</a>
                    &nbsp;<b>AlleleID</b> {{ clinvar.clinvar_allele_id }}
                {% endlabelled %}
                {% labelled label="Highest pathogenicity" %}{{ clinvar.highest_pathogenicity }}{% endlabelled %}
                {% labelled label="Clinical significance" %}{{ clinvar.clinical_significance }}{% endlabelled %}
                {% if clinvar.conflicting_clinical_significance %}
                    {% labelled label="Conflicting clinical significance" %}{{ clinvar.conflicting_clinical_significance }}{% endlabelled %}
                {% endif %}
                {% labelled label="Preferred disease name" %}{{ clinvar.clinvar_preferred_disease_name }}{% endlabelled %}
                {% labelled label="Disease database name" %}{{ clinvar.clinvar_disease_database_name }}{% endlabelled %}
                {% labelled label="Review status" %}
                    {% load clinvar_tags %}
                    <a class='hover-link' target="_blank" href="https://www.ncbi.nlm.nih.gov/clinvar/docs/review_status/">
                    {% clinvar_stars clinvar.stars %} {{ clinvar.get_clinvar_review_status_display }}
                    </a>
                {% endlabelled %}
                {% labelled label="Clinical sources" %}{{ clinvar.clinvar_clinical_sources }}{% endlabelled %}
                {% labelled label="Origin" %}{{ clinvar.get_origin_display }}{% endlabelled %}
                {% if clinvar_suspect_reason_code %}
                    {% labelled label="Suspect reason code" %}{{ clinvar.get_suspect_reason_code_display }}{% endlabelled %}
                {% endif %}
                {% labelled label="Drug response" %}{{ clinvar.drug_response }}{% endlabelled %}
                {% labelled label="Citations" %}
                    {% if num_clinvar_citations %}<a class='toggle-link' data-toggle="collapse" href='#clinvar-citation-div'>Show {{ num_clinvar_citations }} Literature Citations</a>
                    {% else %}No Citations.
                    {% endif %}
                {% endlabelled %}
                <div id="clinvar-citation-div" class="collapse">
                    {% for citation_id in clinvar_citations %}
                    <div data-citation-id="{{ citation_id }}"></div>
                    {% endfor %}
                </div>
            {% else %}
                No ClinVar entry (version: {{ annotation_version.clinvar_version.annotation_date.date  }})
                <a href="https://www.ncbi.nlm.nih.gov/clinvar/?term={{ g_hgvs }}">Search ClinVar</a>
            {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card mt-4">
            <div class="card-header">Nearby variants</div>
            <div class="card-body">
                {% load nearby_variants_tags %}
                {% nearby_variants variant annotation_version %}
            </div>
        </div>
    </div>

    <div id="transcript" class="container mt-4">
        {% if variant_annotation.transcript_id %}
            {% page_help page_id="variantdetails/transcript_choice_help" title="Transcript Choice" %}
        {% else %}
            <div class='alert alert-warning'>
                Variant is intergenic and has no assigned gene / transcript. Many annotations will not be available.
            </div>
        {% endif %}
            <div class='select-transcript-container'></div>
            {% load variant_transcript_select_tags %}
            {% variant_transcript_select transcript_select_jquery='#select-transcript-container' vts=vts transcript_func='transcriptFunc' gene_func='geneFunc' show_all_transcript_details=True %}
    </div>

    <div id="gene-info" class="container">
        <div class="card mt-4">
            <div id='gene-info-gene-symbol-header' class="card-header"></div>
            <div id="gene-info-details" class="card-body">
            </div>
        </div>
    </div>

    <div id="transcript-info" class="container">
        <div class="row equal">

            <div class="col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">General Info</div>
                    <div class="card-body">
                        {% labelled id='variant_class' label='Variant Class' help=annotation_description.variant_class hint="tiny" %}{{ variant_annotation.get_variant_class_display }}{% endlabelled %}
                        {% labelled id='amino_acids' label='Amino Acids' help=annotation_description.amino_acids hint="tiny" %}{% endlabelled %}
                        {% labelled id='codons' label='Codons' help=annotation_description.codons hint="tiny" %}{% endlabelled %}
                        {% labelled id='exon' label='Exon' help=annotation_description.exon hint="tiny" %}{% endlabelled %}
                        {% labelled id='intron' label='Intron' help=annotation_description.intron hint="tiny" %}{% endlabelled %}
                        {% labelled id='distance' label='Gene Distance' help=annotation_description.distance hint="tiny" %}{% endlabelled %}
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">Sequence and Domain</div>
                    <div class="card-body">
                        {% labelled id='repeat_masker' label='Repeat Masker' help=annotation_description.repeat_masker hint="tiny" %}{{ variant_annotation.repeat_masker }}{% endlabelled %}
                        {% labelled id='domains' label='Domains' help=annotation_description.domains hint="tiny" %}{% endlabelled %}
                        {% labelled id='interpro_domain' label='InterPro' help=annotation_description.interpro_domain hint="tiny" %}{% endlabelled %}
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">Pathogenicity</div>
                    <div class="card-body">
                        {% if annotation_version.variant_annotation_version.columns_version == 1 %}
                            {% labelled id='cadd_phred' label='CADD Phred' help=annotation_description.cadd_phred hint="tiny" %}{% endlabelled %}
                            {% labelled id='grantham' label='Grantham' help=annotation_description.grantham hint="tiny" %}{% endlabelled %}
                            {% labelled id='revel_score' label='REVEL score' help=annotation_description.revel_score hint="tiny" %}{% endlabelled %}
                            {% labelled id='fathmm_pred_most_damaging' label='FATHMM' help=annotation_description.fathmm_pred_most_damaging hint="tiny" %}{% endlabelled %}
                            {% labelled id='mutation_assessor_pred_most_damaging' label='Mutation Assessor' help=annotation_description.mutation_assessor_pred_most_damaging hint="tiny" %}{% endlabelled %}
                            {% labelled id='polyphen2_hvar_pred_most_damaging' label='Polyphen2 HVAR' help=annotation_description.polyphen2_hvar_pred_most_damaging hint="tiny" %}{% endlabelled %}
                            {% labelled id='sift' label='SIFT' help=annotation_description.sift hint="tiny" %}{% endlabelled %}

                            {% labelled label="other predictions" hint="tiny" %}
                                <a class='toggle-link' data-toggle="collapse" href='#other-predictions'>Show other predictions</a>
                            {% endlabelled %}

                            <div id="other-predictions" class="collapse">
                                {% labelled id='mutation_taster_pred_most_damaging' label='Mutation Taster' help=annotation_description.mutation_taster_pred_most_damaging hint="tiny" %}{% endlabelled %}
                            </div>
                        {% elif annotation_version.variant_annotation_version.columns_version == 2 %}
                            {% labelled id='bayesdel_noaf_rankscore' label='BayesDel (No AF) rankscore' help=annotation_description.bayesdel_noaf_rankscore hint="tiny" value_css="text-monospace" %}{{ variant_annotation.bayesdel_noaf_rankscore }}{% endlabelled %}
                            {% labelled id='cadd_raw_rankscore' label='CADD Raw rankscore' help=annotation_description.cadd_raw_rankscore hint="tiny" value_css="text-monospace" %}{{ variant_annotation.cadd_raw_rankscore }}{% endlabelled %}
                            {% labelled id='clinpred_rankscore' label='ClinPred rankscore' help=annotation_description.clinpred_rankscore hint="tiny" value_css="text-monospace" %}{{ variant_annotation.clinpred_rankscore }}{% endlabelled %}
                            {% labelled id='metalr_rankscore' label='MetaLR rankscore' help=annotation_description.metalr_rankscore hint="tiny" value_css="text-monospace" %}{{ variant_annotation.metalr_rankscore }}{% endlabelled %}
                            {% labelled id='revel_rankscore' label='REVEL rankscore' help=annotation_description.revel_rankscore hint="tiny" value_css="text-monospace" %}{{ variant_annotation.revel_rankscore }}{% endlabelled %}
                            {% labelled id='vest4_rankscore' label='VEST4 rankscore' help=annotation_description.vest4_rankscore hint="tiny" value_css="text-monospace" %}{{ variant_annotation.vest4_rankscore }}{% endlabelled %}

                            {% labelled id='nmd_escaping_variant' label='NMD escaping variant' help=annotation_description.nmd_escaping_variant hint="tiny" value_css="text-monospace" %}{{ variant_annotation.nmd_escaping_variant }}{% endlabelled %}
                            {% labelled id='aloft_pred' label='ALoFT prediction' help=annotation_description.aloft_pred hint="tiny" value_css="text-monospace" %}{{ variant_annotation.get_aloft_pred_display }}{% endlabelled %}
                            {% if variant_annotation.aloft_pred %}
                                {% labelled id='aloft_prob_tolerant' label='ALoFT prob. Tolerant' help=annotation_description.aloft_prob_tolerant hint="tiny" value_css="text-monospace" %}{{ variant_annotation.aloft_prob_tolerant }}{% endlabelled %}
                                {% labelled id='aloft_prob_recessive' label='ALoFT prob Recessive' help=annotation_description.aloft_prob_recessive hint="tiny" value_css="text-monospace" %}{{ variant_annotation.aloft_prob_recessive }}{% endlabelled %}
                                {% labelled id='aloft_prob_dominant' label='ALoFT prob Dominant' help=annotation_description.aloft_prob_dominant hint="tiny" value_css="text-monospace" %}{{ variant_annotation.aloft_prob_dominant }}{% endlabelled %}
                                {% labelled id='aloft_high_confidence' label='ALoFT high confidence' help=annotation_description.aloft_high_confidence hint="tiny" value_css="text-monospace" %}{{ variant_annotation.aloft_high_confidence }}{% endlabelled %}
                                {% labelled id='aloft_ensembl_transcript' label='ALoFT Transcript' help=annotation_description.aloft_ensembl_transcript hint="tiny" value_css="text-monospace" %}{{ variant_annotation.aloft_ensembl_transcript }}{% endlabelled %}
                            {% endif %}
                        {% else %}
                            Unknown annotation columns_version = {{ annotation_version.variant_annotation_version.columns_version }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">Conservation</div>
                    <div class="card-body">
                        {% labelled id="gerp_pp_rs" label="Gerp++ (-12 - 6.8)" help=annotation_description.aloft_ensembl_transcript help=annotation_description.gerp_pp_rs hint="tiny" %}{% endlabelled %}
                        {% labelled id="phastcons_100_way_vertebrate" label="PhastCons 100 way vertebrate (0-1)" help=annotation_description.phastcons_100_way_vertebrate hint="tiny" %}{% endlabelled %}
                        {% if annotation_version.variant_annotation_version.has_phastcons_30_way_mammalian %}
                            {% labelled id="phastcons_30_way_mammalian" label="PhastCons 30 way mammalian (0-1)" label_css="text-small" help=annotation_description.phastcons_30_way_mammalian hint="tiny" %}{% endlabelled %}
                        {% endif %}
                        {% if annotation_version.variant_annotation_version.has_phastcons_46_way_mammalian %}
                            {% labelled id="phastcons_46_way_mammalian" label="PhastCons 46 way mammalian (0-1)" label_css="text-small" help=annotation_description.phastcons_46_way_mammalian hint="tiny" %}{% endlabelled %}
                        {% endif %}
                        {% labelled id="phylop_100_way_vertebrate" label="PhyloP 100 way vertebrate (-20 - 10)" label_css="text-small" help=annotation_description.phylop_100_way_vertebrate hint="tiny" %}{% endlabelled %}
                        {% if annotation_version.variant_annotation_version.has_phylop_30_way_mammalian %}
                            {% labelled id="phylop_30_way_mammalian" label="PhyloP 30 way mammalian (-20 - 1.3)" label_css="text-small" help=annotation_description.phylop_30_way_mammalian hint="tiny" %}{% endlabelled %}
                        {% endif %}
                        {% if annotation_version.variant_annotation_version.has_phylop_46_way_mammalian %}
                            {% labelled id="phylop_46_way_mammalian" label="PhyloP 46 way mammalian" label_css="text-small" help=annotation_description.phylop_46_way_mammalian hint="tiny" %}{% endlabelled %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">Population Frequency</div>
                    <div class="card-body">
                        {% labelled id='af_1kg' label='1000 genomes' help=annotation_description.af_1kg hint="tiny" value_css="text-monospace" %}{{ variant_annotation.af_1kg|format_unit_as_percent }}{% endlabelled %}
                        {% labelled id='af_uk10k' label='UK10K' help=annotation_description.af_uk10k hint="tiny" value_css="text-monospace" %}{{ variant_annotation.af_uk10k|format_unit_as_percent }}{% endlabelled %}
                        {% labelled id='topmed_af' label='TopMed' help=annotation_description.topmed_af hint="tiny" value_css="text-monospace" %}{{ variant_annotation.topmed_af|format_unit_as_percent }}{% endlabelled %}
                        {% if variant_annotation.gnomad_url %}
                            {% labelled id='gnomad_af' label='gnomAD Allele Frequency' help=annotation_description.gnomad_af hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_af|format_unit_as_percent }}{% endlabelled %}
                            {% if variant_annotation.has_extended_gnomad_fields %}
                                {% labelled id='gnomad_gnomad2_liftover_af' label='Legacy gnomAD 2 liftover AF' help=annotation_description.gnomad_gnomad2_liftover_af hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad2_liftover_af|format_unit_as_percent }}{% endlabelled %}
                            {% endif %}
                            {% labelled id='gnomad_popmax' label='gnomAD Pop Max' help=annotation_description.gnomad_popmax hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_popmax_af|format_unit_as_percent }} ({{ variant_annotation.get_gnomad_popmax_display }}) {% endlabelled %}

                            {% if variant_annotation.gnomad_filtered %}
                                {% labelled label="gnomAD Is Filtered" label_css="gnomad-filtered" help=annotation_description.gnomad_filtered hint="tiny" %}{{ variant_annotation.gnomad_filtered }}{% endlabelled %}
                            {% else %}
                                {% labelled label="gnomAD Is Filtered" help=annotation_description.gnomad_filtered hint="tiny" %}{% endlabelled %}
                            {% endif %}

                            {% labelled id='gnomad_total_homozygotes' label='gnomAD Total Homozygotes' help=annotation_description.gnomad_total_homozygotes hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_hom_alt }}{% endlabelled %}
                            {% if variant_annotation.has_extended_gnomad_fields %}
                                {% labelled id='gnomad_ac' label='gnomAD Alt Allele Count' help=annotation_description.gnomad_ac hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_ac }}{% endlabelled %}
                                {% labelled id='gnomad_an' label='gnomAD Total number of alleles' help=annotation_description.gnomad_an hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_an }}{% endlabelled %}
                            {% endif %}

                            {% labelled label="View in gnomAD" hint="tiny" %}
                                <a target='_blank' class="hover-link" href='{{ variant_annotation.gnomad_url }}'>Click here</a>
                            {% endlabelled %}
                            {% labelled label="gnomAD Populations" hint="tiny" %}
                                <a class='toggle-link' data-toggle="collapse" href='#gnomad-pops'>Show gnomAD Pops</a>
                            {% endlabelled %}

                            <div id="gnomad-pops" class="collapse">
                                {% if variant_annotation.has_extended_gnomad_fields %}
                                    {% labelled id='gnomad_popmax_ac' label='PopMax Alt Allele Count' help=annotation_description.gnomad_popmax_ac hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_popmax_ac }}{% endlabelled %}
                                    {% labelled id='gnomad_popmax_an' label='PopMax number of alleles' help=annotation_description.gnomad_popmax_an hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_popmax_an }}{% endlabelled %}
                                {% endif %}

                                {% labelled id='gnomad_afr_af' label='African' help=annotation_description.gnomad_afr_af hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_afr_af|format_unit_as_percent }}{% endlabelled %}
                                {% labelled id='gnomad_asj_af' label='Ashkenazi Jewish' help=annotation_description.gnomad_asj_af hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_asj_af|format_unit_as_percent }}{% endlabelled %}
                                {% labelled id='gnomad_eas_af' label='East Asian' help=annotation_description.gnomad_eas_af hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_eas_af|format_unit_as_percent }}{% endlabelled %}
                                {% labelled id='gnomad_fin_af' label='European (Finnish)' help=annotation_description.gnomad_fin_af hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_fin_af|format_unit_as_percent }}{% endlabelled %}
                                {% labelled id='gnomad_nfe_af' label='European (Non-Finnish)' help=annotation_description.gnomad_nfe_af hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_nfe_af|format_unit_as_percent }}{% endlabelled %}
                                {% labelled id='gnomad_amr_af' label='Latino' help=annotation_description.gnomad_amr_af hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_amr_af|format_unit_as_percent }}{% endlabelled %}
                                {% labelled id='gnomad_sas_af' label='South Asian' help=annotation_description.gnomad_sas_af hint="tiny" value_css="text-monospace" %}{{ variant_annotation.gnomad_sas_af|format_unit_as_percent }}{% endlabelled %}
                            </div>
                        {% else %}
                            {% labelled id='gnomad_none' label='gnomAD' hint="tiny" %}No gnomAD entry{% endlabelled %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">Splicing</div>
                    <div class="card-body">
                        {% labelled id="splice_region" label="Splice Region" help=annotation_description.splice_region hint="tiny" %}{% endlabelled %}

                        {% labelled id="maxentscan" label="MaxEntScan" help=annotation_description.maxentscan hint="tiny" %}
                            <span id="maxentscan_ref"></span>&nbsp;<span class="text-secondary">Ref</span>,
                            <span id="maxentscan_alt"></span>&nbsp;<span class="text-secondary">Alt</span>,
                            <span id="maxentscan_diff"></span>&nbsp;<span class="text-secondary">Diff</span>
                        {% endlabelled %}
                        {% labelled label="MexEnt %Diff/Ref" hint="tiny" %}<span id="maxentscan_percent_diff_ref" data-suffix="%"></span>{% endlabelled %}
                        {% labelled id="dbscsnv_ada_score" label="dbscSNV (Ada)" help=annotation_description.dbscsnv_ada_score hint="tiny" %}{{ variant_annotation.dbscsnv_ada_score|floatformat:2 }}{% endlabelled %}
                        {% labelled id="dbscsnv_rf_score" label="dbscSNV (RF)" help=annotation_description.dbscsnv_rf_score hint="tiny" %}{{ variant_annotation.dbscsnv_rf_score|floatformat:2 }}{% endlabelled %}

                        {% if variant_annotation.has_spliceai %}
                            {% labelled label="SpliceAI Acceptor Gain" help=annotation_description.spliceai_pred_dp_ag hint="tiny" %}
                                <span id="spliceai_pred_ds_ag" class="text-monospace text-right"></span>
                                <span class="text-secondary">&nbsp;position&nbsp;</span>
                                <span id="spliceai_pred_dp_ag" class="d-inline-block text-monospace text-right">{{ variant_annotation.spliceai_pred_dp_ag }}</span>
                            {% endlabelled %}
                            {% labelled label="SpliceAI Acceptor Loss" help=annotation_description.spliceai_pred_dp_al hint="tiny" %}
                                <span id="spliceai_pred_ds_al" class="text-monospace text-right"></span>
                                <span class="text-secondary">&nbsp;position&nbsp;</span>
                                <span id="spliceai_pred_dp_al" class="text-monospace text-right">{{ variant_annotation.spliceai_pred_dp_al }}</span>
                            {% endlabelled %}
                            {% labelled label="SpliceAI Donor Gain" help=annotation_description.spliceai_pred_dp_dg hint="tiny" %}
                                <span id="spliceai_pred_ds_dg" class="text-monospace text-right"></span>
                                <span class="text-secondary">&nbsp;position&nbsp;</span>
                                <span id="spliceai_pred_dp_dg" class="text-monospace text-right">{{ variant_annotation.spliceai_pred_dp_dg }}</span>
                            {% endlabelled %}
                            {% labelled label="SpliceAI Donor Loss" help=annotation_description.spliceai_pred_dp_dl hint="tiny" %}
                                <span id="spliceai_pred_ds_dl" class="text-monospace text-right"></span>
                                <span class="text-secondary">&nbsp;position&nbsp;</span>
                                <span id="spliceai_pred_dp_dl" class="text-monospace text-right">{{ variant_annotation.spliceai_pred_dp_dl }}</span>
                            {% endlabelled %}
                            {% labelled id="spliceai_gene_symbol" label="SpliceAI Gene Symbol" help=annotation_description.spliceai_gene_symbol hint="tiny" %}{{ variant_annotation.spliceai_gene_symbol }}{% endlabelled %}
                        {% else %}
                            {% labelled id='spliceai_none' label='SpliceAI' help=annotation_description.spliceai hint="tiny" value_css="no-value" %}No SpliceAI Data{% endlabelled %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">External IDs</div>
                    <div class="card-body">
                        <!-- note this used to have css class of "loading" -->
                        {% labelled id="clingen-allele-id" label="ClinGen" help=annotation_description.clingen_allele hint="tiny" %}{% endlabelled %}
                        {% labelled id='cosmic_id' label='COSMIC Genomic Mutation ID' help=annotation_description.cosmic_id hint="tiny" %}{{ variant_annotation.cosmic_id }}{% endlabelled %}
                        {% labelled id='cosmic_legacy_id' label='COSMIC Legacy ID' help=annotation_description.cosmic_legacy_id hint="tiny" %}{{ variant_annotation.cosmic_legacy_id }}{% endlabelled %}
                        {% labelled id='cosmic_count' label='COSMIC Sample Count' help=annotation_description.cosmic_count hint="tiny" %}{% endlabelled %}
                        {% labelled id='dbsnp_rs_id' label='dbSNP' help=annotation_description.dbsnp_rs_id hint="tiny" %}{{ variant_annotation.dbsnp_rs_id }}{% endlabelled %}
                        {% labelled id='ensembl_protein' label='Ensembl Protein' help=annotation_description.ensembl_protein hint="tiny" %}{% endlabelled %}
                        {% labelled id='search_terms' label='Search Terms' hint="tiny" %}
                            {% with search_term=variant_annotation.get_search_terms %}
                                {% if search_term %}
                                    <a target="_blank" class='hover-link' href="http://google.com/search?q={{search_term}}">{{ search_term }}</a>
                                {% endif %}
                            {% endwith %}
                        {% endlabelled %}
                        {% if ANNOTATION_PUBMED_SEARCH_TERMS_ENABLED %}
                            {% labelled id='pubmed_search_terms' label='PubMed Search' hint="tiny" %}
                                {% with pubmed_search_term=variant_annotation.get_pubmed_search_terms %}
                                    {% if pubmed_search_term %}
                                        <a target="_blank" class='hover-link' href="https://pubmed.ncbi.nlm.nih.gov/?term={{pubmed_search_term}}">{{ pubmed_search_term }}</a>
                                    {% endif %}
                                {% endwith %}
                            {% endlabelled %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">Literature</div>
                    <div class="card-body">

                        <div id='pubmed-citations' class="citations mb-4">
                            <div id='pubmed-loading'>
                                <img src="{% static 'images/spinner.gif' %}" /> Loading citations...
                            </div>
                        </div>

                        {% if variant_annotation.mastermind_mmid3 %}
                            <div class="mt-2"></div>
                            {% labelled id="mastermind_count_1_cdna" label="MM variant article count" help=annotation_description.mastermind_count_1_cdna hint="tiny" %}{{ variant_annotation.mastermind_count_1_cdna }}{% endlabelled %}
                            {% labelled id="mastermind_count_2_cdna_prot" label="MM variant/protein article count" help=annotation_description.mastermind_count_2_cdna_prot hint="tiny" %}{{ variant_annotation.mastermind_count_2_cdna_prot }}{% endlabelled %}
                            {% labelled id="mastermind_count_3_aa_change" label="MM AA article count" help=annotation_description.mastermind_count_3_aa_change hint="tiny" %}{{ variant_annotation.mastermind_count_3_aa_change }}{% endlabelled %}
                            {% labelled label="View in Mastermind" hint="tiny" %}
                                <a target='_blank' class="hover-link" href='{{ variant_annotation.mastermind_url }}'>{{ variant_annotation.mastermind_mmid3 }}</a>
                            {% endlabelled %}
                        {% else %}
                            {% labelled label="Mastermind" hint="tiny" %}No local Mastermind entry<br><i>may be others on site</i>{% endlabelled %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if variant.alt %}
        {% if genes_canonical_transcripts %}
            <div class="container">
                <h3>Canonical Transcripts</h3>

                <table class="table">
                    <thead>
                        <tr><th>Gene</th><th>Enrichment Kit</th><th>Transcript</th>
                    </thead>
                    <tbody>
                    {% for gene, ct_data in genes_canonical_transcripts.items %}
                        {% for description, transcript_id in ct_data %}
                            <tr><td>{{ gene }}</td><td>{{ description }}</td><td>{{ transcript_id }}</td>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        
        {% endif %}
    
        {% if seqauto_enabled and show_gene_coverage %}
        <div id="gene_coverage">
            <!-- todo convert to bootstrap spinner -->
            <img src="{% static 'images/spinner.gif' %}" /> Checking for gene coverage...
        </div>
        {% endif %}
    
    {% endif %}
{% endif %}
{% if show_samples %}
<div id="variant_sample_information" class="container-table">
	<img src="{% static 'images/spinner.gif' %}" /> Checking for sample information about this variant...
</div>
{% endif %}

{% if variant.can_have_annotation and show_annotation %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                {% load wiki_tags %}
                {% wiki_editor variant.variantwiki class_name='snpdb.models.VariantWiki' unique_keyword='variant_id' unique_value=variant.pk %}
            </div>
        </div>
    </div>
{% endif %}
</div>
