{% extends "uicore/page/base.html" %}
{% load static %}
{% load classification_tags %}
{% load js_tags %}
{% load ui_utils %}
{% load ui_help %}
{% load ui_menu_bars %}
{% load settings_tags %}
{% load clinvar_tags %}
{% load english_tags %}
{% block submenu %}{% menu_bar_data %}{% endblock submenu %}
{% block head %}
<script>
    $(document).ready(function() {
        // Flags.instance.init({userId: '{{user.id}}', filter:'#allele-card'});

        EKeys.load().then(eKeys => {
            let vcLinks = new VCLinks(eKeys);
            {% for vc in allele_card.variant_cards %}
                {% with quick_link_data=vc.quick_link_data %}
                    {% if quick_link_data %}
                        {
                            let links = vcLinks.generateLinks({{ vc.quick_link_data | jsonify }});
                            let anchors = links.filter(link => !link.isMissing()).map(link => link.asAnchor("bootstrap"));
                            let content = $("<ul>", {class:"list-group", html:anchors});
                            $('#quick-links-{{ vc.variant.pk }}').html(content);
                        }
                    {% endif %}
                {% endwith %}
            {% endfor %}
        });
    });
</script>
{% endblock head %}

{% block css %}
    .column-icon {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        margin: auto;
        float: left;
    }
    .clingen-icon {
        display: inline-block;
    }
{% endblock css %}

{% block title %}{{ allele }}{% endblock %}
{% block content %}
    {% settings_value 'CLINGEN_ALLELE_REGISTRY_DOMAIN' as clingen_url %}

    <div class="container">
        {% page_help_embedded title='Allele' %}
            <p>
            An allele is a genetic change independent of a genome builds. Variants from different builds link to the same allele.
            </p>

            <p>
            Variant classifications are compared across alleles, so classification differences can be detected regardless of what build it was originally classified against. Classifying a variant will create an allele, and linked variants for all genome builds supported by the server.
            </p>

            <p>
            Alleles generally have 1 (and only 1) ClinGen Allele ID, from the <a href="http://reg.clinicalgenome.org">ClinGen Allele Registry</a>, which we use to perform liftover between builds.
            </p>
            {% settings_value "LIFTOVER_BCFTOOLS_ENABLED" as bcftools_enabled %}
            {% if bcftools_enabled %}
                <p>
                If ClinGen fails, we use <a href="https://samtools.github.io/bcftools/">BCF tools</a>.
                </p>
            {% endif %}
        {% end_page_help_embedded %}

        {% labelled label="Internal Allele ID" %}
            {{ allele_card.allele.pk }} {% admin_link allele_card.allele %}
        {% endlabelled %}

        {% labelled label="ClinGen Canonical Allele ID" %}
            {% if allele_card.allele.clingen_allele %}
                <a class="hover-link" href="{{ allele_card.allele.clingen_allele.human_url }}">{{ allele.clingen_allele }}</a>
            {% else %}<span class="no-value">-</span>{% endif %}
        {% endlabelled %}

        {% if allele_card.imported_allele_infos %}
            {% labelled row_id="allele-imported-as" label="Imported As" %}
                {% if allele_card.imported_allele_infos|length == 1 %}
                    {% imported_allele_info allele_card.imported_allele_infos.0 %}
                {% else %}
                    {% modal label=allele_card.imported_allele_info_label size="md" %}
                        <div class="modal-body">
                            {% for allele_info in allele_card.imported_allele_infos %}
                                <div {% if not forloop.first %}class="mt-4"{% endif %}>{% imported_allele_info allele_info %}</div>
                            {% endfor %}
                        </div>
                    {% endmodal %}
                {% endif %}
            {% endlabelled %}
        {% endif %}

        {% labelled row_id="allele-liftover-details" label="Liftover Details" admin_only=True %}
            {% with clingen_error=allele_card.allele.clingen_error %}
                {% modal label="Liftover Details" %}
                    <div class="card-body">
                        {% for vc in allele_card.variant_cards %}

                            <h5>{{ vc.genome_build }}</h5>
                            {% labelled label="Origin" %}{{ vc.variant_allele.get_origin_display }}{% endlabelled %}
                            {% labelled label="Allele Linked Via" %}{{ vc.variant_allele.get_allele_linking_tool_display }}{% endlabelled %}

                            {% if vc.allele_liftover_qs.exists %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Tool</th>
                                            <th>Status</th>
                                            <th>Liftover Run</th>
                                            <th>Error</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for allele_liftover in vc.allele_liftover_qs %}
                                            <tr>
                                                <td>{% timestamp allele_liftover.liftover.created %}</td>
                                                <td>{{ allele_liftover.liftover.get_conversion_tool_display }}</td>
                                                <td>{{ allele_liftover.get_status_display }}</td>
                                                <td><a href="{{ allele_liftover.liftover.get_absolute_url }}" class="hover-link">View LiftoverRun {{ allele_liftover.liftover_id }}</a></a></td>
                                                <td>{{ allele_liftover.error_tidy|dash_if_empty }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}

                        {% endfor %}
                        <h4>ClinGen API Response</h4>

                        {% if clingen_error %}
                            <h5>Error retrieving ClinGen Allele</h5>
                            {% labelled label='Message' %}{{ clingen_error.message }}{% endlabelled %}
                            {% labelled label='Type' %}{{ clingen_error.errorType }}{% endlabelled %}
                            {% labelled label='Input' %}{{ clingen_error.inputLine }}{% endlabelled %}
                            {% labelled label='Description' %}{{ clingen_error.description }}{% endlabelled %}
                        {% endif %}

                        {% if allele_merge_log_qs.exists %}
                            <h5>Allele Merge Log</h5>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Linked to Allele via</th>
                                            <th>Status</th>
                                            <th>Message</th>
                                            <th>Other Allele</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for amr in allele_merge_log_qs %}
                                        <tr>
                                            <td class="text-center">{{ amr.created }}</td>
                                            <td class="text-center">{{ amr.get_allele_linking_tool_display }}</td>
                                            <td class="text-center">{{ amr.success|yesno:"Success,Failure" }}
                                            <td class="text-center">{{ amr.message }}</td>
                                            <td class="text-center">
                                                {% if allele == amr.old_allele %}
                                                    <a href="{% url 'view_allele' amr.new_allele.pk %}">{{ amr.new_allele }}</a>
                                                {% else %}
                                                    <a href="{% url 'view_allele' amr.old_allele.pk %}">{{ amr.old_allele }}</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}

                        {% code_json allele.clingen_allele.api_response css_class="modal-body" %}
                    </div>
                {% endmodal %}
                {% if clingen_error %}
                    <div class="alert alert-danger">ClinGenError: {{ clingen_error.message }}</div>
                {% endif %}
            {% endwith %} {% comment %}clingen_error{% endcomment %}
        {% endlabelled %}

        {% comment %}#### VARIANT TABLE{% endcomment %}

        <table class="table" style="font-size:10pt">
            <thead>
                <tr>
                    <th style="width:25%"></th>
                    {% for vc in allele_card.variant_cards %}<th style="width:37.5%">{{ vc.genome_build }}</th>{% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-right">g.HGVS</th>
                    {% for vc in allele_card.variant_cards %}<td>
                        {% if vc.variant %}
                            <a class="hover-link" href="{% url 'view_variant_genome_build' vc.variant.pk vc.genome_build.name %}">{% c_hgvs vc.g_hgvs %}</a>
                        {% elif vc.unfinished_liftover %}
                            This variant is being
                            {% if user.is_superuser %}
                                <a href="{% url 'view_liftover_run' vc.unfinished_liftover.pk %}">lifted over</a>
                            {% else %}
                                lifted over
                            {% endif %}
                            via {{ vc.unfinished_liftover.get_conversion_tool_display }}
                            <br/>(last updated {% timestamp vc.unfinished_liftover.modified time_ago=True %})
                        {% elif vc.last_failed_liftover %}
                            This variant failed a
                            {% if user.is_superuser %}
                                <a href="{% url 'view_liftover_run' vc.last_failed_liftover.pk %}">liftover attempt</a>
                            {% else %}
                                liftover attempt
                            {% endif %}
                            via {{ vc.last_failed_liftover.get_conversion_tool_display }}
                            <br/><span class="text-muted">last updated {% timestamp vc.last_failed_liftover.modified time_ago=True %}</span>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>

                <tr>
                    <th class="text-right">Quick Links</th>
                    {% for vc in allele_card.variant_cards %}
                        <td>
                            <div id="quick-links-{{ vc.genome_build.pk }}-wrapper">
                                {% if vc.quick_link_data %}
                                    {% modal label="Quick Links" size="md" %}
                                        <div class="modal-body">
                                            <div class="quick-links" id="quick-links-{{ vc.variant.pk }}">Loading ...</div>
                                        </div>
                                    {% endmodal %}
                                {% else %}
                                    <span class="no-value">-</span>
                                {% endif %}
                            </div>
                        </td>
                    {% endfor %}
                </tr>

                {% if allele_card.has_operation %}
                    <tr>
                        <th class="text-right" style="vertical-align: middle">Operation</th>
                        {% for vc in allele_card.variant_cards %}
                            <th>
                                {% if vc.can_create_classification %}
                                    <a class="btn btn-primary w-100" href="{% url 'create_classification_for_variant' vc.variant.pk vc.genome_build.pk %}">
                                        <i class="fas fa-plus-circle"></i> New Classification Record ({{ vc.genome_build }})
                                    </a>
                                {% elif vc.can_create_variant %}
                                    <form action="{% url 'create_variant_for_allele' vc.allele.pk vc.genome_build.pk %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-primary w-100" type="submit">
                                            Create Variant ({{ vc.genome_build }})
                                        </button>
                                    </form>
                                {% else %}
                                    <span class="no-value">-</span>
                                {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                {% endif %}
            </tbody>
        </table>

    <h4>Classification Records</h4>
    <script>
        function classificationGroupingFilterExtra(data) {
            data.allele_id = {{ allele.pk }};
        }
    </script>
    {% for allele_origin_grouping_desc in allele_origin_groupings_desc %}
        <div>
            <span class="allele-origin-box horizontal allele-origin-{{ allele_origin_grouping_desc.allele_origin_grouping.allele_origin_bucket }}">
                <div class="allele-origin-text">
                    {{ allele_origin_grouping_desc.allele_origin_grouping.get_allele_origin_bucket_display }}
                </div>
            </span>
            {% if allele_origin_grouping_desc.discordance_report %}
                <span class="pipe-sep">{% discordance_report allele_origin_grouping_desc.discordance_report %}</span>
            {% else %}
                <span class="pipe-sep" title="Overlap Status">{{ allele_origin_grouping_desc.get_overlap_status_display }}</span>
            {% endif %}
            {% if allele_origin_grouping_desc.shared_counts > 1 %}
                <span class="pipe-sep">&nbsp;<strong>{{ allele_origin_grouping_desc.shared_counts }}</strong> Sharing Lab{% plural allele_origin_grouping_desc.shared_counts %}</span>
            {% endif %}
            {% if allele_origin_grouping_desc.unshared_counts %}
                <span class="pipe-sep" style="opacity:0.7">includes unshared records</span>
            {% endif %}
            {% if allele_origin_grouping_desc.should_show_diffs %}
                <span class="pipe-sep">
                    <a class="hover-link" href="{% url 'classification_diff' %}?allele_origin_grouping={{ allele_origin_grouping_desc.allele_origin_grouping.pk }}" title="Show differences between labs latest {{ allele_origin_grouping_desc.allele_origin_grouping.get_allele_origin_bucket_display }} classification records">
                        Show Diffs
                    </a>
                </span>
            {% endif %}
        </div>
    {% endfor %}
    {% if show_overall_diff %}
        <div>
            <span class="allele-origin-box horizontal allele-origin-A">
                <div class="allele-origin-text">All</div>
            </span>
            <a class="hover-link" href="{% url 'classification_diff' %}?allele={{ allele.id }}&latest=true" title="Show differences between labs latest classifications across all allele origins">Show Diffs</a></div>
    {% endif %}
    {% classification_groupings %}

    <div class="mt-4">
        {% clinvar allele=allele expert_panel_only=True %}
    </div>

{% endblock content %}
