{% extends "uicore/page/base.html" %}
{% load static %}
{% load classification_tags %}
{% load js_tags %}
{% load ui_utils %}
{% load ui_help %}
{% load ui_menu_bars %}
{% block submenu %}{% menu_bar_data %}{% endblock submenu %}
{% block head %}
<script>
    $(document).ready(function() {
        Flags.instance.init({userId: '{{user.id}}', filter:'#allele-card'});

        EKeys.load().then(eKeys => {
            let vcLinks = new VCLinks(eKeys);
            {% for va in allele.variant_alleles %}
                {
                    let links = vcLinks.generateLinks(
                        {{ va | quick_link_data }}
                    );
                    let anchors = links.filter(link => !link.isMissing()).map(link => link.asAnchor("bootstrap"));
                    $('#quick-links-{{ va.pk }}').html($("<ul>", {class:"list-group", html:anchors}));
                }
            {% endfor %}
        });
    });
</script>
{% endblock head %}

{% block css %}
    .column-icon {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        margin: auto;
        float: left;
    }
    .clingen-icon {
        display: inline-block;
    }
{% endblock css %}

{% block title %}{{ allele }}{% endblock %}
{% block content %}
    <div class="container">
        {% page_help page_id='variantdetails/view_allele_help' title='Allele' %}

        <div class="row equal">
            <div class="col col-md-4">
                <div class="card" id="allele-card">
                    <div class="card-header">Allele {% admin_link allele %} <div class="d-inline-block ml-2" style="position:absolute" data-flags="{{allele.flag_collection_safe.id}}"></div></div>
                    <div class="card-body">
                        {% labelled label="Internal Allele ID" hint="chunky" %}{{ allele.id }}{% endlabelled %}
                        {% if allele.clingen_allele %}
                            {% labelled label="ClinGen Canonical Allele ID" hint="chunky" %}
                                <a class="hover-link" href="{{ allele.clingen_allele.human_url }}">{{ allele.clingen_allele }}</a>
                            {% endlabelled %}
                            {% modal label="API Response" admin_only=True %}
                                {% code_json allele.clingen_allele.api_response css_class="modal-body" %}
                            {% endmodal %}
                            {% if allele_merge_log_qs.exists %}
                                {% modal label="Allele Merge Log" admin_only=True %}
                                    <div class="modal-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Linked to Allele via</th>
                                                    <th>Status</th>
                                                    <th>Message</th>
                                                    <th>Other Allele</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for amr in allele_merge_log_qs %}
                                                <tr>
                                                    <td class="text-center">{{ amr.created }}</td>
                                                    <td class="text-center">{{ amr.get_allele_linking_tool_display }}</td>
                                                    <td class="text-center">{{ amr.success|yesno:"Success,Failure" }}
                                                    <td class="text-center">{{ amr.message }}</td>
                                                    <td class="text-center">
                                                        {% if allele == amr.old_allele %}
                                                            <a href="{% url 'view_allele' amr.new_allele.pk %}">{{ amr.new_allele }}</a>
                                                        {% else %}
                                                            <a href="{% url 'view_allele' amr.old_allele.pk %}">{{ amr.old_allele }}</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endmodal %}
                            {% endif %}
                        {% elif allele.clingen_error %}
                            {% labelled hint="tiny" label="ClinGen Canonical Allele ID" %}
                                Error retrieving <a class="hover-link external-link" target="_blank" href="{{ clingen_url }}">ClinGen Allele</a>
                                <a class="hover-link" data-toggle="collapse" href="#clingen-errors-{{ allele.id }}">(more info)</a>
                            {% endlabelled %}
                            <div id="clingen-errors-{{ allele.id }}" class="collapse">
                            {% labelled hint="tiny" label='Message' %}{{ allele.clingen_error.message }}{% endlabelled %}
                            {% labelled hint="tiny" label='Type' %}{{ allele.clingen_error.errorType }}{% endlabelled %}
                            {% labelled hint="tiny" label='Input' %}{{ allele.clingen_error.inputLine }}{% endlabelled %}
                            {% labelled hint="tiny" label='Description' %}{{ allele.clingen_error.description }}{% endlabelled %}
                            </div>
                        {% endif %}
                        {% if imported_alleles %}
                            <div class="mt-3">
                                <label>Resolved From</label>
                                <div style="font-size:10pt">
                                {% for imported_allele in imported_alleles %}
                                    <div class="mt-2">
                                        <a data-toggle="ajax-modal" href="{% url 'view_imported_allele_info_detail' imported_allele.pk %}?on_allele_page=true">
                                        {{ imported_allele.imported_genome_build_patch_version }}<br/>{% c_hgvs imported_allele.imported_c_hgvs %}
                                        {% if not imported_allele.latest_validation.include %}<i style="font-size:12pt" class="mx-2 text-danger fa-brands fa-searchengin" title="Variant Matching Error"></i>{% endif %}
                                        </a>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% for genome_build in annotated_builds %}
                <div class="col col-md-4">
                {% variant_card allele genome_build %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% if classifications_new_grouping and not edit_clinical_groupings %}
        <div class="container mt-4">
            <h3>Classifications</h3>
            {% url 'allele_classifications_download' allele.id as download_link %}
            {% classification_groups classifications link_discordance_reports=discordance_enabled download_link=download_link context_object=allele %}
        </div>
    {% else %}
        <div class="container-table mt-4">
            <h3 style="margin-bottom:0">Classifications</h3>
            {% if classifications %}
                {% classification_table classifications show_clinical_context=True allele=allele edit_clinical_groupings=edit_clinical_groupings %}
            {% else %}
                <p>
                No internal classifications.
            {% endif %}
        </div>
    {% endif %}


{% endblock content %}
