{% extends menu_variants_base %}
{% load static %}
{% block title %}Wiki{% endblock %}

{% block jshead %}
{{ block.super }}
    function viewVariantDetails(variantId) {
        var variant_details_url = Urls.view_variant(variantId);
        var win = window.open(variant_details_url, '_blank');
        win.focus();
    }


    function formatViewVariantDetails(variantId) {
        var url = "javascript:viewVariantDetails(" + variantId + ");";
        return "<a href='" + url + "'><div class='grid-link-icon view-details-link'></div></a>";
    }


{% endblock %}

{% block jsdocumentready %}
{{ block.super }}

	jQuery.extend($.fn.fmatter , {
   		viewContent : function(content) {
			var markdown = markdownize(content);
	    	return markdown;
		},
        'viewVariantDetails' : formatViewVariantDetails,
	});
{% endblock %}

{% block submenu_page_content %}

	<div>
		<h3>Wiki</h3>
		<table id="grid"></table>
		<div id="pager"></div>	
	</div>

	{% load jqgrid_tags %}
	{% jqgrid 'variantopedia_wiki_grid' 'wiki-grid' %}

{% endblock %}