{% extends "registration/abstract_login_vg.html" %}
{% load static %}
{% load ui_login %}
{% load ui_utils %}
{% block inner_content %}
    <div class="row" style="display:flex; align-items:center">
        <div class="col-12 col-lg-7">
            <div class="jumbo-box">
                <h1>{{ site_name }}</h1>
                <p style="font-size: 18px">A <a href="https://github.com/sacgf/variantgrid">source available</a> variant database and web analysis platform.</p>
                {% comment %}Not using the standard template for messages as want to provide link to ShariantTest in certain circumstances{% endcomment %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message.tags | severity_icon }} {{ message }}
                    </div>
                {% endfor %}
                {% login_form next=next form=form %}
                <div class="mt-3">
                    <label>Need an Account?</label>
                    <p>Researchers can <a href='{% url "registration_register" %}'>register for a free account</a>, or download a copy to run on a private server.</p>

                    {% if contact_us_enabled %}
                        <label>Contact Us</label>
                        <p><a href='{% url "contact_us" %}'>You can contact us here</a> to discuss if VariantGrid technology would be useful to you.</p>
                    {% endif %}
                    <hr class="my-4"/>

                    <label>GitHub</label>
                    <p><a href="https://github.com/SACGF/variantgrid">The GitHub project can be found here</a>.</p>

                    <label>Documentation</label>
                    <p><a href="https://variantgrid.readthedocs.io/en/latest/">Documentation can be found here</a>.</p>

                    <hr class="my-4"/>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="poster">
                <img src="{% static 'images/frontpage/vg-nodes_small.png' %}" style="max-width: 500px" />
            </div>
        </div>
    </div>
    </div>
{% endblock %}