{% extends "uicore/page/base.html" %}
{% load static %}
{% load js_tags %}
{% load ui_menu_bars %}
{% load ui_utils %}
{% load humanize %}
{% block submenu %}{% menu_bar_annotations %}{% endblock %}
{% block title %}Annotation Info{% endblock title %}
{% block content %}
    <div class="container">
        {% load ui_help %}
        {% page_help page_id='annotation/annotation_help' title='Annotations' %}

        <div data-toggle="ajax" href="{% url 'annotation_detail' %}">
            <div class="loading-message">Loading Annotations, this may take a while.</div>
        </div>
    </div>
{% endblock content %}
