{% load js_tags %}
{% load clinvar_tags %}
{% load classification_tags %}
{% load ontology_tags %}
{% load ui_utils %}

<div style="float:right; position: relative; height: 0; bottom: 28px">
    <div class="d-flex flex-row">
        <div><label>Fetched:</label>&nbsp;{% timestamp clinvar_record_collection.last_loaded time_ago=True %}</div>
        {% if user.is_superuser %}
            <div class="ml-2">
                {% modal label="Debug" admin_only=True size="md" %}
                    <div class="modal-body">
                        {% admin_link clinvar_record_collection %}
                        <div class="list-group">
                            {% for url in clinvar_record_collection.urls %}
                                <a class="list-group-item list-group-item-action" href="{{ url }}">{{ url }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endmodal %}
            </div>
        {% endif %}
    </div>
</div>
{% if records %}
    <table class="classification-table table">
        <thead>
            <tr>
                <th></th>
                <th>Submitter</th>
                <th style="min-width:220px">HGVS</th>
                <th class="text-center">Classification</th>
                <th class="text-center">Somatic Clinical Significance</th>
                <th >Condition</th>
                <th class="text-center" >Curated</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                <td style="align-items: center;align-content: center;">
                    {%  if record.allele_origin_bucket %}
                        {% clinical_context cc=record orientation='vertical' %}
                    {% endif %}
                </td>
                    <td>{% clinvar_stars record.stars record.review_status %} <a class="subtle-link" href="https://www.ncbi.nlm.nih.gov/clinvar/submitters/{{ record.org_id }}">{{ record.submitter }}</a>
                        <br/><span class="text-secondary">{{ record.record_id }}</span>
                    </td>
                    <td class="dt-c_hgvs">{% if record.c_hgvs %}{% c_hgvs record.c_hgvs %}{% elif record.variant_coordinate %}{{ record.variant_coordinate }}{% else %}<span class="no-value">-</span>{% endif %}</td>
                    <td class="dt-clinical_significance text-center">
                        {% if record.clinical_significance %}
                            <span class="c-pill cs cs-{{ record.clinical_significance }}">{{ record.clinical_significance | ekey:"clinical_significance" }}</span>
                        {% else %}
                            <span class="no-value">-</span>
                        {% endif %}
                    </td>
                    <td class="dt-clinical_significance text-center">
                        {% if record.somatic_clinical_significance %}
                            <span class="c-pill cs scs-{{ record.somatic_clinical_significance }}">{{ record.somatic_clinical_significance | ekey:"somatic:clinical_significance" }}</span>
                        {% else %}
                            <span class="no-value">-</span>
                        {% endif %}
                    </td>
                    <td class="dt-condition">{% for condition in record.conditions %}<div>{% ontology_term condition %}</div>{% empty %}<span class="no-value">-</span>{% endfor %}</td>
                    <td class="dt-created text-center">{% timestamp record.date_last_evaluated time_ago=True %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="no-value mb-4 text-center">No records</div>
{% endif %}